In [1]:
import os
os.getcwd()

'/home/ubuntu/Scarlett/Final PG'

## Research : 
### Pub_1.ED Group1: ED CUIs and Medcat Annotations

### Encephalopathies and Delirium in CKG
I. Input finalized icd9 codes and main cuis after reflecting input from ED expert.<br/>
II. Unstructured data cohort for Encephalopathy and Delirium from MIMIC III noteevents data<br/>
    - II.1. ED CUIS<br/>
    - II.2. Load Medcat Annotation<br/>
    - II.3. Import ED unstructured patients cuis <br/>
    - II.4. Select noteevents with the selected row_ids<br/>
    - II.5. Select patients with row_ids having ED cuis<br/>
    - II.6. Select all hadm_ids from patients with row_ids having ED cuis<br/>
    - II.7. All cuis from Medcat for ED unstructured patients(patients with row_ids having ED cuis)<br/>
    - II.8. Merge cuis with noteevents<br/>

_Soo Kyung Bae (Scarlett : K19071757)MSc<br/>
Department of Biostatistics and Health Informatics<br/>
Institute of Psychiatry, Psychology and Neuroscience<br/>
King's College London<br/>_

_Soo Kyung Bae(Scarlett), Ph.D. Student<br/>
Dept. of Integrated Medicine(Major in Digital Healthcare)<br/>
Yonsei University College of Medicine<br/>_

#### I. Input finalized icd9 codes and main cuis after reflecting input from ED expert.
 - Excluding some icd9 codes (Concussion, Alcohol withdrawal, PSYCHOSES) and include ED specific cuis (even if it is not mapped into icd9 codes) 
 - eg). C0085631 Agitation, C0011206 Delirium, C0023380 Lethargy, C0009676 Confusion, C0237284 unresponsive behavior

In [2]:
## 1. Read input : 40 icd9 codes & cuis + additionl 20 cuis 
import pandas as pd

DATA_DIR = "/home/ubuntu/Scarlett/Output_F/"

In [3]:
#ED_main_cuis_input2 = pd.read_csv('/home/ubuntu/Scarlett/Input/1.ED_main_cuis_input.csv')
ED_main_cuis_input2 = pd.read_csv(DATA_DIR + "1.ED_main_cuis_input.csv")

In [4]:
# Final ED cuis for ED Chort analysis : ED_mcuis_list 
ED_mcuis_list = ED_main_cuis_input2['cuis'].unique().tolist()
len(ED_mcuis_list)

56

###### 2. Select icd 9 codes from ED_main_cuis_input2

In [5]:
## Icd9 codes

In [6]:
#ED_main_cuis_input2.loc[ED_main_cuis_input2['icd9_code'].isnull()]
ED_micd9=ED_main_cuis_input2.loc[~ED_main_cuis_input2['icd9_code'].isnull()]

In [7]:
#ED_micd9.dtypes
ED_micd9

,No.,cuis,sc.name,icd9,icd9_code
0,1,C0859643,Senile dementia with delusional or depressive ...,2902.0,'2902'
1,2,C0154315,Senile dementia with delirium,2903.0,'2903'
2,3,C0154319,Other specified senile psychotic conditions,2908.0,'2908'
3,4,C1457889,Unspecified senile psychotic condition,2909.0,'2909'
4,5,C0001957,Alcohol withdrawal delirium,2910.0,'2910'
5,6,C0152128,Drug withdrawal,2920.0,'2920'
6,7,C0152129,Pathological drug intoxication,2922.0,'2922'
7,8,C1456296,Delirium due to conditions classified elsewhere,2930.0,'2930'
8,9,C0154333,Subacute delirium,2931.0,'2931'
9,10,C1456302,Unspecified transient mental disorder in condi...,2939.0,'2939'
10,11,C0085584,"Encephalopathy, not elsewhere classified",3483.0,'3483'
11,12,C0154309,Presenile dementia with delirium,29011.0,'29011'
12,13,C0236651,"Vascular dementia, with delirium",29041.0,'29041'
13,14,C0236652,"Vascular dementia, with delusions",29042.0,'29042'
14,15,C1456286,Drug-induced psychotic disorder with delusions,29211.0,'29211'
15,16,C1456732,Drug-induced psychotic disorder with hallucina...,29212.0,'29212'
16,17,C0154326,Drug-induced delirium,29281.0,'29281'
17,18,C1456288,Drug-induced persisting dementia,29282.0,'29282'
18,19,C1456297,Psychotic disorder with delusions in condition...,29381.0,'29381'
19,20,C0029226,Psychotic disorder with hallucinations in cond...,29382.0,'29382'
20,21,C1456298,Mood disorder in conditions classified elsewhere,29383.0,'29383'
21,22,C1456299,Anxiety disorder in conditions classified else...,29384.0,'29384'
22,23,C0154334,Other specified transient mental disorders due...,29389.0,'29389'
23,24,C0006112,Metabolic encephalopathy,34831.0,'34831'
24,25,C1260408,Other encephalopathy,34839.0,'34839'
25,26,C0149504,Toxic encephalopathy,34982.0,'34982'
26,27,C0221539,Transient alteration of awareness,78002.0,'78002'
27,28,C0221540,Other alteration of consciousness,78009.0,'78009'
28,29,C0278061,Altered mental status,78097.0,'78097'
29,30,C0018524,Hallucinations,7801.0,'7801'
30,31,C0009421,Coma,78001.0,'78001'
31,32,C0752304,Hypoxic-ischemic encephalopathy (HIE),7687.0,'7687'
32,33,C0752304,"Hypoxic-ischemic encephalopathy, unspecified",76870.0,'76870'
33,34,C0019151,Hepatic encephalopathy,5722.0,'5722'
34,35,C0302369,Alcohol-induced psychotic disorder with halluc...,2913.0,'2913'
35,36,C0236656,Alcohol-induced persisting dementia,2912.0,'2912'
36,37,C0085584,"Encephalopathy, unspecified",34830.0,'34830'
37,38,C0151620,Hypertensive encephalopathy,4372.0,'4372'
38,39,C2712360,Severe hypoxic-ischemic encephalopathy,76873.0,'76873'
39,40,C1269750,Senile dementia with delusional features,29020.0,'29020'
48,49,C0018524,Hallucinations,7801.0,'7801'
49,50,C0009421,Comatose,78001.0,'78001'

In [8]:
len(ED_micd9)
ED_micd9_2=ED_micd9

In [9]:
import pandas as pd
ED_micd9_2['icd9']=ED_micd9_2['icd9'].astype(int).astype(str)

<ipython-input-9-2cc1440c37fe>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ED_micd9_2['icd9']=ED_micd9_2['icd9'].astype(int).astype(str)

In [10]:
ED_micd9_2

,No.,cuis,sc.name,icd9,icd9_code
0,1,C0859643,Senile dementia with delusional or depressive ...,2902,'2902'
1,2,C0154315,Senile dementia with delirium,2903,'2903'
2,3,C0154319,Other specified senile psychotic conditions,2908,'2908'
3,4,C1457889,Unspecified senile psychotic condition,2909,'2909'
4,5,C0001957,Alcohol withdrawal delirium,2910,'2910'
5,6,C0152128,Drug withdrawal,2920,'2920'
6,7,C0152129,Pathological drug intoxication,2922,'2922'
7,8,C1456296,Delirium due to conditions classified elsewhere,2930,'2930'
8,9,C0154333,Subacute delirium,2931,'2931'
9,10,C1456302,Unspecified transient mental disorder in condi...,2939,'2939'
10,11,C0085584,"Encephalopathy, not elsewhere classified",3483,'3483'
11,12,C0154309,Presenile dementia with delirium,29011,'29011'
12,13,C0236651,"Vascular dementia, with delirium",29041,'29041'
13,14,C0236652,"Vascular dementia, with delusions",29042,'29042'
14,15,C1456286,Drug-induced psychotic disorder with delusions,29211,'29211'
15,16,C1456732,Drug-induced psychotic disorder with hallucina...,29212,'29212'
16,17,C0154326,Drug-induced delirium,29281,'29281'
17,18,C1456288,Drug-induced persisting dementia,29282,'29282'
18,19,C1456297,Psychotic disorder with delusions in condition...,29381,'29381'
19,20,C0029226,Psychotic disorder with hallucinations in cond...,29382,'29382'
20,21,C1456298,Mood disorder in conditions classified elsewhere,29383,'29383'
21,22,C1456299,Anxiety disorder in conditions classified else...,29384,'29384'
22,23,C0154334,Other specified transient mental disorders due...,29389,'29389'
23,24,C0006112,Metabolic encephalopathy,34831,'34831'
24,25,C1260408,Other encephalopathy,34839,'34839'
25,26,C0149504,Toxic encephalopathy,34982,'34982'
26,27,C0221539,Transient alteration of awareness,78002,'78002'
27,28,C0221540,Other alteration of consciousness,78009,'78009'
28,29,C0278061,Altered mental status,78097,'78097'
29,30,C0018524,Hallucinations,7801,'7801'
30,31,C0009421,Coma,78001,'78001'
31,32,C0752304,Hypoxic-ischemic encephalopathy (HIE),7687,'7687'
32,33,C0752304,"Hypoxic-ischemic encephalopathy, unspecified",76870,'76870'
33,34,C0019151,Hepatic encephalopathy,5722,'5722'
34,35,C0302369,Alcohol-induced psychotic disorder with halluc...,2913,'2913'
35,36,C0236656,Alcohol-induced persisting dementia,2912,'2912'
36,37,C0085584,"Encephalopathy, unspecified",34830,'34830'
37,38,C0151620,Hypertensive encephalopathy,4372,'4372'
38,39,C2712360,Severe hypoxic-ischemic encephalopathy,76873,'76873'
39,40,C1269750,Senile dementia with delusional features,29020,'29020'
48,49,C0018524,Hallucinations,7801,'7801'
49,50,C0009421,Comatose,78001,'78001'

###### Mapping 1) icd9 codes into administration and Diagnoses_icd tales for ED structured cohort
###### 1. Excluding some icd9 codes (Concussion, Alcohol withdrawal, PSYCHOSES) and include ED specific cuis (even if it is not mapped into icd9 codes) 
- eg. C0085631 Agitation, C0011206 Delirium, C0023380 Lethargy, C0009676 Confusion, C0237284 unresponsive behavior

In [11]:
## Final icd9 codes for ED Chort analysis : ED_micd9_list

In [12]:
ED_micd9_list = ED_micd9_2['icd9'].unique().tolist()
len(ED_micd9_list)

40

###### 2.  Final CUIs

Final ED cuis : including Icd9codes mapped into 37 own cuis + 19 ED cuis (total 56 cuis) and  their  children CUIs 
 - Exclude C0033975 and its children 
 - total : 55 ED cuis and its children : final total : 4609 cuis related to ED

In [13]:
ED_main_cuis_input2.dtypes

No.            int64
cuis          object
sc.name       object
icd9         float64
icd9_code     object
dtype: object

In [14]:
ED_mcuis_list = ED_main_cuis_input2['cuis'].unique().tolist()
len(ED_mcuis_list)

56

### II. Unstructured data cohort for Encephalopathy and Delirium from MIMIC III noteevents data

#### II.1 ED CUIS

In [15]:
from py2neo import Node, Relationship, Graph

In [16]:
graph = Graph("http://10.200.112.233:7474/db/data/", user="scarlett", password="Admin123")

In [17]:
#ED_mcuis_list

In [18]:
len(ED_mcuis_list)

56

In [15]:
ED_mcuis_list

['C0859643',
 'C0154315',
 'C0154319',
 'C1457889',
 'C0001957',
 'C0152128',
 'C0152129',
 'C1456296',
 'C0154333',
 'C1456302',
 'C0085584',
 'C0154309',
 'C0236651',
 'C0236652',
 'C1456286',
 'C1456732',
 'C0154326',
 'C1456288',
 'C1456297',
 'C0029226',
 'C1456298',
 'C1456299',
 'C0154334',
 'C0006112',
 'C1260408',
 'C0149504',
 'C0221539',
 'C0221540',
 'C0278061',
 'C0018524',
 'C0009421',
 'C0752304',
 'C0019151',
 'C0302369',
 'C0236656',
 'C0151620',
 'C2712360',
 'C1269750',
 'C0233522',
 'C0033975',
 'C0009676',
 'C1285577',
 'C0278168',
 'C0023380',
 'C0237284',
 'C0278166',
 'C0278167',
 'C0278164',
 'C0233407',
 'C0085631',
 'C0011253',
 'C0278165',
 'C0011206',
 'C1456784',
 'C1821572',
 'C0424101']

In [67]:
# 1.query : cui_ids mapped into 56 cuis codes : 
# ids_C : # ED_mcuis_list

query = """
MATCH (p:Concepts)<-[r:cui_2_cui*0..{relation:'isa'}]-(c:Concepts) 

where p.id IN ['C0859643','C0154315','C0154319',
 'C1457889','C0001957','C0152128','C0152129',
 'C1456296','C0154333','C1456302','C0085584',
 'C0154309','C0236651','C0236652','C1456286',
 'C1456732','C0154326','C1456288','C1456297',
 'C0029226','C1456298','C1456299','C0154334',
 'C0006112','C1260408','C0149504','C0221539',
 'C0221540','C0278061','C0018524', 'C0009421',
 'C0752304','C0019151','C0302369','C0236656',
 'C0151620','C2712360','C1269750','C0233522',
 'C0033975','C0009676','C1285577','C0278168',
 'C0023380','C0237284','C0278166','C0278167',
 'C0278164','C0233407','C0085631','C0011253',
 'C0278165','C0011206','C1456784','C1821572',
 'C0424101']
RETURN p.cui, p.name, c.cui, c.name
"""

In [68]:
df = graph.run(query).to_data_frame()

In [69]:
df

,p.cui,p.name,c.cui,c.name
0,C0149504,"Encephalopathy, Toxic",C0149504,"Encephalopathy, Toxic"
1,C0149504,"Encephalopathy, Toxic",C1960448,Hyperammonemic encephalopathy
2,C0149504,"Encephalopathy, Toxic",C4706871,Hyperammonemic encephalopathy due to carbonic ...
3,C0149504,"Encephalopathy, Toxic",C0270731,Parkinson-dementia complex of Guam
4,C0149504,"Encephalopathy, Toxic",C0393634,Toxic encephalitis due to thallium
...,...,...,...,...
5358,C0029226,"Hallucinations, Organic",C0339731,Charles Bonnet Syndrome
5359,C0029226,"Hallucinations, Organic",C0302369,Alcohol Withdrawal Hallucinosis
5360,C0029226,"Hallucinations, Organic",C0236680,Hallucinogen hallucinosis
5361,C0029226,"Hallucinations, Organic",C3509172,hallucinogen abuse with hallucinogen-induced p...
5362,C0029226,"Hallucinations, Organic",C2063175,psychosis with hallucinations due to general m...

In [70]:
df.to_csv('/home/ubuntu/Scarlett/Output_F/II_12.ED_children_F2.csv', index=True)

In [71]:
# exclude : we simply should get rid of C0033975

query = """
MATCH (p:Concepts)<-[r:cui_2_cui*0..{relation:'isa'}]-(c:Concepts) 
where p.id IN [
 'C0033975']
RETURN 
p.cui, p.name, c.cui, c.name
"""

In [72]:
excep = graph.run(query).to_data_frame()
excep

,p.cui,p.name,c.cui,c.name
0,C0033975,Psychotic Disorders,C0033975,Psychotic Disorders
1,C0033975,Psychotic Disorders,C0268671,Non-alcoholic Korsakoff's psychosis
2,C0033975,Psychotic Disorders,C0270423,Severe bipolar disorder with psychotic feature...
3,C0033975,Psychotic Disorders,C0520629,Severe manic bipolar I disorder with psychotic...
4,C0033975,Psychotic Disorders,C0520623,Severe mixed bipolar I disorder with psychotic...
...,...,...,...,...
749,C0033975,Psychotic Disorders,C4480390,acute predominantly delusional psychotic disorder
750,C0033975,Psychotic Disorders,C4707348,Psychosis and severe depression co-occurrent a...
751,C0033975,Psychotic Disorders,C3496177,Atypical psychosis
752,C0033975,Psychotic Disorders,C4304474,Psychosis co-occurrent and due to Parkinson's ...
753,C0033975,Psychotic Disorders,C4511606,Positive symptoms co-occurrent and due to prim...

In [31]:
#excep.to_csv('/home/ubuntu/Scarlett/Output_F/II_12.exc. ED_children_F_except.csv', index=True)

In [ ]:
### 2. extract CUI Ids related to Encephalopathy and Delirium and their (55 cuis) children CUIs

In [73]:
# Final: exclude 'C0033975'
# 56 - C0033975 = 55 cuis

query = """
MATCH (p:Concepts)<-[r:cui_2_cui*0..{relation:'isa'}]-(c:Concepts) 
where p.id IN ['C0859643','C0154315','C0154319',
 'C1457889','C0001957','C0152128','C0152129',
 'C1456296','C0154333','C1456302','C0085584',
 'C0154309','C0236651','C0236652','C1456286',
 'C1456732','C0154326','C1456288','C1456297',
 'C0029226','C1456298','C1456299','C0154334',
 'C0006112','C1260408','C0149504','C0221539',
 'C0221540','C0278061','C0018524', 'C0009421',
 'C0752304','C0019151','C0302369','C0236656',
 'C0151620','C2712360','C1269750','C0233522',
 'C0009676','C1285577','C0278168',
 'C0023380','C0237284','C0278166','C0278167',
 'C0278164','C0233407','C0085631','C0011253',
 'C0278165','C0011206','C1456784','C1821572',
 'C0424101']
RETURN c.cui, c.name
"""
#RETURN p.cui, p.name, c.cui, c.name

In [74]:
df = graph.run(query).to_data_frame()

In [75]:
cui_list_F=df['c.cui'].unique().tolist()
len(cui_list_F)

1498

In [80]:
df3=pd.DataFrame(cui_list_F)

In [81]:
len(df3)

1498

In [84]:
df3.columns = ['c.cui']

In [85]:
df3.head()

      c.cui
0  C0149504
1  C1960448
2  C4706871
3  C0270731
4  C0393634

In [76]:
df2 = df.drop_duplicates(keep=False)
len(df2)

735

In [77]:
cui_list_F2=df2['c.cui'].unique().tolist()
len(cui_list_F2)

735

In [78]:
diff=list(set(cui_list_F) - set(cui_list_F2))

In [82]:
#diff

In [62]:
df2.head()

        c.cui                          c.name
142  C0233522          Inappropriate behavior
143  C0237240  Inappropriate behavior for age
144  C0574121   Inappropriate verbal response
145  C0475703              Withdrawn behavior
146  C0424303          Inappropriate shouting

In [115]:
# Final Encephalopathy and Delirium and their (55 cuis) children CUIs 
#df.to_csv('/home/ubuntu/Scarlett/Output_F/II_12.ED_children_F_exc_c0033975_2.csv', index=True)
df.to_csv(DATA_DIR + "III_12.ED_children_F_exc_c0033975_2.csv", index=True)

In [22]:
# Final: exclude 'C0033975'

query = """
MATCH (p:Concepts)<-[r:cui_2_cui*0..{relation:'isa'}]-(c:Concepts) 
where p.id IN ['C0859643','C0154315','C0154319',
 'C1457889','C0001957','C0152128','C0152129',
 'C1456296','C0154333','C1456302','C0085584',
 'C0154309','C0236651','C0236652','C1456286',
 'C1456732','C0154326','C1456288','C1456297',
 'C0029226','C1456298','C1456299','C0154334',
 'C0006112','C1260408','C0149504','C0221539',
 'C0221540','C0278061','C0018524', 'C0009421',
 'C0752304','C0019151','C0302369','C0236656',
 'C0151620','C2712360','C1269750','C0233522',
 'C0009676','C1285577','C0278168',
 'C0023380','C0237284','C0278166','C0278167',
 'C0278164','C0233407','C0085631','C0011253',
 'C0278165','C0011206','C1456784','C1821572',
 'C0424101']
RETURN c.cui
"""

In [23]:
# Create unique Cui ids for Encephalopathy and Delirium
cui_list=graph.run(query).to_series().tolist()

In [24]:
len(cui_list)

4609

In [63]:
# {id:'""" + cui + """' }
#  RETURN p.cui, p.name, """
def cui2name(cui):
    query = """
        MATCH (p:Concepts{id:'""" + cui + """' })
        RETURN p.name"""
    return (graph.run(query).to_series()).tolist()

In [64]:
def cui2tui(cui):
    query = """
        MATCH (a:Types) <-[r:cui_2_tui]-(d:Concepts)
        WHERE d.id IN ['""" + cui + """']
        RETURN a.name"""
    return (graph.run(query).to_series()).tolist()

In [65]:
def cui2id(cui):
    query = """
        MATCH (a:Types) <-[r:cui_2_tui]-(d:Concepts)
        WHERE d.id IN ['""" + cui + """']
        RETURN a.id"""
    return (graph.run(query).to_series()).tolist()

In [66]:
def cui2scv(cui):
    query = """
        MATCH (sc: Terms)- [r:aui_2_cui]->(con:Concepts)
        WHERE con.id IN ['""" + cui + """']
        RETURN sc.vocabulary"""
    return (graph.run(query).to_series()).tolist()

In [67]:
def cui2scot(cui):
    query = """
        MATCH (sc: Terms)- [r:aui_2_cui]->(con:Concepts)
        WHERE con.id IN ['""" + cui + """']
        RETURN sc.other_code"""
    return (graph.run(query).to_series()).tolist()

In [68]:
def cui2scid(cui):
    query = """
        MATCH (sc: Terms)- [r:aui_2_cui]->(con:Concepts)
        WHERE con.id IN ['""" + cui + """']
        RETURN sc.id"""
    return (graph.run(query).to_series()).tolist()

In [69]:
def cui2scname(cui):
    query = """
        MATCH (sc: Terms)- [r:aui_2_cui]->(con:Concepts)
        WHERE con.id IN ['""" + cui + """']
        RETURN sc.name"""
    return (graph.run(query).to_series()).tolist()

In [86]:
df3['name']=df3['c.cui'].apply(lambda x: cui2name(x))

In [87]:
len(df3)

1498

In [88]:
df3.head()

      c.cui                                               name
0  C0149504                            [Encephalopathy, Toxic]
1  C1960448                    [Hyperammonemic encephalopathy]
2  C4706871  [Hyperammonemic encephalopathy due to carbonic...
3  C0270731               [Parkinson-dementia complex of Guam]
4  C0393634               [Toxic encephalitis due to thallium]

In [90]:
df3['type_name']=df3['c.cui'].apply(lambda x: cui2tui(x))

In [91]:
len(df3)

1498

In [92]:
df3['type_id']=df3['c.cui'].apply(lambda x: cui2id(x))

In [93]:
df3['sc_voc']=df3['c.cui'].apply(lambda x: cui2scv(x))

In [94]:
df3['sc_othcode']=df3['c.cui'].apply(lambda x: cui2scot(x))

In [95]:
# cui2scid
df2['sc_id']=df2['c.cui'].apply(lambda x: cui2scid(x))

<ipython-input-95-97ab2d155653>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['sc_id']=df2['c.cui'].apply(lambda x: cui2scid(x))

In [97]:
#cui2scname
df2['sc_name']=df2['c.cui'].apply(lambda x: cui2scname(x))

<ipython-input-97-6340cb4608f4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['sc_name']=df2['c.cui'].apply(lambda x: cui2scname(x))

In [99]:
len(df3)

1498

In [98]:
#df2['name']=df2['c.cui'].apply(lambda x: cui2name(x))

#df2['type_name']=df2['c.cui'].apply(lambda x: cui2tui(x))

#df2['type_id']=df2['c.cui'].apply(lambda x: cui2id(x))

#df2['sc_voc']=df2['c.cui'].apply(lambda x: cui2scv(x))

#df2['sc_othcode']=df2['c.cui'].apply(lambda x: cui2scot(x))

# cui2scid
#df2['sc_id']=df2['c.cui'].apply(lambda x: cui2scid(x))

#cui2scname
#df2['sc_name']=df2['c.cui'].apply(lambda x: cui2scname(x))

In [100]:
df3.head()

,c.cui,name,type_name,type_id,sc_voc,sc_othcode
0,C0149504,"[Encephalopathy, Toxic]",[Injury or Poisoning],[T037],"[SNOMEDCT_US, ICD9CM, ICD10]","[None, 34982, None]"
1,C1960448,[Hyperammonemic encephalopathy],[Injury or Poisoning],[T037],[SNOMEDCT_US],[None]
2,C4706871,[Hyperammonemic encephalopathy due to carbonic...,[Disease or Syndrome],[T047],[SNOMEDCT_US],[None]
3,C0270731,[Parkinson-dementia complex of Guam],[Disease or Syndrome],[T047],[SNOMEDCT_US],[None]
4,C0393634,[Toxic encephalitis due to thallium],[Injury or Poisoning],[T037],[SNOMEDCT_US],[None]

In [56]:
len(df2)

735

In [101]:
df3.to_csv (DATA_DIR + "2.ED_children_details_2F3.csv", index=True)

#### II.2. Load Medcat Annotation

In [ ]:
from elastic_util import *
from elasticsearch import Elasticsearch
from elasticsearch_dsl import Q

In [25]:
client = Elasticsearch('http://elastic:Admin2019@10.200.112.204:9200', request_timeout=6000, retry_on_timeout=True)

In [81]:
if not client.ping():
    raise ValueError("Connection failed")

In [82]:
index = 'mimic_medcat'
doc_type = 'doc'

In [83]:
cui_list=cui_list_F

In [84]:
#1. create cui data frame
column_names = ["cui", "row_id"]
cuis = pd.DataFrame(columns = column_names)

In [ ]:
# Annotation : extrcting all row_ids which have any terms mapped into cui_list
row_ids = set()
cui_ids =set()

for cui in cui_list:
    q = Q("match", cui=cui) & Q("match", meta_anns__Negated__value='No') & Q("match", meta_anns__Skip__value='No') 
    s = Search(using=client, index=index, doc_type=doc_type).filter(q)
    df = pd.DataFrame((d.to_dict() for d in s.scan()))
    if len(df) > 0:
        rids = df['row_id'].tolist()
        cus = df['cui'].tolist()
        i=pd.DataFrame(data=zip(df['cui'],df['row_id']), columns=['cui','row_id'])
        cuis=cuis.append(i, ignore_index=True)  
        row_ids.update(rids)
        cui_ids.update(cus)

In [13]:
len(cui_ids)

137

In [14]:
len(row_ids)

257584

In [15]:
# ED unstructured patients cuis and rowids by Medcat annotation (final)
#cuis.to_csv('/home/ubuntu/Scarlett/Output_F/II_13.ED_patients_cuis_rowidsF_1st.csv', index=True)
cuis.to_csv(DATA_DIR + "II_13.ED_patients_cuis_rowidsF_1st.csv", index=True)

#### II.3. Import ED unstructured patients cuis

In [86]:
import pandas as pd
#(DATA_DIR + "")
EED_patients_cuis_rowidsF1 = pd.read_csv(DATA_DIR + "II_13.ED_patients_cuis_rowidsF_1st.csv")

In [89]:
EED_patients_cuis_rowidsF1.head()

   Unnamed: 0       cui  row_id
0           0  C0149504  470995
1           1  C0149504   58596
2           2  C0149504  471073
3           3  C0149504   47810
4           4  C0149504   50022

In [90]:
len(EED_patients_cuis_rowidsF1)

748488

In [91]:
row_ids=EED_patients_cuis_rowidsF1.row_id
cuis = EED_patients_cuis_rowidsF1.cui

In [92]:
print(len(row_ids), len(set(row_ids)))

748488 257584

#### II.4. Select noteevents with the selected row_ids

In [93]:
### part1. Select noteevents with the selected row_ids

In [94]:
import pandas as pd
from elastic_util import *
from elasticsearch import Elasticsearch

In [95]:
from sqlalchemy import create_engine
sql_engine = create_engine('postgresql://ckg:Admin123@10.200.106.114:5432/mimic')

In [96]:
# char
# ids = ', '.join(['"'+str(i)+'"' for i in row_ids])
# integer
ids = ', '.join([str(i) for i in set(row_ids)])

In [97]:
# Select noteevents with the selected row_ids having ED relted cuis
# Replace a SQL query
sql_query = 'select * from noteevents where row_id in (' + ids + ')'

docs = pd.read_sql_query(sql_query,con=sql_engine)

#### II.5. Select patients with row_ids having ED cuis

In [98]:
# ED cuis : docs
docs.head()

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text
0,1,23224,174680.0,2147-12-05,NaT,NaT,Discharge summary,Report,NaN,None,Admission Date: [**2147-11-17**] ...
1,3,19051,184534.0,2172-04-23,NaT,NaT,Discharge summary,Report,NaN,None,Admission Date: [**2172-3-26**] ...
2,6,78149,133857.0,2175-03-24,NaT,NaT,Discharge summary,Report,NaN,None,Admission Date: [**2175-3-12**] ...
3,7,22615,138547.0,2199-02-12,NaT,NaT,Discharge summary,Report,NaN,None,Admission Date: [**2199-1-22**] ...
4,10,18961,199586.0,2196-08-23,NaT,NaT,Discharge summary,Report,NaN,None,Admission Date: [**2196-8-20**] ...

In [99]:
len(docs)
#docs.dtypes

257584

In [100]:
print(docs['hadm_id'].nunique())

35180

In [101]:
docs['hadm_id']=docs['hadm_id'].replace(np.inf, 0)
docs['hadm_id']=docs['hadm_id'].replace(np.nan, 0)

In [102]:
docs['hadm_id']=docs['hadm_id'].astype(int)

In [103]:
docs.head()

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text
0,1,23224,174680,2147-12-05,NaT,NaT,Discharge summary,Report,NaN,None,Admission Date: [**2147-11-17**] ...
1,3,19051,184534,2172-04-23,NaT,NaT,Discharge summary,Report,NaN,None,Admission Date: [**2172-3-26**] ...
2,6,78149,133857,2175-03-24,NaT,NaT,Discharge summary,Report,NaN,None,Admission Date: [**2175-3-12**] ...
3,7,22615,138547,2199-02-12,NaT,NaT,Discharge summary,Report,NaN,None,Admission Date: [**2199-1-22**] ...
4,10,18961,199586,2196-08-23,NaT,NaT,Discharge summary,Report,NaN,None,Admission Date: [**2196-8-20**] ...

In [104]:
# Check unique # of patients having ED related cuis in their clinical notes
# docs['subject_id'].nunique()

ED_uns_hadmin_list = docs['hadm_id'].unique().tolist()

In [105]:
#len(ED_uns_patients_list)
len(ED_uns_hadmin_list)

35181

In [35]:
# ED unstructured patients ED cuis and rowids by Medcat annotation (final)
#DATA_DIR = "/home/ubuntu/Scarlett/Output_F/"
#docs.to_csv('/home/ubuntu/Scarlett/Output_F/II_13.2ED_patients_docsF.csv', index=True)
docs.to_csv(DATA_DIR + "Output_F/II_13.2ED_patients_docsF.csv", index=True)

#### II.6. Select all hadm_ids from patients with row_ids having ED cuis

In [36]:
# ED untructured notes patients

In [106]:
# ED_uns_hadmin_list
ad_ids = ', '.join([str(i) for i in ED_uns_hadmin_list])

In [107]:
# Select noteevents with the selected row_ids
# Replace a SQL query
sql_query = 'select * from noteevents where hadm_id in (' + ad_ids + ')'

p_docs = pd.read_sql_query(sql_query,con=sql_engine)

In [39]:
# ED unstructured patients cuis and rowids by Medcat annotation (final)
#p_docs.to_csv('/home/ubuntu/Scarlett/Output_F/II_13.2ED_patients_p_docsF.csv', index=True)
p_docs.to_csv(DATA_DIR  + "II_13.2ED_patients_p_docsF.csv", index=True)

##### p_docs : ED unstructured patients hadm_id's all rowids

In [117]:
# import : II_13.2ED_patients_p_docsF.csv
import pandas as pd
#p_docs = pd.read_csv('/home/ubuntu/Scarlett/Output_F/II_13.2ED_patients_p_docsF.csv')
p_docs = pd.read_csv(DATA_DIR  + "II_13.2ED_patients_p_docsF.csv")

In [118]:
# ED patients all row_ids : p_docs
p_docs.head(100)

,Unnamed: 0,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text
0,0,19215,54610,100003,2150-04-21 00:00:00,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2150-4-17**] ...
1,1,76338,54610,100003,2150-04-18 00:00:00,NaN,NaN,Echo,Report,NaN,NaN,PATIENT/TEST INFORMATION:\nIndication: Left ve...
2,2,193462,54610,100003,2150-04-17 00:00:00,NaN,NaN,ECG,Report,NaN,NaN,Sinus rhythm\nProlonged QT interval is nonspec...
3,3,567670,54610,100003,2150-04-18 00:00:00,2150-04-18 11:53:00,2150-04-18 16:25:04,Nursing,Nursing Transfer Note,17693.0,NaN,"59 year old male with HCV-related cirrhosis, g..."
4,4,567731,54610,100003,2150-04-19 00:00:00,2150-04-19 02:35:00,2150-04-19 03:12:16,Nursing,Nursing Progress Note,16797.0,NaN,"59 year old male with HCV-related cirrhosis, g..."
...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,1148614,87977,100011,2177-09-11 00:00:00,2177-09-11 13:44:00,NaN,Radiology,VIDEO OROPHARYNGEAL SWALLOW,NaN,NaN,"[**Last Name (LF) 231**],[**First Name3 (LF) 2..."
96,96,1148617,87977,100011,2177-09-11 00:00:00,2177-09-11 14:03:00,NaN,Radiology,R KNEE (2 VIEWS) RIGHT,NaN,NaN,[**2177-9-11**] 2:03 PM\n KNEE (2 VIEWS) RIGHT...
97,97,1147696,87977,100011,2177-09-04 00:00:00,2177-09-04 15:46:00,NaN,Radiology,O ABDOMEN (SUPINE ONLY) IN O.R.,NaN,NaN,[**2177-9-4**] 3:46 PM\n ABDOMEN (SUPINE ONLY)...
98,98,1146742,87977,100011,2177-08-29 00:00:00,2177-08-29 07:36:00,NaN,Radiology,CT HEAD W/O CONTRAST,NaN,NaN,[**2177-8-29**] 7:36 AM\n CT HEAD W/O CONTRAST...
99,99,1146790,87977,100011,2177-08-29 00:00:00,2177-08-29 12:35:00,NaN,Radiology,RO FEMUR (AP & LAT) RIGHT IN O.R.,NaN,NaN,[**2177-8-29**] 12:35 PM\n FEMUR (AP & LAT) RI...

In [119]:
len(p_docs)

1466475

In [120]:
p_docs['subject_id'].nunique()

28597

In [121]:
p_docs['hadm_id'].nunique()

35180

In [47]:
35444 + 120677 + 159793 + 149193 + 152258 + 144601 + 161822 + 117815 + 75728 + 85278 + 76535 + 76776 +110555

1466475

In [44]:
# seperte the list into 10 different small size of data
p_docs1=p_docs.loc[(p_docs['subject_id']<1000), ['row_id', 'subject_id', 'hadm_id']]
p_docs2=p_docs.loc[(p_docs['subject_id']>=1000) & (p_docs['subject_id']<5000), ['row_id', 'subject_id', 'hadm_id']]
print(len(p_docs1))
print(len(p_docs2))

35444
120677

In [45]:
p_docs3=p_docs.loc[(p_docs['subject_id']>=5000) & (p_docs['subject_id']<10000), ['row_id', 'subject_id', 'hadm_id']]
print (len(p_docs3))
p_docs4=p_docs.loc[(p_docs['subject_id']>=10000) & (p_docs['subject_id']<15000), ['row_id', 'subject_id', 'hadm_id']]
print (len(p_docs4))
p_docs5=p_docs.loc[(p_docs['subject_id']>=15000) & (p_docs['subject_id']<20000), ['row_id', 'subject_id', 'hadm_id']]
print (len(p_docs5))
p_docs6=p_docs.loc[(p_docs['subject_id']>=20000) & (p_docs['subject_id']<25000), ['row_id', 'subject_id', 'hadm_id']]
print (len(p_docs6))
p_docs7=p_docs.loc[(p_docs['subject_id']>=25000) & (p_docs['subject_id']<30000), ['row_id', 'subject_id', 'hadm_id']]
print (len(p_docs7))
p_docs8=p_docs.loc[(p_docs['subject_id']>=30000) & (p_docs['subject_id']<45000), ['row_id', 'subject_id', 'hadm_id']]
print (len(p_docs8))

p_docs9 =p_docs.loc[(p_docs['subject_id']>=45000) & (p_docs['subject_id']<55000), ['row_id', 'subject_id', 'hadm_id']]
print (len(p_docs9))

p_docs10 =p_docs.loc[(p_docs['subject_id']>=55000) & (p_docs['subject_id']<65000), ['row_id', 'subject_id', 'hadm_id']]
print (len(p_docs10))

p_docs11=p_docs.loc[(p_docs['subject_id']>=65000) & (p_docs['subject_id']<75000), ['row_id', 'subject_id', 'hadm_id']]
print (len(p_docs11))

p_docs12=p_docs.loc[(p_docs['subject_id']>=75000) & (p_docs['subject_id']<85000), ['row_id', 'subject_id', 'hadm_id']]
print (len(p_docs12))

p_docs13=p_docs.loc[(p_docs['subject_id']>=85000), ['row_id', 'subject_id', 'hadm_id']]
print (len(p_docs13))

159793
149193
152258
144601
161822
117815
75728
85278
76535
76776
110555

In [48]:
#del p_docs

#### II.7. all cuis from Medcat for ED unstructured patients(patients with row_ids having ED cuis)

In [39]:
# all cuis from Medcat for ED unstructured patients

In [49]:
row_id_list1 =p_docs1['row_id'].unique().tolist()
print(len(row_id_list1))
row_id_list2 =p_docs2['row_id'].unique().tolist()
print(len(row_id_list2))
row_id_list3 =p_docs3['row_id'].unique().tolist()
print(len(row_id_list3))
row_id_list4 =p_docs4['row_id'].unique().tolist()
print(len(row_id_list4))
row_id_list5 =p_docs5['row_id'].unique().tolist()
print(len(row_id_list5))
row_id_list6 =p_docs6['row_id'].unique().tolist()
print(len(row_id_list6))
row_id_list7 =p_docs7['row_id'].unique().tolist()
print(len(row_id_list7))
row_id_list8 =p_docs8['row_id'].unique().tolist()
print(len(row_id_list8))
row_id_list9 =p_docs9['row_id'].unique().tolist()
print(len(row_id_list9))
row_id_list10 =p_docs10['row_id'].unique().tolist()
print(len(row_id_list10))
row_id_list11 =p_docs11['row_id'].unique().tolist()
print(len(row_id_list11))
row_id_list12 =p_docs12['row_id'].unique().tolist()
print(len(row_id_list12))
row_id_list13 =p_docs13['row_id'].unique().tolist()
print(len(row_id_list13))

35444
120677
159793
149193
152258
144601
161822
117815
75728
85278
76535
76776
110555

In [52]:
print(len(p_docs['subject_id'].unique().tolist()))
print(max(p_docs['subject_id']), min(p_docs['subject_id']))

28597
99991 3

In [53]:
from elastic_util import *
from elasticsearch import Elasticsearch
from elasticsearch_dsl import Q
from datetime import datetime

client = Elasticsearch('http://elastic:Admin2019@10.200.112.204:9200', 
                       request_timeout=600000, retry_on_timeout=True)

if not client.ping():
    raise ValueError("Connection failed")

In [54]:
index = 'mimic_medcat'
doc_type = 'doc'

In [10]:
# Functions : medcat annotation with rowids from ED patients ( Unstructured?)

In [56]:
def all_df_chunk(row_id_list, all_df=None, size=1000):
    must = [Q("match", meta_anns__Negated__value='No'), Q("match", meta_anns__Skip__value='No')]
    dfs = []

    data = row_id_list
    for chunk in [data[x:x+size] for x in range(0, len(data), size)]:
        should = []
        print('------------------')
    #     print(chunk)
        for row_id in chunk:
          should.append(Q("match", row_id=row_id))
        q = Q('bool',
            must=must,
            should=should,
            minimum_should_match=1
        )

        return_fields = ['pretty_name','cui', 'tui', 'type', 'source_value', 'row_id']

        s = Search(using=client, index=index, doc_type=doc_type).source(return_fields).filter(q)
        df = pd.DataFrame((d.to_dict() for d in s.scan()))
        print(datetime.now(), df.shape)
        dfs.append(df)
    all_df = pd.concat(dfs)
    return all_df

In [57]:
%%time
cui_all_1 = all_df_chunk(row_id_list1)

------------------
2021-07-24 14:13:07.205076 (45853, 6)
------------------
2021-07-24 14:13:18.612412 (73441, 6)
------------------
2021-07-24 14:13:25.862446 (46577, 6)
------------------
2021-07-24 14:13:36.004265 (66934, 6)
------------------
2021-07-24 14:13:44.203552 (53688, 6)
------------------
2021-07-24 14:13:56.839249 (92859, 6)
------------------
2021-07-24 14:14:08.326495 (82734, 6)
------------------
2021-07-24 14:14:19.561820 (85676, 6)
------------------
2021-07-24 14:14:28.418299 (58333, 6)
------------------
2021-07-24 14:14:36.055402 (50860, 6)
------------------
2021-07-24 14:14:44.429901 (60457, 6)
------------------
2021-07-24 14:14:51.214147 (48554, 6)
------------------
2021-07-24 14:15:01.682689 (81274, 6)
------------------
2021-07-24 14:15:08.847278 (53827, 6)
------------------
2021-07-24 14:15:14.853296 (38662, 6)
------------------
2021-07-24 14:15:23.771907 (63454, 6)
------------------
2021-07-24 14:15:35.057562 (87466, 6)
------------------
2021-07-24 14:15:43.731906 (67097, 6)
------------------
2021-07-24 14:15:50.106617 (47130, 6)
------------------
2021-07-24 14:15:56.254280 (42923, 6)
------------------
2021-07-24 14:16:09.240526 (106953, 6)
------------------
2021-07-24 14:16:16.164665 (49060, 6)
------------------
2021-07-24 14:16:23.916474 (55100, 6)
------------------
2021-07-24 14:16:31.808542 (55214, 6)
------------------
2021-07-24 14:16:40.844026 (65954, 6)
------------------
2021-07-24 14:16:49.838831 (65836, 6)
------------------
2021-07-24 14:16:59.569943 (70292, 6)
------------------
2021-07-24 14:17:08.194425 (59658, 6)
------------------
2021-07-24 14:17:16.420038 (59570, 6)
------------------
2021-07-24 14:17:24.602625 (54540, 6)
------------------
2021-07-24 14:17:30.809356 (40433, 6)
------------------
2021-07-24 14:17:37.876661 (51126, 6)
------------------
2021-07-24 14:17:46.646803 (61346, 6)
------------------
2021-07-24 14:17:55.196123 (60618, 6)
------------------
2021-07-24 14:18:03.890945 (62071, 6)
------------------
2021-07-24 14:18:06.477729 (25113, 6)
CPU times: user 45.8 s, sys: 1.92 s, total: 47.8 s
Wall time: 5min 14s

In [58]:
cui_all_1.shape

(2190683, 6)

In [59]:
cui_all_1.head()

,pretty_name,cui,tui,type,row_id,source_value
0,CONT,C2826258,T051,Event,1688766,Cont
1,feeding schedule,C0920763,T033,Finding,1688766,feeding schedule
2,Waking,C0442696,T039,Physiologic Function,1688766,Waking
3,benign,C0205183,T080,Qualitative Concept,1688766,benign
4,Voids,C4067975,T169,Functional Concept,1688766,Voiding

In [60]:
#DATA_DIR = "/home/ubuntu/Scarlett/Output_F/"
cui_all_1.to_csv(DATA_DIR + "II_14.1.ED_patient_all_cuis1.csv", index=True)

In [ ]:
# a2

In [61]:
%%time
cui_all_2 = all_df_chunk(row_id_list2)

------------------
2021-07-24 14:23:47.988740 (40264, 6)
------------------
2021-07-24 14:23:55.985729 (52544, 6)
------------------
2021-07-24 14:24:05.328495 (63412, 6)
------------------
2021-07-24 14:24:13.930350 (60448, 6)
------------------
2021-07-24 14:24:23.925140 (62230, 6)
------------------
2021-07-24 14:24:34.696550 (50940, 6)
------------------
2021-07-24 14:24:44.859938 (47034, 6)
------------------
2021-07-24 14:24:57.407213 (57785, 6)
------------------
2021-07-24 14:25:11.570676 (64167, 6)
------------------
2021-07-24 14:25:24.955018 (62129, 6)
------------------
2021-07-24 14:25:39.342221 (65749, 6)
------------------
2021-07-24 14:25:50.540125 (60768, 6)
------------------
2021-07-24 14:26:03.654770 (60647, 6)
------------------
2021-07-24 14:26:18.740921 (74560, 6)
------------------
2021-07-24 14:26:33.537698 (75883, 6)
------------------
2021-07-24 14:26:49.349358 (76363, 6)
------------------
2021-07-24 14:27:03.431577 (67137, 6)
------------------
2021-07-24 14:27:15.041945 (49231, 6)
------------------
2021-07-24 14:27:28.144919 (63645, 6)
------------------
2021-07-24 14:27:43.234791 (79881, 6)
------------------
2021-07-24 14:27:53.945393 (47709, 6)
------------------
2021-07-24 14:28:05.490739 (53533, 6)
------------------
2021-07-24 14:28:18.288196 (65096, 6)
------------------
2021-07-24 14:28:32.506932 (70817, 6)
------------------
2021-07-24 14:28:45.032645 (64381, 6)
------------------
2021-07-24 14:28:55.184753 (48937, 6)
------------------
2021-07-24 14:29:08.603455 (64308, 6)
------------------
2021-07-24 14:29:20.262914 (47733, 6)
------------------
2021-07-24 14:29:31.775691 (52034, 6)
------------------
2021-07-24 14:29:44.050654 (59994, 6)
------------------
2021-07-24 14:29:56.137844 (62101, 6)
------------------
2021-07-24 14:30:06.707706 (44715, 6)
------------------
2021-07-24 14:30:16.376254 (46287, 6)
------------------
2021-07-24 14:30:27.646954 (59228, 6)
------------------
2021-07-24 14:30:36.588697 (39043, 6)
------------------
2021-07-24 14:30:46.976662 (44414, 6)
------------------
2021-07-24 14:31:04.825303 (111847, 6)
------------------
2021-07-24 14:31:20.542437 (89655, 6)
------------------
2021-07-24 14:31:32.898023 (59941, 6)
------------------
2021-07-24 14:31:41.293001 (45456, 6)
------------------
2021-07-24 14:31:54.014911 (64203, 6)
------------------
2021-07-24 14:32:05.265580 (55766, 6)
------------------
2021-07-24 14:32:17.489533 (56608, 6)
------------------
2021-07-24 14:32:28.992520 (59359, 6)
------------------
2021-07-24 14:32:41.745043 (71119, 6)
------------------
2021-07-24 14:32:50.077969 (39870, 6)
------------------
2021-07-24 14:33:00.762835 (57309, 6)
------------------
2021-07-24 14:33:11.613286 (55052, 6)
------------------
2021-07-24 14:33:23.059940 (54936, 6)
------------------
2021-07-24 14:33:38.520461 (84285, 6)
------------------
2021-07-24 14:33:50.954384 (59619, 6)
------------------
2021-07-24 14:34:02.090249 (58754, 6)
------------------
2021-07-24 14:34:13.884852 (55880, 6)
------------------
2021-07-24 14:34:25.252541 (59468, 6)
------------------
2021-07-24 14:34:36.130926 (55916, 6)
------------------
2021-07-24 14:34:48.272206 (64426, 6)
------------------
2021-07-24 14:34:59.331752 (60642, 6)
------------------
2021-07-24 14:35:10.826732 (64023, 6)
------------------
2021-07-24 14:35:21.078172 (48311, 6)
------------------
2021-07-24 14:35:33.372234 (67324, 6)
------------------
2021-07-24 14:35:47.242493 (80125, 6)
------------------
2021-07-24 14:35:59.252693 (65917, 6)
------------------
2021-07-24 14:36:10.440096 (59215, 6)
------------------
2021-07-24 14:36:23.242158 (68009, 6)
------------------
2021-07-24 14:36:34.024353 (53062, 6)
------------------
2021-07-24 14:36:44.951068 (57934, 6)
------------------
2021-07-24 14:36:56.630781 (60405, 6)
------------------
2021-07-24 14:37:07.205101 (52469, 6)
------------------
2021-07-24 14:37:17.462583 (57082, 6)
------------------
2021-07-24 14:37:26.359157 (43521, 6)
------------------
2021-07-24 14:37:36.760802 (51285, 6)
------------------
2021-07-24 14:37:46.423254 (47880, 6)
------------------
2021-07-24 14:37:58.576040 (66053, 6)
------------------
2021-07-24 14:38:08.473636 (54098, 6)
------------------
2021-07-24 14:38:18.483041 (56832, 6)
------------------
2021-07-24 14:38:27.489315 (46697, 6)
------------------
2021-07-24 14:38:38.316882 (61048, 6)
------------------
2021-07-24 14:38:50.005787 (65874, 6)
------------------
2021-07-24 14:39:02.941861 (73355, 6)
------------------
2021-07-24 14:39:15.302386 (69227, 6)
------------------
2021-07-24 14:39:29.001353 (76333, 6)
------------------
2021-07-24 14:39:36.900767 (42100, 6)
------------------
2021-07-24 14:39:48.633404 (66081, 6)
------------------
2021-07-24 14:40:03.873417 (92107, 6)
------------------
2021-07-24 14:40:15.928571 (65701, 6)
------------------
2021-07-24 14:40:26.989916 (59721, 6)
------------------
2021-07-24 14:40:37.227688 (57404, 6)
------------------
2021-07-24 14:40:47.149169 (54791, 6)
------------------
2021-07-24 14:40:58.635288 (67162, 6)
------------------
2021-07-24 14:41:10.452853 (65183, 6)
------------------
2021-07-24 14:41:24.301685 (79964, 6)
------------------
2021-07-24 14:41:38.458643 (86565, 6)
------------------
2021-07-24 14:41:48.618772 (60758, 6)
------------------
2021-07-24 14:41:59.010631 (59694, 6)
------------------
2021-07-24 14:42:09.325780 (49520, 6)
------------------
2021-07-24 14:42:22.878891 (79894, 6)
------------------
2021-07-24 14:42:33.684399 (54458, 6)
------------------
2021-07-24 14:42:46.281063 (78007, 6)
------------------
2021-07-24 14:42:56.761735 (61335, 6)
------------------
2021-07-24 14:43:07.331426 (60987, 6)
------------------
2021-07-24 14:43:20.771007 (79479, 6)
------------------
2021-07-24 14:43:29.663404 (49331, 6)
------------------
2021-07-24 14:43:40.051198 (57764, 6)
------------------
2021-07-24 14:43:49.894132 (56921, 6)
------------------
2021-07-24 14:43:57.202231 (37509, 6)
------------------
2021-07-24 14:44:09.214974 (67339, 6)
------------------
2021-07-24 14:44:19.233249 (59895, 6)
------------------
2021-07-24 14:44:32.423302 (83462, 6)
------------------
2021-07-24 14:44:42.476214 (56777, 6)
------------------
2021-07-24 14:44:53.537037 (62274, 6)
------------------
2021-07-24 14:45:07.397525 (81352, 6)
------------------
2021-07-24 14:45:17.367682 (57731, 6)
------------------
2021-07-24 14:45:28.269053 (61189, 6)
------------------
2021-07-24 14:45:39.126732 (62868, 6)
------------------
2021-07-24 14:45:50.330285 (69024, 6)
------------------
2021-07-24 14:45:58.339068 (44834, 6)
------------------
2021-07-24 14:46:08.971507 (66908, 6)
------------------
2021-07-24 14:46:17.411204 (51550, 6)
------------------
2021-07-24 14:46:27.760249 (62433, 6)
------------------
2021-07-24 14:46:37.605522 (57780, 6)
------------------
2021-07-24 14:46:44.516037 (46322, 6)
CPU times: user 2min 33s, sys: 6.92 s, total: 2min 39s
Wall time: 23min 7s

In [62]:
cui_all_2.to_csv(DATA_DIR + "II_14.1.ED_patient_all_cuis2.csv", index=True)

In [63]:
#a3,a4
cui_all_3 = all_df_chunk(row_id_list3)
cui_all_4 = all_df_chunk(row_id_list4)

------------------
2021-07-24 14:49:06.159654 (54005, 6)
------------------
2021-07-24 14:49:18.093034 (58588, 6)
------------------
2021-07-24 14:49:32.276851 (84725, 6)
------------------
2021-07-24 14:49:44.343422 (61269, 6)
------------------
2021-07-24 14:49:55.243328 (55112, 6)
------------------
2021-07-24 14:50:05.697803 (50480, 6)
------------------
2021-07-24 14:50:15.617728 (43227, 6)
------------------
2021-07-24 14:50:25.666544 (47567, 6)
------------------
2021-07-24 14:50:38.051030 (63091, 6)
------------------
2021-07-24 14:50:48.292396 (49520, 6)
------------------
2021-07-24 14:51:01.266741 (76292, 6)
------------------
2021-07-24 14:51:16.248522 (86064, 6)
------------------
2021-07-24 14:51:26.441475 (54953, 6)
------------------
2021-07-24 14:51:33.748668 (42403, 6)
------------------
2021-07-24 14:51:43.910368 (58570, 6)
------------------
2021-07-24 14:51:55.713126 (63583, 6)
------------------
2021-07-24 14:52:07.058036 (61831, 6)
------------------
2021-07-24 14:52:17.568350 (61049, 6)
------------------
2021-07-24 14:52:28.906016 (59046, 6)
------------------
2021-07-24 14:52:41.010417 (71994, 6)
------------------
2021-07-24 14:52:53.236016 (67186, 6)
------------------
2021-07-24 14:53:03.516510 (57050, 6)
------------------
2021-07-24 14:53:16.205867 (75477, 6)
------------------
2021-07-24 14:53:26.436357 (57652, 6)
------------------
2021-07-24 14:53:35.486697 (53957, 6)
------------------
2021-07-24 14:53:46.443322 (66283, 6)
------------------
2021-07-24 14:53:58.015301 (66603, 6)
------------------
2021-07-24 14:54:09.854488 (67885, 6)
------------------
2021-07-24 14:54:20.290352 (64307, 6)
------------------
2021-07-24 14:54:32.428687 (72454, 6)
------------------
2021-07-24 14:54:48.569728 (95770, 6)
------------------
2021-07-24 14:54:59.909551 (63245, 6)
------------------
2021-07-24 14:55:08.965246 (40262, 6)
------------------
2021-07-24 14:55:18.889301 (55249, 6)
------------------
2021-07-24 14:55:28.780011 (54257, 6)
------------------
2021-07-24 14:55:37.982087 (48801, 6)
------------------
2021-07-24 14:55:47.003606 (48423, 6)
------------------
2021-07-24 14:55:55.588598 (45789, 6)
------------------
2021-07-24 14:56:06.899836 (66323, 6)
------------------
2021-07-24 14:56:19.364656 (72184, 6)
------------------
2021-07-24 14:56:30.941948 (66544, 6)
------------------
2021-07-24 14:56:40.261301 (51720, 6)
------------------
2021-07-24 14:56:50.427422 (58543, 6)
------------------
2021-07-24 14:57:03.325887 (80954, 6)
------------------
2021-07-24 14:57:12.345637 (48274, 6)
------------------
2021-07-24 14:57:21.454842 (52133, 6)
------------------
2021-07-24 14:57:32.832545 (69495, 6)
------------------
2021-07-24 14:57:44.830505 (65931, 6)
------------------
2021-07-24 14:57:57.267549 (73805, 6)
------------------
2021-07-24 14:58:08.363197 (62171, 6)
------------------
2021-07-24 14:58:20.146165 (69675, 6)
------------------
2021-07-24 14:58:30.544249 (59793, 6)
------------------
2021-07-24 14:58:38.917821 (45531, 6)
------------------
2021-07-24 14:58:50.775235 (70254, 6)
------------------
2021-07-24 14:59:01.137244 (60975, 6)
------------------
2021-07-24 14:59:13.233757 (66927, 6)
------------------
2021-07-24 14:59:26.246102 (78939, 6)
------------------
2021-07-24 14:59:36.909054 (60587, 6)
------------------
2021-07-24 14:59:48.563860 (68014, 6)
------------------
2021-07-24 14:59:57.766746 (46137, 6)
------------------
2021-07-24 15:00:04.928703 (47487, 6)
------------------
2021-07-24 15:00:15.141376 (55177, 6)
------------------
2021-07-24 15:00:23.361064 (44326, 6)
------------------
2021-07-24 15:00:35.127636 (68285, 6)
------------------
2021-07-24 15:00:44.948732 (56897, 6)
------------------
2021-07-24 15:00:55.205062 (56409, 6)
------------------
2021-07-24 15:01:05.886558 (62834, 6)
------------------
2021-07-24 15:01:16.253511 (56086, 6)
------------------
2021-07-24 15:01:24.352583 (48175, 6)
------------------
2021-07-24 15:01:36.698311 (72203, 6)
------------------
2021-07-24 15:01:47.579273 (61504, 6)
------------------
2021-07-24 15:01:55.945673 (46999, 6)
------------------
2021-07-24 15:02:03.957781 (43385, 6)
------------------
2021-07-24 15:02:13.477289 (54393, 6)
------------------
2021-07-24 15:02:25.474331 (71806, 6)
------------------
2021-07-24 15:02:38.908866 (78565, 6)
------------------
2021-07-24 15:02:48.138339 (50874, 6)
------------------
2021-07-24 15:02:59.176312 (65244, 6)
------------------
2021-07-24 15:03:09.543713 (58595, 6)
------------------
2021-07-24 15:03:18.945489 (58683, 6)
------------------
2021-07-24 15:03:27.507165 (50974, 6)
------------------
2021-07-24 15:03:37.331299 (61450, 6)
------------------
2021-07-24 15:03:46.420227 (48402, 6)
------------------
2021-07-24 15:03:55.502167 (48117, 6)
------------------
2021-07-24 15:04:06.173354 (63853, 6)
------------------
2021-07-24 15:04:16.192246 (60602, 6)
------------------
2021-07-24 15:04:23.541438 (40005, 6)
------------------
2021-07-24 15:04:32.619526 (51957, 6)
------------------
2021-07-24 15:04:45.370367 (78734, 6)
------------------
2021-07-24 15:04:58.984839 (77497, 6)
------------------
2021-07-24 15:05:07.387149 (40879, 6)
------------------
2021-07-24 15:05:18.808751 (61765, 6)
------------------
2021-07-24 15:05:26.979286 (45102, 6)
------------------
2021-07-24 15:05:38.508346 (68927, 6)
------------------
2021-07-24 15:05:49.190793 (66752, 6)
------------------
2021-07-24 15:05:57.603023 (48057, 6)
------------------
2021-07-24 15:06:07.709567 (58422, 6)
------------------
2021-07-24 15:06:16.349896 (51592, 6)
------------------
2021-07-24 15:06:24.818627 (50469, 6)
------------------
2021-07-24 15:06:36.121274 (62818, 6)
------------------
2021-07-24 15:06:46.077472 (57799, 6)
------------------
2021-07-24 15:06:54.404881 (49619, 6)
------------------
2021-07-24 15:07:02.783846 (46318, 6)
------------------
2021-07-24 15:07:13.551372 (61660, 6)
------------------
2021-07-24 15:07:25.511784 (74774, 6)
------------------
2021-07-24 15:07:34.586855 (53071, 6)
------------------
2021-07-24 15:07:45.368271 (64109, 6)
------------------
2021-07-24 15:07:56.488075 (64667, 6)
------------------
2021-07-24 15:08:08.223746 (73620, 6)
------------------
2021-07-24 15:08:19.384681 (67614, 6)
------------------
2021-07-24 15:08:26.886835 (42137, 6)
------------------
2021-07-24 15:08:36.572212 (57250, 6)
------------------
2021-07-24 15:08:46.936778 (59714, 6)
------------------
2021-07-24 15:08:57.104221 (60675, 6)
------------------
2021-07-24 15:09:08.712588 (63590, 6)
------------------
2021-07-24 15:09:15.364418 (38728, 6)
------------------
2021-07-24 15:09:27.519654 (69983, 6)
------------------
2021-07-24 15:09:37.758660 (58601, 6)
------------------
2021-07-24 15:09:51.756573 (87953, 6)
------------------
2021-07-24 15:10:05.353661 (80915, 6)
------------------
2021-07-24 15:10:13.545440 (47650, 6)
------------------
2021-07-24 15:10:22.848222 (52605, 6)
------------------
2021-07-24 15:10:30.150977 (40711, 6)
------------------
2021-07-24 15:10:41.783190 (65665, 6)
------------------
2021-07-24 15:10:50.890275 (50141, 6)
------------------
2021-07-24 15:10:59.967312 (49446, 6)
------------------
2021-07-24 15:11:09.838550 (56440, 6)
------------------
2021-07-24 15:11:19.976106 (63736, 6)
------------------
2021-07-24 15:11:29.313363 (55122, 6)
------------------
2021-07-24 15:11:38.402460 (50578, 6)
------------------
2021-07-24 15:11:49.725632 (67753, 6)
------------------
2021-07-24 15:12:00.550154 (59007, 6)
------------------
2021-07-24 15:12:10.506980 (62895, 6)
------------------
2021-07-24 15:12:19.528405 (55123, 6)
------------------
2021-07-24 15:12:29.259535 (55522, 6)
------------------
2021-07-24 15:12:37.051059 (48409, 6)
------------------
2021-07-24 15:12:47.332157 (59499, 6)
------------------
2021-07-24 15:12:58.759238 (71213, 6)
------------------
2021-07-24 15:13:07.917601 (50042, 6)
------------------
2021-07-24 15:13:16.557157 (53218, 6)
------------------
2021-07-24 15:13:27.114937 (61226, 6)
------------------
2021-07-24 15:13:36.462815 (58493, 6)
------------------
2021-07-24 15:13:46.950970 (66984, 6)
------------------
2021-07-24 15:13:58.031441 (64355, 6)
------------------
2021-07-24 15:14:08.244293 (58683, 6)
------------------
2021-07-24 15:14:21.133628 (83828, 6)
------------------
2021-07-24 15:14:32.164873 (67029, 6)
------------------
2021-07-24 15:14:39.697510 (36601, 6)
------------------
2021-07-24 15:14:50.745567 (66898, 6)
------------------
2021-07-24 15:15:01.756279 (67129, 6)
------------------
2021-07-24 15:15:12.881633 (67272, 6)
------------------
2021-07-24 15:15:22.086801 (57111, 6)
------------------
2021-07-24 15:15:31.067845 (53489, 6)
------------------
2021-07-24 15:15:39.923811 (55303, 6)
------------------
2021-07-24 15:15:48.986672 (55087, 6)
------------------
2021-07-24 15:15:57.763434 (52578, 6)
------------------
2021-07-24 15:16:03.843795 (40567, 6)
------------------
2021-07-24 15:16:10.734919 (36146, 6)
------------------
2021-07-24 15:16:22.516140 (63606, 6)
------------------
2021-07-24 15:16:30.325483 (48892, 6)
------------------
2021-07-24 15:16:45.799295 (58714, 6)
------------------
2021-07-24 15:16:57.274097 (58830, 6)
------------------
2021-07-24 15:17:10.139115 (70668, 6)
------------------
2021-07-24 15:17:22.346199 (63481, 6)
------------------
2021-07-24 15:17:33.018560 (57829, 6)
------------------
2021-07-24 15:17:43.138644 (53264, 6)
------------------
2021-07-24 15:17:52.644220 (57976, 6)
------------------
2021-07-24 15:18:03.538288 (56596, 6)
------------------
2021-07-24 15:18:15.895170 (71047, 6)
------------------
2021-07-24 15:18:26.696138 (61355, 6)
------------------
2021-07-24 15:18:38.718406 (70787, 6)
------------------
2021-07-24 15:18:48.778931 (55107, 6)
------------------
2021-07-24 15:19:00.306254 (65115, 6)
------------------
2021-07-24 15:19:09.668241 (52318, 6)
------------------
2021-07-24 15:19:21.948506 (69048, 6)
------------------
2021-07-24 15:19:30.047591 (40960, 6)
------------------
2021-07-24 15:19:42.018269 (69546, 6)
------------------
2021-07-24 15:19:52.449843 (55100, 6)
------------------
2021-07-24 15:20:02.692112 (52872, 6)
------------------
2021-07-24 15:20:12.177587 (54041, 6)
------------------
2021-07-24 15:20:24.282582 (65528, 6)
------------------
2021-07-24 15:20:33.092607 (48067, 6)
------------------
2021-07-24 15:20:44.493911 (65245, 6)
------------------
2021-07-24 15:20:52.960853 (50384, 6)
------------------
2021-07-24 15:21:03.041746 (60718, 6)
------------------
2021-07-24 15:21:15.072646 (71317, 6)
------------------
2021-07-24 15:21:28.264515 (80392, 6)
------------------
2021-07-24 15:21:36.408041 (43449, 6)
------------------
2021-07-24 15:21:46.413276 (53629, 6)
------------------
2021-07-24 15:21:55.912444 (47802, 6)
------------------
2021-07-24 15:22:10.049405 (88766, 6)
------------------
2021-07-24 15:22:19.574260 (52074, 6)
------------------
2021-07-24 15:22:28.726233 (52810, 6)
------------------
2021-07-24 15:22:41.244211 (76471, 6)
------------------
2021-07-24 15:22:53.833880 (74587, 6)
------------------
2021-07-24 15:23:03.365508 (56104, 6)
------------------
2021-07-24 15:23:13.235031 (52316, 6)
------------------
2021-07-24 15:23:25.161069 (71065, 6)
------------------
2021-07-24 15:23:36.140563 (58149, 6)
------------------
2021-07-24 15:23:46.025144 (56211, 6)
------------------
2021-07-24 15:23:53.849784 (39247, 6)
------------------
2021-07-24 15:24:02.678885 (57417, 6)
------------------
2021-07-24 15:24:12.680285 (58225, 6)
------------------
2021-07-24 15:24:23.787033 (66380, 6)
------------------
2021-07-24 15:24:37.956532 (85005, 6)
------------------
2021-07-24 15:24:50.569130 (73471, 6)
------------------
2021-07-24 15:25:03.492502 (77907, 6)
------------------
2021-07-24 15:25:13.822170 (53750, 6)
------------------
2021-07-24 15:25:25.073211 (62532, 6)
------------------
2021-07-24 15:25:34.625345 (51812, 6)
------------------
2021-07-24 15:25:42.443230 (40876, 6)
------------------
2021-07-24 15:25:54.212831 (68384, 6)
------------------
2021-07-24 15:26:04.609031 (60787, 6)
------------------
2021-07-24 15:26:16.708315 (71809, 6)
------------------
2021-07-24 15:26:27.383766 (58199, 6)
------------------
2021-07-24 15:26:39.776190 (71596, 6)
------------------
2021-07-24 15:26:51.029002 (65017, 6)
------------------
2021-07-24 15:27:03.789104 (67932, 6)
------------------
2021-07-24 15:27:13.481943 (51817, 6)
------------------
2021-07-24 15:27:23.129992 (53068, 6)
------------------
2021-07-24 15:27:32.181703 (49610, 6)
------------------
2021-07-24 15:27:43.229296 (62547, 6)
------------------
2021-07-24 15:27:55.661105 (71571, 6)
------------------
2021-07-24 15:28:05.198455 (50054, 6)
------------------
2021-07-24 15:28:13.963632 (50620, 6)
------------------
2021-07-24 15:28:24.903781 (63743, 6)
------------------
2021-07-24 15:28:38.264663 (76542, 6)
------------------
2021-07-24 15:28:49.155415 (62848, 6)
------------------
2021-07-24 15:29:01.293673 (68911, 6)
------------------
2021-07-24 15:29:14.496636 (72173, 6)
------------------
2021-07-24 15:29:24.275273 (55632, 6)
------------------
2021-07-24 15:29:34.607552 (60211, 6)
------------------
2021-07-24 15:29:44.576384 (61402, 6)
------------------
2021-07-24 15:29:55.781622 (66558, 6)
------------------
2021-07-24 15:30:08.608644 (74605, 6)
------------------
2021-07-24 15:30:19.547362 (63821, 6)
------------------
2021-07-24 15:30:31.248513 (67217, 6)
------------------
2021-07-24 15:30:45.765515 (87557, 6)
------------------
2021-07-24 15:30:56.978148 (62878, 6)
------------------
2021-07-24 15:31:07.791502 (60989, 6)
------------------
2021-07-24 15:31:18.117622 (50063, 6)
------------------
2021-07-24 15:31:28.743383 (63441, 6)
------------------
2021-07-24 15:31:38.603442 (55718, 6)
------------------
2021-07-24 15:31:45.963165 (40880, 6)
------------------
2021-07-24 15:31:55.008144 (51854, 6)
------------------
2021-07-24 15:32:03.434430 (42088, 6)
------------------
2021-07-24 15:32:13.502074 (56530, 6)
------------------
2021-07-24 15:32:26.171170 (75571, 6)
------------------
2021-07-24 15:32:37.871281 (64727, 6)
------------------
2021-07-24 15:32:48.059163 (58991, 6)
------------------
2021-07-24 15:32:56.138932 (45061, 6)
------------------
2021-07-24 15:33:03.891627 (38866, 6)
------------------
2021-07-24 15:33:13.836676 (56863, 6)
------------------
2021-07-24 15:33:22.500021 (47865, 6)
------------------
2021-07-24 15:33:31.807806 (57498, 6)
------------------
2021-07-24 15:33:44.669103 (69883, 6)
------------------
2021-07-24 15:33:51.808541 (40247, 6)
------------------
2021-07-24 15:34:00.482745 (50045, 6)
------------------
2021-07-24 15:34:11.373522 (63369, 6)
------------------
2021-07-24 15:34:20.832691 (56033, 6)
------------------
2021-07-24 15:34:29.951687 (54119, 6)
------------------
2021-07-24 15:34:38.582709 (46942, 6)
------------------
2021-07-24 15:34:45.500543 (40006, 6)
------------------
2021-07-24 15:34:56.763255 (69660, 6)
------------------
2021-07-24 15:35:02.768189 (35833, 6)
------------------
2021-07-24 15:35:11.266791 (47531, 6)
------------------
2021-07-24 15:35:20.634917 (57429, 6)
------------------
2021-07-24 15:35:33.815422 (80490, 6)
------------------
2021-07-24 15:35:43.548161 (54255, 6)
------------------
2021-07-24 15:35:55.485205 (69452, 6)
------------------
2021-07-24 15:36:05.944879 (60714, 6)
------------------
2021-07-24 15:36:15.421700 (53018, 6)
------------------
2021-07-24 15:36:25.454951 (60250, 6)
------------------
2021-07-24 15:36:34.766575 (54514, 6)
------------------
2021-07-24 15:36:43.674610 (51061, 6)
------------------
2021-07-24 15:36:50.821229 (41439, 6)
------------------
2021-07-24 15:37:00.210088 (53045, 6)
------------------
2021-07-24 15:37:11.458803 (65104, 6)
------------------
2021-07-24 15:37:18.285432 (41122, 6)
------------------
2021-07-24 15:37:29.373432 (67947, 6)
------------------
2021-07-24 15:37:39.114612 (58661, 6)
------------------
2021-07-24 15:37:49.194123 (62930, 6)
------------------
2021-07-24 15:38:00.065562 (67064, 6)
------------------
2021-07-24 15:38:11.920540 (70175, 6)
------------------
2021-07-24 15:38:21.468578 (59337, 6)
------------------
2021-07-24 15:38:31.233175 (54899, 6)
------------------
2021-07-24 15:38:44.026741 (74890, 6)
------------------
2021-07-24 15:38:54.743228 (61266, 6)
------------------
2021-07-24 15:39:06.338114 (65583, 6)
------------------
2021-07-24 15:39:15.800700 (53330, 6)
------------------
2021-07-24 15:39:26.775363 (72055, 6)
------------------
2021-07-24 15:39:36.578729 (52990, 6)
------------------
2021-07-24 15:39:46.752749 (60705, 6)
------------------
2021-07-24 15:39:56.999272 (63467, 6)
------------------
2021-07-24 15:40:05.912720 (51818, 6)
------------------
2021-07-24 15:40:16.567294 (62656, 6)
------------------
2021-07-24 15:40:25.229500 (49550, 6)
------------------
2021-07-24 15:40:35.454112 (62701, 6)
------------------
2021-07-24 15:40:45.128994 (59924, 6)
------------------
2021-07-24 15:40:51.587818 (40620, 6)
------------------
2021-07-24 15:40:59.768061 (46542, 6)
------------------
2021-07-24 15:41:08.545037 (51311, 6)
------------------
2021-07-24 15:41:16.834176 (51579, 6)
------------------
2021-07-24 15:41:25.915828 (51720, 6)
------------------
2021-07-24 15:41:33.827842 (42897, 6)
------------------
2021-07-24 15:41:44.656200 (65932, 6)
------------------
2021-07-24 15:41:53.781541 (54426, 6)
------------------
2021-07-24 15:42:02.741051 (55454, 6)
------------------
2021-07-24 15:42:12.926219 (62822, 6)
------------------
2021-07-24 15:42:14.751914 (13096, 6)

In [64]:
#frames = [a3,a4]
#cui_all = pd.concat(frames)
#(DATA_DIR + "
#cui_all_3.to_csv('/home/ubuntu/Scarlett/Output_F/II_14.F.ED_patient_all_cuis3.csv', index=True)
cui_all_3.to_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis3.csv", index=True)
cui_all_4.to_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis4.csv", index=True)

In [65]:
#a5,a6
cui_all_5 = all_df_chunk(row_id_list5)
cui_all_6 = all_df_chunk(row_id_list6)

------------------
2021-07-24 15:43:32.365060 (73063, 6)
------------------
2021-07-24 15:43:42.413482 (53820, 6)
------------------
2021-07-24 15:43:55.467663 (60947, 6)
------------------
2021-07-24 15:44:07.668033 (65237, 6)
------------------
2021-07-24 15:44:17.156058 (44971, 6)
------------------
2021-07-24 15:44:27.794826 (60155, 6)
------------------
2021-07-24 15:44:37.885459 (54320, 6)
------------------
2021-07-24 15:44:45.743209 (43793, 6)
------------------
2021-07-24 15:44:56.903477 (60219, 6)
------------------
2021-07-24 15:45:10.731439 (75288, 6)
------------------
2021-07-24 15:45:20.116294 (51836, 6)
------------------
2021-07-24 15:45:38.436971 (116179, 6)
------------------
2021-07-24 15:45:50.725222 (67251, 6)
------------------
2021-07-24 15:46:01.480639 (58953, 6)
------------------
2021-07-24 15:46:11.384194 (48222, 6)
------------------
2021-07-24 15:46:21.295456 (54239, 6)
------------------
2021-07-24 15:46:33.243526 (61666, 6)
------------------
2021-07-24 15:46:45.554812 (65140, 6)
------------------
2021-07-24 15:46:58.746685 (74381, 6)
------------------
2021-07-24 15:47:09.655148 (58021, 6)
------------------
2021-07-24 15:47:19.794386 (50424, 6)
------------------
2021-07-24 15:47:29.242993 (46178, 6)
------------------
2021-07-24 15:47:37.386946 (44465, 6)
------------------
2021-07-24 15:47:46.019113 (46264, 6)
------------------
2021-07-24 15:47:57.988924 (68377, 6)
------------------
2021-07-24 15:48:08.559058 (58139, 6)
------------------
2021-07-24 15:48:18.964553 (51025, 6)
------------------
2021-07-24 15:48:29.271582 (55962, 6)
------------------
2021-07-24 15:48:39.073545 (47734, 6)
------------------
2021-07-24 15:48:49.068654 (59001, 6)
------------------
2021-07-24 15:49:02.402535 (80989, 6)
------------------
2021-07-24 15:49:13.416499 (62184, 6)
------------------
2021-07-24 15:49:24.578397 (63786, 6)
------------------
2021-07-24 15:49:33.770924 (51463, 6)
------------------
2021-07-24 15:49:44.831806 (63634, 6)
------------------
2021-07-24 15:49:54.921117 (56799, 6)
------------------
2021-07-24 15:50:06.144134 (66863, 6)
------------------
2021-07-24 15:50:14.039575 (39111, 6)
------------------
2021-07-24 15:50:23.803748 (51745, 6)
------------------
2021-07-24 15:50:33.690549 (57143, 6)
------------------
2021-07-24 15:50:42.269594 (54161, 6)
------------------
2021-07-24 15:50:54.392271 (72812, 6)
------------------
2021-07-24 15:51:05.437290 (64076, 6)
------------------
2021-07-24 15:51:15.911126 (60788, 6)
------------------
2021-07-24 15:51:26.288325 (58304, 6)
------------------
2021-07-24 15:51:35.004657 (46290, 6)
------------------
2021-07-24 15:51:44.055697 (49429, 6)
------------------
2021-07-24 15:51:56.442122 (70499, 6)
------------------
2021-07-24 15:52:06.000258 (57441, 6)
------------------
2021-07-24 15:52:15.114241 (49236, 6)
------------------
2021-07-24 15:52:23.888485 (53368, 6)
------------------
2021-07-24 15:52:33.186643 (53483, 6)
------------------
2021-07-24 15:52:46.303588 (77742, 6)
------------------
2021-07-24 15:52:57.686601 (63226, 6)
------------------
2021-07-24 15:53:09.286421 (63836, 6)
------------------
2021-07-24 15:53:22.134133 (77884, 6)
------------------
2021-07-24 15:53:32.371898 (59371, 6)
------------------
2021-07-24 15:53:43.434216 (59939, 6)
------------------
2021-07-24 15:53:54.770178 (61822, 6)
------------------
2021-07-24 15:54:04.170520 (55485, 6)
------------------
2021-07-24 15:54:14.486147 (58194, 6)
------------------
2021-07-24 15:54:25.929361 (63437, 6)
------------------
2021-07-24 15:54:36.197854 (58762, 6)
------------------
2021-07-24 15:54:45.417363 (53992, 6)
------------------
2021-07-24 15:54:55.336630 (55700, 6)
------------------
2021-07-24 15:55:04.333156 (50239, 6)
------------------
2021-07-24 15:55:15.431811 (66851, 6)
------------------
2021-07-24 15:55:26.966838 (67030, 6)
------------------
2021-07-24 15:55:37.624691 (60877, 6)
------------------
2021-07-24 15:55:44.997663 (41617, 6)
------------------
2021-07-24 15:55:58.961466 (79895, 6)
------------------
2021-07-24 15:56:11.377877 (75887, 6)
------------------
2021-07-24 15:56:21.237757 (55541, 6)
------------------
2021-07-24 15:56:31.634319 (61237, 6)
------------------
2021-07-24 15:56:43.105370 (67087, 6)
------------------
2021-07-24 15:56:53.668645 (63487, 6)
------------------
2021-07-24 15:57:02.017434 (46424, 6)
------------------
2021-07-24 15:57:17.942388 (102490, 6)
------------------
2021-07-24 15:57:29.874761 (65187, 6)
------------------
2021-07-24 15:57:37.429719 (42603, 6)
------------------
2021-07-24 15:57:53.205249 (102879, 6)
------------------
2021-07-24 15:58:03.017015 (59016, 6)
------------------
2021-07-24 15:58:12.341740 (50562, 6)
------------------
2021-07-24 15:58:23.005325 (59314, 6)
------------------
2021-07-24 15:58:32.858718 (52226, 6)
------------------
2021-07-24 15:58:43.583340 (60238, 6)
------------------
2021-07-24 15:58:52.639667 (50391, 6)
------------------
2021-07-24 15:59:00.421652 (44015, 6)
------------------
2021-07-24 15:59:12.021294 (65337, 6)
------------------
2021-07-24 15:59:22.280273 (58444, 6)
------------------
2021-07-24 15:59:32.045876 (54821, 6)
------------------
2021-07-24 15:59:43.653914 (69936, 6)
------------------
2021-07-24 15:59:54.691772 (68208, 6)
------------------
2021-07-24 16:00:05.268495 (63939, 6)
------------------
2021-07-24 16:00:14.222123 (51835, 6)
------------------
2021-07-24 16:00:25.956139 (67385, 6)
------------------
2021-07-24 16:00:36.890433 (60448, 6)
------------------
2021-07-24 16:00:47.141615 (59721, 6)
------------------
2021-07-24 16:00:53.948490 (39702, 6)
------------------
2021-07-24 16:01:03.697564 (55492, 6)
------------------
2021-07-24 16:01:14.967012 (64471, 6)
------------------
2021-07-24 16:01:26.352916 (65090, 6)
------------------
2021-07-24 16:01:36.055837 (53780, 6)
------------------
2021-07-24 16:01:43.117800 (44218, 6)
------------------
2021-07-24 16:01:54.488988 (66630, 6)
------------------
2021-07-24 16:02:01.515448 (40333, 6)
------------------
2021-07-24 16:02:10.464247 (51105, 6)
------------------
2021-07-24 16:02:22.786352 (70470, 6)
------------------
2021-07-24 16:02:36.211746 (80897, 6)
------------------
2021-07-24 16:02:48.183762 (71580, 6)
------------------
2021-07-24 16:02:58.661391 (60745, 6)
------------------
2021-07-24 16:03:10.125248 (65405, 6)
------------------
2021-07-24 16:03:20.681773 (60934, 6)
------------------
2021-07-24 16:03:31.038764 (59038, 6)
------------------
2021-07-24 16:03:41.188858 (57129, 6)
------------------
2021-07-24 16:03:48.039222 (44019, 6)
------------------
2021-07-24 16:03:56.812558 (50681, 6)
------------------
2021-07-24 16:04:07.766922 (60359, 6)
------------------
2021-07-24 16:04:17.993479 (61358, 6)
------------------
2021-07-24 16:04:28.838775 (65527, 6)
------------------
2021-07-24 16:04:39.348675 (64070, 6)
------------------
2021-07-24 16:04:51.866246 (74245, 6)
------------------
2021-07-24 16:05:02.473271 (59392, 6)
------------------
2021-07-24 16:05:12.632476 (57102, 6)
------------------
2021-07-24 16:05:23.870284 (66390, 6)
------------------
2021-07-24 16:05:33.613385 (54973, 6)
------------------
2021-07-24 16:05:45.934994 (69420, 6)
------------------
2021-07-24 16:05:55.224762 (54786, 6)
------------------
2021-07-24 16:06:07.267417 (72990, 6)
------------------
2021-07-24 16:06:18.746012 (64426, 6)
------------------
2021-07-24 16:06:28.099020 (51050, 6)
------------------
2021-07-24 16:06:38.310963 (57525, 6)
------------------
2021-07-24 16:06:50.122285 (70125, 6)
------------------
2021-07-24 16:07:00.067198 (60947, 6)
------------------
2021-07-24 16:07:13.561736 (84625, 6)
------------------
2021-07-24 16:07:22.364090 (55628, 6)
------------------
2021-07-24 16:07:32.046836 (58049, 6)
------------------
2021-07-24 16:07:42.206435 (64061, 6)
------------------
2021-07-24 16:07:52.223311 (58098, 6)
------------------
2021-07-24 16:08:02.448707 (61147, 6)
------------------
2021-07-24 16:08:09.125256 (39687, 6)
------------------
2021-07-24 16:08:17.713286 (50740, 6)
------------------
2021-07-24 16:08:31.115162 (83456, 6)
------------------
2021-07-24 16:08:40.934547 (59016, 6)
------------------
2021-07-24 16:08:50.905703 (61197, 6)
------------------
2021-07-24 16:09:01.754740 (64028, 6)
------------------
2021-07-24 16:09:15.219329 (80517, 6)
------------------
2021-07-24 16:09:23.778518 (48600, 6)
------------------
2021-07-24 16:09:39.786424 (98272, 6)
------------------
2021-07-24 16:09:50.066402 (58472, 6)
------------------
2021-07-24 16:10:02.811569 (74022, 6)
------------------
2021-07-24 16:10:11.974556 (52029, 6)
------------------
2021-07-24 16:10:14.017774 (17571, 6)
------------------
2021-07-24 16:10:30.428367 (64900, 6)
------------------
2021-07-24 16:10:43.563594 (67256, 6)
------------------
2021-07-24 16:10:54.483085 (55812, 6)
------------------
2021-07-24 16:11:06.839948 (49256, 6)
------------------
2021-07-24 16:11:20.454756 (78314, 6)
------------------
2021-07-24 16:11:30.935274 (56933, 6)
------------------
2021-07-24 16:11:43.112439 (59794, 6)
------------------
2021-07-24 16:11:54.665600 (62455, 6)
------------------
2021-07-24 16:12:07.293877 (73875, 6)
------------------
2021-07-24 16:12:20.476940 (78132, 6)
------------------
2021-07-24 16:12:31.508933 (62124, 6)
------------------
2021-07-24 16:12:48.481315 (97826, 6)
------------------
2021-07-24 16:12:58.657708 (54143, 6)
------------------
2021-07-24 16:13:08.387567 (47647, 6)
------------------
2021-07-24 16:13:20.887012 (64432, 6)
------------------
2021-07-24 16:13:31.575578 (55903, 6)
------------------
2021-07-24 16:13:45.177409 (77156, 6)
------------------
2021-07-24 16:13:54.608605 (45851, 6)
------------------
2021-07-24 16:14:07.074530 (67988, 6)
------------------
2021-07-24 16:14:18.806433 (66051, 6)
------------------
2021-07-24 16:14:29.711222 (57095, 6)
------------------
2021-07-24 16:14:40.402692 (51409, 6)
------------------
2021-07-24 16:14:50.835601 (50256, 6)
------------------
2021-07-24 16:14:59.688508 (44064, 6)
------------------
2021-07-24 16:15:11.577844 (64918, 6)
------------------
2021-07-24 16:15:22.798543 (60207, 6)
------------------
2021-07-24 16:15:33.853486 (63833, 6)
------------------
2021-07-24 16:15:43.368667 (47225, 6)
------------------
2021-07-24 16:15:55.660903 (68640, 6)
------------------
2021-07-24 16:16:05.213205 (45765, 6)
------------------
2021-07-24 16:16:25.434209 (142808, 6)
------------------
2021-07-24 16:16:37.327891 (62969, 6)
------------------
2021-07-24 16:16:49.434940 (61741, 6)
------------------
2021-07-24 16:17:02.398306 (67413, 6)
------------------
2021-07-24 16:17:15.146160 (71913, 6)
------------------
2021-07-24 16:17:28.775103 (76743, 6)
------------------
2021-07-24 16:17:38.961422 (50467, 6)
------------------
2021-07-24 16:17:49.503826 (56780, 6)
------------------
2021-07-24 16:18:00.745370 (64488, 6)
------------------
2021-07-24 16:18:10.641590 (50552, 6)
------------------
2021-07-24 16:18:20.861933 (54005, 6)
------------------
2021-07-24 16:18:31.350866 (54848, 6)
------------------
2021-07-24 16:18:41.981320 (54162, 6)
------------------
2021-07-24 16:18:54.667078 (70489, 6)
------------------
2021-07-24 16:19:06.324816 (64470, 6)
------------------
2021-07-24 16:19:15.799811 (49068, 6)
------------------
2021-07-24 16:19:32.007722 (97716, 6)
------------------
2021-07-24 16:19:43.494915 (63624, 6)
------------------
2021-07-24 16:19:54.707175 (61550, 6)
------------------
2021-07-24 16:20:05.136323 (57085, 6)
------------------
2021-07-24 16:20:15.694072 (59301, 6)
------------------
2021-07-24 16:20:27.768309 (73984, 6)
------------------
2021-07-24 16:20:40.715151 (76719, 6)
------------------
2021-07-24 16:20:52.496692 (66479, 6)
------------------
2021-07-24 16:21:02.990876 (55756, 6)
------------------
2021-07-24 16:21:14.667848 (62821, 6)
------------------
2021-07-24 16:21:28.733100 (83477, 6)
------------------
2021-07-24 16:21:41.227517 (73342, 6)
------------------
2021-07-24 16:21:53.428812 (70157, 6)
------------------
2021-07-24 16:22:04.981650 (66143, 6)
------------------
2021-07-24 16:22:14.577927 (50052, 6)
------------------
2021-07-24 16:22:25.267186 (60054, 6)
------------------
2021-07-24 16:22:37.358144 (63866, 6)
------------------
2021-07-24 16:22:47.861546 (58380, 6)
------------------
2021-07-24 16:23:00.296753 (72592, 6)
------------------
2021-07-24 16:23:10.983210 (62948, 6)
------------------
2021-07-24 16:23:20.467928 (52772, 6)
------------------
2021-07-24 16:23:28.975924 (47883, 6)
------------------
2021-07-24 16:23:39.635289 (58227, 6)
------------------
2021-07-24 16:23:50.468128 (63293, 6)
------------------
2021-07-24 16:23:57.328347 (35691, 6)
------------------
2021-07-24 16:24:07.946570 (62291, 6)
------------------
2021-07-24 16:24:16.643188 (48537, 6)
------------------
2021-07-24 16:24:28.162406 (66642, 6)
------------------
2021-07-24 16:24:36.401303 (46844, 6)
------------------
2021-07-24 16:24:45.498571 (51883, 6)
------------------
2021-07-24 16:24:55.605750 (59598, 6)
------------------
2021-07-24 16:25:06.867698 (68703, 6)
------------------
2021-07-24 16:25:14.316318 (43907, 6)
------------------
2021-07-24 16:25:24.975902 (63410, 6)
------------------
2021-07-24 16:25:37.599841 (75447, 6)
------------------
2021-07-24 16:25:47.537992 (52360, 6)
------------------
2021-07-24 16:25:58.787514 (69159, 6)
------------------
2021-07-24 16:26:10.267483 (63799, 6)
------------------
2021-07-24 16:26:21.112286 (65345, 6)
------------------
2021-07-24 16:26:31.366928 (61129, 6)
------------------
2021-07-24 16:26:40.945509 (57846, 6)
------------------
2021-07-24 16:26:54.343962 (83934, 6)
------------------
2021-07-24 16:27:04.078038 (49900, 6)
------------------
2021-07-24 16:27:11.454775 (40200, 6)
------------------
2021-07-24 16:27:27.227445 (108786, 6)
------------------
2021-07-24 16:27:38.703304 (69515, 6)
------------------
2021-07-24 16:27:50.476262 (70622, 6)
------------------
2021-07-24 16:27:59.774558 (51776, 6)
------------------
2021-07-24 16:28:09.206541 (55854, 6)
------------------
2021-07-24 16:28:19.428147 (56615, 6)
------------------
2021-07-24 16:28:29.576432 (60654, 6)
------------------
2021-07-24 16:28:41.607620 (74885, 6)
------------------
2021-07-24 16:28:55.534141 (87553, 6)
------------------
2021-07-24 16:29:07.684827 (68617, 6)
------------------
2021-07-24 16:29:17.744034 (52980, 6)
------------------
2021-07-24 16:29:29.359589 (66006, 6)
------------------
2021-07-24 16:29:42.231027 (78587, 6)
------------------
2021-07-24 16:29:52.752387 (60782, 6)
------------------
2021-07-24 16:30:00.461704 (41670, 6)
------------------
2021-07-24 16:30:09.784178 (54182, 6)
------------------
2021-07-24 16:30:21.117754 (64960, 6)
------------------
2021-07-24 16:30:32.958369 (68922, 6)
------------------
2021-07-24 16:30:43.773665 (63098, 6)
------------------
2021-07-24 16:30:53.588541 (48708, 6)
------------------
2021-07-24 16:31:02.870460 (53287, 6)
------------------
2021-07-24 16:31:11.179931 (46814, 6)
------------------
2021-07-24 16:31:21.299186 (56168, 6)
------------------
2021-07-24 16:31:30.306602 (50891, 6)
------------------
2021-07-24 16:31:38.274990 (36790, 6)
------------------
2021-07-24 16:31:47.008861 (52976, 6)
------------------
2021-07-24 16:31:56.332117 (55192, 6)
------------------
2021-07-24 16:32:05.839489 (55621, 6)
------------------
2021-07-24 16:32:16.807232 (65920, 6)
------------------
2021-07-24 16:32:30.744223 (87018, 6)
------------------
2021-07-24 16:32:43.620229 (79259, 6)
------------------
2021-07-24 16:32:53.151904 (56282, 6)
------------------
2021-07-24 16:33:02.100596 (52650, 6)
------------------
2021-07-24 16:33:18.696175 (110002, 6)
------------------
2021-07-24 16:33:28.138705 (55850, 6)
------------------
2021-07-24 16:33:38.203601 (58763, 6)
------------------
2021-07-24 16:33:47.615215 (53188, 6)
------------------
2021-07-24 16:33:58.821557 (67152, 6)
------------------
2021-07-24 16:34:11.613575 (80572, 6)
------------------
2021-07-24 16:34:23.220009 (68736, 6)
------------------
2021-07-24 16:34:34.703577 (66795, 6)
------------------
2021-07-24 16:34:44.573293 (60521, 6)
------------------
2021-07-24 16:34:54.247990 (57228, 6)
------------------
2021-07-24 16:35:03.807785 (56886, 6)
------------------
2021-07-24 16:35:13.196553 (58415, 6)
------------------
2021-07-24 16:35:22.742076 (54094, 6)
------------------
2021-07-24 16:35:33.419297 (64947, 6)
------------------
2021-07-24 16:35:43.743528 (60860, 6)
------------------
2021-07-24 16:35:54.697058 (62877, 6)
------------------
2021-07-24 16:36:06.558925 (71532, 6)
------------------
2021-07-24 16:36:16.638852 (58798, 6)
------------------
2021-07-24 16:36:25.485208 (47216, 6)
------------------
2021-07-24 16:36:34.540022 (49075, 6)
------------------
2021-07-24 16:36:43.611561 (52380, 6)
------------------
2021-07-24 16:36:48.928103 (37455, 6)

In [66]:
#(DATA_DIR + "
cui_all_5.to_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis5.csv", index=True)
cui_all_6.to_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis6.csv", index=True)

In [67]:
#a7,a8
cui_all_7 = all_df_chunk(row_id_list7)
cui_all_8 = all_df_chunk(row_id_list8)

------------------
2021-07-24 16:38:08.416259 (76318, 6)
------------------
2021-07-24 16:38:18.720244 (49502, 6)
------------------
2021-07-24 16:38:30.826022 (66067, 6)
------------------
2021-07-24 16:38:46.115146 (82631, 6)
------------------
2021-07-24 16:38:59.263848 (66640, 6)
------------------
2021-07-24 16:39:13.336000 (70918, 6)
------------------
2021-07-24 16:39:25.425733 (65674, 6)
------------------
2021-07-24 16:39:40.424646 (79633, 6)
------------------
2021-07-24 16:39:55.209637 (82117, 6)
------------------
2021-07-24 16:40:06.767960 (62772, 6)
------------------
2021-07-24 16:40:20.308876 (78930, 6)
------------------
2021-07-24 16:40:30.193901 (43608, 6)
------------------
2021-07-24 16:40:41.978439 (63234, 6)
------------------
2021-07-24 16:40:58.815781 (101067, 6)
------------------
2021-07-24 16:41:12.607724 (82063, 6)
------------------
2021-07-24 16:41:24.835495 (70438, 6)
------------------
2021-07-24 16:41:39.074103 (78295, 6)
------------------
2021-07-24 16:41:47.637480 (48461, 6)
------------------
2021-07-24 16:41:58.765739 (63306, 6)
------------------
2021-07-24 16:42:07.731215 (45432, 6)
------------------
2021-07-24 16:42:19.495619 (67795, 6)
------------------
2021-07-24 16:42:30.755574 (63614, 6)
------------------
2021-07-24 16:42:45.592694 (79323, 6)
------------------
2021-07-24 16:43:00.258896 (90865, 6)
------------------
2021-07-24 16:43:11.530830 (67268, 6)
------------------
2021-07-24 16:43:20.490303 (50197, 6)
------------------
2021-07-24 16:43:36.731851 (103926, 6)
------------------
2021-07-24 16:43:51.142686 (87653, 6)
------------------
2021-07-24 16:44:04.262790 (77844, 6)
------------------
2021-07-24 16:44:20.706276 (103201, 6)
------------------
2021-07-24 16:44:33.663536 (69997, 6)
------------------
2021-07-24 16:44:47.365218 (77171, 6)
------------------
2021-07-24 16:44:58.792789 (60257, 6)
------------------
2021-07-24 16:45:11.834575 (78929, 6)
------------------
2021-07-24 16:45:28.346917 (79980, 6)
------------------
2021-07-24 16:45:41.267987 (71667, 6)
------------------
2021-07-24 16:45:53.424069 (53482, 6)
------------------
2021-07-24 16:46:08.792805 (95790, 6)
------------------
2021-07-24 16:46:23.872505 (91010, 6)
------------------
2021-07-24 16:46:33.622309 (53413, 6)
------------------
2021-07-24 16:46:47.034666 (85606, 6)
------------------
2021-07-24 16:46:57.973401 (60693, 6)
------------------
2021-07-24 16:47:11.383429 (86600, 6)
------------------
2021-07-24 16:47:23.974294 (74179, 6)
------------------
2021-07-24 16:47:38.587310 (85287, 6)
------------------
2021-07-24 16:47:50.497335 (61771, 6)
------------------
2021-07-24 16:48:03.055780 (75688, 6)
------------------
2021-07-24 16:48:20.244070 (112167, 6)
------------------
2021-07-24 16:48:37.894298 (107625, 6)
------------------
2021-07-24 16:48:49.990255 (69021, 6)
------------------
2021-07-24 16:49:00.906520 (55520, 6)
------------------
2021-07-24 16:49:15.816349 (83854, 6)
------------------
2021-07-24 16:49:28.867262 (85762, 6)
------------------
2021-07-24 16:49:43.667412 (88439, 6)
------------------
2021-07-24 16:50:00.326739 (108234, 6)
------------------
2021-07-24 16:50:18.658659 (117132, 6)
------------------
2021-07-24 16:50:27.601590 (43264, 6)
------------------
2021-07-24 16:50:37.821164 (52273, 6)
------------------
2021-07-24 16:50:50.973121 (78266, 6)
------------------
2021-07-24 16:51:05.391208 (85204, 6)
------------------
2021-07-24 16:51:16.309233 (62869, 6)
------------------
2021-07-24 16:51:29.112527 (77024, 6)
------------------
2021-07-24 16:51:41.209314 (71131, 6)
------------------
2021-07-24 16:51:54.269656 (75277, 6)
------------------
2021-07-24 16:52:06.345737 (70274, 6)
------------------
2021-07-24 16:52:19.568107 (77773, 6)
------------------
2021-07-24 16:52:35.354769 (97505, 6)
------------------
2021-07-24 16:52:50.855250 (103903, 6)
------------------
2021-07-24 16:53:08.278308 (112707, 6)
------------------
2021-07-24 16:53:19.638397 (66720, 6)
------------------
2021-07-24 16:53:27.285310 (33519, 6)
------------------
2021-07-24 16:53:38.463420 (67554, 6)
------------------
2021-07-24 16:53:56.130265 (122847, 6)
------------------
2021-07-24 16:54:10.912477 (87527, 6)
------------------
2021-07-24 16:54:20.224418 (51465, 6)
------------------
2021-07-24 16:54:35.008242 (82801, 6)
------------------
2021-07-24 16:54:47.356814 (69143, 6)
------------------
2021-07-24 16:55:00.884212 (77744, 6)
------------------
2021-07-24 16:55:15.983565 (91421, 6)
------------------
2021-07-24 16:55:26.184620 (55111, 6)
------------------
2021-07-24 16:55:40.398135 (85922, 6)
------------------
2021-07-24 16:55:52.439711 (71786, 6)
------------------
2021-07-24 16:56:08.000724 (97915, 6)
------------------
2021-07-24 16:56:17.558623 (52346, 6)
------------------
2021-07-24 16:56:28.707778 (52493, 6)
------------------
2021-07-24 16:56:40.435003 (61031, 6)
------------------
2021-07-24 16:56:54.485095 (86152, 6)
------------------
2021-07-24 16:57:07.832299 (72964, 6)
------------------
2021-07-24 16:57:21.488593 (82667, 6)
------------------
2021-07-24 16:57:34.290985 (73080, 6)
------------------
2021-07-24 16:57:43.134857 (48201, 6)
------------------
2021-07-24 16:57:55.952414 (79713, 6)
------------------
2021-07-24 16:58:04.016152 (45157, 6)
------------------
2021-07-24 16:58:15.714982 (63214, 6)
------------------
2021-07-24 16:58:27.891296 (74668, 6)
------------------
2021-07-24 16:58:42.202237 (98037, 6)
------------------
2021-07-24 16:58:55.447128 (81339, 6)
------------------
2021-07-24 16:59:10.968644 (97085, 6)
------------------
2021-07-24 16:59:25.662828 (88852, 6)
------------------
2021-07-24 16:59:37.902169 (77849, 6)
------------------
2021-07-24 16:59:51.179097 (81890, 6)
------------------
2021-07-24 17:00:03.180581 (74415, 6)
------------------
2021-07-24 17:00:13.722562 (57495, 6)
------------------
2021-07-24 17:00:27.969164 (94162, 6)
------------------
2021-07-24 17:00:40.508717 (79888, 6)
------------------
2021-07-24 17:00:51.956138 (68132, 6)
------------------
2021-07-24 17:01:03.727465 (71102, 6)
------------------
2021-07-24 17:01:16.385441 (74690, 6)
------------------
2021-07-24 17:01:28.624999 (70639, 6)
------------------
2021-07-24 17:01:44.903141 (101812, 6)
------------------
2021-07-24 17:02:00.509562 (99522, 6)
------------------
2021-07-24 17:02:12.188805 (56616, 6)
------------------
2021-07-24 17:02:24.785615 (78665, 6)
------------------
2021-07-24 17:02:39.954054 (96871, 6)
------------------
2021-07-24 17:02:55.058389 (92620, 6)
------------------
2021-07-24 17:03:06.312317 (70248, 6)
------------------
2021-07-24 17:03:15.146206 (50087, 6)
------------------
2021-07-24 17:03:28.390135 (89139, 6)
------------------
2021-07-24 17:03:40.618588 (74481, 6)
------------------
2021-07-24 17:03:51.584142 (66969, 6)
------------------
2021-07-24 17:04:00.443433 (48080, 6)
------------------
2021-07-24 17:04:08.894760 (50035, 6)
------------------
2021-07-24 17:04:28.956333 (152204, 6)
------------------
2021-07-24 17:04:51.471796 (97692, 6)
------------------
2021-07-24 17:05:10.226680 (118916, 6)
------------------
2021-07-24 17:05:24.134396 (90759, 6)
------------------
2021-07-24 17:05:38.405663 (76847, 6)
------------------
2021-07-24 17:05:49.431325 (63381, 6)
------------------
2021-07-24 17:06:00.776725 (64849, 6)
------------------
2021-07-24 17:06:14.825454 (91578, 6)
------------------
2021-07-24 17:06:25.210588 (58236, 6)
------------------
2021-07-24 17:06:40.597674 (111348, 6)
------------------
2021-07-24 17:06:57.926889 (124414, 6)
------------------
2021-07-24 17:07:08.121787 (58057, 6)
------------------
2021-07-24 17:07:17.453532 (43499, 6)
------------------
2021-07-24 17:07:28.405541 (61171, 6)
------------------
2021-07-24 17:07:42.100751 (87837, 6)
------------------
2021-07-24 17:07:54.525862 (76141, 6)
------------------
2021-07-24 17:08:07.665358 (78318, 6)
------------------
2021-07-24 17:08:20.344451 (86843, 6)
------------------
2021-07-24 17:08:32.571796 (72128, 6)
------------------
2021-07-24 17:08:45.114477 (76936, 6)
------------------
2021-07-24 17:09:00.409718 (109768, 6)
------------------
2021-07-24 17:09:17.242385 (107583, 6)
------------------
2021-07-24 17:09:27.046153 (57408, 6)
------------------
2021-07-24 17:09:39.600635 (80302, 6)
------------------
2021-07-24 17:09:54.586398 (86267, 6)
------------------
2021-07-24 17:10:10.737572 (106819, 6)
------------------
2021-07-24 17:10:24.391131 (84650, 6)
------------------
2021-07-24 17:10:35.784359 (65165, 6)
------------------
2021-07-24 17:10:49.433896 (83065, 6)
------------------
2021-07-24 17:11:02.265612 (83274, 6)
------------------
2021-07-24 17:11:13.142423 (68428, 6)
------------------
2021-07-24 17:11:25.712947 (79457, 6)
------------------
2021-07-24 17:11:38.525606 (76234, 6)
------------------
2021-07-24 17:11:52.879259 (93538, 6)
------------------
2021-07-24 17:12:02.982812 (56464, 6)
------------------
2021-07-24 17:12:10.895190 (45068, 6)
------------------
2021-07-24 17:12:20.718175 (53851, 6)
------------------
2021-07-24 17:12:32.401688 (70075, 6)
------------------
2021-07-24 17:12:44.753857 (76714, 6)
------------------
2021-07-24 17:12:54.085129 (60931, 6)
------------------
2021-07-24 17:13:18.980862 (93265, 6)
------------------
2021-07-24 17:13:39.062450 (113511, 6)
------------------
2021-07-24 17:13:55.513364 (93479, 6)
------------------
2021-07-24 17:14:11.213870 (83620, 6)
------------------
2021-07-24 17:14:29.499418 (101872, 6)
------------------
2021-07-24 17:14:44.914880 (77288, 6)
------------------
2021-07-24 17:15:03.401084 (105280, 6)
------------------
2021-07-24 17:15:23.080904 (112747, 6)
------------------
2021-07-24 17:15:39.927927 (90305, 6)
------------------
2021-07-24 17:15:56.921712 (92049, 6)
------------------
2021-07-24 17:16:09.228596 (65507, 6)
------------------
2021-07-24 17:16:25.450674 (91834, 6)
------------------
2021-07-24 17:16:42.708292 (97096, 6)
------------------
2021-07-24 17:16:57.163151 (84513, 6)
------------------
2021-07-24 17:17:17.225938 (117458, 6)
------------------
2021-07-24 17:17:30.644035 (73596, 6)
------------------
2021-07-24 17:17:47.986456 (106530, 6)
------------------
2021-07-24 17:18:08.145330 (153175, 6)
------------------
2021-07-24 17:18:27.478242 (113060, 6)
------------------
2021-07-24 17:18:43.662598 (93623, 6)
------------------
2021-07-24 17:19:00.169104 (102380, 6)
------------------
2021-07-24 17:19:16.999534 (102879, 6)
------------------
2021-07-24 17:19:32.029778 (90808, 6)
------------------
2021-07-24 17:19:50.414539 (107024, 6)
------------------
2021-07-24 17:20:09.144423 (116440, 6)
------------------
2021-07-24 17:20:26.752025 (108675, 6)
------------------
2021-07-24 17:20:41.588666 (80464, 6)
------------------
2021-07-24 17:20:56.112873 (84375, 6)
------------------
2021-07-24 17:21:14.877833 (123508, 6)
------------------
2021-07-24 17:21:32.172763 (111319, 6)
------------------
2021-07-24 17:21:47.377977 (88774, 6)
------------------
2021-07-24 17:21:58.238247 (55382, 6)
------------------
2021-07-24 17:22:14.061446 (78095, 6)
------------------
2021-07-24 17:22:25.461495 (66113, 6)
------------------
2021-07-24 17:22:43.162374 (102447, 6)
------------------
2021-07-24 17:22:55.012720 (60982, 6)
------------------
2021-07-24 17:23:13.332648 (116952, 6)
------------------
2021-07-24 17:23:27.165233 (79556, 6)
------------------
2021-07-24 17:23:37.876723 (55333, 6)
------------------
2021-07-24 17:23:52.842014 (87343, 6)
------------------
2021-07-24 17:24:07.251364 (80376, 6)
------------------
2021-07-24 17:24:23.066367 (93788, 6)
------------------
2021-07-24 17:24:38.950711 (105265, 6)
------------------
2021-07-24 17:24:54.463590 (92818, 6)
------------------
2021-07-24 17:25:12.287570 (119314, 6)
------------------
2021-07-24 17:25:29.001202 (96869, 6)
------------------
2021-07-24 17:25:45.498899 (97235, 6)
------------------
2021-07-24 17:26:01.033465 (90814, 6)
------------------
2021-07-24 17:26:11.782293 (52784, 6)
------------------
2021-07-24 17:26:29.129719 (104302, 6)
------------------
2021-07-24 17:26:45.117298 (92694, 6)
------------------
2021-07-24 17:26:57.890474 (69635, 6)
------------------
2021-07-24 17:27:14.160368 (93569, 6)
------------------
2021-07-24 17:27:30.879785 (106422, 6)
------------------
2021-07-24 17:27:45.637475 (88995, 6)
------------------
2021-07-24 17:27:59.627646 (85517, 6)
------------------
2021-07-24 17:28:17.388643 (115752, 6)
------------------
2021-07-24 17:28:35.235290 (103519, 6)
------------------
2021-07-24 17:28:48.976376 (78735, 6)
------------------
2021-07-24 17:29:06.275058 (113909, 6)
------------------
2021-07-24 17:29:21.697321 (89925, 6)
------------------
2021-07-24 17:29:38.286816 (99147, 6)
------------------
2021-07-24 17:29:56.919520 (119437, 6)
------------------
2021-07-24 17:30:15.914233 (131684, 6)
------------------
2021-07-24 17:30:33.401170 (109814, 6)
------------------
2021-07-24 17:30:49.416813 (97098, 6)
------------------
2021-07-24 17:31:03.671346 (76959, 6)
------------------
2021-07-24 17:31:17.482311 (85627, 6)
------------------
2021-07-24 17:31:33.014096 (101627, 6)
------------------
2021-07-24 17:31:48.769029 (101063, 6)
------------------
2021-07-24 17:32:05.390552 (103774, 6)
------------------
2021-07-24 17:32:24.369009 (127417, 6)
------------------
2021-07-24 17:32:38.188817 (83866, 6)
------------------
2021-07-24 17:32:53.703177 (87992, 6)
------------------
2021-07-24 17:33:07.194067 (78509, 6)
------------------
2021-07-24 17:33:26.216199 (130321, 6)
------------------
2021-07-24 17:33:46.727417 (137380, 6)
------------------
2021-07-24 17:33:59.065632 (65668, 6)
------------------
2021-07-24 17:34:13.607990 (82221, 6)
------------------
2021-07-24 17:34:28.697645 (85768, 6)
------------------
2021-07-24 17:34:47.274130 (118455, 6)
------------------
2021-07-24 17:35:01.802532 (88027, 6)
------------------
2021-07-24 17:35:16.798381 (92763, 6)
------------------
2021-07-24 17:35:31.327080 (92210, 6)
------------------
2021-07-24 17:35:48.176235 (97979, 6)
------------------
2021-07-24 17:35:58.047518 (52489, 6)
------------------
2021-07-24 17:36:13.422503 (88360, 6)
------------------
2021-07-24 17:36:29.669808 (102514, 6)
------------------
2021-07-24 17:36:46.015194 (94321, 6)
------------------
2021-07-24 17:37:03.077330 (99610, 6)
------------------
2021-07-24 17:37:16.784470 (73084, 6)
------------------
2021-07-24 17:37:32.811731 (92564, 6)
------------------
2021-07-24 17:37:49.723885 (97613, 6)
------------------
2021-07-24 17:38:06.820102 (106988, 6)
------------------
2021-07-24 17:38:23.374137 (99848, 6)
------------------
2021-07-24 17:38:45.685176 (148509, 6)
------------------
2021-07-24 17:38:58.428359 (67327, 6)
------------------
2021-07-24 17:39:17.114795 (113615, 6)
------------------
2021-07-24 17:39:33.380276 (97634, 6)
------------------
2021-07-24 17:39:46.839176 (72904, 6)
------------------
2021-07-24 17:40:02.525812 (96737, 6)
------------------
2021-07-24 17:40:17.832141 (85747, 6)
------------------
2021-07-24 17:40:31.478187 (80533, 6)
------------------
2021-07-24 17:40:45.616745 (84781, 6)
------------------
2021-07-24 17:41:03.948438 (135554, 6)
------------------
2021-07-24 17:41:18.725037 (94702, 6)
------------------
2021-07-24 17:41:32.485778 (80800, 6)
------------------
2021-07-24 17:41:49.172420 (106230, 6)
------------------
2021-07-24 17:42:04.107449 (88374, 6)
------------------
2021-07-24 17:42:21.614954 (116752, 6)
------------------
2021-07-24 17:42:38.050382 (100612, 6)
------------------
2021-07-24 17:42:54.674304 (103885, 6)
------------------
2021-07-24 17:43:10.157609 (94187, 6)
------------------
2021-07-24 17:43:26.257475 (100191, 6)
------------------
2021-07-24 17:43:42.193945 (97581, 6)
------------------
2021-07-24 17:43:59.237383 (112868, 6)
------------------
2021-07-24 17:44:16.705423 (99450, 6)
------------------
2021-07-24 17:44:27.660796 (64943, 6)

In [68]:
#(DATA_DIR + "
cui_all_7.to_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis7.csv", index=True)
cui_all_8.to_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis8.csv", index=True)

In [69]:
#a9,a10
cui_all_9 = all_df_chunk(row_id_list9)
cui_all_10 = all_df_chunk(row_id_list10)

------------------
2021-07-24 17:46:10.117292 (123285, 6)
------------------
2021-07-24 17:46:29.383385 (114350, 6)
------------------
2021-07-24 17:46:49.463195 (125087, 6)
------------------
2021-07-24 17:47:09.977090 (128732, 6)
------------------
2021-07-24 17:47:30.451128 (133635, 6)
------------------
2021-07-24 17:47:50.571917 (127253, 6)
------------------
2021-07-24 17:48:13.285364 (164064, 6)
------------------
2021-07-24 17:48:32.174538 (114513, 6)
------------------
2021-07-24 17:48:51.276737 (107682, 6)
------------------
2021-07-24 17:49:12.763841 (139318, 6)
------------------
2021-07-24 17:49:31.972053 (121252, 6)
------------------
2021-07-24 17:49:52.298999 (132034, 6)
------------------
2021-07-24 17:50:11.925900 (124989, 6)
------------------
2021-07-24 17:50:30.369994 (115331, 6)
------------------
2021-07-24 17:50:50.203818 (119661, 6)
------------------
2021-07-24 17:51:09.657748 (117310, 6)
------------------
2021-07-24 17:51:27.304324 (108462, 6)
------------------
2021-07-24 17:51:46.954904 (131064, 6)
------------------
2021-07-24 17:52:05.314515 (131098, 6)
------------------
2021-07-24 17:52:24.038562 (118467, 6)
------------------
2021-07-24 17:52:43.158725 (131700, 6)
------------------
2021-07-24 17:53:02.280423 (134543, 6)
------------------
2021-07-24 17:53:22.888353 (137940, 6)
------------------
2021-07-24 17:53:43.857289 (145580, 6)
------------------
2021-07-24 17:54:02.689808 (128311, 6)
------------------
2021-07-24 17:54:20.206986 (115983, 6)
------------------
2021-07-24 17:54:41.105791 (135557, 6)
------------------
2021-07-24 17:55:00.632544 (132742, 6)
------------------
2021-07-24 17:55:19.115988 (128925, 6)
------------------
2021-07-24 17:55:37.626864 (123122, 6)
------------------
2021-07-24 17:55:57.997637 (125898, 6)
------------------
2021-07-24 17:56:16.154128 (117539, 6)
------------------
2021-07-24 17:56:34.409794 (121736, 6)
------------------
2021-07-24 17:56:52.335804 (109520, 6)
------------------
2021-07-24 17:57:12.665665 (143382, 6)
------------------
2021-07-24 17:57:30.629008 (125537, 6)
------------------
2021-07-24 17:57:48.149580 (121795, 6)
------------------
2021-07-24 17:58:07.152559 (132804, 6)
------------------
2021-07-24 17:58:26.617622 (129192, 6)
------------------
2021-07-24 17:58:45.612092 (118998, 6)
------------------
2021-07-24 17:59:05.935574 (129557, 6)
------------------
2021-07-24 17:59:25.068252 (119316, 6)
------------------
2021-07-24 17:59:43.244902 (106909, 6)
------------------
2021-07-24 18:00:02.198821 (115842, 6)
------------------
2021-07-24 18:00:23.780176 (135198, 6)
------------------
2021-07-24 18:00:44.052344 (129465, 6)
------------------
2021-07-24 18:01:02.272807 (112206, 6)
------------------
2021-07-24 18:01:21.258003 (123683, 6)
------------------
2021-07-24 18:01:41.370589 (123579, 6)
------------------
2021-07-24 18:02:01.250689 (133338, 6)
------------------
2021-07-24 18:02:20.550513 (131770, 6)
------------------
2021-07-24 18:02:41.068536 (148533, 6)
------------------
2021-07-24 18:02:59.684769 (130095, 6)
------------------
2021-07-24 18:03:20.678310 (143854, 6)
------------------
2021-07-24 18:03:39.682135 (123933, 6)
------------------
2021-07-24 18:03:59.281315 (125440, 6)
------------------
2021-07-24 18:04:20.244136 (136120, 6)
------------------
2021-07-24 18:04:39.251072 (128617, 6)
------------------
2021-07-24 18:04:57.249047 (115314, 6)
------------------
2021-07-24 18:05:17.282731 (134790, 6)
------------------
2021-07-24 18:05:35.202211 (112966, 6)
------------------
2021-07-24 18:05:54.728007 (125241, 6)
------------------
2021-07-24 18:06:14.561884 (134952, 6)
------------------
2021-07-24 18:06:33.218467 (114254, 6)
------------------
2021-07-24 18:06:53.099848 (130656, 6)
------------------
2021-07-24 18:07:11.611163 (113190, 6)
------------------
2021-07-24 18:07:30.026202 (121721, 6)
------------------
2021-07-24 18:07:48.554158 (115482, 6)
------------------
2021-07-24 18:08:07.310716 (124560, 6)
------------------
2021-07-24 18:08:26.611293 (124078, 6)
------------------
2021-07-24 18:08:45.891695 (130087, 6)
------------------
2021-07-24 18:09:05.330713 (131938, 6)
------------------
2021-07-24 18:09:23.099115 (121636, 6)
------------------
2021-07-24 18:09:42.005744 (116180, 6)
------------------
2021-07-24 18:10:00.619442 (120439, 6)
------------------
2021-07-24 18:10:12.716707 (88874, 6)
------------------
2021-07-24 18:10:38.727974 (150541, 6)
------------------
2021-07-24 18:10:57.181094 (120318, 6)
------------------
2021-07-24 18:11:18.061896 (147596, 6)
------------------
2021-07-24 18:11:37.223800 (135197, 6)
------------------
2021-07-24 18:11:57.852328 (149121, 6)
------------------
2021-07-24 18:12:17.142796 (122731, 6)
------------------
2021-07-24 18:12:38.824155 (144613, 6)
------------------
2021-07-24 18:12:56.922185 (122919, 6)
------------------
2021-07-24 18:13:16.353087 (132531, 6)
------------------
2021-07-24 18:13:36.510056 (147685, 6)
------------------
2021-07-24 18:13:55.436364 (127857, 6)
------------------
2021-07-24 18:14:14.677612 (121665, 6)
------------------
2021-07-24 18:14:34.853382 (146398, 6)
------------------
2021-07-24 18:14:52.432127 (112765, 6)
------------------
2021-07-24 18:15:11.505313 (125914, 6)
------------------
2021-07-24 18:15:30.793873 (129650, 6)
------------------
2021-07-24 18:15:51.153769 (139733, 6)
------------------
2021-07-24 18:16:08.639821 (116622, 6)
------------------
2021-07-24 18:16:27.221835 (127693, 6)
------------------
2021-07-24 18:16:46.664474 (132682, 6)
------------------
2021-07-24 18:17:03.516474 (109822, 6)
------------------
2021-07-24 18:17:21.971937 (119797, 6)
------------------
2021-07-24 18:17:42.447489 (125972, 6)
------------------
2021-07-24 18:18:03.119631 (138197, 6)
------------------
2021-07-24 18:18:22.636540 (127985, 6)
------------------
2021-07-24 18:18:41.129582 (125605, 6)
------------------
2021-07-24 18:18:59.552429 (125241, 6)
------------------
2021-07-24 18:19:17.956050 (127345, 6)
------------------
2021-07-24 18:19:37.317106 (133289, 6)
------------------
2021-07-24 18:19:57.101472 (134119, 6)
------------------
2021-07-24 18:20:15.705060 (124334, 6)
------------------
2021-07-24 18:20:33.143532 (114935, 6)
------------------
2021-07-24 18:20:53.438552 (133734, 6)
------------------
2021-07-24 18:21:12.657841 (128665, 6)
------------------
2021-07-24 18:21:31.020918 (123892, 6)
------------------
2021-07-24 18:21:49.176300 (123555, 6)
------------------
2021-07-24 18:22:07.539617 (131620, 6)
------------------
2021-07-24 18:22:26.851564 (137579, 6)
------------------
2021-07-24 18:22:47.134979 (138322, 6)
------------------
2021-07-24 18:23:05.669653 (128958, 6)
------------------
2021-07-24 18:23:24.700055 (129229, 6)
------------------
2021-07-24 18:23:46.225085 (172037, 6)
------------------
2021-07-24 18:24:04.486999 (115652, 6)
------------------
2021-07-24 18:24:24.477558 (130737, 6)
------------------
2021-07-24 18:24:42.905626 (121971, 6)
------------------
2021-07-24 18:25:01.153439 (122294, 6)
------------------
2021-07-24 18:25:19.166249 (132565, 6)
------------------
2021-07-24 18:25:37.683618 (123990, 6)
------------------
2021-07-24 18:25:56.560816 (126025, 6)
------------------
2021-07-24 18:26:14.367797 (109882, 6)
------------------
2021-07-24 18:26:33.848281 (144489, 6)
------------------
2021-07-24 18:26:51.438183 (119539, 6)
------------------
2021-07-24 18:27:10.257591 (132721, 6)
------------------
2021-07-24 18:27:29.833524 (132324, 6)
------------------
2021-07-24 18:27:48.192717 (131788, 6)
------------------
2021-07-24 18:28:07.783773 (131496, 6)
------------------
2021-07-24 18:28:27.559447 (138739, 6)
------------------
2021-07-24 18:28:46.085724 (132956, 6)
------------------
2021-07-24 18:29:05.316501 (124098, 6)
------------------
2021-07-24 18:29:22.838523 (115032, 6)
------------------
2021-07-24 18:29:42.104097 (132455, 6)
------------------
2021-07-24 18:30:00.984288 (123113, 6)
------------------
2021-07-24 18:30:18.043255 (114409, 6)
------------------
2021-07-24 18:30:35.370207 (121462, 6)
------------------
2021-07-24 18:30:53.621285 (117293, 6)
------------------
2021-07-24 18:31:13.444675 (127272, 6)
------------------
2021-07-24 18:31:31.014576 (119571, 6)
------------------
2021-07-24 18:31:47.197503 (88943, 6)
------------------
2021-07-24 18:32:06.030318 (131209, 6)
------------------
2021-07-24 18:32:25.683864 (134209, 6)
------------------
2021-07-24 18:32:44.124927 (122052, 6)
------------------
2021-07-24 18:33:03.730428 (134559, 6)
------------------
2021-07-24 18:33:21.681028 (122115, 6)
------------------
2021-07-24 18:33:39.249651 (113405, 6)
------------------
2021-07-24 18:33:56.972543 (117586, 6)
------------------
2021-07-24 18:34:14.340464 (124402, 6)
------------------
2021-07-24 18:34:32.110364 (137528, 6)
------------------
2021-07-24 18:34:50.873675 (129445, 6)
------------------
2021-07-24 18:35:08.929206 (125248, 6)
------------------
2021-07-24 18:35:27.317204 (131267, 6)
------------------
2021-07-24 18:35:45.778301 (127122, 6)
------------------
2021-07-24 18:36:02.866950 (123719, 6)
------------------
2021-07-24 18:36:21.439977 (131417, 6)
------------------
2021-07-24 18:36:39.932871 (117732, 6)
------------------
2021-07-24 18:36:57.028527 (115363, 6)
------------------
2021-07-24 18:36:59.953877 (29844, 6)

In [70]:
#(DATA_DIR + "
cui_all_9.to_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis9.csv", index=True)
cui_all_10.to_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis10.csv", index=True)

In [71]:
#a11,a12
cui_all_11 = all_df_chunk(row_id_list11)
cui_all_12 = all_df_chunk(row_id_list12)
cui_all_13 = all_df_chunk(row_id_list13)

------------------
2021-07-24 18:38:31.826974 (130080, 6)
------------------
2021-07-24 18:38:50.383810 (119896, 6)
------------------
2021-07-24 18:39:11.326131 (141477, 6)
------------------
2021-07-24 18:39:29.318216 (120118, 6)
------------------
2021-07-24 18:39:48.255738 (120347, 6)
------------------
2021-07-24 18:40:07.330865 (128642, 6)
------------------
2021-07-24 18:40:27.469076 (151563, 6)
------------------
2021-07-24 18:40:44.541071 (112976, 6)
------------------
2021-07-24 18:41:02.084247 (120226, 6)
------------------
2021-07-24 18:41:19.603851 (128241, 6)
------------------
2021-07-24 18:41:37.808150 (114981, 6)
------------------
2021-07-24 18:41:55.752948 (110136, 6)
------------------
2021-07-24 18:42:14.149310 (116873, 6)
------------------
2021-07-24 18:42:34.973130 (149212, 6)
------------------
2021-07-24 18:42:53.972292 (128592, 6)
------------------
2021-07-24 18:43:14.102762 (143916, 6)
------------------
2021-07-24 18:43:33.030020 (134666, 6)
------------------
2021-07-24 18:43:49.902775 (135030, 6)
------------------
2021-07-24 18:44:08.575780 (125296, 6)
------------------
2021-07-24 18:44:27.005387 (128699, 6)
------------------
2021-07-24 18:44:46.199876 (144257, 6)
------------------
2021-07-24 18:45:05.135557 (129047, 6)
------------------
2021-07-24 18:45:24.927339 (142716, 6)
------------------
2021-07-24 18:45:43.567714 (136207, 6)
------------------
2021-07-24 18:46:02.011342 (119836, 6)
------------------
2021-07-24 18:46:19.999233 (121431, 6)
------------------
2021-07-24 18:46:41.694883 (160867, 6)
------------------
2021-07-24 18:47:00.057516 (112569, 6)
------------------
2021-07-24 18:47:18.808793 (119517, 6)
------------------
2021-07-24 18:47:40.481759 (160065, 6)
------------------
2021-07-24 18:48:00.409085 (133820, 6)
------------------
2021-07-24 18:48:19.953799 (134172, 6)
------------------
2021-07-24 18:48:39.092450 (127395, 6)
------------------
2021-07-24 18:48:57.301963 (129048, 6)
------------------
2021-07-24 18:49:15.711954 (123961, 6)
------------------
2021-07-24 18:49:32.849393 (117870, 6)
------------------
2021-07-24 18:49:51.330480 (124931, 6)
------------------
2021-07-24 18:50:10.844993 (126491, 6)
------------------
2021-07-24 18:50:29.332794 (131900, 6)
------------------
2021-07-24 18:50:47.438468 (131572, 6)
------------------
2021-07-24 18:51:05.512781 (123846, 6)
------------------
2021-07-24 18:51:26.103304 (140248, 6)
------------------
2021-07-24 18:51:46.287521 (144398, 6)
------------------
2021-07-24 18:52:05.306959 (127388, 6)
------------------
2021-07-24 18:52:25.411628 (130222, 6)
------------------
2021-07-24 18:52:44.047233 (137544, 6)
------------------
2021-07-24 18:53:01.656604 (113106, 6)
------------------
2021-07-24 18:53:20.745428 (118513, 6)
------------------
2021-07-24 18:53:40.009782 (120522, 6)
------------------
2021-07-24 18:53:58.337988 (117389, 6)
------------------
2021-07-24 18:54:19.304854 (151198, 6)
------------------
2021-07-24 18:54:39.657358 (132976, 6)
------------------
2021-07-24 18:54:58.819834 (127455, 6)
------------------
2021-07-24 18:55:18.364546 (128722, 6)
------------------
2021-07-24 18:55:41.020481 (157710, 6)
------------------
2021-07-24 18:55:59.647443 (130533, 6)
------------------
2021-07-24 18:56:18.524343 (125516, 6)
------------------
2021-07-24 18:56:36.306331 (122159, 6)
------------------
2021-07-24 18:56:54.872975 (125200, 6)
------------------
2021-07-24 18:57:12.895252 (128801, 6)
------------------
2021-07-24 18:57:32.090812 (126049, 6)
------------------
2021-07-24 18:57:52.386633 (141222, 6)
------------------
2021-07-24 18:58:09.823883 (107961, 6)
------------------
2021-07-24 18:58:26.737705 (110846, 6)
------------------
2021-07-24 18:58:47.253539 (136637, 6)
------------------
2021-07-24 18:59:07.542417 (134026, 6)
------------------
2021-07-24 18:59:25.441888 (114993, 6)
------------------
2021-07-24 18:59:44.000488 (114718, 6)
------------------
2021-07-24 19:00:01.227435 (106143, 6)
------------------
2021-07-24 19:00:19.468438 (119091, 6)
------------------
2021-07-24 19:00:39.253507 (129117, 6)
------------------
2021-07-24 19:00:59.075846 (141281, 6)
------------------
2021-07-24 19:01:16.503627 (119893, 6)
------------------
2021-07-24 19:01:35.479241 (141027, 6)
------------------
2021-07-24 19:01:53.890370 (125046, 6)
------------------
2021-07-24 19:02:17.552363 (167677, 6)
------------------
2021-07-24 19:02:26.039323 (74642, 6)
------------------
2021-07-24 19:02:50.236323 (128834, 6)
------------------
2021-07-24 19:03:10.328181 (137254, 6)
------------------
2021-07-24 19:03:29.455244 (125597, 6)
------------------
2021-07-24 19:03:50.114089 (142424, 6)
------------------
2021-07-24 19:04:09.246130 (124483, 6)
------------------
2021-07-24 19:04:27.792507 (116641, 6)
------------------
2021-07-24 19:04:47.499865 (129864, 6)
------------------
2021-07-24 19:05:05.372080 (118578, 6)
------------------
2021-07-24 19:05:24.990088 (131022, 6)
------------------
2021-07-24 19:05:44.866456 (132043, 6)
------------------
2021-07-24 19:06:03.347176 (129817, 6)
------------------
2021-07-24 19:06:22.199305 (140457, 6)
------------------
2021-07-24 19:06:41.500430 (134312, 6)
------------------
2021-07-24 19:07:00.326950 (117617, 6)
------------------
2021-07-24 19:07:20.765051 (140005, 6)
------------------
2021-07-24 19:07:41.692755 (139470, 6)
------------------
2021-07-24 19:07:59.569286 (120050, 6)
------------------
2021-07-24 19:08:17.132347 (133643, 6)
------------------
2021-07-24 19:08:35.571460 (123025, 6)
------------------
2021-07-24 19:08:54.896075 (129029, 6)
------------------
2021-07-24 19:09:13.111623 (127122, 6)
------------------
2021-07-24 19:09:32.753153 (135727, 6)
------------------
2021-07-24 19:09:51.796147 (119648, 6)
------------------
2021-07-24 19:10:10.009663 (120257, 6)
------------------
2021-07-24 19:10:27.555805 (113720, 6)
------------------
2021-07-24 19:10:47.532007 (128133, 6)
------------------
2021-07-24 19:11:06.228613 (147239, 6)
------------------
2021-07-24 19:11:26.538460 (140809, 6)
------------------
2021-07-24 19:11:45.615921 (135398, 6)
------------------
2021-07-24 19:12:02.358730 (125378, 6)
------------------
2021-07-24 19:12:22.266752 (131656, 6)
------------------
2021-07-24 19:12:40.340106 (118616, 6)
------------------
2021-07-24 19:12:58.367098 (153832, 6)
------------------
2021-07-24 19:13:17.372645 (126785, 6)
------------------
2021-07-24 19:13:37.305338 (133808, 6)
------------------
2021-07-24 19:13:55.736410 (124445, 6)
------------------
2021-07-24 19:14:14.030750 (128684, 6)
------------------
2021-07-24 19:14:33.401115 (152693, 6)
------------------
2021-07-24 19:14:48.920897 (115348, 6)
------------------
2021-07-24 19:15:07.529301 (131311, 6)
------------------
2021-07-24 19:15:25.953620 (125647, 6)
------------------
2021-07-24 19:15:44.668665 (128273, 6)
------------------
2021-07-24 19:16:03.137832 (122343, 6)
------------------
2021-07-24 19:16:21.736893 (127240, 6)
------------------
2021-07-24 19:16:39.779152 (125649, 6)
------------------
2021-07-24 19:16:58.352985 (137416, 6)
------------------
2021-07-24 19:17:17.951826 (126977, 6)
------------------
2021-07-24 19:17:35.840020 (117494, 6)
------------------
2021-07-24 19:17:54.344409 (116592, 6)
------------------
2021-07-24 19:18:12.353629 (113367, 6)
------------------
2021-07-24 19:18:30.520075 (126030, 6)
------------------
2021-07-24 19:18:47.407023 (128119, 6)
------------------
2021-07-24 19:19:08.053146 (139333, 6)
------------------
2021-07-24 19:19:26.047753 (119064, 6)
------------------
2021-07-24 19:19:43.551406 (120421, 6)
------------------
2021-07-24 19:20:02.305243 (124889, 6)
------------------
2021-07-24 19:20:22.822994 (132012, 6)
------------------
2021-07-24 19:20:41.401316 (118403, 6)
------------------
2021-07-24 19:21:00.639313 (120673, 6)
------------------
2021-07-24 19:21:20.350218 (131005, 6)
------------------
2021-07-24 19:21:38.555669 (113545, 6)
------------------
2021-07-24 19:21:58.630585 (131251, 6)
------------------
2021-07-24 19:22:20.679381 (163023, 6)
------------------
2021-07-24 19:22:37.758038 (106737, 6)
------------------
2021-07-24 19:23:00.207502 (142619, 6)
------------------
2021-07-24 19:23:20.295129 (134539, 6)
------------------
2021-07-24 19:23:41.100923 (136031, 6)
------------------
2021-07-24 19:23:59.452313 (142472, 6)
------------------
2021-07-24 19:24:18.401034 (121322, 6)
------------------
2021-07-24 19:24:36.305057 (114097, 6)
------------------
2021-07-24 19:24:54.114814 (116280, 6)
------------------
2021-07-24 19:25:12.171653 (117886, 6)
------------------
2021-07-24 19:25:30.292327 (127572, 6)
------------------
2021-07-24 19:25:48.178375 (118831, 6)
------------------
2021-07-24 19:26:06.281488 (120019, 6)
------------------
2021-07-24 19:26:27.068207 (132770, 6)
------------------
2021-07-24 19:26:41.144994 (96956, 6)
------------------
2021-07-24 19:27:03.583943 (119881, 6)
------------------
2021-07-24 19:27:21.331711 (112255, 6)
------------------
2021-07-24 19:27:41.041964 (129733, 6)
------------------
2021-07-24 19:28:00.790493 (130924, 6)
------------------
2021-07-24 19:28:17.929119 (112267, 6)
------------------
2021-07-24 19:28:35.822729 (118562, 6)
------------------
2021-07-24 19:28:54.475112 (116937, 6)
------------------
2021-07-24 19:29:14.105494 (122672, 6)
------------------
2021-07-24 19:29:33.750261 (138029, 6)
------------------
2021-07-24 19:29:51.898286 (114319, 6)
------------------
2021-07-24 19:30:11.343666 (125379, 6)
------------------
2021-07-24 19:30:32.663702 (136478, 6)
------------------
2021-07-24 19:30:53.953067 (144765, 6)
------------------
2021-07-24 19:31:13.483630 (125690, 6)
------------------
2021-07-24 19:31:34.296210 (137037, 6)
------------------
2021-07-24 19:31:54.167175 (134844, 6)
------------------
2021-07-24 19:32:13.934424 (129320, 6)
------------------
2021-07-24 19:32:34.748519 (144418, 6)
------------------
2021-07-24 19:32:55.443665 (141870, 6)
------------------
2021-07-24 19:33:13.871817 (118241, 6)
------------------
2021-07-24 19:33:31.377399 (112526, 6)
------------------
2021-07-24 19:33:50.835655 (126791, 6)
------------------
2021-07-24 19:34:09.112557 (117311, 6)
------------------
2021-07-24 19:34:28.696242 (122941, 6)
------------------
2021-07-24 19:34:46.567496 (112928, 6)
------------------
2021-07-24 19:35:04.870362 (119682, 6)
------------------
2021-07-24 19:35:24.875651 (154430, 6)
------------------
2021-07-24 19:35:46.333441 (157302, 6)
------------------
2021-07-24 19:36:06.530870 (134404, 6)
------------------
2021-07-24 19:36:24.796539 (120239, 6)
------------------
2021-07-24 19:36:42.444746 (120534, 6)
------------------
2021-07-24 19:37:00.973641 (136463, 6)
------------------
2021-07-24 19:37:19.061533 (123013, 6)
------------------
2021-07-24 19:37:37.376062 (128837, 6)
------------------
2021-07-24 19:37:55.568312 (119810, 6)
------------------
2021-07-24 19:38:15.889929 (134010, 6)
------------------
2021-07-24 19:38:35.097401 (132720, 6)
------------------
2021-07-24 19:38:54.697106 (134791, 6)
------------------
2021-07-24 19:39:11.606474 (112914, 6)
------------------
2021-07-24 19:39:30.559775 (136674, 6)
------------------
2021-07-24 19:39:50.347249 (129763, 6)
------------------
2021-07-24 19:40:09.247910 (123118, 6)
------------------
2021-07-24 19:40:27.742829 (121785, 6)
------------------
2021-07-24 19:40:46.718982 (119433, 6)
------------------
2021-07-24 19:41:04.453866 (115083, 6)
------------------
2021-07-24 19:41:23.389179 (131355, 6)
------------------
2021-07-24 19:41:41.275872 (127197, 6)
------------------
2021-07-24 19:42:00.716666 (132262, 6)
------------------
2021-07-24 19:42:21.024934 (133925, 6)
------------------
2021-07-24 19:42:39.624560 (119905, 6)
------------------
2021-07-24 19:42:58.813667 (128914, 6)
------------------
2021-07-24 19:43:19.614656 (134411, 6)
------------------
2021-07-24 19:43:37.882892 (119224, 6)
------------------
2021-07-24 19:43:56.588243 (126863, 6)
------------------
2021-07-24 19:44:15.663595 (116923, 6)
------------------
2021-07-24 19:44:35.375839 (120349, 6)
------------------
2021-07-24 19:44:53.667586 (114113, 6)
------------------
2021-07-24 19:45:10.926453 (108255, 6)
------------------
2021-07-24 19:45:31.203811 (136309, 6)
------------------
2021-07-24 19:45:51.349834 (130406, 6)
------------------
2021-07-24 19:46:10.046832 (123118, 6)
------------------
2021-07-24 19:46:29.092754 (134851, 6)
------------------
2021-07-24 19:46:48.107193 (142464, 6)
------------------
2021-07-24 19:47:07.204051 (133301, 6)
------------------
2021-07-24 19:47:27.043629 (134152, 6)
------------------
2021-07-24 19:47:45.323861 (119239, 6)
------------------
2021-07-24 19:48:02.571917 (115317, 6)
------------------
2021-07-24 19:48:20.334254 (113310, 6)
------------------
2021-07-24 19:48:38.401820 (117032, 6)
------------------
2021-07-24 19:48:56.157543 (121054, 6)
------------------
2021-07-24 19:49:14.552725 (120994, 6)
------------------
2021-07-24 19:49:34.581001 (136087, 6)
------------------
2021-07-24 19:49:53.959016 (127449, 6)
------------------
2021-07-24 19:50:11.724248 (111474, 6)
------------------
2021-07-24 19:50:30.750465 (122877, 6)
------------------
2021-07-24 19:50:49.143128 (117888, 6)
------------------
2021-07-24 19:51:07.283988 (123659, 6)
------------------
2021-07-24 19:51:25.262462 (117065, 6)
------------------
2021-07-24 19:51:45.759790 (124260, 6)
------------------
2021-07-24 19:52:08.056398 (146973, 6)
------------------
2021-07-24 19:52:25.713722 (115258, 6)
------------------
2021-07-24 19:52:45.636714 (134476, 6)
------------------
2021-07-24 19:53:04.526608 (122940, 6)
------------------
2021-07-24 19:53:23.943316 (134197, 6)
------------------
2021-07-24 19:53:42.816758 (137458, 6)
------------------
2021-07-24 19:54:02.560680 (144397, 6)
------------------
2021-07-24 19:54:21.139049 (117327, 6)
------------------
2021-07-24 19:54:41.089088 (126272, 6)
------------------
2021-07-24 19:55:00.511063 (137020, 6)
------------------
2021-07-24 19:55:18.377203 (112938, 6)
------------------
2021-07-24 19:55:36.679977 (127933, 6)
------------------
2021-07-24 19:55:56.459001 (134108, 6)
------------------
2021-07-24 19:56:14.491062 (114138, 6)
------------------
2021-07-24 19:56:33.659096 (123568, 6)
------------------
2021-07-24 19:56:51.846400 (122720, 6)
------------------
2021-07-24 19:57:11.099160 (120399, 6)
------------------
2021-07-24 19:57:30.848543 (124997, 6)
------------------
2021-07-24 19:57:50.069354 (130747, 6)
------------------
2021-07-24 19:58:07.619013 (113402, 6)
------------------
2021-07-24 19:58:26.035494 (120841, 6)
------------------
2021-07-24 19:58:45.714999 (123976, 6)
------------------
2021-07-24 19:59:05.584944 (130328, 6)
------------------
2021-07-24 19:59:25.642378 (126868, 6)
------------------
2021-07-24 19:59:44.628130 (121611, 6)
------------------
2021-07-24 20:00:04.041041 (125134, 6)
------------------
2021-07-24 20:00:23.428119 (128164, 6)
------------------
2021-07-24 20:00:40.764684 (117273, 6)
------------------
2021-07-24 20:01:00.139113 (128008, 6)
------------------
2021-07-24 20:01:18.995324 (122323, 6)
------------------
2021-07-24 20:01:36.972253 (111957, 6)
------------------
2021-07-24 20:01:45.449729 (60233, 6)

In [72]:
#(DATA_DIR + "
cui_all_11.to_csv(DATA_DIR + "I_14.F.ED_patient_all_cuis11.csv", index=True)
cui_all_12.to_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis12.csv", index=True)
cui_all_13.to_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis13.csv", index=True)

In [ ]:
# Import all: 
#/home/ubuntu/Scarlett/Output_F

In [122]:
#(DATA_DIR + "
import pandas as pd

cui_all_1 = pd.read_csv(DATA_DIR + "II_14.1.ED_patient_all_cuis1.csv")
cui_all_2 = pd.read_csv(DATA_DIR + "II_14.1.ED_patient_all_cuis2.csv")
# print(len(row_id_list1) , len(row_id_list2), cui_all_1['row_id'].nunique(),cui_all_2['row_id'].nunique())
cui_all_3 = pd.read_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis3.csv")
cui_all_4 = pd.read_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis4.csv")
# print(len(row_id_list3) , len(row_id_list4), cui_all_3['row_id'].nunique(),cui_all_4['row_id'].nunique())
cui_all_5 = pd.read_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis5.csv")
cui_all_6 = pd.read_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis6.csv")
# print(len(row_id_list5) , len(row_id_list6), cui_all_5['row_id'].nunique(),cui_all_6['row_id'].nunique())
cui_all_7 = pd.read_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis7.csv")
# print(len(row_id_list7), cui_all_7['row_id'].nunique())
cui_all_8 = pd.read_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis8.csv")
# print(len(row_id_list8), cui_all_8['row_id'].nunique())
cui_all_9 = pd.read_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis9.csv")
# print(len(row_id_list9), cui_all_9['row_id'].nunique())
cui_all_10 = pd.read_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis10.csv")
# print(len(row_id_list10), cui_all_10['row_id'].nunique())
cui_all_11 = pd.read_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis11.csv")
# print(len(row_id_list11), cui_all_11['row_id'].nunique())
cui_all_12 =  pd.read_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis12.csv")
# print(len(row_id_list12), cui_all_12['row_id'].nunique())
cui_all_13 =  pd.read_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis13.csv")
# print(len(row_id_list13), cui_all_13['row_id'].nunique())

/home/ubuntu/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
frames = [cui_all_1,cui_all_2, cui_all_3, cui_all_4, cui_all_5, cui_all_6, cui_all_7, cui_all_8, cui_all_9, cui_all_10, cui_all_11, cui_all_12, cui_all_13]
cui_all = pd.concat(frames)

In [ ]:
cui_all['cui'].nunique()

In [ ]:
cui_all['row_id']=cui_all['row_id'].replace(np.inf, 0)
cui_all['row_id']=cui_all['row_id'].replace(np.nan, 0)
cui_all['row_id']=cui_all['row_id'].astype(int)

In [ ]:
#cui_all
cui_all.head()

In [ ]:
# pretty_name,cui,tui,type,row_id,source_value for unstructured ED patients_all_cuis

In [ ]:
#cui_all.to_csv('/home/ubuntu/Scarlett/Output_F/II_14.F.ED_patient_all_cuis.csv', index=True)
cui_all.to_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis.csv", index=True)

#### II.8. merge cuis with noteevents

In [123]:
# import : cuis, cui_all
import pandas as pd
#ED cuis
ED_patients_cuis_rowidsF1 = pd.read_csv(DATA_DIR + "II_13.ED_patients_cuis_rowidsF_1st.csv")
#cui_all
cui_all = pd.read_csv(DATA_DIR + "II_14.F.ED_patient_all_cuis.csv")

/home/ubuntu/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [124]:
#import : docs and p_docs
import pandas as pd
# ED unstructured patients ED cuis and rowids by Medcat annotation (final)
docs= pd.read_csv(DATA_DIR + "II_13.2ED_patients_docsF.csv")

# ED unstructured patients all cuis and rowids by Medcat annotation (final)
p_docs= pd.read_csv(DATA_DIR + "II_13.2ED_patients_p_docsF.csv")

In [27]:
docs=docs.drop(['text'], axis=1)
docs.head()

,Unnamed: 0,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror
0,0,1,23224,174680,2147-12-05,NaN,NaN,Discharge summary,Report,NaN,NaN
1,1,3,19051,184534,2172-04-23,NaN,NaN,Discharge summary,Report,NaN,NaN
2,2,6,78149,133857,2175-03-24,NaN,NaN,Discharge summary,Report,NaN,NaN
3,3,7,22615,138547,2199-02-12,NaN,NaN,Discharge summary,Report,NaN,NaN
4,4,10,18961,199586,2196-08-23,NaN,NaN,Discharge summary,Report,NaN,NaN

In [47]:
p_docs=p_docs.drop(['text'], axis=1)
p_docs.head()

,Unnamed: 0,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror
0,0,19215,54610,100003,2150-04-21 00:00:00,NaN,NaN,Discharge summary,Report,NaN,NaN
1,1,76338,54610,100003,2150-04-18 00:00:00,NaN,NaN,Echo,Report,NaN,NaN
2,2,193462,54610,100003,2150-04-17 00:00:00,NaN,NaN,ECG,Report,NaN,NaN
3,3,567670,54610,100003,2150-04-18 00:00:00,2150-04-18 11:53:00,2150-04-18 16:25:04,Nursing,Nursing Transfer Note,17693.0,NaN
4,4,567731,54610,100003,2150-04-19 00:00:00,2150-04-19 02:35:00,2150-04-19 03:12:16,Nursing,Nursing Progress Note,16797.0,NaN

##### ED CUIS

In [28]:
# ED cuis
#docs.head()
cuis = ED_patients_cuis_rowidsF1

In [125]:
# Final cuis
len(cuis)

748488

In [126]:
len(docs)

257584

In [31]:
len(p_docs)

1466475

In [32]:
#docs
# select only iserror^=1 : 
docs2 = docs.loc[~(docs['iserror']== 1), ]
len(docs2)

257373

In [48]:
#p_docs
# select only iserror^=1 : 
p_docs2 = p_docs.loc[~(p_docs['iserror']== 1), ]
len(p_docs2)

1465670

In [34]:
# ED unstructured patients : ED row_ids + ED cuis (cuis)
docs3 = docs2[['row_id','subject_id','hadm_id','chartdate','category','description',]]
ED_uns_p_ED_cuis = pd.merge(docs3,cuis[['cui','row_id']], on="row_id")

In [35]:
docs3.head()

   row_id  subject_id  hadm_id   chartdate           category description
0       1       23224   174680  2147-12-05  Discharge summary      Report
1       3       19051   184534  2172-04-23  Discharge summary      Report
2       6       78149   133857  2175-03-24  Discharge summary      Report
3       7       22615   138547  2199-02-12  Discharge summary      Report
4      10       18961   199586  2196-08-23  Discharge summary      Report

In [36]:
len(docs3)

257373

In [37]:
len(ED_uns_p_ED_cuis)

747722

In [38]:
ED_uns_p_ED_cuis.head()

,row_id,subject_id,hadm_id,chartdate,category,description,cui
0,1,23224,174680,2147-12-05,Discharge summary,Report,C0085584
1,1,23224,174680,2147-12-05,Discharge summary,Report,C0039070
2,3,19051,184534,2172-04-23,Discharge summary,Report,C0237284
3,3,19051,184534,2172-04-23,Discharge summary,Report,C0085584
4,3,19051,184534,2172-04-23,Discharge summary,Report,C0085584

In [ ]:
# ED cuis in the ED cohort (by row_id, hadm_id)
ED_uns_p_ED_cuis.to_csv(DATA_DIR + "III_15.ED_patient_EDcuisFinal.csv", index=True)

##### All CUIS

In [39]:
cui_all.head()

,Unnamed: 0,Unnamed: 0.1,pretty_name,cui,tui,type,source_value,row_id
0,0,0,Date of admission,C1302393,T079,Temporal Concept,Admission Date,25410
1,1,1,Discharge date,C2361123,T079,Temporal Concept,Discharge Date,25410
2,2,2,Patient date of birth,C0421451,T033,Finding,Date of Birth,25410
3,3,3,neonatal medicine (field),C0027621,T091,Biomedical Occupation or Discipline,Neonatology,25410
4,4,4,History,C0019664,T090,Occupation or Discipline,HISTORY,25410

In [45]:
p_docs2.head()

,Unnamed: 0,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror
0,0,19215,54610,100003,2150-04-21 00:00:00,NaN,NaN,Discharge summary,Report,NaN,NaN
1,1,76338,54610,100003,2150-04-18 00:00:00,NaN,NaN,Echo,Report,NaN,NaN
2,2,193462,54610,100003,2150-04-17 00:00:00,NaN,NaN,ECG,Report,NaN,NaN
3,3,567670,54610,100003,2150-04-18 00:00:00,2150-04-18 11:53:00,2150-04-18 16:25:04,Nursing,Nursing Transfer Note,17693.0,NaN
4,4,567731,54610,100003,2150-04-19 00:00:00,2150-04-19 02:35:00,2150-04-19 03:12:16,Nursing,Nursing Progress Note,16797.0,NaN

In [49]:
p_docs3 = p_docs2[['row_id','subject_id','hadm_id','chartdate','category','description',]]
p_docs3.head()

,row_id,subject_id,hadm_id,chartdate,category,description
0,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report
1,76338,54610,100003,2150-04-18 00:00:00,Echo,Report
2,193462,54610,100003,2150-04-17 00:00:00,ECG,Report
3,567670,54610,100003,2150-04-18 00:00:00,Nursing,Nursing Transfer Note
4,567731,54610,100003,2150-04-19 00:00:00,Nursing,Nursing Progress Note

In [ ]:
# ED unstructured patients : all row_ids + all cuis
ED_uns_p_all_cuis = pd.merge(p_docs3 ,cui_all[['pretty_name','cui','tui','type','source_value','row_id' ]], on="row_id")

In [ ]:
len(p_docs3)

In [ ]:
# Check if it is ED cuis or not

In [ ]:
ED_unstr_cui_list = ED_uns_p_ED_cuis['cui'].unique().tolist()
ED_uns_p_all_cuis['ED_cui'] = ED_uns_p_all_cuis['cui'].isin (ED_unstr_cui_list)

In [ ]:
ED_uns_p_all_cuis.head()

In [ ]:
#(DATA_DIR + "
ED_uns_p_all_cuis.to_csv(DATA_DIR + "III_16.ED_patient_p_all_cuisFinal.csv", index=True)

##### Check

In [ ]:
import pandas as pd
#ED_uns_p_ED_cuis
ED_uns_p_ED_cuis = pd.read_csv(DATA_DIR + "III_15.ED_patient_EDcuisFinal.csv")

In [ ]:
# import : ED_uns_p_all_cuis
import pandas as pd
ED_uns_p_all_cuis= pd.read_csv(DATA_DIR + "III_16.ED_patient_p_all_cuisFinal.csv")

In [ ]:
len(ED_uns_p_all_cuis['cui'].unique().tolist())

In [ ]:
ED_uns_p_all_cuis.head()

In [ ]:
# 1. all cuis 
# count cui by ED Vs. non-ED

c_cnt=ED_uns_p_all_cuis[['ED_cui','type','cui','pretty_name','subject_id','hadm_id','row_id']].groupby(['ED_cui','type','cui','pretty_name'], as_index=False).agg({"subject_id":"nunique","hadm_id":"nunique","row_id":"count"})
c_cnt=pd.DataFrame(c_cnt).reset_index()
c_cnt.head()

In [ ]:
# 2. only for ED cuis 
ED_uns_p_ED_cui=ED_uns_p_all_cuis.loc[(ED_uns_p_all_cuis.ED_cui == True) ,]

In [ ]:
len(ED_uns_p_ED_cui)

In [ ]:
ED_unstr_hadm_id_list = ED_uns_p_ED_cui['hadm_id'].unique().tolist()

In [ ]:
len(ED_unstr_hadm_id_list)

In [ ]:
len(ED_uns_p_ED_cui['cui'].unique().tolist())