## Research : Encephalopathies and Delirium  in CKG
### Pub_2.ED Group_patients

#### II. Unstructured data cohort for Encephalopathy and Delirium from MIMIC III noteevents data
    II.9. Patients admission data all cuis having unstructured information (ED cuis)
    II.10. ED Patients Cohort admissions,Diagnosis, Patients 
    II.11. Patients Group Check
    
#### III. Cuis Vs Icd_notes distributions by ED Patient Group
#### III. Patient matrix by Semantic type
    III.1. Patients matrix with ED cuis_description
#### IV. Patient matrix by Semantic type
    IV.1. Patients matrix with ED cuis_description
#### V. ED cui Vs other cui distribution
#### VI. patient matrix  by all cuis and only ED cuis
    VI.1. Patients matrix with ED cuis

_Soo Kyung Bae (Scarlett : K19071757)MSc<br/>
Department of Biostatistics and Health Informatics<br/>
Institute of Psychiatry, Psychology and Neuroscience<br/>
King's College London<br/>_

_Soo Kyung Bae(Scarlett), Ph.D. Student<br/>
Dept. of Integrated Medicine(Major in Digital Healthcare)<br/>
Yonsei University College of Medicine<br/>_

In [1]:
DATA_DIR = "/home/ubuntu/Scarlett/Output_F/"
import pandas as pd

### II. Unstructured data cohort for Encephalopathy and Delirium from MIMIC III noteevents data
#### II.9. Patients admission data all cuis having unstructured information (ED cuis)

In [2]:
# import : ED_uns_p_all_cuis :(DATA_DIR + "
import pandas as pd
ED_uns_p_all_cuis= pd.read_csv(DATA_DIR + "III_16.ED_patient_p_all_cuisFinal.csv")

In [2]:
len(ED_uns_p_all_cuis['cui'].unique().tolist())

In [5]:
ED_uns_p_all_cuis.head()

,Unnamed: 0,row_id,subject_id,hadm_id,chartdate,category,description,pretty_name,cui,tui,type,source_value,ED_cui
0,0,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Date of admission,C1302393,T079,Temporal Concept,Admission Date,False
1,1,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Discharge date,C2361123,T079,Temporal Concept,Discharge Date,False
2,2,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Patient date of birth,C0421451,T033,Finding,Date of Birth,False
3,3,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Drug Allergy,C0013182,T046,Pathologic Function,MEDICINE\n\nAllergies,False
4,4,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Medical Records,C0025102,T170,Intellectual Product,Patient recorded,False

In [6]:
# 1. all cuis 
# count cui by ED Vs. non-ED

c_cnt=ED_uns_p_all_cuis[['ED_cui','type','cui','pretty_name','subject_id','hadm_id','row_id']].groupby(['ED_cui','type','cui','pretty_name'], as_index=False).agg({"subject_id":"nunique","hadm_id":"nunique","row_id":"count"})
c_cnt=pd.DataFrame(c_cnt).reset_index()
c_cnt.head()

,index,ED_cui,type,cui,pretty_name,subject_id,hadm_id,row_id
0,0,False,Acquired Abnormality,C0001168,Complete obstruction,1553,1610,3884
1,1,False,Acquired Abnormality,C0002690,Amputation Stumps,376,419,1826
2,2,False,Acquired Abnormality,C0004277,Tooth Attrition,1,1,1
3,3,False,Acquired Abnormality,C0006144,breast cyst,22,25,89
4,4,False,Acquired Abnormality,C0006386,Bunion,30,31,85

In [8]:
c_cnt2=c_cnt.loc[(c_cnt.row_id > 9) ,]

In [33]:
# 2. only for ED cuis 
ED_uns_p_ED_cui=ED_uns_p_all_cuis.loc[(ED_uns_p_all_cuis.ED_cui == True) ,] 
                       
#ED_patient_cohort.loc[(ED_patient_cohort.ED_icd == True), 'ED_icd'] = 'Yes'

In [34]:
ED_uns_p_ED_cui.head()

,row_id,subject_id,hadm_id,chartdate,category,description,pretty_name,cui,tui,type,source_value,ED_cui
840,567662,54610,100003,2150-04-18 00:00:00,Physician,Physician Resident Admission Note,Lethargy,C0023380,T184,Sign or Symptom,lethargy,True
842,567662,54610,100003,2150-04-18 00:00:00,Physician,Physician Resident Admission Note,Lethargy,C0023380,T184,Sign or Symptom,lethargy,True
1126,567564,54610,100003,2150-04-17 00:00:00,Physician,Physician Attending Admission Note - MICU,Agitation,C0085631,T184,Sign or Symptom,Agitated,True
1843,567802,54610,100003,2150-04-19 00:00:00,Physician,Physician Resident Progress Note,Lethargy,C0023380,T184,Sign or Symptom,lethargy,True
2014,567803,54610,100003,2150-04-19 00:00:00,Physician,Physician Resident Progress Note,Lethargy,C0023380,T184,Sign or Symptom,lethargy,True

In [35]:
len(ED_uns_p_ED_cui)

529369

In [ ]:
# unique hadm_ids having ED CUIS

In [44]:
ED_unstr_hadm_id_list = ED_uns_p_ED_cui['hadm_id'].unique().tolist()

In [45]:
len(ED_unstr_hadm_id_list)

35180

In [46]:
len(ED_uns_p_ED_cui['cui'].unique().tolist())

134

#### II.10. ED Patients Cohort admissions,Diagnosis, Patients

In [ ]:
#################################################################################
## Admission, Diagnosis, Patients

In [2]:
#! pip install elasticsearch

Requirement already satisfied: elasticsearch in d:\anaconda\lib\site-packages (7.9.1)

WARNING: Ignoring invalid distribution -ip (d:\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\anaconda\lib\site-packages)
WARNING: You are using pip version 21.1.2; however, version 22.0.4 is available.
You should consider upgrading via the 'd:\anaconda\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: certifi in d:\anaconda\lib\site-packages (from elasticsearch) (2020.6.20)
Requirement already satisfied: urllib3>=1.21.1 in d:\anaconda\lib\site-packages (from elasticsearch) (1.25.11)

In [6]:
import pandas as pd
from elastic_util import *
from elasticsearch import Elasticsearch


from sqlalchemy import create_engine
sql_engine = create_engine('postgresql://ckg:Admin123@10.200.106.114:5432/mimic')

In [7]:
#II. Show Patient 
# length of stay was re-calculated due to missingness in available field

sql_query = 'SELECT dia.row_id, dia.seq_num, dia.icd9_code,  adm.*, \
      pat.gender, pat.dob, pat.dod, pat.dod_hosp, pat.dod_ssn, pat.expire_flag, \
  ROUND( (cast(admittime as date) - cast(dob as date)) / 365.242,2) As Admin_age, \
  ROUND((cast(adm.dischtime as date) - cast(adm.admittime as date))) AS Stay_days   \
FROM diagnoses_icd dia   \
INNER JOIN admissions adm ON dia.hadm_id = adm.hadm_id INNER JOIN patients pat ON adm.subject_id = pat.subject_id'

df = pd.read_sql_query(sql_query,con=sql_engine)

In [3]:
#df.head()
# update a column with condition :# All dates of birth in MIMIC-III for patients > 89 yo are shifted to comply with HIPAA.
df.loc[(df.admin_age >89), 'admin_age'] = 90

In [4]:
# age grouping
# WHEN age <= 1  THEN 'neonate'

bins= [0,2,19,30,40,50,60,70,80,100]
labels = ['<= 1','<=18','<30','<40','<50','<60','<70','<80','>=80']
df['AgeGroup'] = pd.cut(df['admin_age'], bins=bins, labels=labels, right=False)

# LOS grouping
bins2= [0,5,10,15,20,25,30,35,60,100,150,300]
labels = ['< 5','< 10','<15','<20','<25','<30','<35','<60','<100', '<150','>=150']
df['LOSGroup'] = pd.cut(df['stay_days'], bins=bins2, labels=labels, right=False)

#df[(df.admin_age >89)]

In [5]:
def categorize_age(age):
    if age > 10 and age <= 30: 
        cat = '<31'
    elif age > 30 and age <= 50:
        cat = '31-50'
    elif age > 50 and age <= 70:
        cat = '51-70'
    else: 
        cat = '>70'
    return cat
def categorize_ethnicity(ethnicity):
    if 'ASIAN' in ethnicity:
        ethnicity = 'ASIAN'
    elif 'WHITE' in ethnicity:
        ethnicity = 'WHITE'
    elif 'HISPANIC' in ethnicity:
        ethnicity = 'HISPANIC/LATINO'
    elif 'BLACK' in ethnicity:
        ethnicity = 'BLACK'
#    elif 'AMERICAN INDIAN' in ethnicity:
#        ethnicity = 'AMERICAN INDIAN'
    else: 
        ethnicity = 'OTHER'
    return ethnicity

In [6]:

df['age_bucket'] = df['admin_age'].apply(categorize_age)
df['ethnicity_G'] = df['ethnicity'].astype(str).apply(categorize_ethnicity)

In [86]:
## unstructured ED patients
# II.1. admninistration data for patients with annotated ED cui_ids
#hadm_id : ED unstructured admin list (ED_unstr_hadm_id_list)
ED_patient_admin_unstr= df.loc[df['hadm_id'].isin (ED_unstr_hadm_id_list),:]

#hadm_id : ED unstructured admin list (ED_unstr_hadm_id_list)

df['ED_notes'] = df['hadm_id'].isin (ED_unstr_hadm_id_list)

In [7]:
ED_micd9_list =[ "2902", "2903", "2908", "2909", "2910", "2920", "2922", "2930", "2931", "2939", "3483", "29011", 
"29041", "29042", "29211", "29212", "29281", "29282", "29381", "29382", "29383", "29384", "29389", 
"34831", "34839", "34982", "78002", "78009",
"78097", "7801", "78001", "7687", "76870", "5722", "2913", "2912", "34830", "4372", "76873", "29020" ]

In [8]:

df['ED_icd'] = df['icd9_code'].isin (ED_micd9_list)

In [9]:
df.head()

,row_id,seq_num,icd9_code,row_id,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,...,dod_hosp,dod_ssn,expire_flag,admin_age,stay_days,AgeGroup,LOSGroup,age_bucket,ethnicity_G,ED_icd
0,1488,1.0,53100,153,112,174105,2194-06-13 18:39:00,2194-06-18 16:50:00,NaT,EMERGENCY,...,2196-09-29,2196-09-29,1,90.0,5.0,>=80,< 10,>70,WHITE,False
1,1489,2.0,41071,153,112,174105,2194-06-13 18:39:00,2194-06-18 16:50:00,NaT,EMERGENCY,...,2196-09-29,2196-09-29,1,90.0,5.0,>=80,< 10,>70,WHITE,False
2,1490,3.0,2859,153,112,174105,2194-06-13 18:39:00,2194-06-18 16:50:00,NaT,EMERGENCY,...,2196-09-29,2196-09-29,1,90.0,5.0,>=80,< 10,>70,WHITE,False
3,1491,4.0,41401,153,112,174105,2194-06-13 18:39:00,2194-06-18 16:50:00,NaT,EMERGENCY,...,2196-09-29,2196-09-29,1,90.0,5.0,>=80,< 10,>70,WHITE,False
4,1492,5.0,725,153,112,174105,2194-06-13 18:39:00,2194-06-18 16:50:00,NaT,EMERGENCY,...,2196-09-29,2196-09-29,1,90.0,5.0,>=80,< 10,>70,WHITE,False

In [10]:
# Total patients in MIMIC III
len(df['subject_id'].unique().tolist())

46520

In [89]:
ED_patient_cohort=df

In [90]:
# update ED_icd column with condition
ED_patient_cohort.loc[(ED_patient_cohort.ED_icd == True), 'ED_icd'] = 'Yes'
ED_patient_cohort.loc[(ED_patient_cohort.ED_icd == False), 'ED_icd'] = 'No'

# update ED_notes column with condition
ED_patient_cohort.loc[(ED_patient_cohort.ED_notes == True), 'ED_notes'] = 'Yes'
ED_patient_cohort.loc[(ED_patient_cohort.ED_notes == False), 'ED_notes'] = 'No'

In [91]:
# update ED_icd column with condition
ED_patient_cohort.loc[(ED_patient_cohort.ED_icd == 'Yes'),'ED_icd'] = 1
ED_patient_cohort.loc[(ED_patient_cohort.ED_icd == 'No'),'ED_icd'] = 0

# update ED_notes column with condition
ED_patient_cohort.loc[(ED_patient_cohort.ED_notes == 'Yes'), 'ED_notes'] = 1
ED_patient_cohort.loc[(ED_patient_cohort.ED_notes == 'No'), 'ED_notes'] = 0

In [92]:
ED_patient_cohortF=ED_patient_cohort

In [93]:
ED_patient_cohortF.head()

,row_id,seq_num,icd9_code,row_id,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,...,dod_ssn,expire_flag,admin_age,stay_days,AgeGroup,LOSGroup,age_bucket,ethnicity_G,ED_notes,ED_icd
0,1488,1.0,53100,153,112,174105,2194-06-13 18:39:00,2194-06-18 16:50:00,NaT,EMERGENCY,...,2196-09-29,1,90.0,5.0,>=80,< 10,>70,WHITE,0,0
1,1489,2.0,41071,153,112,174105,2194-06-13 18:39:00,2194-06-18 16:50:00,NaT,EMERGENCY,...,2196-09-29,1,90.0,5.0,>=80,< 10,>70,WHITE,0,0
2,1490,3.0,2859,153,112,174105,2194-06-13 18:39:00,2194-06-18 16:50:00,NaT,EMERGENCY,...,2196-09-29,1,90.0,5.0,>=80,< 10,>70,WHITE,0,0
3,1491,4.0,41401,153,112,174105,2194-06-13 18:39:00,2194-06-18 16:50:00,NaT,EMERGENCY,...,2196-09-29,1,90.0,5.0,>=80,< 10,>70,WHITE,0,0
4,1492,5.0,725,153,112,174105,2194-06-13 18:39:00,2194-06-18 16:50:00,NaT,EMERGENCY,...,2196-09-29,1,90.0,5.0,>=80,< 10,>70,WHITE,0,0

In [94]:
# ED patiens extracted from annotated cui_ids from unstructured text info.(clinical notes)
#(DATA_DIR + "
ED_patient_cohortF.to_csv(DATA_DIR + "III_17.ED_patient_cohortFinal.csv", index=True)

#### II.11. Patients Group Check

In [8]:
# import : ED_uns_p_all_cuis
import pandas as pd
ED_patient_cohortF= pd.read_csv(DATA_DIR + "III_17.ED_patient_cohortFinal.csv")

In [9]:
ED_patient_cohortF.head()

,Unnamed: 0,row_id,seq_num,icd9_code,row_id.1,subject_id,hadm_id,admittime,dischtime,deathtime,...,dod_ssn,expire_flag,admin_age,stay_days,AgeGroup,LOSGroup,age_bucket,ethnicity_G,ED_notes,ED_icd
0,0,1488,1.0,53100,153,112,174105,2194-06-13 18:39:00,2194-06-18 16:50:00,NaN,...,2196-09-29 00:00:00,1,90.0,5.0,>=80,< 10,>70,WHITE,0,0
1,1,1489,2.0,41071,153,112,174105,2194-06-13 18:39:00,2194-06-18 16:50:00,NaN,...,2196-09-29 00:00:00,1,90.0,5.0,>=80,< 10,>70,WHITE,0,0
2,2,1490,3.0,2859,153,112,174105,2194-06-13 18:39:00,2194-06-18 16:50:00,NaN,...,2196-09-29 00:00:00,1,90.0,5.0,>=80,< 10,>70,WHITE,0,0
3,3,1491,4.0,41401,153,112,174105,2194-06-13 18:39:00,2194-06-18 16:50:00,NaN,...,2196-09-29 00:00:00,1,90.0,5.0,>=80,< 10,>70,WHITE,0,0
4,4,1492,5.0,725,153,112,174105,2194-06-13 18:39:00,2194-06-18 16:50:00,NaN,...,2196-09-29 00:00:00,1,90.0,5.0,>=80,< 10,>70,WHITE,0,0

In [49]:
###1. Aggregate data (ED_icd and ED_notes) by subject_id and admin_id: Output

In [4]:
# Aggregate data (ED_icd and ED_notes) by subject_id
output=ED_patient_cohortF[['subject_id','hadm_id','ED_icd','ED_notes']].groupby(['subject_id', 'hadm_id'], as_index=False).agg({"ED_icd":"sum","ED_notes":"sum"})

In [5]:
#Check each admission_id whether it has ED icd9 codes or ED cuis
output.loc[((output.ED_icd > 0) & (output.ED_notes > 0)) ,'icd_notes'] = 'YY'
output.loc[((output.ED_icd == 0) & (output.ED_notes == 0)),'icd_notes'] = 'NN'
output.loc[((output.ED_icd > 0) & (output.ED_notes == 0)),'icd_notes'] = 'YN'
output.loc[((output.ED_icd == 0) & (output.ED_notes > 0)),'icd_notes'] = 'NY'
#output.ED_icd.head()

In [6]:
#output.ED_icd.head()
output.loc[((output.ED_icd > 0) & (output.ED_notes > 0)) ,'YY'] = 1
output.loc[((output.ED_icd == 0) & (output.ED_notes == 0)),'NN'] = 1
output.loc[((output.ED_icd > 0) & (output.ED_notes == 0)),'YN'] = 1
output.loc[((output.ED_icd == 0) & (output.ED_notes > 0)),'NY'] = 1
#output.ED_icd.head()

In [7]:
# Replace NaN Values with Zeros
output['YY'] = output['YY'].fillna(0)
output['NN'] = output['NN'].fillna(0)
output['YN'] = output['YN'].fillna(0)
output['NY'] = output['NY'].fillna(0)

In [8]:
output.head()

   subject_id  hadm_id  ED_icd  ED_notes icd_notes   YY   NN   YN   NY
0           2   163353       0         0        NN  0.0  1.0  0.0  0.0
1           3   145834       0         9        NY  0.0  0.0  0.0  1.0
2           4   185777       0         0        NN  0.0  1.0  0.0  0.0
3           5   178980       0         0        NN  0.0  1.0  0.0  0.0
4           6   107064       0         0        NN  0.0  1.0  0.0  0.0

In [29]:
# ED patiens extracted from annotated cui_ids from unstructured text info.(clinical notes)
output.to_csv(DATA_DIR + "III_18.ED_patient_group_output.csv", index=True)

In [ ]:
###2. Aggregate data (ED_icd and ED_notes) by subject_id: Output2

In [9]:
# Aggregate data (ED_icd and ED_notes) by subject_id
output2=output[['subject_id','hadm_id','YY','NN','YN','NY']].groupby(['subject_id'], as_index=False).agg({"hadm_id":"count","YY":"sum","NN":"sum","YN":"sum","NY":"sum"})

In [10]:
output2=pd.DataFrame(output2).reset_index()
#output2.head(50)

In [11]:
#if output2.loc[((output2.YY > 0) & (output2.NN == 0) & (output2.YN == 0) & (output2.NY==0)),]:
#    output2['ED_G'] = 'YY'
    

output2.loc[((output2.YY > 0) & (output2.NN == 0) & (output2.YN == 0) & (output2.NY==0)),'ED_G']='YY'
output2.loc[((output2.YY == 0) & (output2.NN > 0) & (output2.YN == 0) & (output2.NY==0)),'ED_G']='NN'
output2.loc[((output2.YY == 0) & (output2.NN == 0) & (output2.YN > 0) & (output2.NY==0)),'ED_G']='YN'
output2.loc[((output2.YY == 0) & (output2.NN == 0) & (output2.YN == 0) & (output2.NY > 0)),'ED_G']='NY'

In [12]:
output2.head()

   index  subject_id  hadm_id   YY   NN   YN   NY ED_G
0      0           2        1  0.0  1.0  0.0  0.0   NN
1      1           3        1  0.0  0.0  0.0  1.0   NY
2      2           4        1  0.0  1.0  0.0  0.0   NN
3      3           5        1  0.0  1.0  0.0  0.0   NN
4      4           6        1  0.0  1.0  0.0  0.0   NN

In [13]:
#output2.ED_G_YN = output2.ED_G.isin('YY','NN','NY','YN')

Group_l = ['YY','NN','NY','YN']
output2[~output2.ED_G.isin(Group_l)]

       index  subject_id  hadm_id   YY   NN   YN   NY ED_G
19        19          23        2  0.0  1.0  0.0  1.0  NaN
29        29          34        2  0.0  1.0  0.0  1.0  NaN
31        31          36        3  0.0  1.0  0.0  2.0  NaN
53        53          61        2  0.0  1.0  0.0  1.0  NaN
60        60          68        2  0.0  1.0  0.0  1.0  NaN
...      ...         ...      ...  ...  ...  ...  ...  ...
46457  46457       99783        2  0.0  1.0  0.0  1.0  NaN
46470  46470       99822        3  0.0  1.0  0.0  2.0  NaN
46491  46491       99897        2  1.0  0.0  0.0  1.0  NaN
46498  46498       99923        2  0.0  1.0  0.0  1.0  NaN
46513  46513       99982        3  0.0  2.0  0.0  1.0  NaN

[4421 rows x 8 columns]

In [14]:
# replacing na values in group with mixed
output2["ED_G"].fillna("mixed", inplace = True)
output2.head()

   index  subject_id  hadm_id   YY   NN   YN   NY ED_G
0      0           2        1  0.0  1.0  0.0  0.0   NN
1      1           3        1  0.0  0.0  0.0  1.0   NY
2      2           4        1  0.0  1.0  0.0  0.0   NN
3      3           5        1  0.0  1.0  0.0  0.0   NN
4      4           6        1  0.0  1.0  0.0  0.0   NN

In [80]:
# Aggregate data (ED_icd and ED_notes) by subject_id
output3=output2[['ED_G','subject_id','hadm_id']].groupby(['ED_G'], as_index=False).agg({"subject_id":"nunique","hadm_id":"sum"})
output3

    ED_G  subject_id  hadm_id
0     NN       17687    18815
1     NY       20906    23468
2     YN         213      213
3     YY        3293     3482
4  mixed        4421    12998

In [ ]:
output3=pd.DataFrame(output3).reset_index()

In [79]:
# export
# ED patnets by Group
output2.to_csv(DATA_DIR + "III_18_2.ED_patient_group_output2.csv", index=True)

In [54]:
output.groupby('icd_notes', as_index=False).agg({"subject_id": "nunique", "hadm_id": "nunique"})

  icd_notes  subject_id  hadm_id
0        NN       21155    23479
1        NY       24991    29866
2        YN         312      317
3        YY        4842     5314

In [86]:
len(output)

58976

In [101]:
ED_patient_cohortF.head()

,row_id,seq_num,icd9_code,row_id,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,...,dod_ssn,expire_flag,admin_age,stay_days,AgeGroup,LOSGroup,age_bucket,ethnicity_G,ED_notes,ED_icd
0,1488,1.0,53100,153,112,174105,2194-06-13 18:39:00,2194-06-18 16:50:00,NaT,EMERGENCY,...,2196-09-29,1,90.0,5.0,>=80,< 10,>70,WHITE,0,0
1,1489,2.0,41071,153,112,174105,2194-06-13 18:39:00,2194-06-18 16:50:00,NaT,EMERGENCY,...,2196-09-29,1,90.0,5.0,>=80,< 10,>70,WHITE,0,0
2,1490,3.0,2859,153,112,174105,2194-06-13 18:39:00,2194-06-18 16:50:00,NaT,EMERGENCY,...,2196-09-29,1,90.0,5.0,>=80,< 10,>70,WHITE,0,0
3,1491,4.0,41401,153,112,174105,2194-06-13 18:39:00,2194-06-18 16:50:00,NaT,EMERGENCY,...,2196-09-29,1,90.0,5.0,>=80,< 10,>70,WHITE,0,0
4,1492,5.0,725,153,112,174105,2194-06-13 18:39:00,2194-06-18 16:50:00,NaT,EMERGENCY,...,2196-09-29,1,90.0,5.0,>=80,< 10,>70,WHITE,0,0

In [102]:
len(ED_patient_cohortF)

651047

### III. Cuis Vs Icd_notes distributions by ED Patient Group

#### III. 1. Cuis Vs Icd_notes distributions

In [1]:
## Cuis Vs Icd_notes distributions

In [2]:
DATA_DIR = "/home/ubuntu/Scarlett/Output_F/"

In [ ]:
# import : ED_uns_p_all_cuis
import pandas as pd
ED_uns_p_all_cuis= pd.read_csv(DATA_DIR + "III_16.ED_patient_p_all_cuisFinal.csv")

In [3]:
# import : ED_uns_p_all_cuis
import pandas as pd
#ED_uns_p_all_cuis= pd.read_csv(DATA_DIR + "III_16.ED_patient_p_all_cuisFinal.csv")

# ED patiens extracted from annotated cui_ids from unstructured text info.(clinical notes)
output = pd.read_csv(DATA_DIR + "III_18.ED_patient_group_output.csv")
output2 = pd.read_csv(DATA_DIR + "III_18_2.ED_patient_group_output2.csv")

In [2]:
# import : ED_uns_p_all_cuis
import pandas as pd
ED_patient_cohortF= pd.read_csv(DATA_DIR + "III_17.ED_patient_cohortFinal.csv")

In [2]:
#ED_uns_p_all_cuis

In [4]:
# by subject_id and admission_id
output.head()

,Unnamed: 0,subject_id,hadm_id,ED_icd,ED_notes,icd_notes,YY,NN,YN,NY
0,0,2,163353,0,0,NN,0.0,1.0,0.0,0.0
1,1,3,145834,0,9,NY,0.0,0.0,0.0,1.0
2,2,4,185777,0,0,NN,0.0,1.0,0.0,0.0
3,3,5,178980,0,0,NN,0.0,1.0,0.0,0.0
4,4,6,107064,0,0,NN,0.0,1.0,0.0,0.0

In [5]:
# by subject_id
output2.head()

   Unnamed: 0  index  subject_id  hadm_id   YY   NN   YN   NY ED_G
0           0      0           2        1  0.0  1.0  0.0  0.0   NN
1           1      1           3        1  0.0  0.0  0.0  1.0   NY
2           2      2           4        1  0.0  1.0  0.0  0.0   NN
3           3      3           5        1  0.0  1.0  0.0  0.0   NN
4           4      4           6        1  0.0  1.0  0.0  0.0   NN

In [5]:
ED_uns_p_all_cuis.head()

,Unnamed: 0,row_id,subject_id,hadm_id,chartdate,category,description,pretty_name,cui,tui,type,source_value,ED_cui
0,0,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Date of admission,C1302393,T079,Temporal Concept,Admission Date,False
1,1,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Discharge date,C2361123,T079,Temporal Concept,Discharge Date,False
2,2,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Patient date of birth,C0421451,T033,Finding,Date of Birth,False
3,3,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Drug Allergy,C0013182,T046,Pathologic Function,MEDICINE\n\nAllergies,False
4,4,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Medical Records,C0025102,T170,Intellectual Product,Patient recorded,False

In [ ]:
# ICd 9 codes by ED group

In [4]:
ED_patient_cohortF_ED_G = pd.merge(ED_patient_cohortF, output2[['subject_id','ED_G']], on="subject_id")

In [8]:
ED_patient_cohortF_ED_G.columns

Index(['Unnamed: 0', 'row_id', 'seq_num', 'icd9_code', 'row_id.1',
       'subject_id', 'hadm_id', 'admittime', 'dischtime', 'deathtime',
       'admission_type', 'admission_location', 'discharge_location',
       'insurance', 'language', 'religion', 'marital_status', 'ethnicity',
       'edregtime', 'edouttime', 'diagnosis', 'hospital_expire_flag',
       'has_chartevents_data', 'gender', 'dob', 'dod', 'dod_hosp', 'dod_ssn',
       'expire_flag', 'admin_age', 'stay_days', 'AgeGroup', 'LOSGroup',
       'age_bucket', 'ethnicity_G', 'ED_notes', 'ED_icd', 'ED_G'],
      dtype='object')

In [9]:
# icd9_code, ED_notes, ED_icd, diagnosis, hadm_id,seq_num,icd9_code,row_id
ED_patient_cohortF_ED_G2 = ED_patient_cohortF_ED_G[['subject_id','ED_G','hadm_id','seq_num','icd9_code','row_id','ED_notes', 'ED_icd', 'diagnosis']]

In [10]:
ED_patient_cohortF_ED_G2.head()

,subject_id,ED_G,hadm_id,seq_num,icd9_code,row_id,ED_notes,ED_icd,diagnosis
0,112,mixed,174105,1.0,53100,1488,0,0,GASTROINTESTINAL BLEED
1,112,mixed,174105,2.0,41071,1489,0,0,GASTROINTESTINAL BLEED
2,112,mixed,174105,3.0,2859,1490,0,0,GASTROINTESTINAL BLEED
3,112,mixed,174105,4.0,41401,1491,0,0,GASTROINTESTINAL BLEED
4,112,mixed,174105,5.0,725,1492,0,0,GASTROINTESTINAL BLEED

In [11]:
# ED_patient_cohortF_ED_G2
ED_patient_cohortF_ED_G2.to_csv(DATA_DIR + "ED_patient_cohortF_ED_G2.csv", index=True)

In [ ]:
# clinical notes and CUIs

In [4]:
ED_uns_p_all_cuis_ED_G = pd.merge(ED_uns_p_all_cuis, output2[['subject_id','ED_G']], on="subject_id")

In [7]:
ED_uns_p_all_cuis_ED_G.head()

,Unnamed: 0,row_id,subject_id,hadm_id,chartdate,category,description,pretty_name,cui,tui,type,source_value,ED_cui,ED_G
0,0,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Date of admission,C1302393,T079,Temporal Concept,Admission Date,False,mixed
1,1,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Discharge date,C2361123,T079,Temporal Concept,Discharge Date,False,mixed
2,2,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Patient date of birth,C0421451,T033,Finding,Date of Birth,False,mixed
3,3,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Drug Allergy,C0013182,T046,Pathologic Function,MEDICINE\n\nAllergies,False,mixed
4,4,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Medical Records,C0025102,T170,Intellectual Product,Patient recorded,False,mixed

In [5]:
df_s0=ED_uns_p_all_cuis_ED_G.drop(["chartdate","description","pretty_name","tui","type","source_value"],axis=1)

In [ ]:
#df_s0.to_csv(DATA_DIR + "df_s0.csv", index=True)

In [28]:
#Distribution by clinical notes

In [6]:
df_s_dist=df_s0[['ED_G','category','subject_id','hadm_id','row_id']].groupby(['ED_G','category']).agg({"subject_id":"nunique","hadm_id":"nunique","row_id":"nunique"})  
df_dist=pd.DataFrame(df_s_dist).reset_index()
df_dist.head()

  ED_G           category  subject_id  hadm_id  row_id
0   NY   Case Management          270      282     406
1   NY            Consult          23       24      51
2   NY  Discharge summary       20379    22867   26386
3   NY                ECG       17278    19382   62994
4   NY               Echo       10100    10808   15939

In [7]:
df_dist.to_csv(DATA_DIR + "df_dist.csv", index=True)

In [7]:
output2.head()

   Unnamed: 0  index  subject_id  hadm_id   YY   NN   YN   NY ED_G
0           0      0           2        1  0.0  1.0  0.0  0.0   NN
1           1      1           3        1  0.0  0.0  0.0  1.0   NY
2           2      2           4        1  0.0  1.0  0.0  0.0   NN
3           3      3           5        1  0.0  1.0  0.0  0.0   NN
4           4      4           6        1  0.0  1.0  0.0  0.0   NN

In [11]:
# method 2 NY and YY :D0_F , 're_admissions'
output2.loc[((output2.hadm_id>1)),'rea']='readmissions'
output2.loc[((output2.hadm_id<=1)),'rea']='no'

In [12]:
output2['rea'].unique()

array(['no', 'readmissions'], dtype=object)

In [19]:
output2['ED_G'].unique()

array(['NN', 'NY', 'mixed', 'YY', 'YN'], dtype=object)

In [20]:
# ED YY and YN
output2['ED_G2']= output2['ED_G']
output2.loc[(output2["ED_G2"].isin (['YY','YN'])), "ED_G2"] = 'YY_YN'

In [22]:
output2['ED_G2'].unique()

array(['NN', 'NY', 'mixed', 'YY_YN'], dtype=object)

In [28]:
rea=output2[['ED_G2','rea','subject_id','hadm_id']].groupby(['ED_G2', 'rea']).agg({"subject_id":"nunique", "hadm_id":"sum"})  
rea=pd.DataFrame(rea).reset_index()
rea.to_csv(DATA_DIR + "III_22.3.F.ED_cohort_rea.csv", index=True)
rea

   ED_G2           rea  subject_id  hadm_id
0     NN            no       16709    16709
1     NN  readmissions         978     2106
2     NY            no       18931    18931
3     NY  readmissions        1975     4537
4  YY_YN            no        3343     3343
5  YY_YN  readmissions         163      352
6  mixed  readmissions        4421    12998

In [38]:
# insert 0 for mixed no 

df = pd.DataFrame([['mixed','no',0,0]], columns=['ED_G2','rea','subject_id','hadm_id'])
rea2=pd.concat([rea, df])

In [39]:
rea2

   ED_G2           rea  subject_id  hadm_id
0     NN            no       16709    16709
1     NN  readmissions         978     2106
2     NY            no       18931    18931
3     NY  readmissions        1975     4537
4  YY_YN            no        3343     3343
5  YY_YN  readmissions         163      352
6  mixed  readmissions        4421    12998
0  mixed            no           0        0

In [40]:
#Chi-square test :# gender amog 3 groups : YY, NY, NN
from scipy.stats import chi2_contingency
  
#### defining the table
#data = [ gender3.loc[(gender3.gender == 'F'),'subject_id'] , gender3.loc[(gender3.gender == 'M'),'subject_id' ]]
data = [rea2.loc[(rea2.rea == 'no'),'subject_id'] , rea2.loc[(rea2.rea == 'readmissions'),'subject_id' ]]
stat, p, dof, expected = chi2_contingency(data)
  
#### interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 0.0
Dependent (reject H0)

In [41]:
#Chi-square test :# gender amog 3 groups : YY, NY, NN
# select data
rea3=rea[rea['ED_G2'].isin (["NY","YY_YN"])]
from scipy.stats import chi2_contingency

In [42]:
#Chi-square test :# gender amog 3 groups : YY, NY, NN
from scipy.stats import chi2_contingency
  
#### defining the table
#data = [ gender3.loc[(gender3.gender == 'F'),'subject_id'] , gender3.loc[(gender3.gender == 'M'),'subject_id' ]]
data = [rea3.loc[(rea3.rea == 'no'),'subject_id'] , rea3.loc[(rea3.rea == 'readmissions'),'subject_id' ]]
stat, p, dof, expected = chi2_contingency(data)
  
#### interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 1.8993012921405886e-20
Dependent (reject H0)

In [32]:
#data

In [9]:
# method 2 NY and YY :D0_F , 'rid_count'

df_dist_test=df_dist[df_dist['ED_G'].isin (["NY","YY"])]
L=df_dist_test['category'].unique()
print(L)
#Cat_F_test.loc[(Cat_F.category == L[0]),'row_id']

['Case Management ' 'Consult' 'Discharge summary' 'ECG' 'Echo' 'General'
 'Nursing' 'Nursing/other' 'Nutrition' 'Pharmacy' 'Physician ' 'Radiology'
 'Rehab Services' 'Respiratory ' 'Social Work']

In [10]:
#df_dist.category

In [13]:
# Freq: method1
CM=df_dist_test.loc[(df_dist_test.category == L[0]),'row_id'] 
C=df_dist_test.loc[(df_dist_test.category == L[1]),'row_id'] 
DS=df_dist_test.loc[(df_dist_test.category == L[2]),'row_id'] 
ECG=df_dist_test.loc[(df_dist_test.category == L[3]),'row_id'] 
E=df_dist_test.loc[(df_dist_test.category == L[4]),'row_id'] 
G=df_dist_test.loc[(df_dist_test.category == L[5]),'row_id'] 
N=df_dist_test.loc[(df_dist_test.category == L[6]),'row_id'] 
NO=df_dist_test.loc[(df_dist_test.category == L[7]),'row_id'] 
Nt=df_dist_test.loc[(df_dist_test.category == L[8]),'row_id'] 
PM=df_dist_test.loc[(df_dist_test.category == L[9]),'row_id'] 
P=df_dist_test.loc[(df_dist_test.category == L[10]),'row_id'] 
Ro=df_dist_test.loc[(df_dist_test.category == L[11]),'row_id'] 
RS=df_dist_test.loc[(df_dist_test.category == L[12]),'row_id'] 
Rp=df_dist_test.loc[(df_dist_test.category == L[13]),'row_id'] 
SW=df_dist_test.loc[(df_dist_test.category == L[14]),'row_id']

In [14]:
# # of cuis (not all counts) by category type :use row_id
from scipy.stats import chi2_contingency
  
#### defining the table
data = [CM,C,DS,ECG,E,G,N,NO,Nt,PM,P,Ro,RS,Rp,SW]
stat, p_value, dof, expected = chi2_contingency(data)
p1=round(p_value,5)   
#### interpret p-value
alpha = 0.05
print("p value is " + str(p1))
if p1 <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 0.0
Dependent (reject H0)


The aim of the test is to conclude whether the two variables( category (CUIs) and group difference ( NY Vs. YY ) are related to each other.

Null hypothesis:
We start by defining the null hypothesis (H0) which states that there is no relation between the variables. An alternate hypothesis would state that there is a significant relation between the two.

we need to compare the obtained p-value with alpha value of 0.05.
we reject H0, that is, the variables do have a significant relation. category (CUIs) and group difference ( NY Vs. YY ) has a significant relation.

In [ ]:
#Median number of clinical notes/patient

In [7]:
df_s=df_s0[['ED_G','subject_id','hadm_id','row_id']].groupby(['ED_G','subject_id']).agg({"hadm_id":"nunique","row_id":"nunique"})  
df_s1=pd.DataFrame(df_s).reset_index()
df_s1.head()

  ED_G  subject_id  hadm_id  row_id
0   NY           3        1      45
1   NY           9        1      35
2   NY          12        1      27
3   NY          18        1      12
4   NY          19        1      14

In [8]:
df_s1.ED_G.value_counts()

NY       20906
mixed     4398
YY        3293
Name: ED_G, dtype: int64

In [21]:
df_s=df_s0[['ED_G','subject_id','row_id','cui']].groupby(['ED_G','subject_id','row_id']).agg({"cui":"count"})  
df_s2=pd.DataFrame(df_s).reset_index()
df_s2.head()

  ED_G  subject_id  row_id  cui
0   NY           3   44005  683
1   NY           3   94502  141
2   NY           3   94503  111
3   NY           3   94504   18
4   NY           3  272557    7

In [12]:
#Median number of clinical notes/patient,
df2=df_s1

In [17]:
#Mann-Whitney U test
from scipy import stats
import numpy as np
#1. ED_patient_cohortF_icd_notes : Median number of clinical notes/patient

# Mann-Whitney U test
from scipy.stats import mannwhitneyu

def Wutest2(c):
    #G_NY = df2.query('icd_notes == "NY"')[c]
    #G_YY = df2.query('icd_notes == "YY"')[c]
    G_NY = df2.loc[(df2['ED_G']== 'NY'), [c]]
    G_YY = df2.loc[(df2['ED_G']== 'YY'), [c]]
    s, p= stats.mannwhitneyu(G_NY, G_YY)
    #s=m.statistic
    #p=m.pvalue
    print(mannwhitneyu(G_NY, G_YY))
    #print(name=[df2.columns[x]])
    #print(zip(name,s,p))
    print('\t MW U test statistics: ', s, 'with p-value: ', np.round(p,3))

In [18]:
w1 = Wutest2('row_id')

MannwhitneyuResult(statistic=array([33438897.5]), pvalue=array([0.00833342]))
	 MW U test statistics:  [33438897.5] with p-value:  [0.008]

In [19]:
# medican
#Median number of clinical notes/patient,
out=df_s1

In [20]:
# import
import numpy as np

#calculate interquartile range of values in the 'points' column : clinical notes/patient, IQR note_cnt by patient
#q75, q25 = np.percentile(df['points'], [75 ,25])

q75_1, q50_1, q25_1 = np.percentile(out.loc[(out['ED_G']== 'NY'), ['row_id']], [75, 50,25])
q75_2, q50_2, q25_2 = np.percentile(out.loc[(out['ED_G']== 'YY'), ['row_id']], [75, 50,25])

iqr_1 = q75_1 - q25_1
iqr_2 = q75_2 - q25_2



#NY
print("NY IQR :",iqr_1,",Q75 :",q75_1,",Q50 :",q50_1,",Q25 :",q25_1)
#YY
print("YY IQR :",iqr_2,",Q75 :",q75_2,",Q50 :",q50_2,",Q25 :",q25_2)

NY IQR : 34.0 ,Q75 : 46.0 ,Q50 : 22.0 ,Q25 : 12.0
YY IQR : 36.0 ,Q75 : 48.0 ,Q50 : 24.0 ,Q25 : 12.0

In [ ]:
# medican
#Median number of CUIs/note, IQR

In [23]:
df2=df_s2

In [24]:
#Mann-Whitney U test
from scipy import stats
import numpy as np
#1. ED_patient_cohortF_icd_notes : Median number of CUIs/note

# Mann-Whitney U test
from scipy.stats import mannwhitneyu

def Wutest2(c):
    #G_NY = df2.query('icd_notes == "NY"')[c]
    #G_YY = df2.query('icd_notes == "YY"')[c]
    G_NY = df2.loc[(df2['ED_G']== 'NY'), [c]]
    G_YY = df2.loc[(df2['ED_G']== 'YY'), [c]]
    s, p= stats.mannwhitneyu(G_NY, G_YY)
    #s=m.statistic
    #p=m.pvalue
    print(mannwhitneyu(G_NY, G_YY))
    #print(name=[df2.columns[x]])
    #print(zip(name,s,p))
    print('\t MW U test statistics: ', s, 'with p-value: ', np.round(p,3))

In [25]:
w2 = Wutest2('cui')

MannwhitneyuResult(statistic=array([6.05537431e+10]), pvalue=array([0.]))
	 MW U test statistics:  [6.05537431e+10] with p-value:  [0.]

In [26]:
# medican
#Median number of CUIs/note, IQR
out=df_s2

In [27]:
# import
import numpy as np

#calculate interquartile range of values in the 'points' column : Median number of CUIs/note
#q75, q25 = np.percentile(df['points'], [75 ,25])

q75_1, q50_1, q25_1 = np.percentile(out.loc[(out['ED_G']== 'NY'), ['cui']], [75, 50,25])
q75_2, q50_2, q25_2 = np.percentile(out.loc[(out['ED_G']== 'YY'), ['cui']], [75, 50,25])

iqr_1 = q75_1 - q25_1
iqr_2 = q75_2 - q25_2



#NY
print("NY IQR :",iqr_1,",Q75 :",q75_1,",Q50 :",q50_1,",Q25 :",q25_1)
#YY
print("YY IQR :",iqr_2,",Q75 :",q75_2,",Q50 :",q50_2,",Q25 :",q25_2)

NY IQR : 66.0 ,Q75 : 86.0 ,Q50 : 49.0 ,Q25 : 20.0
YY IQR : 97.0 ,Q75 : 134.0 ,Q50 : 67.0 ,Q25 : 37.0

In [ ]:
# check

In [7]:
len(ED_uns_p_all_cuis['type'].unique().tolist())

125

In [8]:
len(ED_uns_p_all_cuis['tui'].unique().tolist())

125

In [9]:
list(ED_uns_p_all_cuis.columns)

['Unnamed: 0',
 'row_id',
 'subject_id',
 'hadm_id',
 'chartdate',
 'category',
 'description',
 'pretty_name',
 'cui',
 'tui',
 'type',
 'source_value',
 'ED_cui']

In [10]:
# only ED cui 
ED_uns_p_ED_cuis = ED_uns_p_all_cuis.loc[(ED_uns_p_all_cuis.ED_cui == True), ]

In [11]:
ED_uns_p_ED_cuis.head()

,Unnamed: 0,row_id,subject_id,hadm_id,chartdate,category,description,pretty_name,cui,tui,type,source_value,ED_cui
840,840,567662,54610,100003,2150-04-18 00:00:00,Physician,Physician Resident Admission Note,Lethargy,C0023380,T184,Sign or Symptom,lethargy,True
842,842,567662,54610,100003,2150-04-18 00:00:00,Physician,Physician Resident Admission Note,Lethargy,C0023380,T184,Sign or Symptom,lethargy,True
1126,1126,567564,54610,100003,2150-04-17 00:00:00,Physician,Physician Attending Admission Note - MICU,Agitation,C0085631,T184,Sign or Symptom,Agitated,True
1843,1843,567802,54610,100003,2150-04-19 00:00:00,Physician,Physician Resident Progress Note,Lethargy,C0023380,T184,Sign or Symptom,lethargy,True
2014,2014,567803,54610,100003,2150-04-19 00:00:00,Physician,Physician Resident Progress Note,Lethargy,C0023380,T184,Sign or Symptom,lethargy,True

In [12]:
# all cuis 
ED_uns_p_all_cuis.head()

,Unnamed: 0,row_id,subject_id,hadm_id,chartdate,category,description,pretty_name,cui,tui,type,source_value,ED_cui
0,0,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Date of admission,C1302393,T079,Temporal Concept,Admission Date,False
1,1,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Discharge date,C2361123,T079,Temporal Concept,Discharge Date,False
2,2,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Patient date of birth,C0421451,T033,Finding,Date of Birth,False
3,3,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Drug Allergy,C0013182,T046,Pathologic Function,MEDICINE\n\nAllergies,False
4,4,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Medical Records,C0025102,T170,Intellectual Product,Patient recorded,False

In [13]:
# 3.00. sum of ED cuis by ED cui, category, group 
Cat_D0=ED_uns_p_all_cuis[['ED_cui','category','subject_id','hadm_id', 'cui','row_id']].groupby(['ED_cui','category','subject_id','hadm_id','cui']).agg({"row_id":"count"})   
Cat_D0=pd.DataFrame(Cat_D0).reset_index()
Cat_D0.head()

   ED_cui          category  subject_id  hadm_id       cui  row_id
0   False  Case Management          109   102024  C0030685       1
1   False  Case Management          109   102024  C0030705       2
2   False  Case Management          109   102024  C0150499       1
3   False  Case Management          109   102024  C0184666       1
4   False  Case Management          109   102024  C0184713       1

In [14]:
# 3.01. sum of ED cuis by ED cui, category,type, group 
Cat_D=ED_uns_p_all_cuis[['ED_cui','category','type','subject_id','hadm_id', 'cui','row_id']].groupby(['ED_cui','category','type','subject_id','hadm_id']).agg({"cui":"nunique","row_id":"count"})   
Cat_D=pd.DataFrame(Cat_D).reset_index()
Cat_D.head()

,ED_cui,category,type,subject_id,hadm_id,cui,row_id
0,False,Case Management,Acquired Abnormality,52676,164479,1,1
1,False,Case Management,Acquired Abnormality,58685,111057,1,1
2,False,Case Management,Acquired Abnormality,63311,180102,1,1
3,False,Case Management,Acquired Abnormality,87982,180017,1,1
4,False,Case Management,Activity,109,196721,3,3

In [23]:
# 3.1. sum of ED cuis by ED cui, ED group 
#dist0=ED_uns_p_ED_cuis[['ED_cui','type','subject_id','hadm_id', 'cui','cui_ed','row_id']].groupby(['ED_cui','type','subject_id','hadm_id', 'cui','cui_ed']).agg({"row_id":"count"})  
dist0=ED_uns_p_ED_cuis[['ED_cui','type','subject_id','hadm_id', 'cui','row_id']].groupby(['ED_cui','type','subject_id','hadm_id', 'cui']).agg({"row_id":"count"})

In [16]:
dist0=pd.DataFrame(dist0).reset_index()
dist0.head()

   ED_cui                    type  subject_id  hadm_id       cui  row_id
0    True  Congenital Abnormality       89416   100985  C4024917      19
1    True     Disease or Syndrome          22   165315  C0009421       1
2    True     Disease or Syndrome          31   128652  C0009421       5
3    True     Disease or Syndrome          72   156857  C0085584       1
4    True     Disease or Syndrome          78   100536  C0085584       1

In [38]:
# 3.1.2 sum of ED cuis by ED cui, category, group 
dist1=ED_uns_p_all_cuis[['ED_cui','type','subject_id','hadm_id', 'cui','row_id']].groupby(['ED_cui','type','subject_id','hadm_id', 'cui']).agg({"row_id":"count"})

In [39]:
dist1=pd.DataFrame(dist1).reset_index()

In [40]:
dist1.head()

   ED_cui                  type  subject_id  hadm_id       cui  row_id
0   False  Acquired Abnormality           3   145834  C0001168       1
1   False  Acquired Abnormality           3   145834  C0333293       1
2   False  Acquired Abnormality          12   112213  C0393983       1
3   False  Acquired Abnormality          19   109235  C0333463      12
4   False  Acquired Abnormality          21   109451  C0332853       3

In [20]:
# 3.2. sum of cuis by all cui, category, group 
dist=ED_uns_p_all_cuis[['ED_cui', 'type','subject_id', 'hadm_id','cui','row_id']].groupby(['ED_cui','type','subject_id', 'hadm_id']).agg({"cui":"nunique","row_id":"count"})

In [21]:
dist=pd.DataFrame(dist).reset_index()

In [22]:
dist.head()

   ED_cui                  type  subject_id  hadm_id  cui  row_id
0   False  Acquired Abnormality           3   145834    2       2
1   False  Acquired Abnormality          12   112213    1       1
2   False  Acquired Abnormality          19   109235    1      12
3   False  Acquired Abnormality          21   109451    3      17
4   False  Acquired Abnormality          21   111970    3       6

In [24]:
# update ED_icd column with condition
dist.loc[(dist.ED_cui == True), 'ED_cui'] = 'ED'
dist.loc[(dist.ED_cui == False), 'ED_cui'] = 'No'

In [25]:
# update ED_icd column with condition :Cat_D
Cat_D.loc[(Cat_D.ED_cui == True), 'ED_cui'] = 'ED'
Cat_D.loc[(Cat_D.ED_cui == False), 'ED_cui'] = 'No'
Cat_D.head()

,ED_cui,category,type,subject_id,hadm_id,cui,row_id
0,No,Case Management,Acquired Abnormality,52676,164479,1,1
1,No,Case Management,Acquired Abnormality,58685,111057,1,1
2,No,Case Management,Acquired Abnormality,63311,180102,1,1
3,No,Case Management,Acquired Abnormality,87982,180017,1,1
4,No,Case Management,Activity,109,196721,3,3

In [26]:
# update ED_icd column with condition :Cat_D0
Cat_D0.loc[(Cat_D0.ED_cui == True), 'ED_cui'] = 'ED'
Cat_D0.loc[(Cat_D0.ED_cui == False), 'ED_cui'] = 'No'
Cat_D0.head()

  ED_cui          category  subject_id  hadm_id       cui  row_id
0     No  Case Management          109   102024  C0030685       1
1     No  Case Management          109   102024  C0030705       2
2     No  Case Management          109   102024  C0150499       1
3     No  Case Management          109   102024  C0184666       1
4     No  Case Management          109   102024  C0184713       1

In [27]:
len(Cat_D0)

34775413

In [28]:
# concatenate 2 var
dist['type_ed'] = dist['ED_cui'] + '_' +dist['type']

In [29]:
dist.head()

,ED_cui,type,subject_id,hadm_id,cui,row_id,type_ed
0,No,Acquired Abnormality,3,145834,2,2,No_Acquired Abnormality
1,No,Acquired Abnormality,12,112213,1,1,No_Acquired Abnormality
2,No,Acquired Abnormality,19,109235,1,12,No_Acquired Abnormality
3,No,Acquired Abnormality,21,109451,3,17,No_Acquired Abnormality
4,No,Acquired Abnormality,21,111970,3,6,No_Acquired Abnormality

In [30]:
# concatenate 2 var : Cat_D.head()
Cat_D['category_ed'] = Cat_D['ED_cui'] + '_' +Cat_D['category']
Cat_D.head()

,ED_cui,category,type,subject_id,hadm_id,cui,row_id,category_ed
0,No,Case Management,Acquired Abnormality,52676,164479,1,1,No_Case Management
1,No,Case Management,Acquired Abnormality,58685,111057,1,1,No_Case Management
2,No,Case Management,Acquired Abnormality,63311,180102,1,1,No_Case Management
3,No,Case Management,Acquired Abnormality,87982,180017,1,1,No_Case Management
4,No,Case Management,Activity,109,196721,3,3,No_Case Management

In [31]:
len(Cat_D)

6071281

In [ ]:
#output.head()

In [32]:
#Cat_D0.
# 1.0 merge : Cat_D0 and output for all cuis 
#ED_uns_dist0_EDG = pd.merge(dist0, output2[['hadm_id','YY','NN','YN','NY','ED_G']], on="hadm_id")
ED_uns_Cat_D0_all = pd.merge(Cat_D0, output2[['subject_id','YY','NN','YN','NY','ED_G']], on="subject_id")
ED_uns_Cat_D0_all =ED_uns_Cat_D0_all.rename({'row_id': 'rid_count'}, axis=1)  
ED_uns_Cat_D0_all.head()

,ED_cui,category,subject_id,hadm_id,cui,rid_count,YY,NN,YN,NY,ED_G
0,No,Case Management,109,102024,C0030685,1,4.0,13.0,0.0,17.0,mixed
1,No,Case Management,109,102024,C0030705,2,4.0,13.0,0.0,17.0,mixed
2,No,Case Management,109,102024,C0150499,1,4.0,13.0,0.0,17.0,mixed
3,No,Case Management,109,102024,C0184666,1,4.0,13.0,0.0,17.0,mixed
4,No,Case Management,109,102024,C0184713,1,4.0,13.0,0.0,17.0,mixed

In [33]:
len(ED_uns_Cat_D0_all)

34775413

In [34]:
# 1.1 merge : Cat_D and output for all cuis 
#ED_uns_dist0_EDG = pd.merge(dist0, output2[['hadm_id','YY','NN','YN','NY','ED_G']], on="hadm_id")
ED_uns_Cat_D_all = pd.merge(Cat_D, output2[['subject_id','YY','NN','YN','NY','ED_G']], on="subject_id")
ED_uns_Cat_D_all =ED_uns_Cat_D_all.rename({'cui':'cui_cnt','row_id': 'rid_count'}, axis=1)  
ED_uns_Cat_D_all.head()

,ED_cui,category,type,subject_id,hadm_id,cui_cnt,rid_count,category_ed,YY,NN,YN,NY,ED_G
0,No,Case Management,Acquired Abnormality,52676,164479,1,1,No_Case Management,1.0,0.0,0.0,2.0,mixed
1,No,Case Management,Activity,52676,164479,1,1,No_Case Management,1.0,0.0,0.0,2.0,mixed
2,No,Case Management,Antibiotic,52676,164479,1,1,No_Case Management,1.0,0.0,0.0,2.0,mixed
3,No,Case Management,Biomedical Occupation or Discipline,52676,164479,2,2,No_Case Management,1.0,0.0,0.0,2.0,mixed
4,No,Case Management,"Body Part, Organ, or Organ Component",52676,164479,1,1,No_Case Management,1.0,0.0,0.0,2.0,mixed

In [35]:
len(ED_uns_Cat_D_all)

6071281

In [36]:
ED_uns_Cat_D_all['ED_G'].unique()

array(['mixed', 'NY', 'YY'], dtype=object)

In [41]:
# 1.2 merge : dist1 and output for all cuis 
ED_uns_dist1_EDG = pd.merge(dist1, output2[['subject_id','YY','NN','YN','NY','ED_G']], on="subject_id")

In [42]:
ED_uns_dist1_EDG =ED_uns_dist1_EDG.rename({'row_id': 'rid_count'}, axis=1)  
ED_uns_dist1_EDG.head()

,ED_cui,type,subject_id,hadm_id,cui,rid_count,YY,NN,YN,NY,ED_G
0,False,Acquired Abnormality,3,145834,C0001168,1,0.0,0.0,0.0,1.0,NY
1,False,Acquired Abnormality,3,145834,C0333293,1,0.0,0.0,0.0,1.0,NY
2,False,Activity,3,145834,C0024501,6,0.0,0.0,0.0,1.0,NY
3,False,Activity,3,145834,C1272683,1,0.0,0.0,0.0,1.0,NY
4,False,Activity,3,145834,C1283174,3,0.0,0.0,0.0,1.0,NY

In [43]:
# 1.3 merge : dist and output for all cuis 
ED_uns_cui_icd_notes = pd.merge(dist, output2[['subject_id','YY','NN','YN','NY','ED_G']], on="subject_id")

In [44]:
ED_uns_cui_icd_notes = ED_uns_cui_icd_notes.rename({'cui':'cui_cnt','row_id': 'rid_count'}, axis=1)  # new method

In [45]:
ED_uns_cui_icd_notes.head()

,ED_cui,type,subject_id,hadm_id,cui_cnt,rid_count,type_ed,YY,NN,YN,NY,ED_G
0,No,Acquired Abnormality,3,145834,2,2,No_Acquired Abnormality,0.0,0.0,0.0,1.0,NY
1,No,Activity,3,145834,13,52,No_Activity,0.0,0.0,0.0,1.0,NY
2,No,"Amino Acid, Peptide, or Protein",3,145834,2,2,"No_Amino Acid, Peptide, or Protein",0.0,0.0,0.0,1.0,NY
3,No,Anatomical Abnormality,3,145834,3,3,No_Anatomical Abnormality,0.0,0.0,0.0,1.0,NY
4,No,Antibiotic,3,145834,10,49,No_Antibiotic,0.0,0.0,0.0,1.0,NY

In [46]:
# by cui descriptions
#(DATA_DIR + "
ED_uns_cui_icd_notes.to_csv(DATA_DIR + "III_19.ED_patient_cui_icd_notes.csv", index=True)

In [47]:
# by cui
ED_uns_dist1_EDG.to_csv(DATA_DIR + "III_19.all.ED_patient_cui_dist1_EDG.csv", index=True)

In [48]:
# by cui category
# ED_uns_Cat_D0_all.head()
ED_uns_Cat_D0_all.to_csv(DATA_DIR + "III_19.d0CT.ED_uns_Cat_D0_all.csv", index=True)

In [49]:
# by category
# ED_uns_Cat_D0_all.head()
ED_uns_Cat_D_all.to_csv(DATA_DIR + "III_19.ED_uns_Cat_D_all.csv", index=True)

In [1]:
DATA_DIR = "/home/ubuntu/Scarlett/Output_F/"

In [2]:
# import
import numpy as np
import pandas as pd

ED_uns_Cat_D0_all= pd.read_csv(DATA_DIR + "III_19.d0CT.ED_uns_Cat_D0_all.csv")

In [3]:
# summary :"nunique":D0 ED_uns_Cat_D0_all.head()
# sum of ED cuis by ED cui, category, group 
Cat_D0_CG_b=ED_uns_Cat_D0_all[['ED_G','cui','subject_id','hadm_id','rid_count']].groupby(['ED_G']).agg({"subject_id":"nunique","hadm_id":"nunique","cui":"nunique","rid_count":"sum"})  
Cat_D0_CG_b=pd.DataFrame(Cat_D0_CG_b).reset_index()
Cat_D0_CG_b.head()

    ED_G  subject_id  hadm_id    cui  rid_count
0     NY       20906    23468  62105   75819285
1     YY        3293     3482  37766   16481604
2  mixed        4398     8230  46576   31628100

In [52]:
ED_uns_Cat_D0_all.head()

,Unnamed: 0,ED_cui,category,subject_id,hadm_id,cui,rid_count,YY,NN,YN,NY,ED_G
0,0,No,Case Management,109,102024,C0030685,1,4.0,13.0,0.0,17.0,mixed
1,1,No,Case Management,109,102024,C0030705,2,4.0,13.0,0.0,17.0,mixed
2,2,No,Case Management,109,102024,C0150499,1,4.0,13.0,0.0,17.0,mixed
3,3,No,Case Management,109,102024,C0184666,1,4.0,13.0,0.0,17.0,mixed
4,4,No,Case Management,109,102024,C0184713,1,4.0,13.0,0.0,17.0,mixed

In [12]:
#by Counts by ED Vs NonED cuis
EDG_cn=ED_uns_Cat_D0_all[['ED_cui','cui','rid_count']].groupby(['ED_cui']).agg({"cui":"nunique","rid_count":"sum"})  
EDG_cn_2=pd.DataFrame(EDG_cn).reset_index()
EDG_cn_2.head()

  ED_cui    cui  rid_count
0     ED    134     529369
1     No  69449  123399620

In [14]:
uc=ED_uns_Cat_D0_all['cui'].unique().tolist()
len(uc)

69583

In [ ]:
#p1=data.loc[(data['ED_G_x']== 'NY'), ['admin_age']]
EDG_cn=ED_uns_Cat_D0_all[['ED_G','cui','rid_count']]

In [11]:
#unique().tolist())
l=ED_uns_Cat_D0_all['ED_cui'].value_counts
#l2=pd.DataFrame(l).reset_index
#l2.head()

In [53]:
ED_uns_Cat_D0_all.shape

(34775413, 12)

In [54]:
Cat_F=ED_uns_Cat_D0_all[['category','ED_G','subject_id','hadm_id','cui','rid_count']].groupby(['category','ED_G','subject_id']).agg({"hadm_id":"nunique","cui":"count","rid_count":"sum"})  
Cat_F=pd.DataFrame(Cat_F).reset_index()
Cat_F.head()

           category ED_G  subject_id  hadm_id  cui  rid_count
0  Case Management    NY        5244        1   32         35
1  Case Management    NY        5547        1   39         90
2  Case Management    NY        6700        1   36         43
3  Case Management    NY        7216        1   22         34
4  Case Management    NY        9144        1   21         22

In [55]:
Cat_F1=ED_uns_Cat_D0_all[['ED_G','subject_id','hadm_id','cui','rid_count']].groupby(['ED_G','subject_id']).agg({"hadm_id":"nunique","cui":"count","rid_count":"sum"})  
Cat_F1=pd.DataFrame(Cat_F1).reset_index()
Cat_F1.head()

  ED_G  subject_id  hadm_id   cui  rid_count
0   NY           3        1  1302       3041
1   NY           9        1   974       2125
2   NY          12        1   570       1163
3   NY          18        1   637       1075
4   NY          19        1   667       1292

In [56]:
print(Cat_F.rid_count.sum())
Cat_F.to_csv(DATA_DIR + "Cat_F.csv", index=True)

123928989

In [57]:
# summary :"nunique":D0 ED_uns_Cat_D0_all.head() :CUIs/note (
# sum of ED cuis by ED cui, category, group 
D0_F=ED_uns_Cat_D0_all[['ED_G','category','subject_id','hadm_id','cui','rid_count']].groupby(['ED_G','category','subject_id','hadm_id']).agg({"cui":"count","rid_count":"sum"})  
D0_F=pd.DataFrame(D0_F).reset_index()
D0_F.head()

  ED_G          category  subject_id  hadm_id  cui  rid_count
0   NY  Case Management         5244   190705   32         35
1   NY  Case Management         5547   173495   39         90
2   NY  Case Management         6700   107213   36         43
3   NY  Case Management         7216   109208   22         34
4   NY  Case Management         9144   178473   21         22

In [58]:
print(D0_F.rid_count.sum())
D0_F.to_csv(DATA_DIR + "D0_F.csv", index=True)

123928989

In [68]:
# summary :"nunique":D0 ED_uns_Cat_D0_all.head()
# sum of ED cuis by ED cui, category, group 
Cat_D0_CG=ED_uns_Cat_D0_all[['category','ED_G','cui','subject_id','hadm_id','rid_count']].groupby(['category','ED_G','cui']).agg({"subject_id":"nunique","hadm_id":"nunique","rid_count":"sum"})  
Cat_D0_CG=pd.DataFrame(Cat_D0_CG).reset_index()
Cat_D0_CG.head()

           category ED_G       cui  subject_id  hadm_id  rid_count
0  Case Management    NY  C0000726           3        3          3
1  Case Management    NY  C0000737           1        1          2
2  Case Management    NY  C0000921           2        2          2
3  Case Management    NY  C0001125           1        1          1
4  Case Management    NY  C0001138           1        1          2

In [69]:
#(DATA_DIR + "
Cat_D0_CG.to_csv(DATA_DIR + "III_19.D0CTsummary_Cat_D0_CG.csv", index=True)

In [70]:
ED_uns_Cat_D0_all.head()

,Unnamed: 0,ED_cui,category,subject_id,hadm_id,cui,rid_count,YY,NN,YN,NY,ED_G
0,0,No,Case Management,109,102024,C0030685,1,4.0,13.0,0.0,17.0,mixed
1,1,No,Case Management,109,102024,C0030705,2,4.0,13.0,0.0,17.0,mixed
2,2,No,Case Management,109,102024,C0150499,1,4.0,13.0,0.0,17.0,mixed
3,3,No,Case Management,109,102024,C0184666,1,4.0,13.0,0.0,17.0,mixed
4,4,No,Case Management,109,102024,C0184713,1,4.0,13.0,0.0,17.0,mixed

In [71]:
# summary :"nunique":D0 ED_uns_Cat_D0_all.head()
# sum of ED cuis by ED cui, category, group 
Cat_output=ED_uns_Cat_D0_all[['ED_G','category','subject_id','hadm_id','rid_count']].groupby(['ED_G','category']).agg({"subject_id":"nunique","hadm_id":"nunique","rid_count":"sum"})  
Cat_output=pd.DataFrame(Cat_output).reset_index()
Cat_output.head()

  ED_G           category  subject_id  hadm_id  rid_count
0   NY   Case Management          270      282      17235
1   NY            Consult          23       24      11375
2   NY  Discharge summary       20379    22867   10701398
3   NY                ECG       17278    19382     570434
4   NY               Echo       10100    10808    1827383

In [72]:
Cat_output.to_csv(DATA_DIR + "III_19.D0CTsummary_Cat_output.csv", index=True)

In [77]:
# summary :"nunique":D0 ED_uns_Cat_D0_all.head()
# sum of ED cuis by ED cui, category, group 
Cat_D0_CG1=ED_uns_Cat_D0_all[['ED_G','ED_cui','cui','subject_id','hadm_id','rid_count']].groupby(['ED_G','ED_cui','cui']).agg({"subject_id":"nunique","hadm_id":"nunique","rid_count":"sum"})  
Cat_D0_CG1=pd.DataFrame(Cat_D0_CG1).reset_index()
Cat_D0_CG1.head()

  ED_G ED_cui       cui  subject_id  hadm_id  rid_count
0   NY     ED  C0001957         287      313       3680
1   NY     ED  C0001969         208      221        644
2   NY     ED  C0006107         101      102        197
3   NY     ED  C0006109           2        2          2
4   NY     ED  C0006112          41       41         67

In [78]:
Cat_D0_CG1.rid_count.sum()

123928989

In [79]:
Cat_D0_CG1_rank=Cat_D0_CG1[Cat_D0_CG1['ED_G'].isin (["NY","YY"])]

In [80]:
from py2neo import Node, Relationship, Graph
# from igraph import Graph as iGraph

graph = Graph("http://10.200.112.233:7474/db/data/", user="scarlett", password="Admin123")

In [81]:
def cui2name(cui):
    query = """
        MATCH (p:Concepts{id:'""" + cui + """' })
        RETURN p.name"""
    return (graph.run(query).to_series()).tolist()

In [82]:
#Cat_D0_CG1_rank['name']=Cat_D0_CG1_rank['cui'].apply(lambda x: cui2name(x))

In [83]:
Cat_D0_CG1_rank1=Cat_D0_CG1_rank.sort_values(by=['ED_cui','ED_G','rid_count'], ascending=[True,True,False]).head(10)
Cat_D0_CG1_rank1=pd.DataFrame(Cat_D0_CG1_rank1).reset_index()
Cat_D0_CG1_rank1['name']=Cat_D0_CG1_rank1['cui'].apply(lambda x: cui2name(x))
Cat_D0_CG1_rank1

,index,ED_G,ED_cui,cui,subject_id,hadm_id,rid_count,name
0,28,NY,ED,C0085631,10382,11120,81093,[Agitation]
1,8,NY,ED,C0009676,7642,8230,30847,[Confusion]
2,19,NY,ED,C0023380,8006,8579,29935,[Lethargy]
3,62,NY,ED,C0278061,2676,2795,23889,[Abnormal mental state]
4,9,NY,ED,C0011206,1840,1928,19260,[Delirium]
5,55,NY,ED,C0237284,4840,5032,18316,[unresponsive behavior]
6,24,NY,ED,C0039070,7048,7425,17231,[Syncope]
7,35,NY,ED,C0233407,2077,2121,4013,[Disorientation]
8,0,NY,ED,C0001957,287,313,3680,[Alcohol Withdrawal Delirium]
9,53,NY,ED,C0236663,470,507,2813,[Alcohol withdrawal syndrome]

In [84]:
Cat_D0_CG1_rank2=Cat_D0_CG1_rank.sort_values(by=['ED_cui','ED_G','rid_count'], ascending=[False,True,False]).head(10)
Cat_D0_CG1_rank2=pd.DataFrame(Cat_D0_CG1_rank2).reset_index()
Cat_D0_CG1_rank2['name']=Cat_D0_CG1_rank2['cui'].apply(lambda x: cui2name(x))
Cat_D0_CG1_rank2

,index,ED_G,ED_cui,cui,subject_id,hadm_id,rid_count,name
0,28985,NY,No,C0549178,19476,21796,743237,[Continuous]
1,43716,NY,No,C1301584,20713,23228,554785,[Last Name]
2,12530,NY,No,C0205090,19497,21828,465329,[Right]
3,12705,NY,No,C0205307,20278,22612,446539,[Normal]
4,43737,NY,No,C1301732,15750,17377,445255,[Planned]
5,47141,NY,No,C1527428,18849,20957,437000,[Remaining]
6,53780,NY,No,C2826258,14454,15845,395537,[Subject Continuance]
7,45761,NY,No,C1442162,19575,21909,380953,[GIVEN]
8,21745,NY,No,C0392360,18780,20824,378831,[Indication of (contextual qualifier)]
9,5458,NY,No,C0030705,19662,22035,376128,[Patients]

In [85]:
Cat_D0_CG1_rank3=Cat_D0_CG1_rank.sort_values(by=['ED_cui','ED_G','rid_count'], ascending=[True,False,False]).head(10)
Cat_D0_CG1_rank3=pd.DataFrame(Cat_D0_CG1_rank3).reset_index()
Cat_D0_CG1_rank3['name']=Cat_D0_CG1_rank3['cui'].apply(lambda x: cui2name(x))
Cat_D0_CG1_rank3

,index,ED_G,ED_cui,cui,subject_id,hadm_id,rid_count,name
0,62131,YY,ED,C0085631,2028,2108,32481,[Agitation]
1,62154,YY,ED,C0278061,1478,1545,24072,[Abnormal mental state]
2,62114,YY,ED,C0011206,1367,1407,19790,[Delirium]
3,62113,YY,ED,C0009676,2154,2251,16138,[Confusion]
4,62123,YY,ED,C0023380,1488,1549,8235,[Lethargy]
5,62149,YY,ED,C0237284,988,1010,5742,[unresponsive behavior]
6,62119,YY,ED,C0019151,349,387,4691,[Hepatic Encephalopathy]
7,62105,YY,ED,C0001957,209,212,4570,[Alcohol Withdrawal Delirium]
8,62148,YY,ED,C0236663,286,291,2846,[Alcohol withdrawal syndrome]
9,62130,YY,ED,C0085584,615,640,2750,[Encephalopathies]

In [86]:
Cat_D0_CG1_rank4=Cat_D0_CG1_rank.sort_values(by=['ED_cui','ED_G','rid_count'], ascending=[False,False,False]).head(10)
Cat_D0_CG1_rank4=pd.DataFrame(Cat_D0_CG1_rank4).reset_index()
Cat_D0_CG1_rank4['name']=Cat_D0_CG1_rank4['cui'].apply(lambda x: cui2name(x))
Cat_D0_CG1_rank4

,index,ED_G,ED_cui,cui,subject_id,hadm_id,rid_count,name
0,80808,YY,No,C0549178,3102,3282,157751,[Continuous]
1,89568,YY,No,C1301732,2084,2166,114248,[Planned]
2,70570,YY,No,C0205090,3156,3331,103894,[Right]
3,89555,YY,No,C1301584,3263,3450,97831,[Last Name]
4,88603,YY,No,C1261322,1259,1305,96146,[Evaluation procedure]
5,70741,YY,No,C0205307,3255,3438,93012,[Normal]
6,77845,YY,No,C0439375,829,864,87509,[mEq/L]
7,76417,YY,No,C0392360,3064,3225,85095,[Indication of (contextual qualifier)]
8,90633,YY,No,C1442162,3125,3299,82762,[GIVEN]
9,96050,YY,No,C3266814,887,922,79528,[Action]

In [87]:
#(DATA_DIR + "
Cat_D0_CG1.to_csv(DATA_DIR + "III_19.2D0CTsummary_Cat_D0_CG1.csv", index=True)

In [88]:
# by category

ED_uns_Cat_D_all.to_csv(DATA_DIR + "III_19.allCT.ED_uns_Cat_D_all.csv", index=True)

In [89]:
ED_uns_Cat_D0_all.head()

,Unnamed: 0,ED_cui,category,subject_id,hadm_id,cui,rid_count,YY,NN,YN,NY,ED_G
0,0,No,Case Management,109,102024,C0030685,1,4.0,13.0,0.0,17.0,mixed
1,1,No,Case Management,109,102024,C0030705,2,4.0,13.0,0.0,17.0,mixed
2,2,No,Case Management,109,102024,C0150499,1,4.0,13.0,0.0,17.0,mixed
3,3,No,Case Management,109,102024,C0184666,1,4.0,13.0,0.0,17.0,mixed
4,4,No,Case Management,109,102024,C0184713,1,4.0,13.0,0.0,17.0,mixed

In [90]:
# summary :"nunique",

# 3.0. sum of ED cuis by ED cui, category, group 
Cat_D_CG=ED_uns_Cat_D_all[['category','type','ED_G','subject_id','hadm_id', 'cui_cnt','rid_count']].groupby(['category','type','ED_G',]).agg({"subject_id":"nunique","hadm_id":"nunique","cui_cnt":"sum","rid_count":"sum"})  
Cat_D_CG=pd.DataFrame(Cat_D_CG).reset_index()
Cat_D_CG.head()

,category,type,ED_G,subject_id,hadm_id,cui_cnt,rid_count
0,Case Management,Acquired Abnormality,NY,3,3,3,3
1,Case Management,Acquired Abnormality,mixed,1,1,1,1
2,Case Management,Activity,NY,103,103,165,243
3,Case Management,Activity,YY,44,44,63,93
4,Case Management,Activity,mixed,80,95,161,250

In [91]:
Cat_D_CG = Cat_D_CG.rename({'subject_id':'subject_id_cnt','hadm_id': 'hadm_id_count'}, axis=1)  # new method
Cat_D_CG.head()

,category,type,ED_G,subject_id_cnt,hadm_id_count,cui_cnt,rid_count
0,Case Management,Acquired Abnormality,NY,3,3,3,3
1,Case Management,Acquired Abnormality,mixed,1,1,1,1
2,Case Management,Activity,NY,103,103,165,243
3,Case Management,Activity,YY,44,44,63,93
4,Case Management,Activity,mixed,80,95,161,250

In [92]:
Cat_D_CG.to_csv(DATA_DIR + "III_19.allCTsummary_Cat_D_CG.csv", index=True)

In [93]:
# method 1 :s3.0. sum of ED cuis by ED cui, category, group 
Cat_D_CG2=Cat_D_CG[['category','ED_G','subject_id_cnt','hadm_id_count', 'cui_cnt','rid_count']].groupby(['category','ED_G',]).agg({"subject_id_cnt":"sum","hadm_id_count":"sum","cui_cnt":"sum","rid_count":"sum"})  
Cat_D_CG2=pd.DataFrame(Cat_D_CG2).reset_index()
Cat_D_CG2.head()

           category   ED_G  subject_id_cnt  hadm_id_count  cui_cnt  rid_count
0  Case Management      NY            5613           5758    11955      17235
1  Case Management      YY            1656           1656     3564       5606
2  Case Management   mixed            3772           4293     9104      14082
3           Consult     NY            1128           1157     5393      11375
4           Consult     YY             237            237      709       1672

In [94]:
Cat_D_CG2

,category,ED_G,subject_id_cnt,hadm_id_count,cui_cnt,rid_count
0,Case Management,NY,5613,5758,11955,17235
1,Case Management,YY,1656,1656,3564,5606
2,Case Management,mixed,3772,4293,9104,14082
3,Consult,NY,1128,1157,5393,11375
4,Consult,YY,237,237,709,1672
5,Consult,mixed,793,793,3646,7050
6,Discharge summary,NY,1073643,1184180,6796278,10701398
7,Discharge summary,YY,187311,196568,1263024,2051568
8,Discharge summary,mixed,268497,453272,2862748,4626122
9,ECG,NY,152753,166187,344338,570434
10,ECG,YY,26890,27936,59093,99828
11,ECG,mixed,45299,68524,145445,250638
12,Echo,NY,232774,245974,877255,1827383
13,Echo,YY,39999,40918,148259,307891
14,Echo,mixed,68939,90536,330365,690942
15,General,NY,40620,41828,136930,268812
16,General,YY,10425,10594,36880,75707
17,General,mixed,18357,21066,69273,139809
18,Nursing,NY,223121,239064,1400773,10012256
19,Nursing,YY,50037,51764,358618,3355566
20,Nursing,mixed,76948,109739,679544,5558475
21,Nursing/other,NY,768356,830963,5685312,20205386
22,Nursing/other,YY,68804,70726,506369,1462681
23,Nursing/other,mixed,153745,225637,1503599,4462387
24,Nutrition,NY,47772,50098,168969,426965
25,Nutrition,YY,14981,15271,54876,156134
26,Nutrition,mixed,20793,25913,90861,232304
27,Pharmacy,NY,885,885,3399,6326
28,Pharmacy,YY,392,392,1260,1978
29,Pharmacy,mixed,429,440,1324,2452
30,Physician,NY,242790,261220,1872029,17136063
31,Physician,YY,54412,56429,469828,5578889
32,Physician,mixed,85743,124679,1001725,10260591
33,Radiology,NY,696155,753193,4536037,13076592
34,Radiology,YY,127480,132724,913698,2886784
35,Radiology,mixed,166317,255189,1591660,4657345
36,Rehab Services,NY,53100,54312,240932,432478
37,Rehab Services,YY,14074,14264,67887,136870
38,Rehab Services,mixed,18868,21522,96718,181278
39,Respiratory,NY,52810,55132,180144,1005025
40,Respiratory,YY,13763,14008,48445,311315
41,Respiratory,mixed,19208,23929,80125,493051
42,Social Work,NY,21499,21645,64583,121557
43,Social Work,YY,7542,7584,24682,49115
44,Social Work,mixed,8194,9158,27757,51574

In [95]:
Cat_D_CG2.to_csv(DATA_DIR + "III_19.allCTsummary2_Cat_D_CG2.csv", index=True)

In [96]:
# method 2 :summary :"nunique":D0 ED_uns_Cat_D0_all.head()
# sum of ED cuis by ED cui, category, group 
Cat_F=ED_uns_Cat_D0_all[['category','ED_G','subject_id','hadm_id','cui','rid_count']].groupby(['category','ED_G']).agg({"subject_id":"nunique","hadm_id":"nunique","cui":"count","rid_count":"sum"})  
Cat_F=pd.DataFrame(Cat_F).reset_index()
Cat_F.head()

           category   ED_G  subject_id  hadm_id    cui  rid_count
0  Case Management      NY         270      282  11955      17235
1  Case Management      YY          79       79   3564       5606
2  Case Management   mixed         168      203   9104      14082
3           Consult     NY          23       24   5393      11375
4           Consult     YY           7        7    709       1672

In [97]:
# method1.select NY and YY , 'cui_cnt'
Cat_D_CG2_test=Cat_D_CG2[Cat_D_CG2['ED_G'].isin (["NY","YY"])]
L=Cat_D_CG2_test['category'].unique()
print(L)
Cat_D_CG2_test.loc[(Cat_D_CG2.category == L[0]),'cui_cnt']

['Case Management ' 'Consult' 'Discharge summary' 'ECG' 'Echo' 'General'
 'Nursing' 'Nursing/other' 'Nutrition' 'Pharmacy' 'Physician ' 'Radiology'
 'Rehab Services' 'Respiratory ' 'Social Work']

0    11955
1     3564
Name: cui_cnt, dtype: int64

In [98]:
# method 2 NY and YY :D0_F , 'rid_count'

Cat_F_test=Cat_F[Cat_F['ED_G'].isin (["NY","YY"])]
L=Cat_F_test['category'].unique()
print(L)
Cat_F_test.loc[(Cat_F.category == L[0]),'rid_count']

['Case Management ' 'Consult' 'Discharge summary' 'ECG' 'Echo' 'General'
 'Nursing' 'Nursing/other' 'Nutrition' 'Pharmacy' 'Physician ' 'Radiology'
 'Rehab Services' 'Respiratory ' 'Social Work']

0    17235
1     5606
Name: rid_count, dtype: int64

In [99]:
Cat_F_test.head()

            category ED_G  subject_id  hadm_id      cui  rid_count
0   Case Management    NY         270      282    11955      17235
1   Case Management    YY          79       79     3564       5606
3            Consult   NY          23       24     5393      11375
4            Consult   YY           7        7      709       1672
6  Discharge summary   NY       20379    22867  6796278   10701398

In [100]:
#Cat_D_CG2_test[['category','ED_G','cui_cnt']]

In [107]:
# cui matrix : pivot
Cat_D_CG2_test_pv= Cat_D_CG2_test.pivot(index=['category'], columns='ED_G', values='subject_id_cnt')
Cat_D_CG2_test_pv2=pd.DataFrame(Cat_D_CG2_test_pv).reset_index()
Cat_D_CG2_test_pv2

ED_G           category       NY      YY
0      Case Management      5613    1656
1               Consult     1128     237
2     Discharge summary  1073643  187311
3                   ECG   152753   26890
4                  Echo   232774   39999
5               General    40620   10425
6               Nursing   223121   50037
7         Nursing/other   768356   68804
8             Nutrition    47772   14981
9              Pharmacy      885     392
10           Physician    242790   54412
11            Radiology   696155  127480
12       Rehab Services    53100   14074
13         Respiratory     52810   13763
14          Social Work    21499    7542

In [102]:
# Freq: method1
CM=Cat_D_CG2_test.loc[(Cat_D_CG2.category == L[0]),'cui_cnt'] 
C=Cat_D_CG2_test.loc[(Cat_D_CG2.category == L[1]),'cui_cnt'] 
DS=Cat_D_CG2_test.loc[(Cat_D_CG2.category == L[2]),'cui_cnt'] 
ECG=Cat_D_CG2_test.loc[(Cat_D_CG2.category == L[3]),'cui_cnt'] 
E=Cat_D_CG2_test.loc[(Cat_D_CG2.category == L[4]),'cui_cnt'] 
G=Cat_D_CG2_test.loc[(Cat_D_CG2.category == L[5]),'cui_cnt'] 
N=Cat_D_CG2_test.loc[(Cat_D_CG2.category == L[6]),'cui_cnt'] 
NO=Cat_D_CG2_test.loc[(Cat_D_CG2.category == L[7]),'cui_cnt'] 
Nt=Cat_D_CG2_test.loc[(Cat_D_CG2.category == L[8]),'cui_cnt'] 
PM=Cat_D_CG2_test.loc[(Cat_D_CG2.category == L[9]),'cui_cnt'] 
P=Cat_D_CG2_test.loc[(Cat_D_CG2.category == L[10]),'cui_cnt'] 
Ro=Cat_D_CG2_test.loc[(Cat_D_CG2.category == L[11]),'cui_cnt'] 
RS=Cat_D_CG2_test.loc[(Cat_D_CG2.category == L[12]),'cui_cnt'] 
Rp=Cat_D_CG2_test.loc[(Cat_D_CG2.category == L[13]),'cui_cnt'] 
SW=Cat_D_CG2_test.loc[(Cat_D_CG2.category == L[14]),'cui_cnt']

In [104]:
# # of cuis (not all counts) by category type :use cui_cnt
from scipy.stats import chi2_contingency
  
#### defining the table
data = [CM,C,DS,ECG,E,G,N,NO,Nt,PM,P,Ro,RS,Rp,SW]
stat, p_value, dof, expected = chi2_contingency(data)
p1=round(p_value,5)   
#### interpret p-value
alpha = 0.05
print("p value is " + str(p1))
if p1 <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 0.0
Dependent (reject H0)

The aim of the test is to conclude whether the two variables( category (CUIs) and group difference ( NY Vs. YY ) are related to each other.

Null hypothesis:
We start by defining the null hypothesis (H0) which states that there is no relation between the variables. An alternate hypothesis would state that there is a significant relation between the two.

we need to compare the obtained p-value with alpha value of 0.05.
we reject H0, that is, the variables do have a significant relation. category (CUIs) and group difference ( NY Vs. YY ) has a significant relation.

According to five steps process of hypothesis testing:
H₀: whether category group and their ED G are independent, i.e. no relationship
H₁: whether ategory group and their ED G n are dependent, i.e. ∃ a relationship
α = 0.05
Following χ2 independence test statistics:

### IV. patient matrix by Semantic type

#### IV.1. Patients matrix with ED cuis_description

In [105]:
# ED patiens merged with ED_uns_p_all_cuis and output
# import ED_uns_cui_icd_notes
import pandas as pd
# by cui descriptions
ED_uns_cui_icd_notes = pd.read_csv(DATA_DIR + "III_19.ED_patient_cui_icd_notes.csv")

# by cui
ED_uns_dist1_EDG = pd.read_csv(DATA_DIR + "III_19.all.ED_patient_cui_dist1_EDG.csv")

In [111]:
ED_uns_cui_icd_notes.head()

,Unnamed: 0,ED_cui,type,subject_id,hadm_id,cui_cnt,rid_count,type_ed,YY,NN,YN,NY,ED_G
0,0,No,Acquired Abnormality,3,145834,2,2,No_Acquired Abnormality,0.0,0.0,0.0,1.0,NY
1,1,No,Activity,3,145834,13,52,No_Activity,0.0,0.0,0.0,1.0,NY
2,2,No,"Amino Acid, Peptide, or Protein",3,145834,2,2,"No_Amino Acid, Peptide, or Protein",0.0,0.0,0.0,1.0,NY
3,3,No,Anatomical Abnormality,3,145834,3,3,No_Anatomical Abnormality,0.0,0.0,0.0,1.0,NY
4,4,No,Antibiotic,3,145834,10,49,No_Antibiotic,0.0,0.0,0.0,1.0,NY

In [112]:
len(ED_uns_cui_icd_notes)

2539694

In [ ]:
# 1. crate a variable for each cuis : patient matrix ?
## create variable using cuis

In [108]:
list(ED_uns_cui_icd_notes.columns)
#list(data.columns)
ED_uns_cui_icd_notes.dtypes

Unnamed: 0      int64
ED_cui         object
type           object
subject_id      int64
hadm_id         int64
cui_cnt         int64
rid_count       int64
type_ed        object
YY            float64
NN            float64
YN            float64
NY            float64
ED_G           object
dtype: object

In [113]:
# update ED_icd column with condition
ED_uns_dist1_EDG.loc[(ED_uns_dist1_EDG.ED_cui == True), 'ED_cui'] = 'ED'
ED_uns_dist1_EDG.loc[(ED_uns_dist1_EDG.ED_cui == False), 'ED_cui'] = 'No'

In [114]:
ED_uns_dist1_EDG.head()

,Unnamed: 0,ED_cui,type,subject_id,hadm_id,cui,rid_count,YY,NN,YN,NY,ED_G
0,0,No,Acquired Abnormality,3,145834,C0001168,1,0.0,0.0,0.0,1.0,NY
1,1,No,Acquired Abnormality,3,145834,C0333293,1,0.0,0.0,0.0,1.0,NY
2,2,No,Activity,3,145834,C0024501,6,0.0,0.0,0.0,1.0,NY
3,3,No,Activity,3,145834,C1272683,1,0.0,0.0,0.0,1.0,NY
4,4,No,Activity,3,145834,C1283174,3,0.0,0.0,0.0,1.0,NY

In [115]:
# unique cuis
ED_uns_dist1_EDG_ED=ED_uns_dist1_EDG.loc[(ED_uns_dist1_EDG.ED_cui == 'ED'), ] 
cui_v=ED_uns_dist1_EDG['cui'].unique().tolist()

# 'cui_ed
cui_ED_v=ED_uns_dist1_EDG_ED['cui'].unique().tolist()
print(len(cui_v))
print(len(cui_ED_v))

69583
134

In [117]:
# ed_cui_des
type_ed_v=ED_uns_cui_icd_notes['type_ed'].unique().tolist()
len(type_ed_v)

132

In [118]:
#### Create patients matrix with annotated cuis

In [119]:
# 1. by cui type
df = ED_uns_cui_icd_notes
df.head()

,Unnamed: 0,ED_cui,type,subject_id,hadm_id,cui_cnt,rid_count,type_ed,YY,NN,YN,NY,ED_G
0,0,No,Acquired Abnormality,3,145834,2,2,No_Acquired Abnormality,0.0,0.0,0.0,1.0,NY
1,1,No,Activity,3,145834,13,52,No_Activity,0.0,0.0,0.0,1.0,NY
2,2,No,"Amino Acid, Peptide, or Protein",3,145834,2,2,"No_Amino Acid, Peptide, or Protein",0.0,0.0,0.0,1.0,NY
3,3,No,Anatomical Abnormality,3,145834,3,3,No_Anatomical Abnormality,0.0,0.0,0.0,1.0,NY
4,4,No,Antibiotic,3,145834,10,49,No_Antibiotic,0.0,0.0,0.0,1.0,NY

In [ ]:
# matrix by patient and admin_id

In [120]:
# cui matrix : pivot
df_type_cui= df.pivot(index=['ED_G','subject_id','hadm_id'], columns='type_ed', values='rid_count')

In [121]:
# 132 type_ed variables by patient and admin_id

In [122]:
df_type_cui.head()

type_ed                  ED_Congenital Abnormality  ED_Disease or Syndrome  \
ED_G subject_id hadm_id
NY   3          145834                         NaN                     NaN
     9          150750                         NaN                     NaN
     12         112213                         NaN                     NaN
     18         188822                         NaN                     NaN
     19         109235                         NaN                     NaN

type_ed                  ED_Finding  ED_Injury or Poisoning  \
ED_G subject_id hadm_id
NY   3          145834          NaN                     NaN
     9          150750          3.0                     NaN
     12         112213          NaN                     NaN
     18         188822          3.0                     NaN
     19         109235          1.0                     NaN

type_ed                  ED_Mental or Behavioral Dysfunction  \
ED_G subject_id hadm_id
NY   3          145834                                   NaN
     9          150750                                   NaN
     12         112213                                   4.0
     18         188822                                   4.0
     19         109235                                   2.0

type_ed                  ED_Pathologic Function  ED_Sign or Symptom  \
ED_G subject_id hadm_id
NY   3          145834                      NaN                 5.0
     9          150750                      NaN                 NaN
     12         112213                      NaN                27.0
     18         188822                      NaN                 1.0
     19         109235                      NaN                 5.0

type_ed                  No_Acquired Abnormality  No_Activity  No_Age Group  \
ED_G subject_id hadm_id
NY   3          145834                       2.0         52.0           NaN
     9          150750                       NaN         43.0           NaN
     12         112213                       1.0          7.0           NaN
     18         188822                       NaN         10.0           NaN
     19         109235                      12.0         37.0           NaN

type_ed                  ...  No_Sign or Symptom  No_Social Behavior  \
ED_G subject_id hadm_id  ...
NY   3          145834   ...                29.0                 4.0
     9          150750   ...                31.0                 9.0
     12         112213   ...                40.0                 1.0
     18         188822   ...                28.0                 4.0
     19         109235   ...                 4.0                 2.0

type_ed                  No_Spatial Concept  No_Substance  \
ED_G subject_id hadm_id
NY   3          145834                233.0           6.0
     9          150750                 91.0           7.0
     12         112213                 34.0           NaN
     18         188822                 13.0           NaN
     19         109235                123.0           2.0

type_ed                  No_Temporal Concept  \
ED_G subject_id hadm_id
NY   3          145834                 205.0
     9          150750                 137.0
     12         112213                  61.0
     18         188822                  95.0
     19         109235                  68.0

type_ed                  No_Therapeutic or Preventive Procedure  No_Tissue  \
ED_G subject_id hadm_id
NY   3          145834                                     79.0        1.0
     9          150750                                     45.0        8.0
     12         112213                                     54.0        1.0
     18         188822                                     29.0        NaN
     19         109235                                     22.0       12.0

type_ed                  No_Vertebrate  No_Virus  No_Vitamin
ED_G subject_id hadm_id
NY   3          145834             NaN       NaN         5.0
     9          150750             NaN       NaN         NaN
     12         112213             NaN       NaN         1.0
     18         188822             NaN       NaN         1.0
     19         109235             NaN       NaN         1.0

[5 rows x 132 columns]

In [123]:
df_type_cui_F=df_type_cui.fillna(0)
df_type_cui_F=pd.DataFrame(df_type_cui_F).reset_index()
df_type_cui_F.head()

type_ed,ED_G,subject_id,hadm_id,ED_Congenital Abnormality,ED_Disease or Syndrome,ED_Finding,ED_Injury or Poisoning,ED_Mental or Behavioral Dysfunction,ED_Pathologic Function,ED_Sign or Symptom,...,No_Sign or Symptom,No_Social Behavior,No_Spatial Concept,No_Substance,No_Temporal Concept,No_Therapeutic or Preventive Procedure,No_Tissue,No_Vertebrate,No_Virus,No_Vitamin
0,NY,3,145834,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,29.0,4.0,233.0,6.0,205.0,79.0,1.0,0.0,0.0,5.0
1,NY,9,150750,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,31.0,9.0,91.0,7.0,137.0,45.0,8.0,0.0,0.0,0.0
2,NY,12,112213,0.0,0.0,0.0,0.0,4.0,0.0,27.0,...,40.0,1.0,34.0,0.0,61.0,54.0,1.0,0.0,0.0,1.0
3,NY,18,188822,0.0,0.0,3.0,0.0,4.0,0.0,1.0,...,28.0,4.0,13.0,0.0,95.0,29.0,0.0,0.0,0.0,1.0
4,NY,19,109235,0.0,0.0,1.0,0.0,2.0,0.0,5.0,...,4.0,2.0,123.0,2.0,68.0,22.0,12.0,0.0,0.0,1.0

In [124]:
df_type_cui_F.to_csv(DATA_DIR + "III_20.F.ED_patient_df_type_cui.csv", index=True)

### V.  ED cui Vs other cui distribution

In [125]:
import pandas as pd
#ED_uns_cui_icd_notes = pd.read_csv('/home/ubuntu/Scarlett/Output_F/III_19.ED_patient_cui_icd_notes.csv')
df_type_cui_F = pd.read_csv(DATA_DIR + "III_20.F.ED_patient_df_type_cui.csv")

In [126]:
list(df_type_cui_F.columns)

['Unnamed: 0',
 'ED_G',
 'subject_id',
 'hadm_id',
 'ED_Congenital Abnormality',
 'ED_Disease or Syndrome',
 'ED_Finding',
 'ED_Injury or Poisoning',
 'ED_Mental or Behavioral Dysfunction',
 'ED_Pathologic Function',
 'ED_Sign or Symptom',
 'No_Acquired Abnormality',
 'No_Activity',
 'No_Age Group',
 'No_Amino Acid Sequence',
 'No_Amino Acid, Peptide, or Protein',
 'No_Amphibian',
 'No_Anatomical Abnormality',
 'No_Anatomical Structure',
 'No_Animal',
 'No_Antibiotic',
 'No_Archaeon',
 'No_Bacterium',
 'No_Behavior',
 'No_Biologic Function',
 'No_Biologically Active Substance',
 'No_Biomedical Occupation or Discipline',
 'No_Biomedical or Dental Material',
 'No_Bird',
 'No_Body Location or Region',
 'No_Body Part, Organ, or Organ Component',
 'No_Body Space or Junction',
 'No_Body Substance',
 'No_Body System',
 'No_Cell',
 'No_Cell Component',
 'No_Cell Function',
 'No_Cell or Molecular Dysfunction',
 'No_Chemical',
 'No_Chemical Viewed Functionally',
 'No_Chemical Viewed Structurally',
 'No_Classification',
 'No_Clinical Attribute',
 'No_Clinical Drug',
 'No_Conceptual Entity',
 'No_Congenital Abnormality',
 'No_Daily or Recreational Activity',
 'No_Diagnostic Procedure',
 'No_Disease or Syndrome',
 'No_Drug Delivery Device',
 'No_Educational Activity',
 'No_Element, Ion, or Isotope',
 'No_Embryonic Structure',
 'No_Entity',
 'No_Environmental Effect of Humans',
 'No_Enzyme',
 'No_Eukaryote',
 'No_Event',
 'No_Experimental Model of Disease',
 'No_Family Group',
 'No_Finding',
 'No_Fish',
 'No_Food',
 'No_Fully Formed Anatomical Structure',
 'No_Functional Concept',
 'No_Fungus',
 'No_Gene or Genome',
 'No_Genetic Function',
 'No_Geographic Area',
 'No_Governmental or Regulatory Activity',
 'No_Group',
 'No_Group Attribute',
 'No_Hazardous or Poisonous Substance',
 'No_Health Care Activity',
 'No_Health Care Related Organization',
 'No_Hormone',
 'No_Human',
 'No_Human-caused Phenomenon or Process',
 'No_Idea or Concept',
 'No_Immunologic Factor',
 'No_Indicator, Reagent, or Diagnostic Aid',
 'No_Individual Behavior',
 'No_Injury or Poisoning',
 'No_Inorganic Chemical',
 'No_Intellectual Product',
 'No_Laboratory Procedure',
 'No_Laboratory or Test Result',
 'No_Language',
 'No_Machine Activity',
 'No_Mammal',
 'No_Manufactured Object',
 'No_Medical Device',
 'No_Mental Process',
 'No_Mental or Behavioral Dysfunction',
 'No_Molecular Biology Research Technique',
 'No_Molecular Function',
 'No_Natural Phenomenon or Process',
 'No_Neoplastic Process',
 'No_Nucleic Acid, Nucleoside, or Nucleotide',
 'No_Nucleotide Sequence',
 'No_Occupation or Discipline',
 'No_Occupational Activity',
 'No_Organ or Tissue Function',
 'No_Organic Chemical',
 'No_Organism',
 'No_Organism Attribute',
 'No_Organism Function',
 'No_Organization',
 'No_Pathologic Function',
 'No_Patient or Disabled Group',
 'No_Pharmacologic Substance',
 'No_Phenomenon or Process',
 'No_Physical Object',
 'No_Physiologic Function',
 'No_Plant',
 'No_Population Group',
 'No_Professional Society',
 'No_Professional or Occupational Group',
 'No_Qualitative Concept',
 'No_Quantitative Concept',
 'No_Receptor',
 'No_Regulation or Law',
 'No_Reptile',
 'No_Research Activity',
 'No_Research Device',
 'No_Self-help or Relief Organization',
 'No_Sign or Symptom',
 'No_Social Behavior',
 'No_Spatial Concept',
 'No_Substance',
 'No_Temporal Concept',
 'No_Therapeutic or Preventive Procedure',
 'No_Tissue',
 'No_Vertebrate',
 'No_Virus',
 'No_Vitamin']

In [127]:
## ED cui Vs other cui distribution
df_type_cui_F.head()

,Unnamed: 0,ED_G,subject_id,hadm_id,ED_Congenital Abnormality,ED_Disease or Syndrome,ED_Finding,ED_Injury or Poisoning,ED_Mental or Behavioral Dysfunction,ED_Pathologic Function,...,No_Sign or Symptom,No_Social Behavior,No_Spatial Concept,No_Substance,No_Temporal Concept,No_Therapeutic or Preventive Procedure,No_Tissue,No_Vertebrate,No_Virus,No_Vitamin
0,0,NY,3,145834,0.0,0.0,0.0,0.0,0.0,0.0,...,29.0,4.0,233.0,6.0,205.0,79.0,1.0,0.0,0.0,5.0
1,1,NY,9,150750,0.0,0.0,3.0,0.0,0.0,0.0,...,31.0,9.0,91.0,7.0,137.0,45.0,8.0,0.0,0.0,0.0
2,2,NY,12,112213,0.0,0.0,0.0,0.0,4.0,0.0,...,40.0,1.0,34.0,0.0,61.0,54.0,1.0,0.0,0.0,1.0
3,3,NY,18,188822,0.0,0.0,3.0,0.0,4.0,0.0,...,28.0,4.0,13.0,0.0,95.0,29.0,0.0,0.0,0.0,1.0
4,4,NY,19,109235,0.0,0.0,1.0,0.0,2.0,0.0,...,4.0,2.0,123.0,2.0,68.0,22.0,12.0,0.0,0.0,1.0

In [128]:
# 'ED_cui','type','subject_id','hadm_id','cui_cnt','count','type_ed','ED_icd','ED_notes','icd_notes
#[lambda df: df.columns[0]]
#df2 = df.groupby(['ED_cui', 'subject_id', 'hadm_id'])[[lambda df: df.columns[14:]]].sum()

df2 =df_type_cui_F.groupby(['ED_G','subject_id', 'hadm_id']).sum()

In [129]:
df2=pd.DataFrame(df2).reset_index()
df2.head()

,ED_G,subject_id,hadm_id,Unnamed: 0,ED_Congenital Abnormality,ED_Disease or Syndrome,ED_Finding,ED_Injury or Poisoning,ED_Mental or Behavioral Dysfunction,ED_Pathologic Function,...,No_Sign or Symptom,No_Social Behavior,No_Spatial Concept,No_Substance,No_Temporal Concept,No_Therapeutic or Preventive Procedure,No_Tissue,No_Vertebrate,No_Virus,No_Vitamin
0,NY,3,145834,0,0.0,0.0,0.0,0.0,0.0,0.0,...,29.0,4.0,233.0,6.0,205.0,79.0,1.0,0.0,0.0,5.0
1,NY,9,150750,1,0.0,0.0,3.0,0.0,0.0,0.0,...,31.0,9.0,91.0,7.0,137.0,45.0,8.0,0.0,0.0,0.0
2,NY,12,112213,2,0.0,0.0,0.0,0.0,4.0,0.0,...,40.0,1.0,34.0,0.0,61.0,54.0,1.0,0.0,0.0,1.0
3,NY,18,188822,3,0.0,0.0,3.0,0.0,4.0,0.0,...,28.0,4.0,13.0,0.0,95.0,29.0,0.0,0.0,0.0,1.0
4,NY,19,109235,4,0.0,0.0,1.0,0.0,2.0,0.0,...,4.0,2.0,123.0,2.0,68.0,22.0,12.0,0.0,0.0,1.0

In [130]:
len(df2)

35180

In [131]:
#df2[df2.hadm_id == '123562']

df2.loc[(df2.hadm_id == 123562), ]

,ED_G,subject_id,hadm_id,Unnamed: 0,ED_Congenital Abnormality,ED_Disease or Syndrome,ED_Finding,ED_Injury or Poisoning,ED_Mental or Behavioral Dysfunction,ED_Pathologic Function,...,No_Sign or Symptom,No_Social Behavior,No_Spatial Concept,No_Substance,No_Temporal Concept,No_Therapeutic or Preventive Procedure,No_Tissue,No_Vertebrate,No_Virus,No_Vitamin
33314,mixed,54348,123562,33314,0.0,100.0,12.0,2.0,236.0,0.0,...,1173.0,155.0,1684.0,33.0,3898.0,2457.0,53.0,0.0,24.0,172.0

In [132]:
# ED patiens extracted from annotated cui_ids from unstructured text info.(clinical notes)
df2.to_csv(DATA_DIR + "III_21.F.ED_patient_cui_type_var_summary.csv", index=True)

### VI. patient matrix  by all cuis and only ED cuis

#### VI.1. Patients matrix with ED cuis

In [133]:
# import ED cuis 
import pandas as pd

# by cui
ED_uns_dist1_EDG = pd.read_csv(DATA_DIR + "III_19.all.ED_patient_cui_dist1_EDG.csv")

# by ed cuis
#ED_uns_EDcui_icd_notes= pd.read_csv(DATA_DIR + "III_19.2.ED_uns_EDcui_icd_notes.csv")

In [134]:
ED_uns_dist1_EDG.head()

,Unnamed: 0,ED_cui,type,subject_id,hadm_id,cui,rid_count,YY,NN,YN,NY,ED_G
0,0,False,Acquired Abnormality,3,145834,C0001168,1,0.0,0.0,0.0,1.0,NY
1,1,False,Acquired Abnormality,3,145834,C0333293,1,0.0,0.0,0.0,1.0,NY
2,2,False,Activity,3,145834,C0024501,6,0.0,0.0,0.0,1.0,NY
3,3,False,Activity,3,145834,C1272683,1,0.0,0.0,0.0,1.0,NY
4,4,False,Activity,3,145834,C1283174,3,0.0,0.0,0.0,1.0,NY

In [114]:
ED_uns_dist1_EDG.loc[(ED_uns_dist1_EDG.ED_cui == True), 'ED_cui'] = 'ED'
ED_uns_dist1_EDG.loc[(ED_uns_dist1_EDG.ED_cui == False), 'ED_cui'] = 'No'

In [115]:
ED_uns_EDcui_icd_notes=ED_uns_dist1_EDG.loc[(ED_uns_dist1_EDG.ED_cui == 'ED'), ]

In [118]:
#cui_v_all

In [116]:
# 1.unique cuis
cui_v_all=ED_uns_dist1_EDG['cui'].unique().tolist()
print(len(cui_v_all))
print(min(cui_v_all))
print(max(cui_v_all))

69583
C0000039
C4551415

In [117]:
cui_v_all

['C0001168',
 'C0333293',
 'C0024501',
 'C1272683',
 'C1283174',
 'C1516048',
 'C1705116',
 'C1706079',
 'C1707455',
 'C1708715',
 'C1947930',
 'C1947933',
 'C1999230',
 'C3146294',
 'C4321457',
 'C0036773',
 'C0614783',
 'C0002940',
 'C0012817',
 'C0037157',
 'C0003232',
 'C0011015',
 'C0031955',
 'C0042313',
 'C0072520',
 'C0075870',
 'C0250482',
 'C0282386',
 'C0310367',
 'C3854019',
 'C0004611',
 'C0033808',
 'C0079134',
 'C1265292',
 'C0545082',
 'C0863179',
 'C0001443',
 'C0010294',
 'C0013030',
 'C0019134',
 'C0041199',
 'C0060379',
 'C0064582',
 'C1335651',
 'C0025118',
 'C0027855',
 'C0028677',
 'C0086343',
 'C0032861',
 'C0039225',
 'C0058802',
 'C0166872',
 'C0544341',
 'C1300458',
 'C0325528',
 'C0000726',
 'C0004454',
 'C0006497',
 'C0018246',
 'C0018670',
 'C0230151',
 'C0441908',
 'C0521367',
 'C0545797',
 'C0694675',
 'C0817096',
 'C3887460',
 'C0001625',
 'C0003483',
 'C0003501',
 'C0005682',
 'C0005847',
 'C0015392',
 'C0015811',
 'C0016976',
 'C0018563',
 'C0018787',
 'C0018870',
 'C0021852',
 'C0022646',
 'C0023759',
 'C0024109',
 'C0026264',
 'C0030274',
 'C0030797',
 'C0030851',
 'C0033572',
 'C0034052',
 'C0034121',
 'C0034896',
 'C0038293',
 'C0040357',
 'C0224463',
 'C0225594',
 'C0225836',
 'C0225844',
 'C0225860',
 'C0225883',
 'C0225897',
 'C0225949',
 'C0226054',
 'C0227391',
 'C0227613',
 'C0227614',
 'C0230347',
 'C0230371',
 'C0230377',
 'C0230415',
 'C0230443',
 'C0230460',
 'C0230473',
 'C0262950',
 'C0278454',
 'C0458690',
 'C0489877',
 'C0504035',
 'C0504053',
 'C0933845',
 'C0947205',
 'C1140621',
 'C1261077',
 'C1261084',
 'C1261316',
 'C1278908',
 'C1279101',
 'C1280065',
 'C1281587',
 'C1508661',
 'C3541347',
 'C3640705',
 'C0226896',
 'C0005767',
 'C0005889',
 'C0015733',
 'C0036537',
 'C0038056',
 'C0042036',
 'C0229671',
 'C0444099',
 'C1532372',
 'C1123023',
 'C0005821',
 'C0017110',
 'C1278569',
 'C0018810',
 'C0035234',
 'C0231832',
 'C0232117',
 'C0428772',
 'C0455830',
 'C0520877',
 'C1114443',
 'C1305738',
 'C1524809',
 'C1644645',
 'C1980023',
 'C2598485',
 'C4522154',
 'C0983882',
 'C0983888',
 'C0984175',
 'C0986199',
 'C0987222',
 'C0989916',
 'C0992015',
 'C1123387',
 'C1126048',
 'C1442162',
 'C1521721',
 'C1532757',
 'C1704970',
 'C1883727',
 'C2699488',
 'C2826537',
 'C2986411',
 'C2987476',
 'C4527371',
 'C0266574',
 'C0344711',
 'C0035253',
 'C1998602',
 'C0004339',
 'C0007438',
 'C0009378',
 'C0011900',
 'C0039985',
 'C0203065',
 'C0430456',
 'C0430462',
 'C0457575',
 'C0489482',
 'C0554756',
 'C0560563',
 'C1306620',
 'C1306645',
 'C1441586',
 'C0002063',
 'C0002395',
 'C0004245',
 'C0011127',
 'C0011847',
 'C0011860',
 'C0012634',
 'C0012818',
 'C0018790',
 'C0018802',
 'C0020443',
 'C0020538',
 'C0022660',
 'C0023212',
 'C0027051',
 'C0027662',
 'C0029421',
 'C0031039',
 'C0032227',
 'C0032285',
 'C0034063',
 'C0034065',
 'C0041582',
 'C0042510',
 'C0042514',
 'C0085096',
 'C0085119',
 'C0085614',
 'C0085623',
 'C0149721',
 'C0149801',
 'C0151636',
 'C0155626',
 'C0162429',
 'C0162871',
 'C0242528',
 'C0243026',
 'C0340293',
 'C0442874',
 'C0497156',
 'C0542269',
 'C0577718',
 'C0747635',
 'C1277187',
 'C1510475',
 'C1846006',
 'C1956346',
 'C1956414',
 'C2930619',
 'C3887499',
 'C0004749',
 'C0006675',
 'C0024467',
 'C0032821',
 'C0037473',
 'C0004002',
 'C0162745',
 'C0443763',
 'C0723213',
 'C1947959',
 'C1516084',
 'C2826258',
 'C0015576',
 'C0037683',
 'C0242665',
 'C0424972',
 'C0680063',
 'C0003811',
 'C0013798',
 'C0016927',
 'C0018800',
 'C0020649',
 'C0029053',
 'C0035345',
 'C0035648',
 'C0038999',
 'C0039231',
 'C0043084',
 'C0085649',
 'C0086439',
 'C0150312',
 'C0150637',
 'C0151539',
 'C0184511',
 'C0205082',
 'C0205160',
 'C0205400',
 'C0231957',
 'C0232051',
 'C0232201',
 'C0232202',
 'C0232693',
 'C0232695',
 'C0234422',
 'C0235195',
 'C0241863',
 'C0262512',
 'C0262581',
 'C0262926',
 'C0265512',
 'C0277786',
 'C0277797',
 'C0278034',
 'C0332119',
 'C0332154',
 'C0332219',
 'C0332572',
 'C0332575',
 'C0332832',
 'C0337676',
 'C0344232',
 'C0344329',
 'C0392703',
 'C0421451',
 'C0424522',
 'C0424577',
 'C0425711',
 'C0426396',
 'C0428167',
 'C0428886',
 'C0429091',
 'C0429103',
 'C0442816',
 'C0457093',
 'C0460139',
 'C0489547',
 'C0518014',
 'C0518892',
 'C0520887',
 'C0541749',
 'C0541990',
 'C0559225',
 'C0561990',
 'C0561996',
 'C0564215',
 'C0564405',
 'C0566001',
 'C0566528',
 'C0580846',
 'C0582114',
 'C0586514',
 'C0595998',
 'C0596012',
 'C0600116',
 'C0600140',
 'C0687152',
 'C0694547',
 'C0700124',
 'C0701159',
 'C0740170',
 'C0744689',
 'C0750484',
 'C0871269',
 'C1142277',
 'C1287298',
 'C1299582',
 'C1299586',
 'C1442861',
 'C1444662',
 'C1446409',
 'C1457868',
 'C1519384',
 'C1545588',
 'C1627937',
 'C1835130',
 'C1961028',
 'C2143306',
 'C2349945',
 'C2587207',
 'C2599640',
 'C2678378',
 'C2984079',
 'C3151529',
 'C3274779',
 'C3275073',
 'C3714536',
 'C3714614',
 'C3810854',
 'C3828954',
 'C3840968',
 'C3841003',
 'C3841647',
 'C3841798',
 'C3842079',
 'C3842088',
 'C3842953',
 'C3845720',
 'C3845928',
 'C3887784',
 'C4015487',
 'C4049693',
 'C4068744',
 'C4068777',
 'C4068782',
 'C4288557',
 'C4321335',
 'C4520849',
 'C4534363',
 'C4539801',
 'C0012155',
 'C0043392',
 'C0242295',
 'C0452837',
 'C1720240',
 'C0016203',
 'C0042037',
 'C0205173',
 'C0205196',
 'C0205249',
 'C0205301',
 'C0205321',
 'C0205341',
 'C0205359',
 'C0205476',
 'C0231174',
 'C0231175',
 'C0233568',
 'C0234621',
 'C0332120',
 'C0332257',
 'C0332287',
 'C0332296',
 'C0332300',
 'C0332302',
 'C0332303',
 'C0332310',
 'C0332620',
 'C0333051',
 'C0333118',
 'C0333177',
 'C0333348',
 'C0333668',
 'C0392748',
 'C0439801',
 'C0445105',
 'C0449258',
 'C0449913',
 'C0456081',
 'C0521033',
 'C0521346',
 'C0542341',
 'C0686904',
 'C0728831',
 'C0745777',
 'C0870432',
 'C0884358',
 'C1274040',
 'C1285529',
 'C1301732',
 'C1301820',
 'C1314677',
 'C1314792',
 'C1314939',
 'C1519246',
 'C1522196',
 'C1522326',
 'C1527415',
 'C1555029',
 'C1711411',
 'C1947917',
 'C1999232',
 'C3244310',
 'C3665546',
 'C4048755',
 'C4281991',
 'C4319718',
 'C4321547',
 'C0043393',
 'C1366752',
 'C1416969',
 'C1417945',
 'C1420279',
 'C1422467',
 'C1427122',
 'C1428711',
 'C2829948',
 'C0017446',
 'C0017540',
 'C0392351',
 'C0871489',
 'C0001758',
 'C0018795',
 'C0019993',
 'C0030685',
 'C0031809',
 'C0034107',
 'C0184666',
 'C0220825',
 'C0441587',
 'C0441640',
 'C0557055',
 'C0600015',
 'C1522577',
 'C1533810',
 'C3887621',
 'C4072643',
 'C4482331',
 'C0019994',
 'C0021708',
 'C0022877',
 'C0562508',
 'C0587438',
 'C2711734',
 'C3845566',
 'C3887620',
 'C0014563',
 'C0021641',
 'C0312448',
 'C0036043',
 'C0086047',
 'C0010453',
 'C0034380',
 'C0043197',
 'C0332290',
 'C0349590',
 'C0392360',
 'C0449450',
 'C0549178',
 'C0750492',
 'C0750501',
 'C0750528',
 'C0750532',
 'C0750541',
 'C0750591',
 'C1533716',
 'C1547323',
 'C1704446',
 'C1705214',
 'C1705535',
 'C1707478',
 'C2699424',
 'C3146298',
 'C0085134',
 'C0302595',
 'C0680095',
 'C0005658',
 'C0272448',
 'C0332803',
 'C0413258',
 'C3263723',
 'C0005367',
 'C0032825',
 'C0043047',
 'C0445115',
 'C0600137',
 'C2946261',
 'C3536832',
 'C0009491',
 'C0013113',
 'C0018017',
 'C0178916',
 'C0459471',
 'C0460114',
 'C0747307',
 'C0805701',
 'C1277691',
 'C1301584',
 'C1442065',
 'C1443235',
 'C1510776',
 'C1704922',
 'C1706817',
 'C2347453',
 'C2984058',
 'C3244315',
 'C3273178',
 'C3639196',
 'C3869813',
 'C3871191',
 'C4050466',
 'C4050469',
 'C4084858',
 'C4284232',
 'C4321403',
 'C0005771',
 'C0018935',
 'C0023508',
 'C0030605',
 'C0039807',
 'C0200949',
 'C0201975',
 'C0430404',
 'C0523174',
 'C0525032',
 'C0855657',
 'C0040210',
 'C0043091',
 'C0428969',
 'C0455816',
 'C0587081',
 'C1271471',
 'C0004916',
 'C0016249',
 'C0024940',
 'C0475311',
 'C0677535',
 'C1707719',
 'C1708577',
 'C3872494',
 'C0013119',
 'C0027524',
 'C0038257',
 'C0085590',
 'C0175722',
 'C0175730',
 'C0179574',
 'C0179740',
 'C0179790',
 'C0179804',
 'C0180824',
 'C0181586',
 'C0181687',
 'C0181904',
 'C0182996',
 'C0184165',
 'C0336630',
 'C0441100',
 'C0493188',
 'C0524724',
 'C0700221',
 'C1145640',
 'C1553560',
 'C1553567',
 'C1553579',
 'C1553624',
 'C0004056',
 'C0004448',
 'C0043012',
 'C0162340',
 'C0679006',
 'C0876928',
 'C1331418',
 'C2987187',
 'C0497327',
 'C0683278',
 'C0450448',
 'C0806140',
 'C1266099',
 'C0019664',
 'C0001554',
 'C0557854',
 'C0012797',
 'C0018820',
 'C0027540',
 'C0080310',
 'C0080311',
 'C0232164',
 'C0234222',
 'C0005802',
 'C0608264',
 'C0960273',
 'C0085732',
 'C0086582',
 'C0233426',
 'C0483415',
 'C0489786',
 'C0005823',
 'C0018270',
 'C0024888',
 'C0026649',
 'C0037817',
 'C0043240',
 'C0560560',
 'C2584320',
 'C2584321',
 'C0004144',
 'C0007642',
 'C0011164',
 'C0013687',
 'C0019080',
 'C0020517',
 'C0020564',
 'C0022116',
 'C0026266',
 'C0036974',
 'C0242184',
 'C0332448',
 'C0342649',
 'C0546817',
 'C0600228',
 'C0857353',
 'C1265885',
 'C1611184',
 'C3714514',
 'C3887532',
 'C0021562',
 'C0030705',
 'C0001645',
 'C0002598',
 'C0003015',
 'C0004057',
 'C0006938',
 'C0015846',
 'C0016277',
 'C0016860',
 'C0025872',
 'C0026549',
 'C0027235',
 'C0042553',
 'C0104487',
 'C0225326',
 'C0237795',
 'C0253563',
 'C0284559',
 'C0310370',
 'C0359949',
 'C0591126',
 'C0635282',
 'C0684189',
 'C0699194',
 'C0699601',
 'C0699992',
 'C0700776',
 'C0720654',
 'C0720930',
 'C0733815',
 'C1170730',
 'C1692318',
 'C2728259',
 'C3541396',
 'C4042790',
 'C0234402',
 'C0868945',
 'C1947910',
 'C2239193',
 'C4319723',
 'C0025320',
 'C0337815',
 'C0028661',
 'C0402015',
 'C0586909',
 'C1144859',
 'C1320929',
 'C0009393',
 'C0027552',
 'C0175668',
 'C0175895',
 'C0205163',
 'C0205164',
 'C0205169',
 'C0205179',
 'C0205183',
 'C0205189',
 'C0205194',
 'C0205197',
 'C0205208',
 'C0205210',
 'C0205266',
 'C0205272',
 'C0205307',
 'C0205309',
 'C0205345',
 'C0205352',
 'C0205358',
 'C0205360',
 'C0205361',
 'C0205396',
 'C0205397',
 'C0205406',
 'C0205411',
 'C0205419',
 'C0220938',
 'C0221205',
 'C0332125',
 'C0332156',
 'C0332232',
 'C0332271',
 'C0332281',
 'C0332319',
 'C0332528',
 'C0332529',
 'C0332585',
 'C0348080',
 'C0439541',
 'C0439673',
 'C0439793',
 'C0439806',
 'C0439810',
 'C0439824',
 'C0442800',
 'C0442821',
 'C0443289',
 'C0444502',
 'C0444506',
 'C0449297',
 'C0449438',
 'C0449584',
 'C0456962',
 'C0520960',
 'C0521093',
 'C0522499',
 'C0522501',
 'C0522507',
 'C0542193',
 'C0547040',
 'C0554991',
 'C0678579',
 'C0700364',
 'C0702116',
 'C0743559',
 'C0806487',
 'C0849355',
 'C1260956',
 'C1272682',
 'C1272689',
 'C1272691',
 'C1272745',
 'C1276802',
 'C1280412',
 'C1299585',
 'C1301906',
 'C1444748',
 'C1456348',
 'C1514756',
 'C1514902',
 'C1522427',
 'C1522508',
 'C1524031',
 'C1524072',
 'C1527428',
 'C1561607',
 'C1638411',
 'C1704419',
 'C1705492',
 'C1708760',
 'C1720688',
 'C1801960',
 'C1880496',
 'C1883728',
 'C1948059',
 'C1979874',
 'C1998467',
 'C2963144',
 'C2984009',
 'C3163633',
 'C3245505',
 'C3714811',
 'C3898900',
 'C4082695',
 'C4288581',
 'C0039476',
 'C0043100',
 'C0079809',
 'C0178587',
 'C0178602',
 'C0205171',
 'C0205216',
 'C0205217',
 'C0205435',
 'C0205436',
 'C0237753',
 'C0439064',
 'C0439092',
 'C0439093',
 'C0439208',
 'C0439420',
 'C0439453',
 'C0439475',
 'C0442822',
 'C0444956',
 'C0449286',
 'C0456628',
 'C0475211',
 'C0549177',
 'C0598352',
 'C0680968',
 'C0700321',
 'C0750480',
 'C1300567',
 'C1442488',
 'C1510992',
 'C1547014',
 'C1552960',
 'C1632851',
 'C1806781',
 'C2348796',
 'C3869891',
 'C3869892',
 'C2603343',
 'C2986914',
 'C0000737',
 'C0008031',
 'C0010200',
 'C0013604',
 'C0016382',
 'C0023218',
 'C0030193',
 'C0043144',
 'C0151826',
 'C0151908',
 'C0333274',
 'C0542476',
 'C1457887',
 'C2364135',
 'C0680240',
 'C0868443',
 'C0038846',
 'C0175566',
 'C0205090',
 'C0205093',
 'C0205094',
 'C0205100',
 'C0205107',
 'C0205111',
 'C0205131',
 'C0205132',
 'C0205145',
 'C0205147',
 'C0205150',
 'C0205219',
 'C0205234',
 'C0205246',
 'C0205283',
 'C0238767',
 'C0332194',
 'C0332285',
 'C0348013',
 'C0439639',
 'C0439738',
 'C0442004',
 'C0442504',
 'C0443198',
 'C0443246',
 'C0443315',
 'C0444454',
 'C0444532',
 'C0444598',
 'C0449719',
 'C0449738',
 'C0449911',
 'C0456389',
 'C0522015',
 'C0542339',
 'C0547043',
 'C0589488',
 'C0678594',
 'C0733755',
 'C0876954',
 'C0882663',
 'C1179866',
 'C1282910',
 'C1292711',
 'C1512855',
 'C1512910',
 'C1522565',
 'C1522718',
 'C1550045',
 'C1710706',
 'C1880089',
 'C1882151',
 'C2700034',
 'C2700177',
 'C4299029',
 'C4299032',
 'C0302908',
 'C1289919',
 'C1550099',
 'C0003629',
 'C0011008',
 'C0039155',
 'C0080129',
 'C0205087',
 'C0205156',
 'C0205191',
 'C0205265',
 'C0205267',
 'C0205322',
 'C0231290',
 'C0240526',
 'C0241301',
 'C0332152',
 'C0332170',
 'C0332183',
 'C0332185',
 'C0332189',
 'C0332282',
 'C0332283',
 'C0392761',
 'C0439227',
 'C0439228',
 'C0439231',
 'C0439234',
 'C0439550',
 'C0439580',
 'C0439659',
 'C0443196',
 'C0457453',
 'C0521114',
 'C0521116',
 'C0556984',
 'C0559269',
 'C0580822',
 'C0587117',
 'C0587121',
 'C0677546',
 'C1272706',
 'C1279919',
 'C1292423',
 'C1302393',
 'C1442447',
 'C1442448',
 'C1442449',
 'C1442455',
 'C1442458',
 ...]

In [40]:
# split the cuis
cui_v_all_1=cui_v_all[0:10000]
cui_v_all_2=cui_v_all[10000:20000]
cui_v_all_3=cui_v_all[20000:30000]
cui_v_all_4=cui_v_all[30000:40000]
cui_v_all_5=cui_v_all[40000:50000]
cui_v_all_6=cui_v_all[50000:60000]
cui_v_all_7=cui_v_all[60000:len(cui_v_all)]
print(len(cui_v_all_1))
print(len(cui_v_all_2))
print(len(cui_v_all_3))
print(len(cui_v_all_4))
print(len(cui_v_all_5))
print(len(cui_v_all_6))
print(len(cui_v_all_7))

10000
10000
10000
10000
10000
10000
9583

In [119]:
# 2.unique ED cuis
cui_v=ED_uns_EDcui_icd_notes['cui'].unique().tolist()
len(cui_v)

134

In [24]:
#### 1.Create patients matrix with annotated all cuis
df_all = ED_uns_dist1_EDG
df_all.head()

,Unnamed: 0,ED_cui,type,subject_id,hadm_id,cui,rid_count,YY,NN,YN,NY,ED_G
0,0,No,Acquired Abnormality,3,145834,C0001168,1,0.0,0.0,0.0,1.0,NY
1,1,No,Acquired Abnormality,3,145834,C0333293,1,0.0,0.0,0.0,1.0,NY
2,2,No,Activity,3,145834,C0024501,6,0.0,0.0,0.0,1.0,NY
3,3,No,Activity,3,145834,C1272683,1,0.0,0.0,0.0,1.0,NY
4,4,No,Activity,3,145834,C1283174,3,0.0,0.0,0.0,1.0,NY

In [52]:
df_all_1 = df_all.loc[df_all['cui'].isin (cui_v_all_1),:]

In [59]:
df_all_2 = df_all.loc[df_all['cui'].isin (cui_v_all_2),:]
df_all_3 = df_all.loc[df_all['cui'].isin (cui_v_all_3),:]
df_all_4 = df_all.loc[df_all['cui'].isin (cui_v_all_4),:]
df_all_5 = df_all.loc[df_all['cui'].isin (cui_v_all_5),:]
df_all_6 = df_all.loc[df_all['cui'].isin (cui_v_all_6),:]
df_all_7 = df_all.loc[df_all['cui'].isin (cui_v_all_7),:]

In [53]:
df_all_1.head()

,Unnamed: 0,ED_cui,type,subject_id,hadm_id,cui,rid_count,YY,NN,YN,NY,ED_G
0,0,No,Acquired Abnormality,3,145834,C0001168,1,0.0,0.0,0.0,1.0,NY
1,1,No,Acquired Abnormality,3,145834,C0333293,1,0.0,0.0,0.0,1.0,NY
2,2,No,Activity,3,145834,C0024501,6,0.0,0.0,0.0,1.0,NY
3,3,No,Activity,3,145834,C1272683,1,0.0,0.0,0.0,1.0,NY
4,4,No,Activity,3,145834,C1283174,3,0.0,0.0,0.0,1.0,NY

In [55]:
# 1.1.matrix by patient and admin_id
# cui matrix : pivot
df_all_cui_1= df_all_1.pivot(index=['ED_G','subject_id','hadm_id','ED_cui'], columns='cui', values='rid_count')

In [56]:
df_all_cui_1=df_all_cui_1.fillna(0)
df_all_cui_1=pd.DataFrame(df_all_cui_1).reset_index()
df_all_cui_1.head()

cui,ED_G,subject_id,hadm_id,ED_cui,C0000618,C0000726,C0000729,C0000731,C0000737,C0000768,...,C4534555,C4534556,C4539602,C4539801,C4539836,C4543303,C4546143,C4546541,C4547399,C4551285
0,NY,3,145834,ED,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NY,3,145834,No,0.0,12.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NY,9,150750,ED,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NY,9,150750,No,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NY,12,112213,ED,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [61]:
df_all_cui_2= df_all_2.pivot(index=['ED_G','subject_id','hadm_id','ED_cui'], columns='cui', values='rid_count')
df_all_cui_2=df_all_cui_2.fillna(0)
df_all_cui_2=pd.DataFrame(df_all_cui_2).reset_index()
df_all_cui_2.head()

cui,ED_G,subject_id,hadm_id,ED_cui,C0000294,C0000610,C0000727,C0000734,C0000739,C0000765,...,C4539905,C4543217,C4544369,C4544532,C4545644,C4545645,C4545787,C4546866,C4547937,C4549234
0,NY,9,150750,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NY,18,188822,ED,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NY,18,188822,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NY,22,165315,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NY,26,197661,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
df_all_cui_3= df_all_3.pivot(index=['ED_G','subject_id','hadm_id','ED_cui'], columns='cui', values='rid_count')
df_all_cui_3=df_all_cui_3.fillna(0)
df_all_cui_3=pd.DataFrame(df_all_cui_3).reset_index()
df_all_cui_3.head()

cui,ED_G,subject_id,hadm_id,ED_cui,C0000735,C0000876,C0000967,C0000983,C0001034,C0001044,...,C4544575,C4544666,C4544667,C4546900,C4546901,C4546905,C4546979,C4547015,C4547016,C4550876
0,NY,9,150750,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NY,18,188822,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NY,22,165315,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NY,26,197661,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NY,35,166707,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
df_all_cui_4= df_all_4.pivot(index=['ED_G','subject_id','hadm_id','ED_cui'], columns='cui', values='rid_count')
df_all_cui_4=df_all_cui_4.fillna(0)
df_all_cui_4=pd.DataFrame(df_all_cui_4).reset_index()
df_all_cui_4.head()

cui,ED_G,subject_id,hadm_id,ED_cui,C0000477,C0000696,C0000702,C0000814,C0000820,C0000846,...,C4546337,C4546338,C4546899,C4546911,C4547006,C4547014,C4547044,C4549925,C4551384,C4551415
0,NY,9,150750,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NY,18,188822,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NY,35,166707,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NY,45,157907,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NY,59,104130,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
df_all_cui_5= df_all_5.pivot(index=['ED_G','subject_id','hadm_id','ED_cui'], columns='cui', values='rid_count')
df_all_cui_5=df_all_cui_5.fillna(0)
df_all_cui_5=pd.DataFrame(df_all_cui_5).reset_index()
df_all_cui_5.head()

cui,ED_G,subject_id,hadm_id,ED_cui,C0000378,C0000503,C0000723,C0000766,C0000790,C0000857,...,C4545038,C4545488,C4545686,C4546910,C4546978,C4547013,C4547356,C4547431,C4551231,C4551390
0,NY,9,150750,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NY,18,188822,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NY,22,165315,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NY,63,195961,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NY,69,190201,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [65]:
df_all_cui_6= df_all_6.pivot(index=['ED_G','subject_id','hadm_id','ED_cui'], columns='cui', values='rid_count')
df_all_cui_6=df_all_cui_6.fillna(0)
df_all_cui_6=pd.DataFrame(df_all_cui_6).reset_index()
df_all_cui_6.head()

cui,ED_G,subject_id,hadm_id,ED_cui,C0000598,C0000608,C0000741,C0000901,C0000912,C0000939,...,C4546906,C4546920,C4546945,C4546958,C4546977,C4547266,C4547876,C4550186,C4551329,C4551352
0,NY,9,150750,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NY,18,188822,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NY,26,197661,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NY,62,116009,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NY,104,164025,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
df_all_cui_7= df_all_7.pivot(index=['ED_G','subject_id','hadm_id','ED_cui'], columns='cui', values='rid_count')
df_all_cui_7=df_all_cui_7.fillna(0)
df_all_cui_7=pd.DataFrame(df_all_cui_7).reset_index()
df_all_cui_7.head()

cui,ED_G,subject_id,hadm_id,ED_cui,C0000039,C0000167,C0000364,C0000473,C0000481,C0000809,...,C4546652,C4546864,C4546933,C4546975,C4546976,C4547230,C4550347,C4551144,C4551397,C4551399
0,NY,63,195961,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NY,69,190201,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NY,71,111944,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NY,104,164025,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NY,105,161160,No,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [73]:
df_all_cui_1.to_csv(DATA_DIR + "III_20.2.1.F ED_patient_allcui_var_summary_1.csv", index=True)
df_all_cui_2.to_csv(DATA_DIR + "III_20.2.2.F ED_patient_allcui_var_summary_2.csv", index=True)
df_all_cui_3.to_csv(DATA_DIR + "III_20.2.3.F ED_patient_allcui_var_summary_3.csv", index=True)

In [72]:
df_all_cui_4.to_csv(DATA_DIR + "III_20.2.4.F ED_patient_allcui_var_summary_4.csv", index=True)
df_all_cui_5.to_csv(DATA_DIR + "III_20.2.5.F ED_patient_allcui_var_summary_5.csv", index=True)
df_all_cui_6.to_csv(DATA_DIR + "III_20.2.6.F ED_patient_allcui_var_summary_6.csv", index=True)
df_all_cui_7.to_csv(DATA_DIR + "III_20.2.7.F ED_patient_allcui_var_summary_7.csv", index=True)

In [25]:
#### 2.Create patients matrix with annotated ED cuis
df = ED_uns_EDcui_icd_notes
df.head()

,Unnamed: 0,ED_cui,type,subject_id,hadm_id,cui,rid_count,YY,NN,YN,NY,ED_G
1050,1050,ED,Sign or Symptom,3,145834,C0085631,5,0.0,0.0,0.0,1.0,NY
1573,1573,ED,Mental or Behavioral Dysfunction,12,112213,C0009676,4,0.0,0.0,0.0,1.0,NY
1574,1574,ED,Sign or Symptom,12,112213,C0023380,1,0.0,0.0,0.0,1.0,NY
1575,1575,ED,Sign or Symptom,12,112213,C0085631,26,0.0,0.0,0.0,1.0,NY
2085,2085,ED,Finding,19,109235,C0041657,1,0.0,0.0,0.0,1.0,NY

In [13]:
# 2.1.matrix by patient and admin_id

# cui matrix : pivot
df_type_cui= df.pivot(index=['ED_G','type','subject_id','hadm_id','ED_cui'], columns='cui', values='rid_count')

In [14]:
#2.2
df_type_cui_F=df_type_cui.fillna(0)
df_type_cui_F=pd.DataFrame(df_type_cui_F).reset_index()
df_type_cui_F.head()

cui,ED_G,type,subject_id,hadm_id,ED_cui,C0001957,C0001969,C0006107,C0006109,C0006112,...,C2931917,C3508472,C3531755,C3840218,C3887612,C4024917,C4024937,C4024978,C4076763,C4511595
0,NY,Congenital Abnormality,89416,100985,ED,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0
1,NY,Disease or Syndrome,22,165315,ED,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NY,Disease or Syndrome,31,128652,ED,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NY,Disease or Syndrome,72,156857,ED,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NY,Disease or Syndrome,78,100536,ED,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
df2=df_type_cui_F
df2.head()

cui,ED_G,type,subject_id,hadm_id,ED_cui,C0001957,C0001969,C0006107,C0006109,C0006112,...,C2931917,C3508472,C3531755,C3840218,C3887612,C4024917,C4024937,C4024978,C4076763,C4511595
0,NY,Congenital Abnormality,89416,100985,ED,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0
1,NY,Disease or Syndrome,22,165315,ED,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NY,Disease or Syndrome,31,128652,ED,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NY,Disease or Syndrome,72,156857,ED,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NY,Disease or Syndrome,78,100536,ED,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
df2.to_csv(DATA_DIR + "III_20.2.F ED_patient_EDcui_var.csv", index=True)

In [17]:
df3 =df2.groupby(['ED_G','type','subject_id','hadm_id','ED_cui']).sum()
df3=pd.DataFrame(df3).reset_index()
df3.head()

cui,ED_G,type,subject_id,hadm_id,ED_cui,C0001957,C0001969,C0006107,C0006109,C0006112,...,C2931917,C3508472,C3531755,C3840218,C3887612,C4024917,C4024937,C4024978,C4076763,C4511595
0,NY,Congenital Abnormality,89416,100985,ED,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0
1,NY,Disease or Syndrome,22,165315,ED,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NY,Disease or Syndrome,31,128652,ED,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NY,Disease or Syndrome,72,156857,ED,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NY,Disease or Syndrome,78,100536,ED,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
df3.to_csv(DATA_DIR + "III_20.2.F ED_patient_EDcui_var_summary.csv", index=True)