## Research : Encephalopathies and Delirium  in CKG
### Pub_4.Pub_4.ED Group_Prediction_annotation_preparation_F

#### I. Cuis Vs Icd_notes distributions : NN, YY+YN, and NY
#### II. Select noteevents with the selected row_ids : NN, YY+YN, and NY
#### III. Annotation for NN, YN and YY
#### IV. Data preparation for ED classification model
    ##### 1. admission summary for YY and YN Vs NN
    ##### 2. summary by admin_id
    ##### 3. cui matrix for ED positive and negative patients : YY and YN, Vs NN
    ##### 4. NY group data preparation to apply the final model
#### V.Model data preparation with NN, YY and YN group    
    ##### 1. Final cui matrix for positive ED(YY+YN) and negative ED(NN)
    ##### 2.import final admission data and cui matrix for positive ED(YY+YN) and negative ED(NN)
    
_Soo Kyung Bae (Scarlett : K19071757)MSc<br/>
Department of Biostatistics and Health Informatics<br/>
Institute of Psychiatry, Psychology and Neuroscience<br/>
King's College London<br/>_

_Soo Kyung Bae(Scarlett), Ph.D. Student<br/>
Dept. of Integrated Medicine(Major in Digital Healthcare)<br/>
Yonsei University College of Medicine<br/>_

In [1]:
import os
os.getcwd()

'/home/ubuntu/Scarlett/Final PG'

In [2]:
DATA_DIR = "/home/ubuntu/Scarlett/Output_F/"

### I. Cuis Vs Icd_notes distributions : NN, YY+YN, and NY

In [2]:
# import : ED_uns_p_all_cuis
import pandas as pd
ED_uns_p_all_cuis= pd.read_csv(DATA_DIR + "III_16.ED_patient_p_all_cuisFinal.csv")

# ED patiens extracted from annotated cui_ids from unstructured text info.(clinical notes)
output = pd.read_csv(DATA_DIR + "III_18.ED_patient_group_output.csv")

# ED patients group : NN, NY, YN, YY, Mixed
output2 = pd.read_csv(DATA_DIR + "III_18_2.ED_patient_group_output2.csv")
df_output_out= pd.read_csv(DATA_DIR + "III_22.F2.df_output_out.csv")

In [2]:
ED_uns_p_all_cuis.head()

,Unnamed: 0,row_id,subject_id,hadm_id,chartdate,category,description,pretty_name,cui,tui,type,source_value,ED_cui
0,0,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Date of admission,C1302393,T079,Temporal Concept,Admission Date,False
1,1,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Discharge date,C2361123,T079,Temporal Concept,Discharge Date,False
2,2,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Patient date of birth,C0421451,T033,Finding,Date of Birth,False
3,3,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Drug Allergy,C0013182,T046,Pathologic Function,MEDICINE\n\nAllergies,False
4,4,19215,54610,100003,2150-04-21 00:00:00,Discharge summary,Report,Medical Records,C0025102,T170,Intellectual Product,Patient recorded,False

In [4]:
# only ED cui 
ED_uns_p_ED_cuis = ED_uns_p_all_cuis.loc[(ED_uns_p_all_cuis.ED_cui == True), ]

In [5]:
output2.head()

   Unnamed: 0  index  subject_id  hadm_id   YY   NN   YN   NY ED_G
0           0      0           2        1  0.0  1.0  0.0  0.0   NN
1           1      1           3        1  0.0  0.0  0.0  1.0   NY
2           2      2           4        1  0.0  1.0  0.0  0.0   NN
3           3      3           5        1  0.0  1.0  0.0  0.0   NN
4           4      4           6        1  0.0  1.0  0.0  0.0   NN

In [2]:
# import : ED_uns_p_all_cuis
import pandas as pd
ED_patient_cohortF= pd.read_csv(DATA_DIR + "III_17.ED_patient_cohortFinal.csv")

In [5]:
## patient group NN : select patients according to its group type

In [6]:
sub_NN_ids=output2.loc[(output2.ED_G=='NN'),'subject_id'].unique().tolist()
sub_YN_ids=output2.loc[(output2.ED_G=='YN'),'subject_id'].unique().tolist()
sub_YY_ids=output2.loc[(output2.ED_G=='YY'),'subject_id'].unique().tolist()
#ED_uns_p_ED_cui=ED_uns_p_all_cuis.loc[(ED_uns_p_all_cuis.ED_cui == True) ,]

In [18]:
df_output_out.head()

,Unnamed: 0,ED_G,subject_id,1,2,3,4,5,6,7,...,35,36,37,38,39,40,41,42,combined2,combined
0,0,NN,2,NN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NN,NN_NN
1,1,NN,4,NN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NN,NN_NN
2,2,NN,5,NN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NN,NN_NN
3,3,NN,6,NN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NN,NN_NN
4,4,NN,7,NN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NN,NN_NN

In [19]:
df_output_out.combined2.value_counts()

NY                                                                                              18931
NN                                                                                              16709
YY                                                                                               3130
NY_NY                                                                                            1565
NN_NY                                                                                             904
                                                                                                ...
NY_NY_NY_NN_YY_NY                                                                                   1
NY_NY_YY_NY_NY_NY_NY_YY_NY_NY_YY_NY_NY_NN_NY_NY_NY_NY_NY_NY_YY_NY_NY_NY_NY_NY_NY_NY_NY_NY_NY        1
YY_NN_NY_NY_NY_NY                                                                                   1
NN_NN_NY_NY_YY                                                                                      1
NY_NN_NY_NN_NY_NN_NY_NY_NN                                                                          1
Name: combined2, Length: 486, dtype: int64

In [21]:
#df_output_out.loc[(df_output_out.combined2=='NY_YY'),'subject_id'].unique().tolist()

In [4]:
# mixed : :1st NY , 2nd :YY

sub_NY_YY_ids=df_output_out.loc[((df_output_out.ED_G=='mixed') & (df_output_out.combined2=='NY_YY')),'subject_id'].unique().tolist()

In [5]:
len(sub_NY_YY_ids)

314

In [7]:
#NY
sub_NY_ids=output2.loc[(output2.ED_G=='NY'),'subject_id'].unique().tolist()

In [8]:
print(len(sub_NN_ids))
print(len(sub_YN_ids))
print(len(sub_YY_ids))

17687
213
3293

In [9]:
print(len(sub_NY_ids))

20906

In [ ]:
# select all admission mapped by subjet_id in the ED_patient_cohort data

In [10]:
# 1. NN patients outof ED_patient_cohortF
NN_admin = ED_patient_cohortF.loc[ED_patient_cohortF['subject_id'].isin (sub_NN_ids),:]
YN_admin = ED_patient_cohortF.loc[ED_patient_cohortF['subject_id'].isin (sub_YN_ids),:]
YY_admin = ED_patient_cohortF.loc[ED_patient_cohortF['subject_id'].isin (sub_YY_ids),:]
NN_admin.head()

,Unnamed: 0,row_id,seq_num,icd9_code,row_id.1,subject_id,hadm_id,admittime,dischtime,deathtime,...,dod_ssn,expire_flag,admin_age,stay_days,AgeGroup,LOSGroup,age_bucket,ethnicity_G,ED_notes,ED_icd
5,5,1520,1.0,V3001,158,116,127203,2116-10-22 21:26:00,2116-10-26 19:45:00,NaN,...,NaN,0,0.0,4.0,<= 1,< 5,>70,ASIAN,0,0
6,6,1521,2.0,V053,158,116,127203,2116-10-22 21:26:00,2116-10-26 19:45:00,NaN,...,NaN,0,0.0,4.0,<= 1,< 5,>70,ASIAN,0,0
7,7,1522,3.0,V290,158,116,127203,2116-10-22 21:26:00,2116-10-26 19:45:00,NaN,...,NaN,0,0.0,4.0,<= 1,< 5,>70,ASIAN,0,0
8,8,1554,1.0,V3000,161,118,147035,2103-08-11 14:11:00,2103-08-13 13:30:00,NaN,...,NaN,0,0.0,2.0,<= 1,< 5,>70,WHITE,0,0
9,9,1555,2.0,V053,161,118,147035,2103-08-11 14:11:00,2103-08-13 13:30:00,NaN,...,NaN,0,0.0,2.0,<= 1,< 5,>70,WHITE,0,0

In [10]:
# 2.NY
NY_admin = ED_patient_cohortF.loc[ED_patient_cohortF['subject_id'].isin (sub_NY_ids),:]

In [6]:
#3. # mixed : :1st NY , 2nd :YY
# sub_NY_YY_ids
NY_YY_admin = ED_patient_cohortF.loc[ED_patient_cohortF['subject_id'].isin (sub_NY_YY_ids),:]

In [12]:
print(3293+213)
(3293+213)*2

3506

7012

In [62]:
# 1. NN
NN_ids_s=NN_admin['subject_id'].unique().tolist()
NN_ids_s=pd.DataFrame(NN_ids_s).reset_index()
NN_ids_s.columns

Index(['index', 0], dtype='object')

In [45]:
# Random sampling : positive YY+YN : (3293+213) vs. NN : (3293 +213) = 3506 outof 17687
sub_NN_ids_s = NN_ids_s.sample(n=3506)

In [46]:
# Random sampling : positive YY+YN : (3293+213) vs. NN : (3293 +213)*2 = 7012 outof 17687
#subset = NN_admin.sample(n=7012)
print(len(sub_NN_ids_s))

3506

In [70]:
sub_NN_ids_s.head()

       index      0
12689  12689  63686
16082  16082  29195
10335  10335  13555
12434  12434  51722
11564  11564  26434

In [69]:
sub_NN_ids_s.iloc[:,1]
#print(cui_map.iloc[0,:])

12689    63686
16082    29195
10335    13555
12434    51722
11564    26434
         ...
8731     81082
4889      1626
989       9803
8395     61118
8670     77694
Name: 0, Length: 3506, dtype: int64

In [75]:
sub_NN_ids_s['subject_id']=sub_NN_ids_s.iloc[:,1]

len(sub_NN_ids_s)

3506

In [76]:
# NN 
sub_NN_ids_s_l=sub_NN_ids_s['subject_id'].unique().tolist()
print(len(sub_NN_ids_s_l))
subset=ED_patient_cohortF.loc[ED_patient_cohortF['subject_id'].isin (sub_NN_ids_s_l),:]

3506

In [11]:
# 2. NY sampling : (3293 +213)*2 = 7012 outof 20906

NY_ids_s=NY_admin['subject_id'].unique().tolist()
NY_ids_s=pd.DataFrame(NY_ids_s).reset_index()
NY_ids_s.columns

# Random sampling : 6000 patients
sub_NY_ids_s2 = NY_ids_s.sample(n=6000)

In [13]:
# NY sampling 1: (3293 +213)*2 = 7012 outof 20906
# NY sampling 2: 6000 patients
# total : NY_admin

NY_admin_sub = NY_admin.sample(n=7012)
print(len(NY_admin_sub))
sub_NY_ids_s= NY_admin_sub['subject_id'].unique().tolist()
NY_admin_s= ED_patient_cohortF.loc[ED_patient_cohortF['subject_id'].isin (sub_NY_ids_s),:]

7012

In [13]:
# NY sampling 2: 6000 patients
sub_NY_ids_s2['subject_id']=sub_NY_ids_s2.iloc[:,1]
sub_NY_ids_s2_l=sub_NY_ids_s2['subject_id'].unique().tolist()
print(len(sub_NY_ids_s2_l))
NY_admin_s2=ED_patient_cohortF.loc[ED_patient_cohortF['subject_id'].isin (sub_NY_ids_s2_l),:]

6000

In [15]:
len(NY_admin_s2)

74486

In [14]:
ED_patient_cohortF.shape

(651047, 37)

In [82]:
print(subset.shape)
print(len(subset['subject_id'].unique().tolist()))
print(len(subset['hadm_id'].unique().tolist()))
subset.head()

(30168, 37)
3506
3732

,Unnamed: 0,row_id,seq_num,icd9_code,row_id.1,subject_id,hadm_id,admittime,dischtime,deathtime,...,dod_ssn,expire_flag,admin_age,stay_days,AgeGroup,LOSGroup,age_bucket,ethnicity_G,ED_notes,ED_icd
34,34,619,1.0,41061,78,77,142768,2164-11-18 07:00:00,2164-11-20 14:30:00,NaN,...,NaN,0,45.52,2.0,<50,< 5,31-50,OTHER,0,0
35,35,620,2.0,4280,78,77,142768,2164-11-18 07:00:00,2164-11-20 14:30:00,NaN,...,NaN,0,45.52,2.0,<50,< 5,31-50,OTHER,0,0
36,36,621,3.0,41401,78,77,142768,2164-11-18 07:00:00,2164-11-20 14:30:00,NaN,...,NaN,0,45.52,2.0,<50,< 5,31-50,OTHER,0,0
37,37,622,4.0,2720,78,77,142768,2164-11-18 07:00:00,2164-11-20 14:30:00,NaN,...,NaN,0,45.52,2.0,<50,< 5,31-50,OTHER,0,0
38,38,623,5.0,2721,78,77,142768,2164-11-18 07:00:00,2164-11-20 14:30:00,NaN,...,NaN,0,45.52,2.0,<50,< 5,31-50,OTHER,0,0

In [83]:
# output

In [14]:
# 1.NN samples, YN,YY  administration info 
subset.to_csv(DATA_DIR + "v_25.1.NN_hadm_id_sample.csv", index=True)
YN_admin.to_csv(DATA_DIR + "v_25.2.YN_hadm_id.csv", index=True)
YY_admin.to_csv(DATA_DIR + "v_25.3.YY_hadm_id.csv", index=True)

In [15]:
# 2.1.NY : sampling1
NY_admin_s.to_csv(DATA_DIR + "v_25.4.NY_hadm_id_sample.csv", index=True)

In [ ]:
# unique administration ids for clinial notes annotation

In [3]:
DATA_DIR = "/home/ubuntu/Scarlett/Output_F/"

In [4]:
# Import : NN samples, YN,YY 
import pandas as pd
subset = pd.read_csv(DATA_DIR + "v_25.1.NN_hadm_id_sample.csv")
YN_admin= pd.read_csv(DATA_DIR + "v_25.2.YN_hadm_id.csv")
YY_admin= pd.read_csv(DATA_DIR + "v_25.3.YY_hadm_id.csv")
# NY
NY_admin_s= pd.read_csv(DATA_DIR + "v_25.4.NY_hadm_id_sample.csv")
#NY_admin= pd.read_csv(DATA_DIR + "v_25.5.NY_hadm_id_total.csv")

In [5]:
# unique administration ids list in NN( random sample: subset, YN and YY)
NN_hadm_id_s_list = subset['hadm_id'].unique().tolist()
YN_hadm_id_s_list = YN_admin['hadm_id'].unique().tolist()
YY_hadm_id_s_list = YY_admin['hadm_id'].unique().tolist()

NY_hadm_id_s_list = NY_admin_s['hadm_id'].unique().tolist()

#YY_hadm_id_s_list

### II. Select noteevents with the selected row_ids : NN, YY+YN, and NY

In [10]:
import pandas as pd
from elastic_util import *
from elasticsearch import Elasticsearch

In [12]:
from sqlalchemy import create_engine
sql_engine = create_engine('postgresql://ckg:Admin123@10.200.106.114:5432/mimic')

In [5]:
# hadmin_list : NN, YN and YY
NN_ad_ids = ', '.join([str(i) for i in NN_hadm_id_s_list])
YN_ad_ids = ', '.join([str(i) for i in YN_hadm_id_s_list])
YY_ad_ids = ', '.join([str(i) for i in YY_hadm_id_s_list])


NY_ad_ids = ', '.join([str(i) for i in NY_hadm_id_s_list])

In [15]:
#NY_ad_ids

In [6]:
# 1. Select noteevents with the selected row_ids fro NN samples
# Replace a SQL query
sql_query = 'select * from noteevents where hadm_id in (' + NN_ad_ids + ')'

NN_p_docs = pd.read_sql_query(sql_query,con=sql_engine)

In [7]:
NN_p_docs.head()

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text
0,41832,51495,100034,2164-04-27,NaT,NaT,Discharge summary,Report,NaN,None,Admission Date: [**2164-4-23**] ...
1,94376,51495,100034,2164-04-23,NaT,NaT,Echo,Report,NaN,None,PATIENT/TEST INFORMATION:\nIndication: Chest p...
2,248620,51495,100034,2164-04-23,NaT,NaT,ECG,Report,NaN,None,Sinus rhythm. Leftward axis. Prior anterosep...
3,248619,51495,100034,2164-04-23,NaT,NaT,ECG,Report,NaN,None,Sinus rhythm. Inferior wall myocardial infarc...
4,1242831,51495,100034,2164-04-27,2164-04-27 10:55:00,NaT,Radiology,CHEST (PA & LAT),NaN,None,[**2164-4-27**] 10:55 AM\n CHEST (PA & LAT) ...

In [8]:
NN_p_docs.shape

(62955, 11)

In [96]:

# NN unstructured patients cuis and rowids by Medcat annotation (final)
NN_p_docs.to_csv(DATA_DIR + "II_13.3.NN_patients_p_docsF.csv", index=True)

In [19]:
#  Select noteevents with the selected row_ids fro YN samples

sql_query = 'select * from noteevents where hadm_id in (' + YN_ad_ids + ')'

YN_p_docs = pd.read_sql_query(sql_query,con=sql_engine)
YN_p_docs.head()

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text
0,390,79089,186996,2109-02-18,NaT,NaT,Discharge summary,Report,NaN,None,Admission Date: [**2109-2-5**] D...
1,1168,26875,194463,2189-05-26,NaT,NaT,Discharge summary,Report,NaN,None,Admission Date: [**2189-5-23**] ...
2,2427,22955,125884,2110-06-09,NaT,NaT,Discharge summary,Report,NaN,None,Admission Date: [**2110-5-30**] Dischar...
3,3810,26958,168975,2117-09-04,NaT,NaT,Discharge summary,Report,NaN,None,Admission Date: [**2117-9-4**] D...
4,3827,43274,117430,2129-06-22,NaT,NaT,Discharge summary,Report,NaN,None,Admission Date: [**2129-5-23**] ...

In [20]:
# 2. YN unstructured patients cuis and rowids by Medcat annotation (final)
YN_p_docs.to_csv(DATA_DIR + "II_13.4.YN_patients_p_docsF.csv", index=True)

In [21]:
#  Select noteevents with the selected row_ids fro YY samples

sql_query = 'select * from noteevents where hadm_id in (' + YY_ad_ids + ')'

YY_p_docs = pd.read_sql_query(sql_query,con=sql_engine)
YY_p_docs.head()

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text
0,151699,16229,100017,2103-03-11,NaT,NaT,ECG,Report,NaN,None,Sinus rhythm. Normal tracing. No previous trac...
1,751278,16229,100017,2103-03-11,2103-03-11 08:20:00,NaT,Radiology,CHEST (PORTABLE AP),NaN,None,[**2103-3-11**] 8:20 AM\n CHEST (PORTABLE AP) ...
2,1474454,16229,100017,2103-03-11,2103-03-11 09:48:00,2103-03-11 09:53:00,Nursing/other,Report,21570.0,None,Resp. Note\nPt was received on AC ventilation....
3,1474455,16229,100017,2103-03-11,2103-03-11 13:43:00,2103-03-11 13:49:00,Nursing/other,Report,15922.0,None,"MICU NSG\nRESP--PLACED ON PS 5 PEEP 5, DID WEL..."
4,1474456,16229,100017,2103-03-11,2103-03-11 13:43:00,2103-03-11 17:22:00,Nursing/other,Report,15922.0,None,MICU NSG\nadden: pt section 12. to be trans ...

In [22]:
# YN unstructured patients cuis and rowids by Medcat annotation (final)
YY_p_docs.to_csv(DATA_DIR + "II_13.5.YY_patients_p_docsF.csv", index=True)

In [9]:
#  3.1. Select noteevents with the selected row_ids for NY samples1

sql_query = 'select * from noteevents where hadm_id in (' + NY_ad_ids + ')'

NY_p_docs = pd.read_sql_query(sql_query,con=sql_engine)
NY_p_docs.head()

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text
0,16580,58128,100018,2176-09-06,NaT,NaT,Discharge summary,Report,NaN,None,Admission Date: [**2176-8-29**] ...
1,700059,58128,100018,2176-08-31,2176-08-31 15:00:00,2176-08-31 15:06:09,Nursing,Nursing Progress Note,20172.0,None,Patient POD 2 C5-C6 anterior fusion & POD 1 C1...
2,699850,58128,100018,2176-08-30,2176-08-30 04:01:00,2176-08-30 06:31:53,Nursing,Nursing Progress Note,14213.0,None,Impaired Physical Mobility\n Assessment:\n ...
3,700002,58128,100018,2176-08-31,2176-08-31 06:06:00,2176-08-31 06:29:47,Physician,Intensivist Note,15511.0,None,SICU\n HPI:\n 55 y.o. Male w/ extensive me...
4,699955,58128,100018,2176-08-30,2176-08-30 10:09:00,2176-08-30 19:38:44,Nursing,Nursing Progress Note,15047.0,None,55 y.o. Male w/ extensive medical history incl...

In [10]:
# NY unstructured patients cuis and rowids by Medcat annotation (final)
NY_p_docs.to_csv(DATA_DIR + "II_13.6.NY_patients_p_docsF.csv", index=True)

### III. Annotation for NN, YN and YY

In [25]:
from elastic_util import *
from elasticsearch import Elasticsearch
from elasticsearch_dsl import Q
from datetime import datetime

client = Elasticsearch('http://elastic:Admin2019@10.200.112.204:9200', 
                       request_timeout=600000, retry_on_timeout=True)

if not client.ping():
    raise ValueError("Connection failed")

In [26]:
index = 'mimic_medcat'
doc_type = 'doc'

In [ ]:
# meta_anns.Negated.name, meta_anns.Negated.value, meta_anns.Skip.name, meta_anns.Skip.value

In [27]:
def all_df_chunk(row_id_list, all_df=None, size=1000):
    must = [Q("match", meta_anns__Negated__value='No'), Q("match", meta_anns__Skip__value='No')]
    dfs = []

    data = row_id_list
    for chunk in [data[x:x+size] for x in range(0, len(data), size)]:
        should = []
        print('------------------')
    #     print(chunk)
        for row_id in chunk:
          should.append(Q("match", row_id=row_id))
        q = Q('bool',
            must=must,
            should=should,
            minimum_should_match=1
        )

        return_fields = ['pretty_name','cui', 'tui', 'type', 'source_value', 'row_id']

        s = Search(using=client, index=index, doc_type=doc_type).source(return_fields).filter(q)
        df = pd.DataFrame((d.to_dict() for d in s.scan()))
        print(datetime.now(), df.shape)
        dfs.append(df)
    all_df = pd.concat(dfs)
    return all_df

In [ ]:
       # s = Search(using=client, index=index, doc_type=doc_type).source(return_fields).filter(q)
       # df = pd.DataFrame((d.to_dict() for d in s.scan()))
       # df['Negated'] = df['meta_anns'].apply(lambda x: x['Negated']['value'])
       # df['Skip'] = df['meta_anns'].apply(lambda x: x['Skip']['value'])
       #  print(datetime.now(), df.shape,df[df['Negated']=='Yes].shape)

In [101]:
# 1. nn, yn, yy, ny
nn_row_id_list =NN_p_docs['row_id'].unique().tolist()
print(len(nn_row_id_list))

yn_row_id_list =YN_p_docs['row_id'].unique().tolist()
print(len(yn_row_id_list))

yy_row_id_list =YY_p_docs['row_id'].unique().tolist()
print(len(yy_row_id_list))



ny_row_id_list =NY_p_docs['row_id'].unique().tolist()
print(len(ny_row_id_list))

62955
2843
153387
343434

In [28]:
# 2.1. NY sample 2 #NY_hadm_id_s2_list,NY_admin_s2,NY_ad_ids_2, NY_p_docs_2,ny_row_id_list_2
#NY_p_docs_2.to_csv('/home/ubuntu/Scarlett/Output_F/II_13.6_2.NY_patients_p_docsF_2.csv', index=True)

ny_row_id_list_2 =NY_p_docs_2['row_id'].unique().tolist()
print(len(ny_row_id_list_2))

288499

In [25]:
# 2.2. NY all unstructured patients cuis and rowids by Medcat annotation (final)
#NY_p_docs_A
ny_row_id_list_A =NY_p_docs_A['row_id'].unique().tolist()
print(len(ny_row_id_list_A))

997229

In [ ]:
# 3. mixed : NY_YY
NY_YY_p_docs.to_csv('/home/ubuntu/Scarlett/Output_F/II_13.8.NY_YY_patients_p_docsF.csv', index=True)

ny_yy_row_id_list =NY_YY_p_docs['row_id'].unique().tolist()
print(len(ny_yy_row_id_list))

In [5]:
%%time
nn_cui_all = all_df_chunk(nn_row_id_list)

------------------
2021-08-16 05:18:38.389277 (59490, 6)
------------------
2021-08-16 05:18:46.905339 (74001, 6)
------------------
2021-08-16 05:18:54.194038 (62037, 6)
------------------
2021-08-16 05:19:02.335984 (70547, 6)
------------------
2021-08-16 05:19:08.345519 (50567, 6)
------------------
2021-08-16 05:19:14.018658 (47090, 6)
------------------
2021-08-16 05:19:20.758385 (59968, 6)
------------------
2021-08-16 05:19:26.552880 (50896, 6)
------------------
2021-08-16 05:19:31.696114 (43276, 6)
------------------
2021-08-16 05:19:39.184532 (50868, 6)
------------------
2021-08-16 05:19:53.109458 (58119, 6)
------------------
2021-08-16 05:20:09.551627 (75804, 6)
------------------
2021-08-16 05:20:25.295343 (70202, 6)
------------------
2021-08-16 05:20:38.653413 (58699, 6)
------------------
2021-08-16 05:20:51.792129 (49952, 6)
------------------
2021-08-16 05:21:05.297323 (52245, 6)
------------------
2021-08-16 05:21:18.420781 (56565, 6)
------------------
2021-08-16 05:21:32.709827 (63474, 6)
------------------
2021-08-16 05:21:47.855914 (73459, 6)
------------------
2021-08-16 05:22:00.460646 (50212, 6)
------------------
2021-08-16 05:22:13.642981 (57995, 6)
------------------
2021-08-16 05:22:26.982572 (51519, 6)
------------------
2021-08-16 05:22:42.304866 (70397, 6)
------------------
2021-08-16 05:22:57.301815 (70233, 6)
------------------
2021-08-16 05:23:10.928767 (57553, 6)
------------------
2021-08-16 05:23:24.444063 (55481, 6)
------------------
2021-08-16 05:23:39.664662 (72862, 6)
------------------
2021-08-16 05:23:54.469819 (64150, 6)
------------------
2021-08-16 05:24:10.455628 (75216, 6)
------------------
2021-08-16 05:24:25.823782 (78210, 6)
------------------
2021-08-16 05:24:37.865668 (54544, 6)
------------------
2021-08-16 05:24:50.105227 (50854, 6)
------------------
2021-08-16 05:25:04.761224 (69306, 6)
------------------
2021-08-16 05:25:15.767094 (45178, 6)
------------------
2021-08-16 05:25:28.949062 (63053, 6)
------------------
2021-08-16 05:25:44.265368 (72520, 6)
------------------
2021-08-16 05:25:57.547894 (58298, 6)
------------------
2021-08-16 05:26:11.123086 (60278, 6)
------------------
2021-08-16 05:26:24.826390 (63435, 6)
------------------
2021-08-16 05:26:37.566347 (55807, 6)
------------------
2021-08-16 05:26:51.341849 (65252, 6)
------------------
2021-08-16 05:27:06.196104 (73619, 6)
------------------
2021-08-16 05:27:17.488006 (46620, 6)
------------------
2021-08-16 05:27:31.947126 (75021, 6)
------------------
2021-08-16 05:27:44.940599 (59175, 6)
------------------
2021-08-16 05:27:57.255700 (54537, 6)
------------------
2021-08-16 05:28:10.941342 (68792, 6)
------------------
2021-08-16 05:28:23.400766 (59533, 6)
------------------
2021-08-16 05:28:36.872161 (62590, 6)
------------------
2021-08-16 05:28:50.275491 (63116, 6)
------------------
2021-08-16 05:29:04.501197 (67576, 6)
------------------
2021-08-16 05:29:19.245639 (70057, 6)
------------------
2021-08-16 05:29:30.855914 (53746, 6)
------------------
2021-08-16 05:29:44.663959 (59715, 6)
------------------
2021-08-16 05:29:56.396005 (55364, 6)
------------------
2021-08-16 05:30:09.116610 (57675, 6)
------------------
2021-08-16 05:30:23.217204 (63196, 6)
------------------
2021-08-16 05:30:34.486113 (47347, 6)
------------------
2021-08-16 05:30:48.154278 (63744, 6)
------------------
2021-08-16 05:31:02.402529 (67055, 6)
------------------
2021-08-16 05:31:16.983616 (71607, 6)
------------------
2021-08-16 05:31:30.566768 (61407, 6)
------------------
2021-08-16 05:31:44.424662 (67905, 6)
CPU times: user 1min 15s, sys: 3.55 s, total: 1min 19s
Wall time: 13min 14s

In [7]:
#nn_cui_all.to_csv('/home/ubuntu/Scarlett/Output_F/V_24.1.NN_patient_all_cuis.csv', index=True)
nn_cui_all.to_csv(DATA_DIR + "V_24.1.NN_patient_all_cuis.csv", index=True)

In [ ]:
nn_cui_all.head()

In [97]:
nn_cui_allF= nn_cui_all.loc[nn_cui_all['row_id'].isin (nn_row_id_list),:]

print(nn_cui_all.shape)
print(nn_cui_allF.shape)

(7749689, 7)
(1532445, 7)

In [45]:
%%time
yn_cui_all = all_df_chunk(yn_row_id_list)

------------------
2021-08-05 05:15:39.541188 (122460, 6)
------------------
2021-08-05 05:15:54.310625 (67332, 6)
------------------
2021-08-05 05:16:05.959069 (54378, 6)
CPU times: user 5.12 s, sys: 169 ms, total: 5.29 s
Wall time: 46.2 s

In [46]:
#yn_cui_all.to_csv('/home/ubuntu/Scarlett/Output_F/V_24.2.YN_patient_all_cuis.csv', index=True)
yn_cui_all.to_csv(DATA_DIR + "V_24.2.YN_patient_all_cuis.csv", index=True)

yn_cui_all.head()

,pretty_name,cui,tui,type,row_id,source_value
0,Date of admission,C1302393,T079,Temporal Concept,40766,Admission Date
1,Discharge date,C2361123,T079,Temporal Concept,40766,Discharge Date
2,Chief complaint (finding),C0277786,T033,Finding,40766,Chief Complaint
3,Coronary Artery Disease,C1956346,T047,Disease or Syndrome,40766,coronary artery disease
4,Major,C0205164,T080,Qualitative Concept,40766,Major

In [47]:
%%time
yy_cui_all = all_df_chunk(yy_row_id_list)

------------------
2021-08-05 05:16:24.204162 (91843, 6)
------------------
2021-08-05 05:16:42.082242 (95082, 6)
------------------
2021-08-05 05:16:59.156460 (86086, 6)
------------------
2021-08-05 05:17:15.576266 (77118, 6)
------------------
2021-08-05 05:17:33.889943 (102797, 6)
------------------
2021-08-05 05:17:51.476506 (91276, 6)
------------------
2021-08-05 05:18:09.099939 (94675, 6)
------------------
2021-08-05 05:18:27.008006 (95420, 6)
------------------
2021-08-05 05:18:47.053787 (115595, 6)
------------------
2021-08-05 05:19:03.044788 (87251, 6)
------------------
2021-08-05 05:19:23.272600 (117758, 6)
------------------
2021-08-05 05:19:46.089811 (159178, 6)
------------------
2021-08-05 05:20:03.851277 (92459, 6)
------------------
2021-08-05 05:20:25.027222 (130406, 6)
------------------
2021-08-05 05:20:45.921304 (130312, 6)
------------------
2021-08-05 05:21:06.633823 (131229, 6)
------------------
2021-08-05 05:21:27.333880 (118205, 6)
------------------
2021-08-05 05:21:49.251182 (142072, 6)
------------------
2021-08-05 05:22:08.224780 (110846, 6)
------------------
2021-08-05 05:22:25.952691 (98869, 6)
------------------
2021-08-05 05:22:46.300345 (130894, 6)
------------------
2021-08-05 05:23:07.131480 (130983, 6)
------------------
2021-08-05 05:23:25.119829 (101181, 6)
------------------
2021-08-05 05:23:44.711743 (114929, 6)
------------------
2021-08-05 05:24:05.312860 (122380, 6)
------------------
2021-08-05 05:24:23.050171 (96404, 6)
------------------
2021-08-05 05:24:40.071660 (93060, 6)
------------------
2021-08-05 05:25:00.424043 (126625, 6)
------------------
2021-08-05 05:25:19.071159 (113080, 6)
------------------
2021-08-05 05:25:37.305489 (110978, 6)
------------------
2021-08-05 05:25:55.252101 (104963, 6)
------------------
2021-08-05 05:26:14.318493 (112933, 6)
------------------
2021-08-05 05:26:32.592702 (104700, 6)
------------------
2021-08-05 05:26:51.993210 (115546, 6)
------------------
2021-08-05 05:27:10.594820 (107981, 6)
------------------
2021-08-05 05:27:28.298315 (102865, 6)
------------------
2021-08-05 05:27:48.073006 (121134, 6)
------------------
2021-08-05 05:28:07.985898 (125667, 6)
------------------
2021-08-05 05:28:25.218894 (95396, 6)
------------------
2021-08-05 05:28:44.595051 (141630, 6)
------------------
2021-08-05 05:29:01.495935 (91401, 6)
------------------
2021-08-05 05:29:19.506811 (96783, 6)
------------------
2021-08-05 05:29:39.913540 (132924, 6)
------------------
2021-08-05 05:29:56.286097 (83249, 6)
------------------
2021-08-05 05:30:14.592746 (101653, 6)
------------------
2021-08-05 05:30:33.164448 (98544, 6)
------------------
2021-08-05 05:30:53.579409 (125460, 6)
------------------
2021-08-05 05:31:12.914387 (114383, 6)
------------------
2021-08-05 05:31:33.028047 (120850, 6)
------------------
2021-08-05 05:31:54.300355 (137225, 6)
------------------
2021-08-05 05:32:12.077806 (100240, 6)
------------------
2021-08-05 05:32:30.654726 (99871, 6)
------------------
2021-08-05 05:32:51.278818 (127253, 6)
------------------
2021-08-05 05:33:11.057621 (120277, 6)
------------------
2021-08-05 05:33:28.590381 (98420, 6)
------------------
2021-08-05 05:33:48.282943 (119806, 6)
------------------
2021-08-05 05:34:06.606979 (118606, 6)
------------------
2021-08-05 05:34:25.598130 (117640, 6)
------------------
2021-08-05 05:34:47.374989 (135978, 6)
------------------
2021-08-05 05:35:07.522550 (117628, 6)
------------------
2021-08-05 05:35:26.624382 (106723, 6)
------------------
2021-08-05 05:35:44.670100 (108799, 6)
------------------
2021-08-05 05:36:02.856229 (105718, 6)
------------------
2021-08-05 05:36:20.061197 (109952, 6)
------------------
2021-08-05 05:36:38.209392 (109826, 6)
------------------
2021-08-05 05:36:56.691956 (113787, 6)
------------------
2021-08-05 05:37:14.354053 (95795, 6)
------------------
2021-08-05 05:37:32.007946 (95355, 6)
------------------
2021-08-05 05:37:49.517908 (106081, 6)
------------------
2021-08-05 05:38:06.571384 (91445, 6)
------------------
2021-08-05 05:38:24.142103 (99989, 6)
------------------
2021-08-05 05:38:41.869658 (100512, 6)
------------------
2021-08-05 05:39:01.372809 (138018, 6)
------------------
2021-08-05 05:39:19.648178 (105878, 6)
------------------
2021-08-05 05:39:37.326259 (90955, 6)
------------------
2021-08-05 05:39:56.350850 (113931, 6)
------------------
2021-08-05 05:40:13.347177 (92374, 6)
------------------
2021-08-05 05:40:30.592871 (95614, 6)
------------------
2021-08-05 05:40:48.882049 (99905, 6)
------------------
2021-08-05 05:41:06.107392 (99129, 6)
------------------
2021-08-05 05:41:23.440290 (97985, 6)
------------------
2021-08-05 05:41:40.480834 (86566, 6)
------------------
2021-08-05 05:41:59.276141 (110682, 6)
------------------
2021-08-05 05:42:16.706148 (103015, 6)
------------------
2021-08-05 05:42:34.671388 (103702, 6)
------------------
2021-08-05 05:42:51.874598 (89438, 6)
------------------
2021-08-05 05:43:09.549998 (91783, 6)
------------------
2021-08-05 05:43:29.819982 (120469, 6)
------------------
2021-08-05 05:43:47.128085 (89484, 6)
------------------
2021-08-05 05:44:04.628531 (109763, 6)
------------------
2021-08-05 05:44:26.877321 (142340, 6)
------------------
2021-08-05 05:44:43.211145 (84846, 6)
------------------
2021-08-05 05:45:01.011145 (101590, 6)
------------------
2021-08-05 05:45:20.362317 (112860, 6)
------------------
2021-08-05 05:45:38.173715 (105505, 6)
------------------
2021-08-05 05:45:57.138510 (112898, 6)
------------------
2021-08-05 05:46:16.855948 (119374, 6)
------------------
2021-08-05 05:46:38.788684 (147620, 6)
------------------
2021-08-05 05:46:56.290654 (94896, 6)
------------------
2021-08-05 05:47:11.973179 (74555, 6)
------------------
2021-08-05 05:47:29.499672 (93763, 6)
------------------
2021-08-05 05:47:48.621945 (117175, 6)
------------------
2021-08-05 05:48:05.877768 (95517, 6)
------------------
2021-08-05 05:48:26.469087 (136188, 6)
------------------
2021-08-05 05:48:45.257123 (108436, 6)
------------------
2021-08-05 05:49:02.384249 (97588, 6)
------------------
2021-08-05 05:49:20.970554 (111475, 6)
------------------
2021-08-05 05:49:37.613200 (100925, 6)
------------------
2021-08-05 05:49:55.663301 (101183, 6)
------------------
2021-08-05 05:50:14.178335 (106424, 6)
------------------
2021-08-05 05:50:31.088907 (95303, 6)
------------------
2021-08-05 05:50:47.053721 (76782, 6)
------------------
2021-08-05 05:51:05.347394 (109724, 6)
------------------
2021-08-05 05:51:21.722841 (100079, 6)
------------------
2021-08-05 05:51:39.818339 (116076, 6)
------------------
2021-08-05 05:51:58.267963 (116427, 6)
------------------
2021-08-05 05:52:16.519788 (107784, 6)
------------------
2021-08-05 05:52:35.044620 (112520, 6)
------------------
2021-08-05 05:52:54.656732 (122067, 6)
------------------
2021-08-05 05:53:11.438718 (85590, 6)
------------------
2021-08-05 05:53:27.113548 (75864, 6)
------------------
2021-08-05 05:53:44.257647 (88796, 6)
------------------
2021-08-05 05:54:01.285510 (91424, 6)
------------------
2021-08-05 05:54:19.003112 (102431, 6)
------------------
2021-08-05 05:54:36.781965 (93803, 6)
------------------
2021-08-05 05:54:53.570884 (97880, 6)
------------------
2021-08-05 05:55:11.834406 (113694, 6)
------------------
2021-08-05 05:55:34.002027 (141694, 6)
------------------
2021-08-05 05:55:54.685491 (130535, 6)
------------------
2021-08-05 05:56:12.339116 (97767, 6)
------------------
2021-08-05 05:56:30.257203 (103300, 6)
------------------
2021-08-05 05:56:48.133545 (92299, 6)
------------------
2021-08-05 05:57:05.040285 (92863, 6)
------------------
2021-08-05 05:57:23.142489 (100515, 6)
------------------
2021-08-05 05:57:40.602409 (102280, 6)
------------------
2021-08-05 05:57:59.435813 (106921, 6)
------------------
2021-08-05 05:58:14.807452 (75113, 6)
------------------
2021-08-05 05:58:32.121770 (94171, 6)
------------------
2021-08-05 05:58:51.446005 (115796, 6)
------------------
2021-08-05 05:59:09.329182 (94094, 6)
------------------
2021-08-05 05:59:28.290770 (109470, 6)
------------------
2021-08-05 05:59:47.958830 (117018, 6)
------------------
2021-08-05 06:00:07.981894 (124164, 6)
------------------
2021-08-05 06:00:28.646026 (117007, 6)
------------------
2021-08-05 06:00:47.299782 (101167, 6)
------------------
2021-08-05 06:01:07.691895 (137611, 6)
------------------
2021-08-05 06:01:26.380897 (102195, 6)
------------------
2021-08-05 06:01:44.195796 (100331, 6)
------------------
2021-08-05 06:02:02.312707 (97588, 6)
------------------
2021-08-05 06:02:22.116530 (122957, 6)
------------------
2021-08-05 06:02:39.119489 (93645, 6)
------------------
2021-08-05 06:02:57.677987 (104566, 6)
------------------
2021-08-05 06:03:19.250292 (129247, 6)
------------------
2021-08-05 06:03:25.372422 (40012, 6)
CPU times: user 5min 41s, sys: 13.5 s, total: 5min 54s
Wall time: 47min 25s

In [48]:
#yy_cui_all.to_csv('/home/ubuntu/Scarlett/Output_F/V_24.3.YY_patient_all_cuis.csv', index=True)
yy_cui_all.to_csv(DATA_DIR + "V_24.3.YY_patient_all_cuis.csv", index=True)
yy_cui_all.head()

,pretty_name,cui,tui,type,row_id,source_value
0,Portable,C4299032,T082,Spatial Concept,1135766,PORTABLE
1,Abdomen,C0000726,T029,Body Location or Region,1135766,ABDOMEN
2,Clip,C0175722,T074,Medical Device,1135766,Clip
3,Indication of (contextual qualifier),C0392360,T078,Idea or Concept,1135766,Reason
4,Papillon-Lefevre Disease,C0030360,T047,Disease or Syndrome,1135766,Pls

In [36]:
%%time
ny_cui_all = all_df_chunk(ny_row_id_list)

------------------
2021-08-16 02:30:28.252328 (55650, 6)
------------------
2021-08-16 02:30:44.569589 (84119, 6)
------------------
2021-08-16 02:30:57.795391 (64858, 6)
------------------
2021-08-16 02:31:08.874985 (47443, 6)
------------------
2021-08-16 02:31:26.599299 (93708, 6)
------------------
2021-08-16 02:31:42.290985 (82815, 6)
------------------
2021-08-16 02:31:58.556989 (78558, 6)
------------------
2021-08-16 02:32:14.168054 (80512, 6)
------------------
2021-08-16 02:32:30.425888 (84366, 6)
------------------
2021-08-16 02:32:45.933568 (74938, 6)
------------------
2021-08-16 02:33:02.242236 (98732, 6)
------------------
2021-08-16 02:33:17.671347 (81980, 6)
------------------
2021-08-16 02:33:32.087700 (68299, 6)
------------------
2021-08-16 02:33:42.473777 (41686, 6)
------------------
2021-08-16 02:33:59.612017 (97836, 6)
------------------
2021-08-16 02:34:15.335191 (82420, 6)
------------------
2021-08-16 02:34:27.644388 (61941, 6)
------------------
2021-08-16 02:34:41.358139 (68254, 6)
------------------
2021-08-16 02:34:59.803520 (107817, 6)
------------------
2021-08-16 02:35:17.267011 (91699, 6)
------------------
2021-08-16 02:35:32.132640 (74786, 6)
------------------
2021-08-16 02:35:48.512633 (82360, 6)
------------------
2021-08-16 02:36:06.957662 (98642, 6)
------------------
2021-08-16 02:36:23.810977 (88740, 6)
------------------
2021-08-16 02:36:40.433066 (90132, 6)
------------------
2021-08-16 02:36:51.447231 (52747, 6)
------------------
2021-08-16 02:37:04.946089 (62208, 6)
------------------
2021-08-16 02:37:19.761028 (81054, 6)
------------------
2021-08-16 02:37:37.460080 (112126, 6)
------------------
2021-08-16 02:37:52.714100 (82454, 6)
------------------
2021-08-16 02:38:03.949989 (53980, 6)
------------------
2021-08-16 02:38:22.131159 (105275, 6)
------------------
2021-08-16 02:38:35.664950 (68634, 6)
------------------
2021-08-16 02:38:51.893072 (76516, 6)
------------------
2021-08-16 02:39:09.233965 (93595, 6)
------------------
2021-08-16 02:39:23.485902 (66765, 6)
------------------
2021-08-16 02:39:39.215684 (84479, 6)
------------------
2021-08-16 02:39:56.251498 (81505, 6)
------------------
2021-08-16 02:40:13.557871 (90330, 6)
------------------
2021-08-16 02:40:31.542805 (94739, 6)
------------------
2021-08-16 02:40:47.134826 (70852, 6)
------------------
2021-08-16 02:41:04.263366 (94498, 6)
------------------
2021-08-16 02:41:17.684092 (57681, 6)
------------------
2021-08-16 02:41:37.588128 (123893, 6)
------------------
2021-08-16 02:41:51.635221 (66007, 6)
------------------
2021-08-16 02:42:10.864705 (120414, 6)
------------------
2021-08-16 02:42:21.431925 (51431, 6)
------------------
2021-08-16 02:42:40.790143 (106231, 6)
------------------
2021-08-16 02:42:57.840746 (104999, 6)
------------------
2021-08-16 02:43:14.591624 (88245, 6)
------------------
2021-08-16 02:43:31.638074 (104970, 6)
------------------
2021-08-16 02:43:48.041331 (91027, 6)
------------------
2021-08-16 02:44:04.462144 (88779, 6)
------------------
2021-08-16 02:44:19.977255 (71026, 6)
------------------
2021-08-16 02:44:37.310954 (86410, 6)
------------------
2021-08-16 02:44:58.561966 (131834, 6)
------------------
2021-08-16 02:45:18.432618 (123350, 6)
------------------
2021-08-16 02:45:31.431694 (55500, 6)
------------------
2021-08-16 02:45:45.250035 (68109, 6)
------------------
2021-08-16 02:46:00.606403 (75352, 6)
------------------
2021-08-16 02:46:16.809295 (78504, 6)
------------------
2021-08-16 02:46:34.331105 (92635, 6)
------------------
2021-08-16 02:46:47.305506 (54477, 6)
------------------
2021-08-16 02:47:03.226843 (77737, 6)
------------------
2021-08-16 02:47:21.014282 (101633, 6)
------------------
2021-08-16 02:47:36.615659 (78539, 6)
------------------
2021-08-16 02:47:52.403287 (82230, 6)
------------------
2021-08-16 02:48:04.481069 (50062, 6)
------------------
2021-08-16 02:48:17.794142 (63999, 6)
------------------
2021-08-16 02:48:33.689438 (81478, 6)
------------------
2021-08-16 02:48:49.743538 (80284, 6)
------------------
2021-08-16 02:49:03.426630 (58330, 6)
------------------
2021-08-16 02:49:14.940944 (47883, 6)
------------------
2021-08-16 02:49:30.563701 (90541, 6)
------------------
2021-08-16 02:49:46.246121 (77193, 6)
------------------
2021-08-16 02:49:59.821658 (66047, 6)
------------------
2021-08-16 02:50:15.197423 (81603, 6)
------------------
2021-08-16 02:50:34.928168 (118605, 6)
------------------
2021-08-16 02:50:49.423817 (66577, 6)
------------------
2021-08-16 02:51:08.900781 (106555, 6)
------------------
2021-08-16 02:51:24.831642 (88323, 6)
------------------
2021-08-16 02:51:41.274711 (84855, 6)
------------------
2021-08-16 02:51:55.777369 (69513, 6)
------------------
2021-08-16 02:52:11.838625 (83831, 6)
------------------
2021-08-16 02:52:26.675754 (66161, 6)
------------------
2021-08-16 02:52:43.703525 (84195, 6)
------------------
2021-08-16 02:52:57.267494 (66137, 6)
------------------
2021-08-16 02:53:09.702730 (55553, 6)
------------------
2021-08-16 02:53:22.617434 (56535, 6)
------------------
2021-08-16 02:53:36.898773 (70149, 6)
------------------
2021-08-16 02:53:51.666614 (76501, 6)
------------------
2021-08-16 02:54:06.007927 (74677, 6)
------------------
2021-08-16 02:54:21.807199 (77690, 6)
------------------
2021-08-16 02:54:40.970687 (111090, 6)
------------------
2021-08-16 02:54:58.619971 (93121, 6)
------------------
2021-08-16 02:55:16.398148 (91710, 6)
------------------
2021-08-16 02:55:33.755381 (104934, 6)
------------------
2021-08-16 02:55:48.359724 (74002, 6)
------------------
2021-08-16 02:56:01.999706 (71392, 6)
------------------
2021-08-16 02:56:15.585004 (57440, 6)
------------------
2021-08-16 02:56:29.580551 (60611, 6)
------------------
2021-08-16 02:56:44.640654 (72262, 6)
------------------
2021-08-16 02:57:01.632885 (86499, 6)
------------------
2021-08-16 02:57:20.779193 (112466, 6)
------------------
2021-08-16 02:57:38.749363 (94124, 6)
------------------
2021-08-16 02:57:56.670450 (91450, 6)
------------------
2021-08-16 02:58:11.563690 (66717, 6)
------------------
2021-08-16 02:58:27.301550 (79475, 6)
------------------
2021-08-16 02:58:45.499528 (95313, 6)
------------------
2021-08-16 02:59:00.718200 (69258, 6)
------------------
2021-08-16 02:59:15.074532 (61721, 6)
------------------
2021-08-16 02:59:31.360430 (77959, 6)
------------------
2021-08-16 02:59:47.594032 (82735, 6)
------------------
2021-08-16 03:00:02.550873 (63235, 6)
------------------
2021-08-16 03:00:15.972185 (52835, 6)
------------------
2021-08-16 03:00:33.583413 (90409, 6)
------------------
2021-08-16 03:00:51.439005 (94808, 6)
------------------
2021-08-16 03:01:07.227867 (72289, 6)
------------------
2021-08-16 03:01:22.541658 (73427, 6)
------------------
2021-08-16 03:01:40.819734 (100619, 6)
------------------
2021-08-16 03:01:57.149630 (92328, 6)
------------------
2021-08-16 03:02:13.545081 (104574, 6)
------------------
2021-08-16 03:02:23.654530 (38539, 6)
------------------
2021-08-16 03:02:42.351313 (100265, 6)
------------------
2021-08-16 03:02:56.830233 (68524, 6)
------------------
2021-08-16 03:03:08.092147 (46031, 6)
------------------
2021-08-16 03:03:26.656141 (98997, 6)
------------------
2021-08-16 03:03:43.350024 (88149, 6)
------------------
2021-08-16 03:03:57.355966 (64495, 6)
------------------
2021-08-16 03:04:12.310799 (66266, 6)
------------------
2021-08-16 03:04:31.575049 (111509, 6)
------------------
2021-08-16 03:04:44.969223 (60107, 6)
------------------
2021-08-16 03:05:03.075821 (121478, 6)
------------------
2021-08-16 03:05:20.615438 (89921, 6)
------------------
2021-08-16 03:05:38.253138 (92807, 6)
------------------
2021-08-16 03:05:53.314169 (71197, 6)
------------------
2021-08-16 03:06:10.205582 (93214, 6)
------------------
2021-08-16 03:06:28.404404 (90888, 6)
------------------
2021-08-16 03:06:44.117587 (75047, 6)
------------------
2021-08-16 03:06:59.513888 (72596, 6)
------------------
2021-08-16 03:07:15.234427 (70173, 6)
------------------
2021-08-16 03:07:31.194348 (79532, 6)
------------------
2021-08-16 03:07:49.466099 (103888, 6)
------------------
2021-08-16 03:08:05.531851 (83136, 6)
------------------
2021-08-16 03:08:20.489347 (77501, 6)
------------------
2021-08-16 03:08:36.364829 (77924, 6)
------------------
2021-08-16 03:08:49.660466 (56944, 6)
------------------
2021-08-16 03:09:09.189467 (111510, 6)
------------------
2021-08-16 03:09:22.897945 (51750, 6)
------------------
2021-08-16 03:09:38.810096 (78947, 6)
------------------
2021-08-16 03:09:54.632407 (79238, 6)
------------------
2021-08-16 03:10:16.463783 (132701, 6)
------------------
2021-08-16 03:10:33.446283 (89620, 6)
------------------
2021-08-16 03:10:49.444581 (72200, 6)
------------------
2021-08-16 03:11:04.933014 (80167, 6)
------------------
2021-08-16 03:11:25.476613 (126132, 6)
------------------
2021-08-16 03:11:40.923794 (68893, 6)
------------------
2021-08-16 03:11:55.771381 (66300, 6)
------------------
2021-08-16 03:12:18.763276 (177772, 6)
------------------
2021-08-16 03:12:34.832160 (86876, 6)
------------------
2021-08-16 03:12:53.474634 (102901, 6)
------------------
2021-08-16 03:13:09.519308 (80082, 6)
------------------
2021-08-16 03:13:25.650774 (75117, 6)
------------------
2021-08-16 03:13:38.303902 (52746, 6)
------------------
2021-08-16 03:13:55.579587 (95697, 6)
------------------
2021-08-16 03:14:14.469327 (111386, 6)
------------------
2021-08-16 03:14:28.766781 (59692, 6)
------------------
2021-08-16 03:14:44.864497 (83354, 6)
------------------
2021-08-16 03:14:58.825205 (61137, 6)
------------------
2021-08-16 03:15:14.661472 (82137, 6)
------------------
2021-08-16 03:15:29.427796 (71656, 6)
------------------
2021-08-16 03:15:47.033533 (88004, 6)
------------------
2021-08-16 03:16:05.215401 (94777, 6)
------------------
2021-08-16 03:16:19.394001 (61273, 6)
------------------
2021-08-16 03:16:37.832379 (97872, 6)
------------------
2021-08-16 03:16:52.527404 (65697, 6)
------------------
2021-08-16 03:17:09.294243 (73400, 6)
------------------
2021-08-16 03:17:20.613619 (40316, 6)
------------------
2021-08-16 03:17:35.407579 (64720, 6)
------------------
2021-08-16 03:17:50.085197 (69041, 6)
------------------
2021-08-16 03:18:06.747001 (83882, 6)
------------------
2021-08-16 03:18:23.670030 (90688, 6)
------------------
2021-08-16 03:18:38.358585 (74022, 6)
------------------
2021-08-16 03:18:57.942214 (112719, 6)
------------------
2021-08-16 03:19:14.252840 (88842, 6)
------------------
2021-08-16 03:19:30.299305 (82541, 6)
------------------
2021-08-16 03:19:47.356713 (80177, 6)
------------------
2021-08-16 03:20:02.635737 (72918, 6)
------------------
2021-08-16 03:20:15.120028 (52711, 6)
------------------
2021-08-16 03:20:28.303714 (53929, 6)
------------------
2021-08-16 03:20:41.682605 (57933, 6)
------------------
2021-08-16 03:21:00.183130 (101457, 6)
------------------
2021-08-16 03:21:17.427728 (95026, 6)
------------------
2021-08-16 03:21:34.519742 (97205, 6)
------------------
2021-08-16 03:21:46.991644 (46816, 6)
------------------
2021-08-16 03:21:57.797556 (38837, 6)
------------------
2021-08-16 03:22:14.356331 (86916, 6)
------------------
2021-08-16 03:22:30.607639 (83479, 6)
------------------
2021-08-16 03:22:48.301822 (97558, 6)
------------------
2021-08-16 03:23:04.482811 (84834, 6)
------------------
2021-08-16 03:23:22.057891 (109221, 6)
------------------
2021-08-16 03:23:37.341659 (80788, 6)
------------------
2021-08-16 03:23:51.236405 (64975, 6)
------------------
2021-08-16 03:24:06.846905 (75726, 6)
------------------
2021-08-16 03:24:24.232978 (87427, 6)
------------------
2021-08-16 03:24:40.882500 (81334, 6)
------------------
2021-08-16 03:24:59.008251 (114287, 6)
------------------
2021-08-16 03:25:15.851160 (90567, 6)
------------------
2021-08-16 03:25:30.247026 (68954, 6)
------------------
2021-08-16 03:25:47.864807 (92939, 6)
------------------
2021-08-16 03:26:03.638671 (76933, 6)
------------------
2021-08-16 03:26:17.923178 (72460, 6)
------------------
2021-08-16 03:26:33.164932 (73517, 6)
------------------
2021-08-16 03:26:50.324817 (85483, 6)
------------------
2021-08-16 03:27:05.003564 (66832, 6)
------------------
2021-08-16 03:27:17.006972 (42068, 6)
------------------
2021-08-16 03:27:35.252357 (98069, 6)
------------------
2021-08-16 03:27:52.506046 (88815, 6)
------------------
2021-08-16 03:28:08.688720 (90676, 6)
------------------
2021-08-16 03:28:28.201643 (104384, 6)
------------------
2021-08-16 03:28:44.052600 (78922, 6)
------------------
2021-08-16 03:28:58.742746 (69395, 6)
------------------
2021-08-16 03:29:17.539838 (120422, 6)
------------------
2021-08-16 03:29:37.586156 (110402, 6)
------------------
2021-08-16 03:29:53.441346 (82604, 6)
------------------
2021-08-16 03:30:06.135115 (53600, 6)
------------------
2021-08-16 03:30:21.555083 (75752, 6)
------------------
2021-08-16 03:30:37.782776 (82308, 6)
------------------
2021-08-16 03:30:51.569178 (56818, 6)
------------------
2021-08-16 03:31:07.599181 (79996, 6)
------------------
2021-08-16 03:31:22.873902 (75330, 6)
------------------
2021-08-16 03:31:39.991953 (85475, 6)
------------------
2021-08-16 03:31:59.365560 (114550, 6)
------------------
2021-08-16 03:32:15.775845 (85268, 6)
------------------
2021-08-16 03:32:32.293355 (94926, 6)
------------------
2021-08-16 03:32:48.479428 (81411, 6)
------------------
2021-08-16 03:33:00.967231 (45703, 6)
------------------
2021-08-16 03:33:19.737613 (101002, 6)
------------------
2021-08-16 03:33:35.429696 (82450, 6)
------------------
2021-08-16 03:33:50.419603 (79203, 6)
------------------
2021-08-16 03:34:03.763891 (55003, 6)
------------------
2021-08-16 03:34:21.398870 (90064, 6)
------------------
2021-08-16 03:34:39.471280 (91894, 6)
------------------
2021-08-16 03:34:56.475394 (89144, 6)
------------------
2021-08-16 03:35:14.580577 (92630, 6)
------------------
2021-08-16 03:35:26.432474 (41691, 6)
------------------
2021-08-16 03:35:39.702202 (58912, 6)
------------------
2021-08-16 03:35:56.152437 (80123, 6)
------------------
2021-08-16 03:36:10.320757 (60152, 6)
------------------
2021-08-16 03:36:28.436809 (91965, 6)
------------------
2021-08-16 03:36:45.225142 (85504, 6)
------------------
2021-08-16 03:37:02.580228 (87644, 6)
------------------
2021-08-16 03:37:20.930297 (110803, 6)
------------------
2021-08-16 03:37:33.602764 (59823, 6)
------------------
2021-08-16 03:37:52.490225 (106931, 6)
------------------
2021-08-16 03:38:08.949988 (90888, 6)
------------------
2021-08-16 03:38:34.549790 (75933, 6)
------------------
2021-08-16 03:38:51.552840 (84427, 6)
------------------
2021-08-16 03:39:09.879715 (70277, 6)
------------------
2021-08-16 03:39:29.438238 (106544, 6)
------------------
2021-08-16 03:39:48.793216 (100070, 6)
------------------
2021-08-16 03:40:05.194797 (78325, 6)
------------------
2021-08-16 03:40:20.501460 (76564, 6)
------------------
2021-08-16 03:40:36.391138 (75884, 6)
------------------
2021-08-16 03:40:51.799560 (81919, 6)
------------------
2021-08-16 03:41:06.692740 (64650, 6)
------------------
2021-08-16 03:41:19.895417 (52252, 6)
------------------
2021-08-16 03:41:32.875416 (53147, 6)
------------------
2021-08-16 03:41:47.403299 (61246, 6)
------------------
2021-08-16 03:42:01.299771 (55298, 6)
------------------
2021-08-16 03:42:17.465454 (81876, 6)
------------------
2021-08-16 03:42:35.135774 (84952, 6)
------------------
2021-08-16 03:42:52.895559 (87489, 6)
------------------
2021-08-16 03:43:07.710890 (60012, 6)
------------------
2021-08-16 03:43:21.338531 (54206, 6)
------------------
2021-08-16 03:43:36.843655 (75591, 6)
------------------
2021-08-16 03:43:54.031136 (80200, 6)
------------------
2021-08-16 03:44:09.168328 (60939, 6)
------------------
2021-08-16 03:44:24.073071 (63242, 6)
------------------
2021-08-16 03:44:36.972209 (53756, 6)
------------------
2021-08-16 03:44:51.263082 (65421, 6)
------------------
2021-08-16 03:45:08.659697 (93993, 6)
------------------
2021-08-16 03:45:25.082530 (77193, 6)
------------------
2021-08-16 03:45:39.420421 (59363, 6)
------------------
2021-08-16 03:45:57.652187 (93126, 6)
------------------
2021-08-16 03:46:14.803732 (91811, 6)
------------------
2021-08-16 03:46:31.070673 (81493, 6)
------------------
2021-08-16 03:46:46.859484 (73926, 6)
------------------
2021-08-16 03:47:02.942717 (90277, 6)
------------------
2021-08-16 03:47:18.723413 (80141, 6)
------------------
2021-08-16 03:47:37.326658 (102194, 6)
------------------
2021-08-16 03:47:52.337536 (67632, 6)
------------------
2021-08-16 03:48:07.854898 (75521, 6)
------------------
2021-08-16 03:48:21.371219 (58866, 6)
------------------
2021-08-16 03:48:36.455165 (71537, 6)
------------------
2021-08-16 03:48:51.997145 (73055, 6)
------------------
2021-08-16 03:49:12.730785 (142631, 6)
------------------
2021-08-16 03:49:26.492997 (67658, 6)
------------------
2021-08-16 03:49:40.290049 (68150, 6)
------------------
2021-08-16 03:49:53.642530 (56675, 6)
------------------
2021-08-16 03:50:08.949212 (70697, 6)
------------------
2021-08-16 03:50:24.177853 (73720, 6)
------------------
2021-08-16 03:50:38.439410 (67867, 6)
------------------
2021-08-16 03:50:56.049868 (99904, 6)
------------------
2021-08-16 03:51:13.825220 (93191, 6)
------------------
2021-08-16 03:51:32.117894 (100021, 6)
------------------
2021-08-16 03:51:47.101126 (67711, 6)
------------------
2021-08-16 03:52:01.613340 (66566, 6)
------------------
2021-08-16 03:52:18.359872 (82799, 6)
------------------
2021-08-16 03:52:35.126536 (96351, 6)
------------------
2021-08-16 03:52:52.051240 (81120, 6)
------------------
2021-08-16 03:53:09.402724 (93501, 6)
------------------
2021-08-16 03:53:25.202441 (73881, 6)
------------------
2021-08-16 03:53:42.135838 (87774, 6)
------------------
2021-08-16 03:53:59.045573 (87910, 6)
------------------
2021-08-16 03:54:15.291835 (80931, 6)
------------------
2021-08-16 03:54:29.478712 (66742, 6)
------------------
2021-08-16 03:54:43.856025 (57642, 6)
------------------
2021-08-16 03:54:59.953455 (83595, 6)
------------------
2021-08-16 03:55:16.673768 (87918, 6)
------------------
2021-08-16 03:55:32.371216 (80213, 6)
------------------
2021-08-16 03:55:49.988295 (103660, 6)
------------------
2021-08-16 03:56:05.800855 (73803, 6)
------------------
2021-08-16 03:56:18.512068 (57416, 6)
------------------
2021-08-16 03:56:33.485682 (85968, 6)
------------------
2021-08-16 03:56:49.729306 (88686, 6)
------------------
2021-08-16 03:57:03.530843 (70767, 6)
------------------
2021-08-16 03:57:20.365145 (97620, 6)
------------------
2021-08-16 03:57:36.085988 (80457, 6)
------------------
2021-08-16 03:57:47.979838 (46712, 6)
------------------
2021-08-16 03:58:00.866979 (57380, 6)
------------------
2021-08-16 03:58:14.035571 (58400, 6)
------------------
2021-08-16 03:58:33.489072 (109231, 6)
------------------
2021-08-16 03:58:49.306258 (90752, 6)
------------------
2021-08-16 03:59:08.839187 (114052, 6)
------------------
2021-08-16 03:59:21.577476 (54592, 6)
------------------
2021-08-16 03:59:36.674134 (71353, 6)
------------------
2021-08-16 03:59:48.082130 (45149, 6)
------------------
2021-08-16 04:00:01.929746 (62541, 6)
------------------
2021-08-16 04:00:17.711475 (80947, 6)
------------------
2021-08-16 04:00:31.628803 (63556, 6)
------------------
2021-08-16 04:00:45.713205 (62222, 6)
------------------
2021-08-16 04:01:02.262577 (87662, 6)
------------------
2021-08-16 04:01:08.487686 (33530, 6)
CPU times: user 9min 53s, sys: 23.4 s, total: 10min 16s
Wall time: 1h 31min 4s

In [37]:
#ny_cui_all.to_csv('/home/ubuntu/Scarlett/Output_F/V_24.4.NY_patient_all_cuis.csv', index=True)
ny_cui_all.to_csv(DATA_DIR + "V_24.4.NY_patient_all_cuis.csv", index=True)
ny_cui_all.head()

,pretty_name,cui,tui,type,row_id,source_value
0,DAD,C3641946,T170,Intellectual Product,1712766,dad
1,Present,C0150312,T033,Finding,1712766,present
2,shift displacement,C0333051,T169,Functional Concept,1712766,shift
3,Attempt,C1516084,T051,Event,1712766,attempted
4,Infant,C0021270,T100,Age Group,1712766,infant

### IV. Data preparation for ED classification model
 - use text content in an admission to predict whether ED is a diagnosis in the admission. 
 - YN (included this as the size of this group is small) and YY groups as positive sample and use NN group as negative sample.
 - Required Data for the modeling :
 - Group, ED diagnosis, subject_id, admission_id, text annotations, date of admission, discharge icd9
  - Select group patients ( YY and YN Vs NN)
  - Select admission info using ED diagnosis , NN  ( discharge icd9 for both on administration level?)

In [14]:
DATA_DIR = "/home/ubuntu/Scarlett/Output_F/"

In [11]:
# 1. Import Patients administration informationn for NN_sampels, YN and YY
import pandas as pd

# import : ED_uns_p_all_cuis : all cuis for ED patients (YY and NY)
#ED_uns_p_all_cuis= pd.read_csv('/home/ubuntu/Scarlett/Output_F/III_16.ED_patient_p_all_cuisFinal.csv')


# ED patiens extracted from annotated cui_ids from unstructured text info.(clinical notes)
#output = pd.read_csv('/home/ubuntu/Scarlett/Output_F/III_18.ED_patient_group_output.csv')
#output2 = pd.read_csv('/home/ubuntu/Scarlett/Output_F/III_18_2.ED_patient_group_output2.csv')


# Patients_cohort
# NN samples, YN,YY  administration info 
NN_admin_subset = pd.read_csv(DATA_DIR + "v_25.1.NN_hadm_id_sample.csv")
YN_admin = pd.read_csv(DATA_DIR + "v_25.2.YN_hadm_id.csv")
YY_admin = pd.read_csv(DATA_DIR + "v_25.3.YY_hadm_id.csv")

NY_admin_s= pd.read_csv(DATA_DIR + "v_25.4.NY_hadm_id_sample.csv")

In [13]:
# Import all cui annotations of administarion_ids for NN_sampes, YN and YY
import pandas as pd

# annotated cuis for NN, Y and YY

nn_cui_all = pd.read_csv(DATA_DIR + "V_24.1.NN_patient_all_cuis.csv")
yn_cui_all = pd.read_csv(DATA_DIR + "V_24.2.YN_patient_all_cuis.csv")
yy_cui_all= pd.read_csv(DATA_DIR + "V_24.3.YY_patient_all_cuis.csv")

ny_cui_all= pd.read_csv(DATA_DIR + "V_24.4.NY_patient_all_cuis.csv")

/home/ubuntu/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [12]:
import pandas as pd

# YN unstructured patients cuis and rowids by Medcat annotation (final)
NN_p_docs= pd.read_csv(DATA_DIR + "II_13.3.NN_patients_p_docsF.csv")
YN_p_docs= pd.read_csv(DATA_DIR + "II_13.4.YN_patients_p_docsF.csv")
YY_p_docs= pd.read_csv(DATA_DIR + "II_13.5.YY_patients_p_docsF.csv")

NY_p_docs= pd.read_csv(DATA_DIR + "II_13.6.NY_patients_p_docsF.csv")

##### 1. admission summary for YY and YN Vs NN

In [18]:
# insert group information
NN_admin_subset2= NN_admin_subset[['icd9_code','subject_id','hadm_id','admittime','diagnosis','ED_icd']]

In [19]:
NN_admin_subset2['group']= 'NN'
print(NN_admin_subset2.shape)
NN_admin_subset2.head()

(30168, 7)

<ipython-input-19-e15fd390c382>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NN_admin_subset2['group']= 'NN'

,icd9_code,subject_id,hadm_id,admittime,diagnosis,ED_icd,group
0,41061,77,142768,2164-11-18 07:00:00,V-FIB ARREST\CATH,0,NN
1,4280,77,142768,2164-11-18 07:00:00,V-FIB ARREST\CATH,0,NN
2,41401,77,142768,2164-11-18 07:00:00,V-FIB ARREST\CATH,0,NN
3,2720,77,142768,2164-11-18 07:00:00,V-FIB ARREST\CATH,0,NN
4,2721,77,142768,2164-11-18 07:00:00,V-FIB ARREST\CATH,0,NN

In [20]:
YN_admin2= YN_admin[['icd9_code','subject_id','hadm_id','admittime','diagnosis','ED_icd']]
YN_admin2['group']= 'YN'
print(YN_admin2.shape)

YY_admin2= YY_admin[['icd9_code','subject_id','hadm_id','admittime','diagnosis','ED_icd']]
YY_admin2['group']= 'YY'
print(YY_admin2.shape)
YY_admin2.head()

(3668, 7)
(57910, 7)

<ipython-input-20-45e7b2e9e04e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  YN_admin2['group']= 'YN'
<ipython-input-20-45e7b2e9e04e>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  YY_admin2['group']= 'YY'

,icd9_code,subject_id,hadm_id,admittime,diagnosis,ED_icd,group
0,E8500,273,158689,2141-04-19 06:11:00,POLYSUBSTANCE OVERDOSE,0,YY
1,E8543,273,158689,2141-04-19 06:11:00,POLYSUBSTANCE OVERDOSE,0,YY
2,E8541,273,158689,2141-04-19 06:11:00,POLYSUBSTANCE OVERDOSE,0,YY
3,E8498,273,158689,2141-04-19 06:11:00,POLYSUBSTANCE OVERDOSE,0,YY
4,3051,273,158689,2141-04-19 06:11:00,POLYSUBSTANCE OVERDOSE,0,YY

In [21]:
NY_admin_s2= NY_admin_s[['icd9_code','subject_id','hadm_id','admittime','diagnosis','ED_icd']]
NY_admin_s2['group']= 'NY'
print(NY_admin_s2.shape)
NY_admin_s2.head()

(94745, 7)

<ipython-input-21-485e1390cac4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NY_admin_s2['group']= 'NY'

,icd9_code,subject_id,hadm_id,admittime,diagnosis,ED_icd,group
0,431,67,155252,2157-12-02 00:45:00,SUBARACHNOID HEMORRHAGE,0,NY
1,2449,67,155252,2157-12-02 00:45:00,SUBARACHNOID HEMORRHAGE,0,NY
2,4019,67,155252,2157-12-02 00:45:00,SUBARACHNOID HEMORRHAGE,0,NY
3,2948,67,155252,2157-12-02 00:45:00,SUBARACHNOID HEMORRHAGE,0,NY
4,311,67,155252,2157-12-02 00:45:00,SUBARACHNOID HEMORRHAGE,0,NY

In [22]:
# negative and Positive samples
nn_cui_all['group']= 'NN' 
yn_cui_all['group']= 'YN' 
yy_cui_all['group']= 'YY'

In [23]:
#NY sampling
ny_cui_all['group']= 'NY'

In [24]:
yn_cui_all.head()

,Unnamed: 0,pretty_name,cui,tui,type,row_id,source_value,group
0,0,Date of admission,C1302393,T079,Temporal Concept,40766,Admission Date,YN
1,1,Discharge date,C2361123,T079,Temporal Concept,40766,Discharge Date,YN
2,2,Chief complaint (finding),C0277786,T033,Finding,40766,Chief Complaint,YN
3,3,Coronary Artery Disease,C1956346,T047,Disease or Syndrome,40766,coronary artery disease,YN
4,4,Major,C0205164,T080,Qualitative Concept,40766,Major,YN

In [25]:
# YN unstructured patients cuis and rowids by Medcat annotation (final)
NN_p_docs.head()
YN_p_docs.head()
YY_p_docs.head()
NY_p_docs.head()

,Unnamed: 0,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text
0,0,16580,58128,100018,2176-09-06 00:00:00,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2176-8-29**] ...
1,1,700059,58128,100018,2176-08-31 00:00:00,2176-08-31 15:00:00,2176-08-31 15:06:09,Nursing,Nursing Progress Note,20172.0,NaN,Patient POD 2 C5-C6 anterior fusion & POD 1 C1...
2,2,699850,58128,100018,2176-08-30 00:00:00,2176-08-30 04:01:00,2176-08-30 06:31:53,Nursing,Nursing Progress Note,14213.0,NaN,Impaired Physical Mobility\n Assessment:\n ...
3,3,700002,58128,100018,2176-08-31 00:00:00,2176-08-31 06:06:00,2176-08-31 06:29:47,Physician,Intensivist Note,15511.0,NaN,SICU\n HPI:\n 55 y.o. Male w/ extensive me...
4,4,699955,58128,100018,2176-08-30 00:00:00,2176-08-30 10:09:00,2176-08-30 19:38:44,Nursing,Nursing Progress Note,15047.0,NaN,55 y.o. Male w/ extensive medical history incl...

In [26]:
# Check iserror, exclude the error notes

a=NN_p_docs.loc[(NN_p_docs['iserror']== 1), ['row_id','subject_id','hadm_id'] ]
b=YN_p_docs.loc[(YN_p_docs['iserror']== 1), ['row_id','subject_id','hadm_id'] ]
c=YY_p_docs.loc[(YY_p_docs['iserror']== 1), ['row_id','subject_id','hadm_id'] ]
d=NY_p_docs.loc[(NY_p_docs['iserror']== 1), ['row_id','subject_id','hadm_id'] ]

print (len(a['hadm_id'].unique().tolist()))
print (len(b['hadm_id'].unique().tolist()))
print (len(c['hadm_id'].unique().tolist()))

print(len(a),len(b),len(c),len(d))

10
0
104
10 0 137 169

In [27]:
# Check iserror, exclude the error notes

NN_p_docs2 = NN_p_docs.loc[~(NN_p_docs['iserror']== 1), ['row_id','subject_id','hadm_id','chartdate','category','description'] ]
YN_p_docs2 = YN_p_docs.loc[~(YN_p_docs['iserror']== 1), ['row_id','subject_id','hadm_id','chartdate','category','description'] ]
YY_p_docs2 = YY_p_docs.loc[~(YY_p_docs['iserror']== 1), ['row_id','subject_id','hadm_id','chartdate','category','description'] ]
print(len(NN_p_docs), len(NN_p_docs2))
NY_p_docs2 = NY_p_docs.loc[~(NY_p_docs['iserror']== 1), ['row_id','subject_id','hadm_id','chartdate','category','description'] ]
print(len(YY_p_docs), len(YY_p_docs2))
YY_p_docs2.head()

print(len(NY_p_docs), len(NY_p_docs2))

62955 62945
153387 153250
343434 343265

In [28]:
print (len(NN_admin_subset2['hadm_id'].unique().tolist()))
print (len(YN_admin2['hadm_id'].unique().tolist()))
print (len(YY_admin2['hadm_id'].unique().tolist()))
print (len(NY_admin_s2['hadm_id'].unique().tolist()))

3732
213
3482
7155

In [29]:
print (len(NN_p_docs['hadm_id'].unique().tolist()))
print (len(YN_p_docs['hadm_id'].unique().tolist()))
print (len(YY_p_docs['hadm_id'].unique().tolist()))
print (len(NY_p_docs['hadm_id'].unique().tolist()))

3645
181
3482
7155

In [30]:
print (len(NN_p_docs2['hadm_id'].unique().tolist()))
print (len(YN_p_docs2 ['hadm_id'].unique().tolist()))
print (len(YY_p_docs2['hadm_id'].unique().tolist()))
print (len(NY_p_docs2['hadm_id'].unique().tolist()))

3645
181
3482
7155

In [31]:
# patients : row_ids + all cuis (cuis) for NN_samples, YN nd YY
#1.nn
nn_cui_data = pd.merge(NN_p_docs2 ,nn_cui_all[['cui','row_id','tui','type','group']], on="row_id")
nn_cui_data.head()

,row_id,subject_id,hadm_id,chartdate,category,description,cui,tui,type,group
0,41832,51495,100034,2164-04-27 00:00:00,Discharge summary,Report,C1302393,T079,Temporal Concept,NN
1,41832,51495,100034,2164-04-27 00:00:00,Discharge summary,Report,C2361123,T079,Temporal Concept,NN
2,41832,51495,100034,2164-04-27 00:00:00,Discharge summary,Report,C0421451,T033,Finding,NN
3,41832,51495,100034,2164-04-27 00:00:00,Discharge summary,Report,C4055270,T082,Spatial Concept,NN
4,41832,51495,100034,2164-04-27 00:00:00,Discharge summary,Report,C0277786,T033,Finding,NN

In [32]:
#2.yn
yn_cui_data = pd.merge(YN_p_docs2,yn_cui_all[['cui','row_id','tui','type','group']], on="row_id")
yn_cui_data.head()

,row_id,subject_id,hadm_id,chartdate,category,description,cui,tui,type,group
0,390,79089,186996,2109-02-18 00:00:00,Discharge summary,Report,C1302393,T079,Temporal Concept,YN
1,390,79089,186996,2109-02-18 00:00:00,Discharge summary,Report,C2361123,T079,Temporal Concept,YN
2,390,79089,186996,2109-02-18 00:00:00,Discharge summary,Report,C0421451,T033,Finding,YN
3,390,79089,186996,2109-02-18 00:00:00,Discharge summary,Report,C0020517,T046,Pathologic Function,YN
4,390,79089,186996,2109-02-18 00:00:00,Discharge summary,Report,C0277786,T033,Finding,YN

In [33]:
#3.yy
yy_cui_data = pd.merge(YY_p_docs2,yy_cui_all[['cui','row_id','tui','type','group']], on="row_id")
yy_cui_data.head()

,row_id,subject_id,hadm_id,chartdate,category,description,cui,tui,type,group
0,151699,16229,100017,2103-03-11 00:00:00,ECG,Report,C0232201,T033,Finding,YY
1,151699,16229,100017,2103-03-11 00:00:00,ECG,Report,C0205307,T080,Qualitative Concept,YY
2,151699,16229,100017,2103-03-11 00:00:00,ECG,Report,C1707455,T052,Activity,YY
3,751278,16229,100017,2103-03-11 00:00:00,Radiology,CHEST (PORTABLE AP),C0817096,T029,Body Location or Region,YY
4,751278,16229,100017,2103-03-11 00:00:00,Radiology,CHEST (PORTABLE AP),C4299032,T082,Spatial Concept,YY

In [34]:
#4.ny
ny_cui_data = pd.merge(NY_p_docs2,ny_cui_all[['cui','row_id','tui','type','group']], on="row_id")
ny_cui_data.head()

,row_id,subject_id,hadm_id,chartdate,category,description,cui,tui,type,group
0,16580,58128,100018,2176-09-06 00:00:00,Discharge summary,Report,C1302393,T079,Temporal Concept,NY
1,16580,58128,100018,2176-09-06 00:00:00,Discharge summary,Report,C2361123,T079,Temporal Concept,NY
2,16580,58128,100018,2176-09-06 00:00:00,Discharge summary,Report,C0421451,T033,Finding,NY
3,16580,58128,100018,2176-09-06 00:00:00,Discharge summary,Report,C0013182,T046,Pathologic Function,NY
4,16580,58128,100018,2176-09-06 00:00:00,Discharge summary,Report,C0030842,T195,Antibiotic,NY

In [35]:
NN_admin_subset2.head()

,icd9_code,subject_id,hadm_id,admittime,diagnosis,ED_icd,group
0,41061,77,142768,2164-11-18 07:00:00,V-FIB ARREST\CATH,0,NN
1,4280,77,142768,2164-11-18 07:00:00,V-FIB ARREST\CATH,0,NN
2,41401,77,142768,2164-11-18 07:00:00,V-FIB ARREST\CATH,0,NN
3,2720,77,142768,2164-11-18 07:00:00,V-FIB ARREST\CATH,0,NN
4,2721,77,142768,2164-11-18 07:00:00,V-FIB ARREST\CATH,0,NN

##### 2. summary by admin_id

In [36]:
# 1.summary by admin_id for YY administarion cohort data
YY_admin3=YY_admin2[['group','subject_id','hadm_id', 'admittime','ED_icd']].groupby(['group','subject_id','hadm_id', 'admittime']).agg({"ED_icd":"sum"})  
YY_admin3=pd.DataFrame(YY_admin3).reset_index()
YY_admin3.head()
# ED label : 1 positive ED related administration(s)
YY_admin3['ED']=1

In [37]:
# 2.summary by admin_id for YN administarion cohort data
YN_admin3=YN_admin2[['group','subject_id','hadm_id', 'admittime','ED_icd']].groupby(['group','subject_id','hadm_id', 'admittime']).agg({"ED_icd":"sum"})  
YN_admin3=pd.DataFrame(YN_admin3).reset_index()
YN_admin3.head()
# ED label : 1 positive ED related administration(s)
YN_admin3['ED']=1

In [38]:
# 3.summary by admin_id for NN administarion cohort data
NN_admin_subset3=NN_admin_subset2[['group','subject_id','hadm_id', 'admittime','ED_icd']].groupby(['group','subject_id','hadm_id', 'admittime']).agg({"ED_icd":"sum"})  
NN_admin_subset3=pd.DataFrame(NN_admin_subset3).reset_index()
NN_admin_subset3.head()
# ED label : 1 positive ED related administration(s)
NN_admin_subset3['ED']=0

In [39]:
# 4.summary by admin_id for NY administarion cohort data
NY_admin_s3=NY_admin_s2[['group','subject_id','hadm_id', 'admittime','ED_icd']].groupby(['group','subject_id','hadm_id', 'admittime']).agg({"ED_icd":"sum"})  
NY_admin_s3=pd.DataFrame(NY_admin_s3).reset_index()
NY_admin_s3.head()
# ED label : 1 positive ED related administration(s)
#NN_admin_subset3['ED'] : no label

  group  subject_id  hadm_id            admittime  ED_icd
0    NY          12   112213  2104-08-07 10:15:00       0
1    NY          21   109451  2134-09-11 12:17:00       0
2    NY          21   111970  2135-01-30 20:50:00       0
3    NY          37   188670  2183-08-21 16:48:00       0
4    NY          38   185910  2166-08-10 00:28:00       0

In [40]:
print('NN_admin_subset3',len(NN_admin_subset3))
print('YN_admin3',len(YN_admin3))
print('YY_admin3', len(YY_admin3))
print('NY_admin_s3',len(NY_admin_s3))
print(len(nn_cui_data))
print(len(yn_cui_data))
print(len(yy_cui_data))
print(len(ny_cui_data))

NN_admin_subset3 3732
YN_admin3 213
YY_admin3 3482
NY_admin_s3 7155
3857903
244170
16481604
27529592

In [41]:
# final admission data for each group :YY,YN and NN :V_27.admission_all.csv

frames = [YY_admin3 , YN_admin3, NN_admin_subset3]
admission_all = pd.concat(frames)

#admission_all.to_csv('/home/ubuntu/Scarlett/Output_F/V_27.admission_all.csv', index=True)
admission_all.to_csv(DATA_DIR + "V_27.admission_all.csv", index=True)

In [42]:
len(admission_all)

7427

In [43]:
admission_ny=NY_admin_s3
#admission_ny.to_csv('/home/ubuntu/Scarlett/Output_F/V_27.2.admission_ny.csv', index=True)
admission_ny.to_csv(DATA_DIR + "V_27.2.admission_ny.csv", index=True)

In [44]:
3732+213+3482

7427

##### 3. cui matrix for ED positive and negative patients : YY and YN, Vs NN

In [144]:
# matrix by patient and admin_id
# positive data
#yy_cui_data
#yn_cui_data

#negative data
#nn_cui_data

In [45]:
# 1.summary by admin_id for YY 
# inc tui 
df_yy=yy_cui_data[['group','type','subject_id','hadm_id', 'cui','row_id']].groupby(['group','type','subject_id','hadm_id', 'cui']).agg({"row_id":"count"})  
df_yy= df_yy.rename({'row_id': 'count'}, axis=1)  # new method
df_yy=pd.DataFrame(df_yy).reset_index()
df_yy.head()

  group                  type  subject_id  hadm_id       cui  count
0    YY  Acquired Abnormality         115   114585  C0333204      2
1    YY  Acquired Abnormality         115   114585  C3543005      1
2    YY  Acquired Abnormality         133   191817  C0333463      3
3    YY  Acquired Abnormality         214   197273  C0333463      3
4    YY  Acquired Abnormality         223   105694  C0333133      1

In [46]:
#df_yy.to_csv('/home/ubuntu/Scarlett/Output_F/V_26.1.YY_cui_data_b.csv', index=True)
df_yy.to_csv(DATA_DIR + "V_26.1.YY_cui_data_b.csv", index=True)

In [47]:
#######check start

In [48]:
import pandas as pd
df_yy = pd.read_csv(DATA_DIR + "V_26.1.YY_cui_data_b.csv")

In [49]:
# unique cuis
cui_v_YY=df_yy['cui'].unique().tolist()
len(cui_v_YY)

37766

In [50]:
print(len(df_yy['subject_id'].unique().tolist()))
print(max(df_yy['subject_id']), min(df_yy['subject_id']))
len(df_yy)

3293
99936 49

2912810

In [51]:
# 1.cui matrix by admin_id for YY

In [52]:
df_yy.head()

,Unnamed: 0,group,type,subject_id,hadm_id,cui,count
0,0,YY,Acquired Abnormality,115,114585,C0333204,2
1,1,YY,Acquired Abnormality,115,114585,C3543005,1
2,2,YY,Acquired Abnormality,133,191817,C0333463,3
3,3,YY,Acquired Abnormality,214,197273,C0333463,3
4,4,YY,Acquired Abnormality,223,105694,C0333133,1

In [53]:
# check sample
df_yy.loc[((df_yy['hadm_id']== 114585) & (df_yy['cui']=='C0000726')),]

#115
#df_yy.loc[(df_yy['subject_id']==115),]

,Unnamed: 0,group,type,subject_id,hadm_id,cui,count
118875,118875,YY,Body Location or Region,115,114585,C0000726,41

In [54]:
# cui matrix : pivot
df_yy_cui= df_yy.pivot(index=['group','subject_id','hadm_id'], columns='cui', values='count')

In [55]:
df_yy_cui.head()

cui                       C0000294  C0000378  C0000473  C0000477  C0000481  \
group subject_id hadm_id
YY    49         190539        NaN       NaN       NaN       NaN       NaN
      115        114585        NaN       NaN       NaN       NaN       NaN
      133        191817        NaN       NaN       NaN       NaN       NaN
      214        197273        NaN       NaN       NaN       NaN       NaN
      223        105694        NaN       NaN       NaN       NaN       NaN

cui                       C0000503  C0000608  C0000618  C0000726  C0000727  \
group subject_id hadm_id
YY    49         190539        NaN       NaN       NaN       1.0       NaN
      115        114585        NaN       NaN       NaN      41.0       NaN
      133        191817        NaN       NaN       NaN       8.0       NaN
      214        197273        NaN       NaN       NaN       5.0       NaN
      223        105694        NaN       NaN       NaN      14.0       NaN

cui                       ...  C4546898  C4546906  C4547015  C4547016  \
group subject_id hadm_id  ...
YY    49         190539   ...       NaN       NaN       NaN       NaN
      115        114585   ...       NaN       NaN       NaN       NaN
      133        191817   ...       NaN       NaN       NaN       NaN
      214        197273   ...       NaN       NaN       NaN       NaN
      223        105694   ...       NaN       NaN       NaN       NaN

cui                       C4547044  C4547399  C4547937  C4550347  C4551285  \
group subject_id hadm_id
YY    49         190539        NaN       1.0       NaN       NaN       NaN
      115        114585        NaN       2.0       NaN       NaN       NaN
      133        191817        NaN       1.0       NaN       NaN       NaN
      214        197273        NaN       1.0       NaN       NaN       NaN
      223        105694        NaN       NaN       NaN       NaN       NaN

cui                       C4551329
group subject_id hadm_id
YY    49         190539        NaN
      115        114585        NaN
      133        191817        NaN
      214        197273        NaN
      223        105694        NaN

[5 rows x 37766 columns]

In [56]:
#df.fillna(0)
YY_cui_data_F=df_yy_cui.fillna(0)
YY_cui_data_F=pd.DataFrame(YY_cui_data_F).reset_index()
YY_cui_data_F.head()

cui,group,subject_id,hadm_id,C0000294,C0000378,C0000473,C0000477,C0000481,C0000503,C0000608,...,C4546898,C4546906,C4547015,C4547016,C4547044,C4547399,C4547937,C4550347,C4551285,C4551329
0,YY,49,190539,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,YY,115,114585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
2,YY,133,191817,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,YY,214,197273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,YY,223,105694,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [57]:
YY_cui_data_F.loc[(YY_cui_data_F['hadm_id']== 114585),'C0000726']

1    41.0
Name: C0000726, dtype: float64

In [58]:
# 1.F. final cui matrix by admin_id for YY
YY_cui_data_F.to_csv(DATA_DIR + "V_26.1.YY_cui_data_F.csv", index=True)

In [59]:
##2.cui matrix by admin_id for YN

In [60]:
# 2. summary by admin_id for YN
df_yn=yn_cui_data[['group','type','subject_id','hadm_id', 'cui','row_id']].groupby(['group','type','subject_id','hadm_id', 'cui']).agg({"row_id":"count"})  
df_yn= df_yn.rename({'row_id': 'count'}, axis=1)  # new method
df_yn=pd.DataFrame(df_yn).reset_index()
df_yn.head()

  group                  type  subject_id  hadm_id       cui  count
0    YN  Acquired Abnormality        3556   191718  C0001168      1
1    YN  Acquired Abnormality        3556   191718  C0028259      1
2    YN  Acquired Abnormality        3556   191718  C0333161     50
3    YN  Acquired Abnormality        3556   191718  C0333307      1
4    YN  Acquired Abnormality        4479   106140  C0086543      1

In [61]:
#df_yn.to_csv('/home/ubuntu/Scarlett/Output_F/V_26.2.YN_cui_data_b.csv', index=True)
df_yn.to_csv(DATA_DIR + "V_26.2.YN_cui_data_b.csv", index=True)

In [62]:
# unique cuis for YN
cui_v_YN=df_yn['cui'].unique().tolist()
len(cui_v_YN)

10770

In [63]:
print(len(df_yn['subject_id'].unique().tolist()))
print(max(df_yn['subject_id']), min(df_yn['subject_id']))
len(df_yn)

181
99847 3556

98123

In [64]:
# cui matrix : pivot
df_yn_cui= df_yn.pivot(index=['group','subject_id','hadm_id'], columns='cui', values='count')

In [65]:
#df.fillna(0)
YN_cui_data_F=df_yn_cui.fillna(0)
YN_cui_data_F=pd.DataFrame(YN_cui_data_F).reset_index()
YN_cui_data_F.head()

cui,group,subject_id,hadm_id,C0000477,C0000726,C0000727,C0000729,C0000731,C0000734,C0000737,...,C4543171,C4544476,C4544575,C4545644,C4545645,C4546338,C4546541,C4546979,C4547399,C4551285
0,YN,3556,191718,0.0,25.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,YN,3614,153092,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,YN,4479,106140,0.0,2.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,YN,4921,147824,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,YN,5575,132757,0.0,24.0,0.0,0.0,1.0,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
# check sample
df_yn.loc[((df_yn['hadm_id']== 191718) & (df_yn['cui']=='C0000737')),]

      group             type  subject_id  hadm_id       cui  count
80437    YN  Sign or Symptom        3556   191718  C0000737      1

In [67]:
# check sample
YN_cui_data_F.loc[(YN_cui_data_F['hadm_id']== 191718),'C0000737']

0    1.0
Name: C0000737, dtype: float64

In [68]:
# 2.F final summary by admin_id for YN
YN_cui_data_F.to_csv(DATA_DIR + "V_26.2.YN_cui_data_F.csv", index=True)

In [69]:
##3. cui matrix by admin_id for NN

In [70]:
# 3. summary by admin_id for NN samples
df_nn=nn_cui_data[['group','type','subject_id','hadm_id', 'cui','row_id']].groupby(['group','type','subject_id','hadm_id', 'cui']).agg({"row_id":"count"})  
df_nn= df_nn.rename({'row_id': 'count'}, axis=1)  # new method
df_nn=pd.DataFrame(df_nn).reset_index()
df_nn.head()

  group                  type  subject_id  hadm_id       cui  count
0    NN  Acquired Abnormality         134   167887  C0086543      1
1    NN  Acquired Abnormality         165   170252  C0086543      1
2    NN  Acquired Abnormality         178   196159  C0086492      2
3    NN  Acquired Abnormality         178   196159  C0750175      1
4    NN  Acquired Abnormality         195   118936  C0086543      1

In [71]:
#df_nn.to_csv('/home/ubuntu/Scarlett/Output_F/V_26.3.NN_cui_data_b.csv', index=True)
df_nn.to_csv(DATA_DIR + "V_26.3.NN_cui_data_b.csv", index=True)

In [72]:
# unique cuis for NN
cui_v_NN=df_nn['cui'].unique().tolist()
len(cui_v_NN)

28478

In [73]:
print(len(df_nn['subject_id'].unique().tolist()))
print(max(df_nn['subject_id']), min(df_nn['subject_id']))
len(df_nn)

3448
99992 8

1429990

In [74]:
# cui matrix : pivot
df_nn_cui= df_nn.pivot(index=['group','subject_id','hadm_id'], columns='cui', values='count')

In [75]:
#df.fillna(0)
NN_cui_data_F=df_nn_cui.fillna(0)
NN_cui_data_F=pd.DataFrame(NN_cui_data_F).reset_index()
NN_cui_data_F.head()

cui,group,subject_id,hadm_id,C0000294,C0000477,C0000618,C0000726,C0000727,C0000729,C0000731,...,C4547006,C4547014,C4547015,C4547044,C4547399,C4547876,C4547937,C4549080,C4549234,C4551285
0,NN,8,159514,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NN,13,143045,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,NN,16,103251,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NN,27,134931,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NN,28,162569,0.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [76]:
# check sample
df_nn.loc[((df_nn['hadm_id']== 167887) & (df_nn['cui']=='C0000726')),]

      group                     type  subject_id  hadm_id       cui  count
61401    NN  Body Location or Region         134   167887  C0000726      1

In [77]:
# check sample
NN_cui_data_F.loc[(NN_cui_data_F['hadm_id']== 167887),'C0000726']

10    1.0
Name: C0000726, dtype: float64

In [78]:
# 3.F final summary by admin_id for NN samples
NN_cui_data_F.to_csv(DATA_DIR + "V_26.3.NN_cui_data_F.csv", index=True)

In [79]:
# 4. summary by admin_id for NY samples
df_ny=ny_cui_data[['group','type','subject_id','hadm_id', 'cui','row_id']].groupby(['group','type','subject_id','hadm_id', 'cui']).agg({"row_id":"count"})  
df_ny= df_ny.rename({'row_id': 'count'}, axis=1)  # new method
df_ny=pd.DataFrame(df_ny).reset_index()
df_ny.head()

#df_ny.to_csv('/home/ubuntu/Scarlett/Output_F/V_26.4.NY_cui_data_b.csv', index=True)
df_ny.to_csv(DATA_DIR + "V_26.4.NY_cui_data_b.csv", index=True)

#### 4. NY group data preparation to apply the final model

In [104]:
# NY group data preparatiion to apply the final model

In [80]:
# unique cuis for NY sample1
cui_v_NY=df_ny['cui'].unique().tolist()
len(cui_v_NY)

45702

In [81]:
print(len(df_ny['subject_id'].unique().tolist()))
print(max(df_ny['subject_id']), min(df_ny['subject_id']))
len(df_ny)

5710
99991 12

5699311

In [82]:
# cui matrix : pivot
df_ny_cui= df_ny.pivot(index=['group','subject_id','hadm_id'], columns='cui', values='count')

#df.fillna(0)
NY_cui_data_F=df_ny_cui.fillna(0)
NY_cui_data_F=pd.DataFrame(NY_cui_data_F).reset_index()
NY_cui_data_F.head()

cui,group,subject_id,hadm_id,C0000039,C0000167,C0000294,C0000378,C0000477,C0000503,C0000608,...,C4547044,C4547356,C4547399,C4547431,C4547937,C4551231,C4551285,C4551329,C4551390,C4551415
0,NY,12,112213,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NY,21,109451,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NY,21,111970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NY,37,188670,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NY,38,185910,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [83]:
# 3.F final summary by admin_id for NN samples1
NY_cui_data_F.to_csv(DATA_DIR + "V_26.4.NY_cui_data_F.csv", index=True)

### V. Model data preparation with NN, YY and YN group

##### 1. Final cui matrix for positive ED(YY+YN) and negative ED(NN)

In [1]:
DATA_DIR = "/home/ubuntu/Scarlett/Output_F/"

In [2]:
# final cui matrix by admin_id for YY, YN and NN
import pandas as pd
df_yy = pd.read_csv(DATA_DIR + "V_26.1.YY_cui_data_b.csv")
df_yn= pd.read_csv(DATA_DIR + "V_26.2.YN_cui_data_b.csv")
df_nn= pd.read_csv(DATA_DIR + "V_26.3.NN_cui_data_b.csv")

frames = [df_yy , df_yn, df_nn]
cui_data_all = pd.concat(frames)

In [4]:
# Final Encephalopathy and Delirium and their (55 cuis) children CUIs 
#df.to_csv('/home/ubuntu/Scarlett/Output_F/II_12.ED_children_F_exc_c0033975_2.csv', index=True)
df=pd.read_csv(DATA_DIR + "III_12.ED_children_F_exc_c0033975_2.csv")

In [6]:
df.head()

,Unnamed: 0,p.cui,p.name,c.cui,c.name
0,0,C0149504,"Encephalopathy, Toxic",C0149504,"Encephalopathy, Toxic"
1,1,C0149504,"Encephalopathy, Toxic",C1960448,Hyperammonemic encephalopathy
2,2,C0149504,"Encephalopathy, Toxic",C4706871,Hyperammonemic encephalopathy due to carbonic ...
3,3,C0149504,"Encephalopathy, Toxic",C0270731,Parkinson-dementia complex of Guam
4,4,C0149504,"Encephalopathy, Toxic",C0393634,Toxic encephalitis due to thallium

In [5]:
# Create unique Cui ids for Encephalopathy and Delirium
cui_list_F=df['c.cui'].unique().tolist()
len(cui_list_F)

1498

In [6]:
cui_data_all.head()

,Unnamed: 0,group,type,subject_id,hadm_id,cui,count
0,0,YY,Acquired Abnormality,115,114585,C0333204,2
1,1,YY,Acquired Abnormality,115,114585,C3543005,1
2,2,YY,Acquired Abnormality,133,191817,C0333463,3
3,3,YY,Acquired Abnormality,214,197273,C0333463,3
4,4,YY,Acquired Abnormality,223,105694,C0333133,1

In [10]:
# update ED_icd column with condition : .isin (['YY','YN'])),
cui_data_all.loc[(cui_data_all.cui.isin (cui_list_F)), 'ED_cui'] = 'Yes'

In [11]:
cui_data_all.head()

,Unnamed: 0,group,type,subject_id,hadm_id,cui,count,ED_cui
0,0,YY,Acquired Abnormality,115,114585,C0333204,2,NaN
1,1,YY,Acquired Abnormality,115,114585,C3543005,1,NaN
2,2,YY,Acquired Abnormality,133,191817,C0333463,3,NaN
3,3,YY,Acquired Abnormality,214,197273,C0333463,3,NaN
4,4,YY,Acquired Abnormality,223,105694,C0333133,1,NaN

In [20]:
#cui_data_all.fillna(0)

In [7]:
len(cui_data_all['cui'].unique().tolist())

43186

In [12]:
ED_cui=cui_data_all.loc[(cui_data_all.ED_cui == 'Yes')]
ED_cui.head()

,Unnamed: 0,group,type,subject_id,hadm_id,cui,count,ED_cui
520981,520981,YY,Disease or Syndrome,115,114585,C0085584,1,Yes
521132,521132,YY,Disease or Syndrome,266,186251,C0085584,2,Yes
521236,521236,YY,Disease or Syndrome,342,193432,C0006112,1,Yes
521237,521237,YY,Disease or Syndrome,342,193432,C0009421,1,Yes
521284,521284,YY,Disease or Syndrome,345,169339,C0085584,1,Yes

In [15]:
# ED_cui
ED_cui.to_csv(DATA_DIR + "ED_cui_features.csv", index=True)

In [14]:
print(len(ED_cui))
len(ED_cui['cui'].unique().tolist())

14867

94

In [21]:
#by Counts by ED Vs NonED cuis
EDG_cn=cui_data_all[['ED_cui','cui']].groupby(['ED_cui']).agg({"cui":"nunique"})  
EDG_cn_2=pd.DataFrame(EDG_cn).reset_index()
EDG_cn_2.head()

  ED_cui  cui
0    Yes   94

In [3]:
print(len(df_yy), df_yy.shape)
print(len(df_yn), df_yn.shape)
print(len(df_nn), df_nn.shape)
print(len(cui_data_all))

2912810 (2912810, 7)
98123 (98123, 7)
1429990 (1429990, 7)
4440923

In [5]:
2912810+98123+1429990

4440923

In [6]:
cui_data_all.head()

,Unnamed: 0,group,type,subject_id,hadm_id,cui,count
0,0,YY,Acquired Abnormality,115,114585,C0333204,2
1,1,YY,Acquired Abnormality,115,114585,C3543005,1
2,2,YY,Acquired Abnormality,133,191817,C0333463,3
3,3,YY,Acquired Abnormality,214,197273,C0333463,3
4,4,YY,Acquired Abnormality,223,105694,C0333133,1

In [88]:
#cui_data_all.to_csv('/home/ubuntu/Scarlett/Output_F/V_27.2.cui_data_all_F.csv', index=True)
cui_data_all.to_csv(DATA_DIR + "V_27.2.cui_data_all_F.csv", index=True)

In [89]:
### cui matrix : cui featres

In [7]:
# cui matrix : pivot
cui_data_all_f= cui_data_all.pivot(index=['group','subject_id','hadm_id'], columns='cui', values='count')

In [8]:
cui_data_all_f.head()

cui                       C0000294  C0000378  C0000473  C0000477  C0000481  \
group subject_id hadm_id
NN    8          159514        NaN       NaN       NaN       NaN       NaN
      13         143045        NaN       NaN       NaN       NaN       NaN
      16         103251        NaN       NaN       NaN       NaN       NaN
      27         134931        NaN       NaN       NaN       NaN       NaN
      28         162569        NaN       NaN       NaN       NaN       NaN

cui                       C0000503  C0000608  C0000618  C0000726  C0000727  \
group subject_id hadm_id
NN    8          159514        NaN       NaN       NaN       1.0       NaN
      13         143045        NaN       NaN       NaN       5.0       NaN
      16         103251        NaN       NaN       NaN       1.0       NaN
      27         134931        NaN       NaN       NaN       1.0       NaN
      28         162569        NaN       NaN       NaN       3.0       NaN

cui                       ...  C4547016  C4547044  C4547399  C4547876  \
group subject_id hadm_id  ...
NN    8          159514   ...       NaN       NaN       NaN       NaN
      13         143045   ...       NaN       NaN       1.0       NaN
      16         103251   ...       NaN       NaN       NaN       NaN
      27         134931   ...       NaN       NaN       NaN       NaN
      28         162569   ...       NaN       NaN       1.0       NaN

cui                       C4547937  C4549080  C4549234  C4550347  C4551285  \
group subject_id hadm_id
NN    8          159514        NaN       NaN       NaN       NaN       NaN
      13         143045        NaN       NaN       NaN       NaN       NaN
      16         103251        NaN       NaN       NaN       NaN       NaN
      27         134931        NaN       NaN       NaN       NaN       NaN
      28         162569        NaN       NaN       NaN       NaN       NaN

cui                       C4551329
group subject_id hadm_id
NN    8          159514        NaN
      13         143045        NaN
      16         103251        NaN
      27         134931        NaN
      28         162569        NaN

[5 rows x 43186 columns]

In [9]:
#df.fillna(0)
cui_data_all_data_F=cui_data_all_f.fillna(0)
cui_data_all_data_F=pd.DataFrame(cui_data_all_data_F).reset_index()
cui_data_all_data_F.head()

cui,group,subject_id,hadm_id,C0000294,C0000378,C0000473,C0000477,C0000481,C0000503,C0000608,...,C4547016,C4547044,C4547399,C4547876,C4547937,C4549080,C4549234,C4550347,C4551285,C4551329
0,NN,8,159514,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NN,13,143045,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NN,16,103251,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NN,27,134931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NN,28,162569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
#print(len(YY_cui_data_F), YY_cui_data_F.shape)
#print(len(YN_cui_data_F), YN_cui_data_F.shape)
#print(len(NN_cui_data_F), NN_cui_data_F.shape)
print(len(cui_data_all_data_F),cui_data_all_data_F.shape)
cui_v_a_l=cui_data_all['cui'].unique().tolist()
print(len(cui_v_a_l))

7308 (7308, 43189)
43186

In [15]:
cui_v_YY=df_yy['cui'].unique().tolist()
print(len(cui_v_YY))
cui_v_YN=df_yn['cui'].unique().tolist()
print(len(cui_v_YN))
cui_v_NN=df_nn['cui'].unique().tolist()
print(len(cui_v_NN))

37766
10770
28478

In [16]:
#cui_data_all_data_F.head()

In [17]:
#cui_data_all_data_F.to_csv('/home/ubuntu/Scarlett/Output_F/V_28.cui_data_all_F.csv', index=True)
cui_data_all_data_F.to_csv(DATA_DIR + "V_28.cui_data_all_F.csv", index=True)

##### 2.import final admission data and cui matrix for positive ED(YY+YN) and negative ED(NN)

In [ ]:
DATA_DIR = "/home/ubuntu/Scarlett/Output_F/"

In [18]:
# import : final admission data and cui matrix 
import pandas as pd
# info check for modeling
# final admission data for each group 

#frames = [YY_admin3 , YN_admin3, NN_admin_subset3]
#admission_all = pd.concat(frames)
#admission_all = pd.read_csv('/home/ubuntu/Scarlett/Output_F/V_27.admission_all.csv')
admission_all = pd.read_csv(DATA_DIR + "V_27.admission_all.csv")

#NN_admin_cui_data = pd.merge(nn_cui_data,NN_admin_subset2[['cui','row_id','tui','type','group']], on="row_id")
# 1.F. final cui matrix by admin_id for YY
# YY_cui_data_F.to_csv('/home/ubuntu/Scarlett/Output_F/V_26.1.YY_cui_data_F.csv', index=True)
#YY_cui_data_F= pd.read_csv('/home/ubuntu/Scarlett/Output_F/V_26.1.YY_cui_data_F.csv')

#YN_cui_data_F.to_csv('/home/ubuntu/Scarlett/Output_F/V_26.2.YN_cui_data_F.csv', index=True)
#YN_cui_data_F= pd.read_csv('/home/ubuntu/Scarlett/Output_F/V_26.2.YN_cui_data_F.csv')

#NN_cui_data_F.to_csv('/home/ubuntu/Scarlett/Output_F/V_26.3.NN_cui_data_F.csv', index=True)
#NN_cui_data_F= pd.read_csv('/home/ubuntu/Scarlett/Output_F/V_26.3.NN_cui_data_F.csv')


# final cui matrix by admin_id for YY, YN and NN
cui_data_all_data_F= pd.read_csv(DATA_DIR + "V_28.cui_data_all_F.csv")

In [19]:
import pandas as pd
# 3.F final summary by admin_id for NY samples2
# NY sample2 :# NY sample 2 #NY_hadm_id_s2_list,NY_admin_s_2,NY_ad_ids_2, NY_p_docs_2,ny_row_id_list_2,ny_cui_all_2, NY_admin_s_2_2
#ny_cui_all_2['group']= 'NY', NY_p_docs_2_2, ny_cui_data_2, NY_admin_s_2_3, admission_ny_2
#admission_ny_2.to_csv('/home/ubuntu/Scarlett/Output_F/V_27.2_2.admission_ny_2.csv', index=True)
#NY_2_cui_data_F.to_csv('/home/ubuntu/Scarlett/Output_F/V_26.4_2.NY_2_cui_data_F.csv', index=True)
NY_cui_data_F= pd.read_csv(DATA_DIR + "V_26.4.NY_cui_data_F.csv")

#admission_ny.to_csv('/home/ubuntu/Scarlett/Output_F/V_27.2.admission_ny.csv', index=True)
admission_ny= pd.read_csv(DATA_DIR + "V_27.2.admission_ny.csv")

In [20]:
print(len(NY_cui_data_F['subject_id'].unique().tolist()))
print(len(NY_cui_data_F['hadm_id'].unique().tolist()))

5710
7155

In [21]:
print(cui_data_all_data_F.shape)
cui_data_all_data_F.head()

(7308, 43190)

,Unnamed: 0,group,subject_id,hadm_id,C0000294,C0000378,C0000473,C0000477,C0000481,C0000503,...,C4547016,C4547044,C4547399,C4547876,C4547937,C4549080,C4549234,C4550347,C4551285,C4551329
0,0,NN,8,159514,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,NN,13,143045,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,NN,16,103251,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,NN,27,134931,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,NN,28,162569,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
NY_cui_data_F.head()

,Unnamed: 0,group,subject_id,hadm_id,C0000039,C0000167,C0000294,C0000378,C0000477,C0000503,...,C4547044,C4547356,C4547399,C4547431,C4547937,C4551231,C4551285,C4551329,C4551390,C4551415
0,0,NY,12,112213,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,NY,21,109451,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,NY,21,111970,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,NY,37,188670,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,NY,38,185910,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
print(admission_all.shape)
admission_all.head()

(7427, 7)

   Unnamed: 0 group  subject_id  hadm_id            admittime  ED_icd  ED
0           0    YY          49   190539  2186-11-21 07:15:00       1   1
1           1    YY         115   114585  2194-10-16 12:48:00       1   1
2           2    YY         133   191817  2165-05-06 18:38:00       1   1
3           3    YY         214   197273  2188-10-06 23:56:00       1   1
4           4    YY         223   105694  2157-05-01 05:19:00       1   1

In [ ]:
# 1. For model building and valiadation data

In [25]:
#cui_data_all_admission = pd.merge(admission_all[[ 'group','subject_id','hadm_id','admittime','ED_icd','ED']], cui_data_all_data_F , on="hadm_id")
cui_data_all_admission = pd.merge(admission_all[['hadm_id','admittime','ED_icd','ED']], cui_data_all_data_F , on="hadm_id")
cui_data_all_admission.head()

,hadm_id,admittime,ED_icd,ED,Unnamed: 0,group,subject_id,C0000294,C0000378,C0000473,...,C4547016,C4547044,C4547399,C4547876,C4547937,C4549080,C4549234,C4550347,C4551285,C4551329
0,190539,2186-11-21 07:15:00,1,1,3826,YY,49,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,114585,2194-10-16 12:48:00,1,1,3827,YY,115,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,191817,2165-05-06 18:38:00,1,1,3828,YY,133,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,197273,2188-10-06 23:56:00,1,1,3829,YY,214,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,105694,2157-05-01 05:19:00,1,1,3830,YY,223,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
print(cui_data_all_admission.shape)

(7308, 43193)

In [27]:
# group count
#cui_data_all_admission['ED']
cui_data_all_admission.groupby(['group','ED']).count()
#cui_data_all_admission.groupby('group_y').count()

,,hadm_id,admittime,ED_icd,Unnamed: 0,subject_id,C0000294,C0000378,C0000473,C0000477,C0000481,...,C4547016,C4547044,C4547399,C4547876,C4547937,C4549080,C4549234,C4550347,C4551285,C4551329
group,ED,,,,,,,,,,,,,,,,,,,,,
NN,0,3645,3645,3645,3645,3645,3645,3645,3645,3645,3645,...,3645,3645,3645,3645,3645,3645,3645,3645,3645,3645
YN,1,181,181,181,181,181,181,181,181,181,181,...,181,181,181,181,181,181,181,181,181,181
YY,1,3482,3482,3482,3482,3482,3482,3482,3482,3482,3482,...,3482,3482,3482,3482,3482,3482,3482,3482,3482,3482

In [28]:
# 
cui_data_all_admission_F = cui_data_all_admission
#cui_data_all_admission_F = cui_data_all_admission.drop("Unnamed: 0",axis=1)
#cui_data_all_admission_F=pd.DataFrame(cui_data_all_admission_F).reset_index()
#cui_data_all_admission_F.head()

In [30]:
c =cui_data_all_admission_F.columns[7]
print(c)
print(cui_data_all_admission_F.shape[1])
#cui_data_all_admission_F.query('icd_notes == "NY"')[c]
#cui_data_all_admission_F.iloc[:,[7]]
#cui_data_all_admission_F.iloc[:, 6:]
#X = cui_data_all_admission_F.drop(["index","admittime","ED_icd"],axis=1)
X = cui_data_all_admission_F.drop(["admittime","ED_icd"],axis=1)
X.head()
X.columns[4]
print(X.shape[1])
c=X.shape[1]-1
X.columns[c]

C0000294
43193
43191

'C4551329'

In [32]:
X.shape[1]
X.columns[43191-1]

'C4551329'

In [33]:
#cui_data_all_admission_F.to_csv('/home/ubuntu/Scarlett/Output_F/V_29.b.cui_data_all_admission_F.csv', index=True)

cui_data_all_admission_F.to_csv(DATA_DIR + "V_29.b.cui_data_all_admission_F.csv", index=True)

In [34]:
# NY sample 1 group for final model application

In [35]:
admission_ny.head()

   Unnamed: 0 group  subject_id  hadm_id            admittime  ED_icd
0           0    NY          12   112213  2104-08-07 10:15:00       0
1           1    NY          21   109451  2134-09-11 12:17:00       0
2           2    NY          21   111970  2135-01-30 20:50:00       0
3           3    NY          37   188670  2183-08-21 16:48:00       0
4           4    NY          38   185910  2166-08-10 00:28:00       0

In [36]:
#cui_data_all_admission = pd.merge(admission_all[[ 'group','subject_id','hadm_id','admittime','ED_icd','ED']], cui_data_all_data_F , on="hadm_id")
NY_cui_data_F_admission = pd.merge(admission_ny[['hadm_id','admittime','ED_icd']], NY_cui_data_F , on="hadm_id")
NY_cui_data_F_admission.head()

,hadm_id,admittime,ED_icd,Unnamed: 0,group,subject_id,C0000039,C0000167,C0000294,C0000378,...,C4547044,C4547356,C4547399,C4547431,C4547937,C4551231,C4551285,C4551329,C4551390,C4551415
0,112213,2104-08-07 10:15:00,0,0,NY,12,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,109451,2134-09-11 12:17:00,0,1,NY,21,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,111970,2135-01-30 20:50:00,0,2,NY,21,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,188670,2183-08-21 16:48:00,0,3,NY,37,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,185910,2166-08-10 00:28:00,0,4,NY,38,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
#NY_cui_data_F_admission.to_csv('/home/ubuntu/Scarlett/Output_F/V_29_b_NY_cui_data_F.csv', index=True)
NY_cui_data_F_admission.to_csv(DATA_DIR + "V_29_b_NY_cui_data_F.csv", index=True)